[2022-06-21 12:03] mmattel commented on #3861
As I read this, there are three different API gateway types:
* http related
* cs3 related
* dataprovider related

The challenge is, to have a proper description what each gateway exactly does and how it differenciates from the others.

[2022-06-21 13:52] butonic commented on #2687
this is getting worse. AFAICT cdperf uses the legacy `/dav/files/{username}` endpoint. For that the ocdav service acts as a client that has to query every storage space a user has access to to determine the most recent etag to present for the root. First the code lists all storage spaces the user has access to, then it has to do a stat request to fill the etag and mtime. by requesting the [new roo

[2022-06-21 14:45] Ke1i commented on #3981
You are right about me accessing `https://ocis.keli.duckdns.org:9200` with `PROXY_TLS=false`: It won't work, I missed the '#' in front of that line while opening the issue, it should be commented.
I'll add `PROXY_HTTP_ADDR=127.0.0.1:9200 ` then give it a go just for tests.
This is my current environment file:
[code]
With this together with traefik as my reverse proxy, I can access `https://ocis.ke

[2022-06-21 14:52] ScharfViktor commented on #3868
ownCloud Web UI 5.5.0-rc.8
Infinite Scale 2.0.0-beta.3+275b551cb

I can't reproduce this on an actual master. 6 step gives me `200`

[2022-06-21 15:24] C0rby commented on #3753
This is happening because we are publishing the event when `GetPublicShareByToken` was called but this method is also being called to authenticate the request and so on. Because of that the event gets published multiple times.

[2022-06-22 05:25] SwikritiT commented on #3882
Reopening this as there are still some tests linked to this issue in expected to fail
https://github.com/owncloud/ocis/blob/0676828f08d7402a896cc1773ce80c5b80bf5bb0/tests/acceptance/expected-failures-API-on-OCIS-storage.md?plain=1#L901-L907

We probably need to split the tests according to the behavior of oc10 and ocis because it oc10 the request returns `403`
[code]

TODO QA Team:
- [ ] make the

[2022-06-22 06:39] SagarGi opened #4007 "Case sensitive while searching with `new` webdav on ocis"
## Describe the bug
While searching for files and folders, `ocis` is case sensitive

## Steps to reproduce

Steps to reproduce the behavior:

1. create a user `u1`
2. Create Folder `FOLDER`
3. Create another folder `folder`
4. Create a file`oldking.txt`

Curl command: when users search `ol`

[code]

## Expected behavior

<details>
<summary>oc10 response</summary>

[code]
</details>

## Actual beha

[2022-06-22 06:49] saw-jan opened #4008 "Step `make ci-node-generate` is failing consistently"
## Describe the bug
command `make ci-node-generate` is hard failing in `CI` and `local` environments.

The error is:
[code]

[2022-06-22 06:58] pascalwengerter commented on #4008
The web version that oCIS is trying to pull/extract wasn't created&uploaded in the web release pipeline apparently, it's currently re-running (https://drone.owncloud.com/owncloud/web/26364) and should ideally appear [here](https://github.com/owncloud/web/releases/tag/v5.6.0) soon and fix this issue

[2022-06-22 06:58] micbar commented on #4008
Cause: There is a release artifact missing on ownCloud web `v5.6.0`

`@curl --fail -slL -o- https://github.com/owncloud/web/releases/download/v5.6.0/web.tar.gz | tar xzf - -C assets/`

[2022-06-22 07:04] SagarGi opened #4009 "No `permisions` propertry in response while searching for files and folders on ocis with `new` webdav"
## Describe the bug
While requesting a file search with different properties on OCIS with `new` webdav,  the `permissions` property is mission in the response.

## Steps to reproduce

Steps to reproduce the behavior:

1. create user `u1`
2. create a file `upload.txt`

Curl command: when users search `upload` with different properties.

[code]

## Expected behavior

<details>
<summary>oc10 response

[2022-06-22 07:35] saw-jan commented on #4008
Should be fixed by now. Closing here!

[2022-06-22 07:35] #4008 closed

[2022-06-22 08:03] kulmann commented on #3284
cc @tbsbdr

[2022-06-22 08:23] C0rby commented on #192
No, it's not.

[2022-06-22 09:38] micbar commented on #3986
# CHANGELOG for 2.0.0-beta.4

New in beta.4

## oCIS
* Bugfix - Rework default role provisioning: [#3900](https://github.com/owncloud/ocis/issues/3900)
* Bugfix - Remove unused OCS storage configuration: [#3955](https://github.com/owncloud/ocis/pull/3955)
* Bugfix - Fix version info: [#3953](https://github.com/owncloud/ocis/pull/3953)
* Bugfix - Fix graph endpoint: [#3925](https://github.com/owncl

[2022-06-22 09:55] micbar commented on #3713
yes i like it too

Good proposal. Fine from my POV

[2022-06-22 09:57] C0rby commented on #2622
If it needs to be implemented as a command then we would either have to implement storage specific mechanisms in the command or include a generic 'clean up' API to the CS3 API to be able to replace the underlying storage.

[2022-06-22 10:04] kulmann commented on #3713
The issue spans a bit further: for role assignments we'd also need to make sure that the last admin can't get a role downgrade unless another user gets the admin role assigned. Opinions?

[2022-06-22 10:05] C0rby commented on #3909
But auto generating the certificate could also lead to a split-brain situation when we deploy multiple idp services.
Or should these setups not generate their own certificates.

[2022-06-22 10:08] kobergj commented on #2622
@C0rby I don't really understand how we can do this without a command (or an API). Should we just start a go-routine that cleans up upload data?  Can you elaborate what you have in mind?

[2022-06-22 10:10] C0rby commented on #2622
Well, it could be the responsibility of every storage driver to implement a clean up mechanism. Then the storage driver itself would run an asynchronous goroutine or something else.

[2022-06-22 10:22] C0rby commented on #2622
I'd say this depends on the implementation but yeah something like that.

Yeah I see the benefits. That also means that we need to add a `ListUploads` method or something similar to the CS3 APIs. Which we might need anyways when I think of async uploads.

[2022-06-22 10:27] kobergj commented on #2622
Basically the upload is cleaned correctly (in success or error case or when the user aborts the upload). The upload is only left if the user pauses the upload (and never restarts) or maybe on some connection issues. So my point is: I'm not sure if this is worth having a go-routine running all the time. CPU time costs money also. But I'm fine with both approaches, both have their benefits.

[2022-06-22 10:31] C0rby commented on #3880
The Desktop client also behaves in strange ways because of this:
![image](https://user-images.githubusercontent.com/5579653/175008227-f855d7a2-d0fd-453f-b9d2-9e5997f4443c.png)

[2022-06-22 10:49] C0rby commented on #2622
I see your points. I'd also say for the decomposedfs it would also be enough to have a cronjob running a bash script using standard tools since the decomposedfs are just plain files. But for other storages this might not be sufficient so we probably end up having to implement an API.

[2022-06-22 11:00] jvillafanez commented on #3713
I'd vote for blocking the edition too. I don't know if it will possible to have an intermediate role just to manage the accounts (not admin, but maybe accountManager), but in that case it might also be possible to increase your own permissions. It will be also more difficult to handle these cases.

By blocking the edition of your role, this case is prevented. You also depend on another person to a

[2022-06-22 11:04] pmaier1 commented on #3713
There must always be at least one "admin" account. Downgrading an admin to another role (if another admin exists) should have a security question, IMO.

Keep in mind that roles will be configurable in the future. Actually we'd need to define the set of permissions that at least one user must have.

[2022-06-22 11:24] ScharfViktor opened #4014 "Search by shares jail works incorrect"
ocis: Infinite Scale 2.0.0-beta.4

Steps:

- admin creates folder "f1" and shares to marie
- marie acceptes incomming folder and tries to find "f1" in search line

Actual: folder was found, but with the wrong name. After clicking on the folder, you go to your personal space at home and there is nothing there

![Screenshot 2022-06-22 at 13 14 44](https://user-images.githubusercontent.com/84779829/1

[2022-06-22 11:28] amrita-shrestha commented on #1277
### In ocis, the behavior has evolved now behaving as:
`Link shares`
- without permission supplied
  - share is created with permission `1`
  - the UI shows `Viewer` role assigned
- with permissions supplied
  - permission `2` provided -> htpp status code `400` -> message:`Could not read permission from request`
  - permission `3` provided with payload -> share is created with the same permission

[2022-06-22 11:43] jvillafanez commented on #2622
I think we can keep it internal to the each storage implementation.

When the storage starts, a go-routine can also start to perform the cleanup of the uploads. This go-routine will behave cron-like, so it will be slept for the most time and run each 15-30 minutes (or something configurable). The CPU usage should be close to 0 when it's sleeping.

The communication between the storage and the go-r

[2022-06-22 11:59] wkloucek commented on #2622
Please keep also in mind that we have multiple instances of the storage service running. So we have a good chance of running multiple cleanups in parallel then. Don't know if that could cause problems.

[2022-06-22 12:29] ScharfViktor commented on #3986
Infinite Scale 2.0.0-beta.4

### Case 1: admin share folder(with file) to marie:

Admin:
- [x] upload big file 10gb (Show details, pause upload, resume upload work correct)
- [x] upload folder with 803 small images.
- [x] Check pagination, count items per page. Have a bug https://github.com/owncloud/web/issues/6768
- [x] upload folder(drag folder) "folder_to_share" with file.pdf
- [x] share folder

[2022-06-22 12:52] kobergj commented on #2622
I'm not sure it should do that. It would need to persist data in case it gets restarted. I would suggest it just goes through all uploads and decides whether it should remove it or not through the .info file.
@wkloucek I assume all those storage services running would look at the same volume? So we could indeed run into multiple cleanup jobs on the same upload at the same time.

[2022-06-22 13:28] jvillafanez commented on #2622
I'd prefer to keep it as a recovery mechanism in case the service crashes. Without having any limitations around uploads nor users, there could be thousands of uploads at the same time. Having to scan all the uploads can take a lot of time, so I don't think we should do that by default.

By using shared memory (I'm talking about a shared object between the instance and the go-routine, not somethin

[2022-06-22 13:33] micbar commented on #3880
hmm, this is a real drawback.

[2022-06-22 13:52] phil-davis commented on #3880
It's always a nuisance/problem if a namespace is "polluted" by "special" things, or things that "just arrive" largely out of the user's control. This problem exists in oC10 - if `share_folder` is set to something, then the backend and frontend software has to make some effort to prevent users creating that folder themselves. And sync clients can't do anything about it, a user can create a folder c

[2022-06-22 13:56] ScharfViktor commented on #3986
# Compatibility test
from 2.0.0-beta.3 to beta4 (use ocis:llatest@sha256:4927eecbee2b9008a43c4fd8beee30bdd553dbdc92f9732ab9f10ee55e97fc97)

## Create these with the original oCIS version and see if still the same after upgrading:
- shares
  - [ ] public share
  - [ ] share with user as role editor
  - [ ] share with user as role viewer
- settings
  - [x] language settings
- files
  - [x] uploaded

[2022-06-22 13:57] micbar commented on #3986
Did you run the migration command?

[2022-06-22 14:11] ScharfViktor commented on #3986
No, i don't know how

[2022-06-22 14:15] wkloucek commented on #3909
If we only generate once and have shared storage (we need that also for the autogenerated ldap ca for the idm and all ldap-consuming services), then we should be fine.

Preferably complex, distributed systems would not rely on the auto generation. Eg. our oCIS Helm chart will provide external certificates.

[2022-06-22 14:19] ScharfViktor commented on #3986
[code]

[2022-06-22 14:27] wkloucek commented on #2622
Uploads in oCIS should:
- directly write to the target storage, to avoid cross storage moves
- be resumable at every instance of the service. Therefore we don't need sticky sessions and users have no degraded upload experience if an instance of a service dies.

Since oCIS is a distributed system we cannot rely on shared memory. We only have shared storage.

All state needs to live on the storage.

[2022-06-22 15:41] ScharfViktor commented on #3986
# K6 results on intel test machine
ocis - 2.0.0-beta.4 (using latest version)

## Overview

| Test                                       | 2.0.0-beta.4  | 2.0.0-beta.3  | 2.0.0-beta2 | 2.0.0-beta1 | 1.20.0    | 1.19.0    | 1.18.0    | 1.17.0    | 1.16.0    | 1.15.0    | 1.14.0    | 1.13.0    | 1.12.0    | 1.11.0     | 1.10.0     | 1.9.0.     | 1.8.0      | 1.7.0      |
|---------------------------

[2022-06-23 03:22] SagarGi commented on #4007
Passing on this build https://drone.owncloud.com/owncloud/core/36122 so closing

[2022-06-23 03:22] #4007 closed

[2022-06-23 06:38] SagarGi opened #4016 "Different response status code while searching with `empty` pattern with `new` webdav"
## Describe the bug

While searching `files | folders` with empty pattern `oc10` and `ocis` response are different.

## Steps to reproduce

Steps to reproduce the behavior:

1. create user `uu1`
2. upload file `upload.txt`
3. upload folder `demo`

Curl command for empty pattern search with `new` webdav
[code]

## Expected behavior
Response on OC10

<details>
<summary>oc10 response details</summary

[2022-06-23 06:59] SagarGi opened #4017 "Search with `limit` does not give required response with `new` webdav - follow up on tests"
## Describe the bug

When requesting a search with `limit` using `new` webdav, ocis does not limit the search in the response instead gives all the search related to the search pattern.

## Steps to reproduce

Steps to reproduce the behavior:

1. create user `u11`
2. create/upload file `upload.txt`
3. create/upload folder `upload`

Curl command for empty pattern search with `new` webdav
[code]

##

[2022-06-23 08:38] tbsbdr commented on #3284
Did some preparation to make this more actionable, thx @rontrompert !

ticket with issue overview: https://github.com/owncloud/web/issues/7134 or:
- [ ] https://github.com/owncloud/web/issues/7135
- [ ] https://github.com/owncloud/web/issues/7168
- [ ] https://github.com/owncloud/web/issues/7169
- [ ] https://github.com/owncloud/web/issues/7167
- [ ] https://github.com/owncloud/web/issues/7170
- [

[2022-06-23 08:43] SagarGi opened #4018 "To get response while searching on ocis, we have to wait `1` second"
### Description

After the `files | folder` have been uploaded and while running tests for the search request, the tests fails on assertion because the response for the search was not received, but if we wait for `1` second the tests passes. This seems strange for the `ocis` backend comparing to the oc10.

### Steps to reproduce
1. create a user `u11`
2. upload file `upload.txt`
3. upload folder `

[2022-06-23 08:48] SagarGi commented on #4018
Build https://drone.owncloud.com/owncloud/ocis/12759 passes when we wait for 1 sec
Build https://drone.owncloud.com/owncloud/ocis/12745/48/6 fails when we donot wait for 1 sec

for this PR https://github.com/owncloud/core/pull/40159(waiting 1 sec and not waiting for 1 sec)

[2022-06-23 09:02] phil-davis commented on #4018
Any of the oCIS developers: after uploading a file/folder and getting the success response for that, is there something async happening in the oCIS backend in/between services that would prevent and incoming search-pattern request from discovering the very-new file/folder?

Maybe "something happens" and the names of the resources in the storage are not immediately/synchronously "visible" to all se

[2022-06-23 10:27] C0rby commented on #3909
That's true. Ok, let me try to implement something.

[2022-06-23 11:03] aduffeck commented on #4018
@phil-davis @SagarGi with ocis indexing of newly uploaded files or directories is decoupled and happens asynchronously. Uploads trigger an event to be emitted over NATS which will be picked up by the search service and only then the items will be indexed and be made available to the search.

So what you are seeing in the tests is the expected behaviour, the asynchronicity comes with a slight delay

[2022-06-23 13:08] aduffeck commented on #4014
I took a look and the `REPORT` response seems to be fine. I think this might be a web regression introduced with the share jail. @JanAckermann can you verify that?

[2022-06-24 05:45] amrita-shrestha commented on #1277
This issue has been solved but there are many scenarios under this issue in the expected failure list. Need a lot of changes on that scenario to pass. Should be discussed first **Is it worth investing time in such a task**. Until any decision is made transfered into the backlog.

[2022-06-24 06:58] SagarGi commented on #4018
A second wait has been added in tests for ocis while searching. So closing this discussion.

[2022-06-24 06:58] #4018 closed

[2022-06-24 08:42] JanAckermann opened #4027 "drives graph api - users?$expand=drive|drives not working - /drives endpoint not implementented in generated api"
1. calling https://localhost:9200/graph/v1.0/users?$expand=drive or https://localhost:9200/graph/v1.0/users?$expand=drives does not expose drives, while generated API specs say it should
2. https://localhost:9200/graph/v1.0/drives endpoint works in graph explorer but is not exposed in generated API

[2022-06-24 08:43] JanAckermann commented on #4027
FYI @butonic

[2022-06-24 10:51] phil-davis commented on #4018
Note: there is no special guarantee that 1 second is enough. But it "works" quite consistently in practice with our tests. If we find that CI fails sometimes due to the trigger being slow, then we will have to add extra logic to the tests which tries again a few times at x second intervals until either the search-pattern response matches what the test expects, or we give up and fail the test.

[2022-06-24 11:41] grgprarup commented on #2260
This issue is blocked for now due to other related issues of resharing shared resources on the web with `OCIS` backend. https://github.com/owncloud/web/issues/7179
This https://github.com/owncloud/web/pull/7086 is the PR related to resharing on web+ocis.

[2022-06-24 14:39] butonic commented on #2622
upload expiry is actually a TUS extension that we should implement: https://tus.io/protocols/resumable-upload.html#expiration
- reva has to announce an Upload-Expires header in [RFC 7231](https://tools.ietf.org/html/rfc7231#section-7.1.1.1) datetime format, eg: `Upload-Expires: Wed, 25 Jun 2014 16:00:00 GMT`
- we should make the timeout configurable per storage provider, maybe even per space, per

[2022-06-27 06:04] wkloucek commented on #3981
Great to hear!

[2022-06-27 06:04] #3981 closed

[2022-06-27 06:13] wkloucek commented on #3979
Since you are using `ocis init` to generate random secrets, setting them via env variables is not really needed. This block can be removed:

[code]

If you decide to keep them (which is also fine, since oCIS will prefer them over the given values from the config file, generated by `ocis init`) you also need to provide the same `OCIS_JWT_SECRET` to the ` ocis-appdriver-collabora` container as to th

[2022-06-27 07:11] butonic commented on #3988
A proper implementation on the client and server side would use the `Prefer: respond-async` header as defined in https://datatracker.ietf.org/doc/html/rfc7240#section-4.1 AFAICT that is not the case and the tests currently correctly test synchronous etag propagation.

@dragotin @felix-schwarz  IIRC the clients need the file id in the response of a PUT request, right? What about the etag?

We can a

[2022-06-27 07:34] #3909 closed

[2022-06-27 08:02] rtest12 commented on #3979
I still get a 500 in console, but in docker logs errors are changed
[code]

[code]

[2022-06-27 08:14] dragotin commented on #3988
As of now, the clients expect the ETag in response to the PUT (or the last action in the chunked uploads).
See https://github.com/owncloud/client/blob/master/src/libsync/propagateuploadng.cpp#L572 for the Desktop example, if the etag is empty, that results in an error.

We do not want to change that now.

That is also what we are aiming for with the asynchronous upload: The ETag is returned immedi

[2022-06-27 08:15] wkloucek commented on #3905
`GRAPH_LDAP_SERVER_WRITE_ENABLED: "false"` added in https://github.com/owncloud/ocis/pull/4030

[2022-06-27 08:23] gabi18 commented on #3154
Retested with testpilotcloud 3.0.0.7819-daily20220617 (on openSUSE 15.3) and oCIS 2.0.0-beta.4+ba9a48a51 (docker)

Steps done:
- open file browser
- create a new file

Result: file isn't synced, 'Not synced tab' shows "500 Internal Server Error"

![0-byte-error](https://user-images.githubusercontent.com/75983861/175893555-22f09051-9fb5-4245-b8cb-bda8444bec10.png)

[code]

[testpilotcloud.log.0-byt

[2022-06-27 08:29] phil-davis commented on #3988
Note: we generally see this issue in tests that do a MOVE or COPY or some upload-overwrite, the response to the request has an eTag for the particular resource. But also the eTAG of parent folders up to the root is expected to change. The delay (async behavior) is observed when the test scenario "quickly" does API requests that check the eTag of the parent, grand-parent etc folders.

So, IMO, the

[2022-06-27 08:52] dragotin commented on #3988
Ah, seems I overlooked that it is about the ETag change of the directories *above* the uploaded item, not the item itself.

I agree, that sounds ok if that does not happen immediately.

[2022-06-27 09:35] rhafer commented on #3962
Note, we're also rebuilding (and with that downloading all it's dependencies over and over again) `golangci-lint` with every linter run (that is more that 20 times per CI run AFAICS).

Would be nice if we could cache the resulting `golangci-lint` binary as well (or you a prebuilt one).

[2022-06-27 09:48] felix-schwarz commented on #3988
@butonic At the moment, the iOS client uses neither `oc-fileid` nor `oc-etag`. It instead does a subsequent `PROPFIND` on the expected destination path to fetch all metadata on the file in one go.

So the expectation from the iOS client is that when the server response to the upload request has been received:
- a subsequent `PROPFIND` (Depth 0) on the expected destination path should work and not

[2022-06-27 11:11] SagarGi opened #4034 "`spaces` endpoint does not allow `REPORT` requests"
### Description

While searching for `files | folder` with `REPORT` method, `new` and `old` webdav gives response for the search request but `spaces` gives a method not allowed response.

### Steps to reproduce

1. As user `Einstein` create resources `simple.txt`, `simple-folder`, `simple-file.txt`
2. Search for `simple` using `spaces` endpoint
[code]

## Expected behavior
The request should work

[2022-06-27 11:17] micbar commented on #2967
Refinement:

- We should verify the token audience

[2022-06-27 11:17] saw-jan opened #4035 "[parallel-deployment] Differences in `path` property while listing pending shares"
## Description
`path` property has different value when using `ocis` and `oc10` selector

## Steps to reproduce:

1. as, `admin`, create a folder `Folder`
[code]
3. as `admin`, share `Folder` to `einstein`
[code]
5. as `einstein`, list the pending shares (with `ocis` selector)
[code]
6. as `einstein`, list the pending shares (with `oc10` selector)
[code]

## Expected behavior
to have similar respo

[2022-06-27 11:31] butonic commented on #3988
With regard to the latter, could you point me to an issue? I'd like to propose using the `Prefer` header here as well, eg. `Prefer: include-annotations="display.subject"` as described by https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_Preferenceincludeannotationsodatainc However, I assume the annotations are not meant to solve that case.

Unfortunately, [the IANA

[2022-06-27 11:45] gabi18 commented on #3154
With the same test setup as above ( testpilotcloud 3.0.0.7819-daily20220617, oCIS 2.0.0-beta.4+ba9a48a51) the server also replies the 500 internal error now when trying to upload a non empty file (TextFile.txt, 16 bytes) to 'Personal'.

Uploading a small file was successful before with earlier versions of client and oCIS. I will check which versions...

![server-error](https://user-images.githubus

[2022-06-27 11:56] michl19 commented on #3713
Learning from refinement: disable both (edit own role, delet own account)

[2022-06-27 11:57] dragotin commented on #3988
I think it can be summarized:
* Async propagation of the ETag  up the dir tree is fine. Clients can deal with that. Testsuite needs to as well.
* Clients make benefit if the last action (last move for example) returns the **ETag**, **remote permissions** and **FileID** metadata header. If one of them is missing that either causes an error (FileID) or additional subsequent PROPFINDs. Both is not op

[2022-06-27 11:58] #865 closed

[2022-06-27 11:58] micbar commented on #865
Not supported.

[2022-06-27 12:01] gabi18 commented on #3154
Uploading a non empty file to ocis.ocis-traefik.released.owncloud.works (Beta3) using testpilotcloud 3.0.0.7819-daily20220617 works without error.

[2022-06-27 14:09] micbar commented on #3986
Test with WOPIServer `v8.3.0` was successful.

Release unblocked.

[2022-06-27 14:13] wlohman-surfsara opened #4039 "Logging in on the wrong account when an email address is not unique"
## Description
On a free trial instance of the oCIS beta program

When two accounts have the same email address, logging in with the username/password of the second account logs you in to the first account

## Steps to reproduce

1. Log in as admin
2. Create a user
username: user1
displayname: User One
email: notunique@example.com
password: somethingrandom
3. Create a second user
username: user2
d

[2022-06-27 15:09] rhafer commented on #4039
@wlohman-surfsara Thanks, a lot for the report!

Indeed we currently to require the mail address to be unique (I guess we might want to reconsider this)

@wkloucek Additionally I think we should consider switching our defaults for `PROXY_USER_OIDC_CLAIM` and `PROXY_USER_CS3_CLAIM` away from the email address and use the username there instead. What do you think?

[2022-06-27 15:16] rhafer opened #4040 "Graph API produces invalid LDAP filters"
## Describe the bug

When `LDAP_USER_FILTER` of `GRAPH_LDAP_USER_FILTER` is set to a non-default value queries on `curl -k 'https://localhost:9200/graph/v1.0/users' -u admin:admin` result in an invalid LDAP filter:

 "LDAP Result Code 201 \"Filter Compile Error\": ldap: finished compiling filter with extra at end: (objectClass=inetOrgPerson)"

[2022-06-27 17:23] evert commented on #3988
Thank you!!

[2022-06-27 17:29] dragotin commented on #3988
well yes. I am kinda lost how that relates to the initial problem of this issue. I think @phil-davis has a reasonable answer, so I am closing this one. Feel free to re-open.

[2022-06-27 17:29] #3988 closed

[2022-06-27 18:17] dragotin opened #4042 "docs: Document meaning of ETags in developer docs"
As @butonic correctly states in https://github.com/owncloud/ocis/issues/3988#issuecomment-1167681224 we need to document the concept of the ETags (and possibly CTags in the future) in the developer documention.

References:
* #3988
* #3782
* https://github.com/cernbox/smashbox/blob/master/protocol/protocol.md#restrictions-and-limitations
* And a classic of the ownCloud literature: https://dragotin

[2022-06-28 05:13] wkloucek commented on #3979
We now know where this error is coming from. There is a bug on the cs3org/wopiserver master branch. Therefore you should switch to stable release of it:

Change

[code]

to

[code]

or set `WOPISERVER_DOCKER_TAG=v8.3.0` in the `.env` file

[2022-06-28 05:41] SagarGi commented on #3907
@SwikritiT every thing related to this issue has been done so far. this can be closed?

[2022-06-28 05:50] dragonchaser commented on #3577
Ping to unstale :)

[2022-06-28 06:30] phil-davis commented on #3962
Note: an easy first step would be to use `retry -t3 yarn install` to retry `yarn install` if/when it fails. That might avoid some pipeline failures.

[2022-06-28 06:30] individual-it commented on #3962
simple solution: https://github.com/owncloud-ci/retry

[2022-06-28 06:32] individual-it commented on #3937
PR here https://github.com/owncloud/ocis/pull/4032 but the PR got closed, so closing this also

[2022-06-28 06:32] #3937 closed

[2022-06-28 06:44] gabi18 commented on #3154
Another logfile from a test with  testpilotcloud 3.0.0.7819-daily20220617, oCIS 2.0.0-beta.4+ba9a48a51 and file with 0 byte (the file created in 'dolphin' in https://github.com/owncloud/ocis/issues/3154#issuecomment-1167039505 has in fact 2 bytes).

[ocis-0-byte.log.gz](https://github.com/owncloud/ocis/files/8998295/ocis-0-byte.log.gz)

[2022-06-28 07:01] individual-it opened #4047 "cache yarn dependencies for web UI tests"
the dependencies are downloaded every time, we should cache them! See how its done in core

[2022-06-28 07:03] TheOneRing commented on #3154
Appears to be an unrelated issue, works fine with the traefik example.

[2022-06-28 07:03] #3154 closed

[2022-06-28 07:10] gabi18 commented on #3154
-> this logging is from downloading a 0 byte file

[2022-06-28 07:34] wkloucek commented on #4047
we also have a yarn cache in oC Web: https://github.com/owncloud/web/blob/a5417d35b09c822d4345377a88ed69271ec76fbb/.drone.star#L806-L824

[2022-06-28 07:35] #3926 closed

[2022-06-28 07:55] micbar commented on #3617
ping to keep open

[2022-06-28 08:20] butonic commented on #2627
@dragotin how is this actionable? Move your description to devdocs and close?

[2022-06-28 08:28] #3434 closed

[2022-06-28 09:22] phil-davis commented on #4039
Note: for business users IMO the email address that goes with each cloud storage user will be unique. (I am struggling to think of when a business would not do that)

For family cloud storage, it may still be "relatively common"/"happen" that multiple members of the family share an email account, but they have an account each on the cloud storage. I found this from way back in 2014 https://www.sal

[2022-06-28 09:46] wkloucek commented on #4039
We require it but do not enforce it (which is bad). If we want to enable login with email address, we would need to enforce the uniqueness of email addresses, too https://github.com/owncloud/ocis/issues/2572.

We should do this. It works with the builtin IDP and IDM, because the IDM does not allow duplicate usernames.

For external IDM / IDP configuration probably needs to be adapted. External IDP

[2022-06-28 09:54] SwikritiT opened #4052 "Differences of OC10 and OCIS share permissions"
There are some inconsistencies in sharing permission in OC10 and OCIS and due to this various tests are failing in recent ocis id bump PR: https://github.com/owncloud/web/pull/7178 if this behavior is expected and remains consistent then we might need to adjust tests according to the different behavior of the respective servers

# Group share
### 1. Default - Permission 31
- OCIS - UI shows `custo

[2022-06-28 10:50] SwikritiT commented on #3907
If there aren't any expected to fail links to this issue in web, ocis, reva we can close this.

[2022-06-28 11:16] #4040 closed

[2022-06-28 11:30] rtest12 commented on #3979
Yes, it worked, now I have websocket errors, (WebSocket connection to 'wss://localhost:9980/lool/https%3A%2F%2Fwopi.**********=/ws' failed: ) I will look at my nginx configs
Thanks a lot

[2022-06-28 11:39] wkloucek commented on #3979
That's weird, I expected it to be something like `wss://docs.ex.com/lool/https%3A%2F%2Fwopi.ex.com`. But I don't see an error in the Collabora config.

You also could try to use a newer version of Collabora (requires some changes on the Collabora config, no config changes otherwise). See:

https://github.com/owncloud/ocis/blob/a464a861284905f4da00f583b16c4424d6480a43/deployments/examples/ocis_wopi

[2022-06-28 12:17] rtest12 commented on #3979
Hm, now 1 error in console
`Failed to load resource: the server loleaflet.html:1 responded with a status of 400 ()`
If i refresh
`collabora.example.com/loleaflet/a937747/loleaflet.html?&WOPISrc=https%3A%2F%2Fcollabora.example.com%2Fwopi%2Ffiles%2F1284d238%2Daa92%2D42ce%2Dbdc4%2D0b0000009157%248a5e0459%2Dccec%2D487d%2D8fe7%2De2a8bb86ee60%2DZjI5NGY0NTUtYWVkMy00YzNhLWE3OTEtMGQ2NjZiZWVlMmE4:1

[2022-06-28 12:25] rtest12 commented on #3979
Wow, it worked after recreating
Thanks!!!

[2022-06-28 12:52] kulmann commented on #4052
The web ui checks for an exact permission match. The permissions for `Viewer` are 17 if resharing is enabled and 1 if resharing is disabled. Same for `Editor`: 31 if resharing is enabled and 15 if resharing is disabled.

[2022-06-28 13:06] fschade commented on #4052
@SwikritiT i checked most of the mentioned permissions manually seconds ago,
i cannot confirm (or maybe i got something wrong?) all cases.

For example `User Share` -> `Permission 17 (Share+ read)`:
ocis with re-sharing enabled: `custom permission (Share + read)` -> `17` result `viewer`
ocis with re-sharing off: `custom permission (read)` -> `1` result `custom permission`

so the detail here is th

[2022-06-28 13:26] pascalwengerter opened #4056 "Unskip setting service UI/acceptance tests"
I guess this happened around the time the accounts service was removed. We've been flying blind regarding the settings service UI ever since

https://github.com/owncloud/ocis/blob/a464a861284905f4da00f583b16c4424d6480a43/.drone.star#L100

[2022-06-28 13:40] pascalwengerter commented on #2215
@kiranparajuli589 @SwikritiT can this be closed since the shares jail has been implemented?

[2022-06-28 13:43] fschade commented on #4052
i added a card in our beta board which will be discussed tomorrow after our standup to decide how we proceed

https://github.com/owncloud/web/projects/7#card-83655801

[2022-06-29 04:05] kiranparajuli589 commented on #2215
This topic is no longer relevant. Closing.

[2022-06-29 04:13] SwikritiT commented on #4052
Thanks! Didn't know about the `FRONTEND_ENABLE_RESHARING=true`. I see the variable will be added in the PR https://github.com/owncloud/web/pull/7086/files. I was trying to bump ocis id for tests in PR https://github.com/owncloud/web/pull/7178 and suddenly all the tests related to sharing started to fail, locally too and I got a little confused about what was happening. After enabling the variable

[2022-06-29 04:45] SwikritiT commented on #3907
No links to expected to fail. So closing

[2022-06-29 04:45] #3907 closed

[2022-06-29 05:24] #3979 closed

[2022-06-29 05:54] wkloucek opened #4058 "settings service: storage-system configuration"
## Describe the bug

When I want to configure the setting service to use the storage-system service as a backend and they do not run on the same machine (same localhost), I cannot use default values and need to change following values:

`STORAGE_GRPC_ADDR` and `STORAGE_GRPC_ADDR` both need to point to the GRPC endpoint of the storage-system service.

## Expected behavior
There is one setting that

[2022-06-29 05:55] wkloucek commented on #3917
We also have `STORAGE_GATEWAY_GRPC_ADDR` and `STORAGE_GRPC_ADDR`, which are unique to the settings service. See also https://github.com/owncloud/ocis/issues/4058

[2022-06-29 06:17] individual-it opened #4059 "cache core repos in acceptance tests"
can / should we cache also the core repos so that things like https://github.com/owncloud/ocis/pull/4057#issuecomment-1169548131 happen less likely?

[2022-06-29 08:13] wkloucek commented on #3936
Looks like a locking race condition. The first Collabora session holds the lock and did not yet release it because it didn't yet save the file. Then the second Collabora session already tries to open the still locked file and fails.

We should at least investigate in how we can improve this.

[2022-06-29 09:44] fschade opened #4061 "Public link resharing permissions"
## Describe the bug
a user is able to create a public link as an editor even if he only has viewer permissions for the incoming share

## Steps to reproduce
1. user a shares a resource to user b as viewer
2. user b creates a public link of the share with editor permissions

## Expected behaviour
the backend does not allow to create public links with higher permissions then the user has

## Current

[2022-06-29 10:17] #4056 closed

[2022-06-29 11:06] saw-jan opened #4065 "[parallel-deployment] Favorite a file seems to work but doesn't with `oCIS` selector"
## Describe the bug

A clear and concise description of what the bug is.

## Steps to reproduce

1. Create a file `afile.txt`
[code]
3. Favorite file `afile.txt` [OK with `207`]
[code]
[code]
5. List files [favorite have `0` value]
[code]
[code]

## Expected behavior
as with `oc10` selector, expected to have `1` favorite value
[code]

## Actual behavior
`0` favorites
[code]

## Setup
oc10-ocis par

[2022-06-29 11:09] wkloucek commented on #4065
That's expected right now, since we don't have a ownCloudSQL favorites driver in oCIS.

But great to have this as a reminder.

[2022-06-29 11:55] phil-davis commented on #4061
Similar to https://github.com/owncloud/ocis/issues/3881

https://github.com/owncloud/ocis/blob/master/tests/acceptance/expected-failures-API-on-OCIS-storage.md has:
[code]

There are failing API tests that cover this problem.

[2022-06-29 12:27] dragotin commented on #3431
@butonic Can we close this?

[2022-06-29 12:37] micbar commented on #3913
@kulmann @fschade I thought we are using signed urls for the web download?

[2022-06-29 13:21] wkloucek commented on #3913
The `/ocs/v[12].php/cloud/user/signing-key` is only used for downloads within a user context. Eg. public links have a `downloadUrl` property in propfind responses, which is used for downloading files.

@kulmann proposes to also have `downloadUrl` property for propfind responses within a user context. The property should not be part of the default set of requested properties and will be requested o

[2022-06-29 15:45] dragotin commented on #3574
Ok, let me try to summarize this, and make it actionable:

## Reasoning

The client sends parts of the old configuration to an endpoint on the server side to get knowledge about the space ID and a path component if applicable. If that call succeeds, the client will be able to compute if it can re-use already synced folders by looking up the content of the `me/drives/` endpoint and compare the spac

[2022-06-29 15:52] dragotin commented on #3574
### About Shares:

I'd suggest to not migrate the Shares at all to reduce complexity in the client implementations.

If a legacy user syncs the entire cloud with only one sync connection, the flow would look like:
[code]
and the sync client would only migrate the Personal space. In the first sync run, the `/Shares` directory would be removed on client side.
The user would be forced to re-sync the

[2022-06-29 19:14] fschade commented on #4052
Cool 😎 feel free to ping us whenever we can help, looking forward to speak to you in person 😘

[2022-06-30 05:30] individual-it commented on #3962
I believe we will need both, but we can implement the cache first.

[2022-06-30 06:54] gabi18 commented on #3154
Confirmed fixed with ocis.ocis-traefik.released.owncloud.works productversion: "2.0.0-beta.4" (client: ownCloud-3.0.0-daily20220628.7878.x64.msi)

[2022-06-30 08:44] dragonchaser commented on #4027
After discussing this issue with @butonic, @rhafer & @JanAckermann we came to the following consensus:

Due to the expensive nature of the request, we decided to implement the expand options for `drive` and `drives` only on requests for single users.

[2022-06-30 09:06] micbar commented on #4052
@SwikritiT Thank you for digging, you brought up a very heavy topic where we need to fight a lot of technical debt.

[2022-06-30 09:29] micbar commented on #4052
needs separate ticket after discussion with @kobergj

This topic is resolved as far as the UI is involved

[2022-06-30 09:30] #4052 closed

[2022-06-30 09:48] michl19 commented on #3917
@pmaier1 please comment as there is a PM decision needed

[2022-06-30 10:16] mmattel commented on #3793
Colleagues, I have updated the services listed in the comment on top with regards of open items based on the recent env merges. Only a view left, we are close to final 😃

[2022-06-30 10:23] phil-davis commented on #2808
Scenarios that I thought of today while looking at what is already in the oCIS https://github.com/owncloud/ocis/tree/master/tests/acceptance/features/apiSpaces suite today:

- move and copy of resources
- do things between personal and project spaces
- do things between 2 project spaces
- edge cases for more invalid attempts to do stuff (trying to move/copy/upload somewhere that you are not allowe

[2022-06-30 11:29] butonic commented on #3992
duplicate of https://github.com/owncloud/ocis/issues/3023 ?

[2022-06-30 12:17] #3778 closed

[2022-06-30 13:18] #3257 closed

[2022-06-30 15:08] #3986 closed

[2022-07-01 07:05] labkode commented on #3574
@dragotin hat is what Hannah proposed and I think it can work. The only part that is missing is that we won't enable this migration for all users at the same time for obvious reasons, so we need to keep control on when the sync client triggers the migration. For that I proposed to have a different status code
[code]

[2022-07-01 09:07] wkloucek commented on #3793
@mmattel are your `... is there a difference when using binary vs container?` questions answered?

[2022-07-01 14:05] #3793 closed

[2022-07-01 14:12] dragotin commented on #3574
Agreed, that is what @TheOneRing suggested, I just wanted to summarize the facts again so that we're all on the same page. I added your 204 suggestion to my summary above, thanks.

[2022-07-02 06:22] mmattel commented on #3456
dont close

[2022-07-02 17:41] cakiwi opened #4078 "Usernames containing + cannot be autoprovisioned"
## Describe the bug

Usernames containing +  cannot be autoprovisioned

## Steps to reproduce

Steps to reproduce the behavior:

1. Run a deployment using keycloak.
2. Set realm login to use email as username (not required, can just set the username to contain +)
3. Register a user using + in the local part.  a+b@example.org
4. Sign-in to oCIS

## Expected behavior
Login to oCIS should occur.

##

[2022-07-04 08:38] rhafer opened #4084 "libregraph/idm Admin can't reset it's own password"
## Describe the bug

In case the admin user looses it's password there is currently now easy way to reset it. (In theory, It can be done via `ldappasswd` on the command line, but that is getting tricky as soon as ocis is running in a contaier).

A possible solution could be to introduce an `ocis idm` subcommand that allows reseting passwords.

[2022-07-04 10:00] rhafer commented on #1893
@individual-it Since we moved away from the accounts service and switched user management from ocs to graph, do you think that this but is still relevant? Or can we close it?

[2022-07-04 12:47] ScharfViktor opened #4087 "ApiTest. Cases for copy/move between project/personal/shares jail"
#### copy-paste:

from | from (role) | to | to (role) | Expected result
-- | -- | -- | -- | --
project | spaceAdmin/editor/viewer | project | spaceAdmin/editor | 201
project | spaceAdmin/editor | project | viewer | 403
project | spaceAdmin/editor/viewer | personal |   | 201
project | spaceAdmin/editor/viewer | share jail | editor | 201
project | spaceAdmin/editor/viewer | share jail | viewer | 403

[2022-07-04 12:57] micbar commented on #3828
Done

[2022-07-04 12:57] #3828 closed

[2022-07-04 13:03] micbar commented on #3832
Good approach would be a static registry which would allow distributed setups.

@pmaier1 Please clarify the Prio regarding QA

[2022-07-04 13:06] #3578 closed

[2022-07-04 13:12] micbar commented on #3645
Slightly related to #3917

@pmaier1 needs clarification for GA

[2022-07-04 13:19] micbar commented on #3630
@individual-it Qa p3 IMO

[2022-07-04 13:24] micbar commented on #3559
Clearly an after GA scope.

[2022-07-04 13:30] micbar commented on #3359
@C0rby Could you please check again the feasibility?

[2022-07-04 13:31] kulmann opened #4114 "Data loss during cut&paste cross-space"
### Steps to reproduce
1. Select any file in your personal space
2. Use `ctrl+x` (linux/windows) or `cmd+x` (mac) to cut the file
3. Navigate into a project space
4. Use `ctrl+v` (linux/windows) or `cmd+v` (mac) to paste the file

### Expected behaviour
a) File gets moved successfully OR b) in case of an error the file stays in the original location

### Actual behaviour
Apparently cross-space mov

[2022-07-04 13:31] micbar commented on #3359
@pmaier1 @tbsbdr Is this ok from a product POV? Do we leak information?

[2022-07-04 14:06] rhafer opened #4088 "go race reports quite a few issues at startup"
## Describe the bug

Running ocis with the race detector enable produces quite a few reports at startup:

`#  go run -race  ./ocis/cmd/ocis server`

results in:

[code]

While not all of the reported things might be causing serious problems. We should take a closer look and fix as many as possilbe.

**Tasks:**

- go-micro:
  - [x] get https://github.com/go-micro/go-micro/pull/2659 merged
  - [ ] b

[2022-07-04 14:20] mmattel commented on #3793
**Update:** after a discussion with @butonic, when having a container and with all env's where you define a filesystem path, that path is INSIDE the container and must be made available to the OS if you want to keep data persistent. I will update the documentation accordingly.

[2022-07-04 15:17] ScharfViktor commented on #4087
I added cases for "copy files" and "move files". We can start to implement it. @individual-it Who wants to do it? Or I can do it myself

[2022-07-04 15:18] ScharfViktor commented on #2808
I created ticket https://github.com/owncloud/ocis/issues/4087

[2022-07-04 15:18] ScharfViktor commented on #2808
I created tiket https://github.com/owncloud/ocis/issues/4087

[2022-07-04 15:28] rhafer opened #4089 "Setting different log levels per services does not work"
## Describe the bug

Increasing the loglevel per service is currently not possible. E.g. starting ocis with:

`OCIS_LOG_LEVEL=error PROXY_LOG_LEVEL=debug ocis/bin/ocis server`

does not have the desired effect (debug log for proxy, error for all other services).

Something seems racy here. Sometimes the proxy (an a few other services!) will pick up the "debug" level. And sometime this setting just

[2022-07-04 18:57] #2928 closed

[2022-07-05 04:16] SwikritiT opened #4091 "etags don't propagate correctly sometimes"
The following feature failed in recent nightly https://drone.owncloud.com/owncloud/ocis/13031/46/6

[code]

[2022-07-05 05:52] saw-jan opened #4092 "[parallel-deployment] PROPFIND for checksums returns multiple duplicate checksums (using `oCIS` selector)"
## Describe the bug

A clear and concise description of what the bug is.

## Steps to reproduce

1. using `ocis` selector, upload a file with checksum
[code]
2.  using `ocis` selector, PROPFIND request for checksums
[code]

## Expected behavior
To have unique multiple checksums like with `oc10` selector
[code]

## Actual behavior
duplicate multiple checksums (`MD5` and `ADLER32`)
[code]

## Setup

[2022-07-05 06:11] SwikritiT commented on #4091
https://github.com/owncloud/ocis/issues/3988 see this discussion

[2022-07-05 06:56] wkloucek commented on #3460
I've created a PR that introduces a reason why the command did not start service X.

## Example:
You are already running `ocis server` and then run `ocis proxy server` on the same machine.

`ocis proxy server` logs:

[code]

It says: `"service":"proxy"` is `"Shutting down server"` because `listen tcp 127.0.0.1:9205: bind: address already in use"`

## Example2:

You are already running `ocis proxy

[2022-07-05 07:00] #1893 closed

[2022-07-05 07:52] individual-it commented on #4087
@SagarGi is working on COPY tests currently anyway, so he could do this also

[2022-07-05 08:21] kobergj opened #4095 "Adjust Testsuite to async uploads"
Async uploads are implemented on the shiny new `experimental` branch https://github.com/cs3org/reva/pull/3029
The idea is that the server returns immediately after he has received all bytes, then handle postprocessing asynchronly.
With virusscanning around the corner and potentially more features that make use of async postprocessing mechanism  it would be nice to have all that properly tested.

U

[2022-07-05 08:21] kobergj commented on #4095
cc @micbar @individual-it

[2022-07-05 08:41] #3493 closed

[2022-07-05 08:47] kiranparajuli589 commented on #3938
These are some points to think about before the implementation. I've put my thought into every question. Please comment if that is unnecessary or not resonable.

### Where to store the collected statistics?
- online database where we can push content after every drone build

### What to save?
- scenario name
- error log
- timestamp
- suiteName
- isRunningWithOcis
- buildId

## Which type of tests

[2022-07-05 08:49] mmattel opened #4097 "Some env content provided does not make it into the documentation"
There seems to be an issue that some content that is present here in the repo does not make it into the documentation.

screenshot provided by @dragonchaser

![image](https://user-images.githubusercontent.com/3321281/177287748-1583ba5c-19ca-4d42-8521-dcd4916659dd.png)

outcome on the web (admin docs)

![image](https://user-images.githubusercontent.com/3321281/177289386-fc36952e-d7d7-43bc-a54f-766b

[2022-07-05 08:56] #3460 closed, assigned to wkloucek

[2022-07-05 09:03] SagarGi opened #4098 "Copying a folder into a sub-folder of itself creates a never ending copy of folder"
### Description
When we copy a folder into a  sub-folder of itself with a `COPY` request, then the folder is copied into the sub-folder of itself creating a never ending copy of the folder. This is possible in case of a API request while with webUI it is not possible to copy a folder into a sub-folder of itself.

### Steps to reproduce

1. create a user `user1`
2. create folder `PARENT`
3. create

[2022-07-05 09:54] phil-davis commented on #4098
@SagarGi is this the same sort of thing as issue #3992 ?
And #3023

And maybe it will be fixed by https://github.com/cs3org/reva/pull/3009 when it is pulled into oCIS?

[2022-07-05 10:22] SagarGi commented on #4098
@phil-davis yes its same like the above issue you mentioned. I found out during adding the `COPY` scenarios. If it is to be fixed then we can remove this issue as it is already been created.

[2022-07-05 10:35] saw-jan opened #4101 "[parallel-deployment] Cannot GET share information with share id (using `ocis` selector)"
## Steps to reproduce

1. Create a folder `Folder`
2. [User | Group | Public] share `Folder`
[code]
[code]
4. Try to GET the above share
[code]
[code]

## Expected behavior
**using `oc10` selector works**
to get share information like with `oc10` selector
[code]

## Actual behavior
`error mapping share data` error
[code]

## Setup
`oc10-ocis` parallel deployment
STORAGE_USERS_DRIVER: `owncloudsql`

[2022-07-05 11:58] wkloucek commented on #4097
@mmattel looks like the default value is not properly escaped: https://github.com/owncloud/ocis/blame/docs/services/_includes/adoc/frontend_configvars.adoc#L289-L294

Could you please give a properly escaped example for this?

[code]

[2022-07-05 12:24] C0rby commented on #3359
This is still not easily possible, AFAICT.

[2022-07-05 13:14] mmattel commented on #4097
Found the issue 😅 we need to adapt the adoc export.

**Reason**
We need in the table cell the Antora directive to go for antora language but disable attribute resolution `a| [subs=-attributes]`. When doing so `[` `]` becomes as part of the text in the next line different meaning.

**Solution**
To solve this, we need to special escape IN THAT CELL TYPE the square opening and closing brackets in fol

[2022-07-05 13:20] dragonchaser commented on #4097
We need to add a specific regexp to solve this here: https://github.com/owncloud/ocis/blob/master/docs/helpers/adoc-generator.go.tmpl#L97

[2022-07-05 13:43] #4047 closed

[2022-07-05 20:51] cakiwi opened #4104 "Cannot add user as Manager to Space using external IdP(keycloak)"
## Describe the bug

A user cannot be invited/added to a space with the Manager role when using Keycloak

## Steps to reproduce

Steps to reproduce the behavior:

1. Login as einstein to autoprovision. Logout.
1. Login as admin
2. Create a new space
3. Add member einstein as manager

## Expected behavior
User should be added/invited to workspace as Manager

## Actual behavior
Modal:
Error while sh

[2022-07-06 02:03] cakiwi opened #4105 "Removal of Space Manager leave unmanageable space."
## Describe the bug

When the only Manager of a space is removed the space cannot be managed.  Not visible by Admin or Space Admin roles.

## Steps to reproduce

Steps to reproduce the behavior:

1. As Moss Create a Space
2. Add users. Add a User, Space Admin and Admin
3. Delete Moss.

## Expected behavior
Space should be manageable or assigned to new manager.

## Actual behavior
Nobody can manage

[2022-07-06 05:59] SwikritiT commented on #3962
@individual-it cache has been implemented in https://github.com/owncloud/ocis/pull/4085, shall we move forward with this as well?

[2022-07-06 06:27] #4097 closed

[2022-07-06 06:42] aduffeck commented on #3992
This has been fixed in master with the merge of https://github.com/owncloud/ocis/pull/4076

[2022-07-06 06:42] #3992 closed

[2022-07-06 06:44] #4016 closed

[2022-07-06 06:54] phil-davis commented on #3023
Latest reva was pulled in with PR #4076
PR #4109 re-enables the relevant test. This issue can be closed when that PR is merged.

[2022-07-06 07:24] phil-davis commented on #3023
The tests are still failing because of returining HTTP sttaus 400 when it should be 409.
This needs reva PR https://github.com/cs3org/reva/pull/3031 pulled into oCIS.

[2022-07-06 07:37] individual-it commented on #3962
yes we could, but would only needed for the install before cache

[2022-07-06 08:50] jesmrec opened #4111 "publicUpload parameter in share updates"
## Describe the bug

Sending `publicUpload` parameter in `PUT` request to update a share (only upload permission) returns an invalid permission value, reflected in Android mobile client.

## Steps to reproduce

Steps to reproduce the behaviour:

1. Create a public link, for example in that way:

[code]

A link over `Documents` with basic permission 1 (Download/View) created.

2. Update the link, b

[2022-07-06 09:37] phil-davis commented on #4095
Thoughts:

- for downloads we can just embed an extra loop when running on oCIS or reva. If `425` is returned then the test code can wait 1 second and try again. And we put some limit on the loop so that it stops after "a while" (however long we think is the maximum time that the server should to take realistically to "process" an uploaded file)
- modified time - if the upload sends an `mtime` alo

[2022-07-06 11:12] SwikritiT commented on #1277
This issue no longer exists so closing. There are some tests linked to this issue in expected to fail which will be handled in different PR https://github.com/owncloud/web/blob/67458fceb836429e9f2091b65d25ef42664064db/tests/acceptance/expected-failures-with-ocis-server-ocis-storage.md?plain=1#L161

[2022-07-06 11:12] #1277 closed

[2022-07-06 16:43] TroyWilson1 opened #4119 "Unable to add files: Resource not found We went looking everywhere, but were unable to find the selected resource."
## Describe the bug
After launching the server from a docker image no errors are reported and the login page is properly displayed with https certs working as expected. After typing the username and password a one line error shows up on the server.
[code]
Login is successful but no files are displayed with error "Resource not found We went looking everywhere, but were unable to find the selected r

[2022-07-06 17:07] dschmidt opened #4120 "Auth popup when opening a file in a password protected public link in external/wopiserver apps"
## Describe the bug

Trying to open a file in a password protected public link via wopiserver shows an auth popup in the browser (i.e. a www-authenticate header is sent by the server).

Here's an example request:
[code]

`  -H 'public-token: SZvyZCAdFVbEjOa' \` is obviously the public link token

`  -H 'authorization: Basic cHVibGljOnRlc3Q=' \`

The password we send is `base64('public:test')` wher

[2022-07-07 05:48] phil-davis opened #4122 "[parallel-deployment] Cannot PROPFIND file information (using ocis selector)"
## Describe the bug
PR #4115 pulls in updated code from reva edge branch. This scenario starts failing with that updated reva code:
https://drone.owncloud.com/owncloud/ocis/13143/75/14
[code]
That failed again the same after I restarted.

[code]

## Steps to reproduce

Run CI parallel-deployment test scenarios.

## Expected behavior
Pass

## Actual behavior
A file was uploaded to oC10. A PROPFIND

[2022-07-07 06:01] grgprarup opened #4123 "use official S3 cache plugin in drone instead of meltwater/drone-cache:v1"
- [ ] Use official S3 cache plugin image `plugins/s3-cache:1` for cache instead of `meltwater/drone-cache:v1` image
- [ ] Refactor the steps settings configuration as per the S3 cache plugin

Do same as web  https://github.com/owncloud/web/pull/7209

[2022-07-07 06:17] dorianim commented on #2920
Still not solved ...

[2022-07-07 07:07] micbar commented on #2920
@pmaier1 JFYI

[2022-07-07 07:25] kiranparajuli589 commented on #4091
the #3988 discussion concludes:

so to cope with this, do we introduce some static wait inside the tests?
cc @individual-it @phil-davis  @SwikritiT

[2022-07-07 07:38] individual-it commented on #4091
static wait :scream:
just a loop should do, similar to https://github.com/owncloud/core/pull/40180

[2022-07-07 07:39] phil-davis commented on #4091
hmmm - I thought that we did something about this some time recently to help make the tests more reliable. But maybe we didn't? I will have a look...

[2022-07-07 08:25] SwikritiT opened #4127 "Space Admin still has access to the project despite being removed from it"
I had a little query about project spaces. Consider the following scenario:
1. Admin adds Einstein as space admin
2. Einstein creates a space project team1
3. Einstein creates a folder test
4. Add user Moss to project team1 with role manager
5. Einstein removes himself from the space
6. Einstein still has access to the space in the sense that he can rename, delete, restore and share the folder `te

[2022-07-07 09:00] mmattel opened #4128 "adoc table generator misses to export go slice []string for types"
We have done some improvements to the adoc table generator for the documentation, but one item does not get exported. This is when it comes to exporting the type in particular `[]string`. You can see that nothing gets exported when looking into [thumbnails_configvars.adoc](https://raw.githubusercontent.com/owncloud/ocis/docs/services/_includes/adoc/thumbnails_configvars.adoc) at field `THUMBNAILS_

[2022-07-07 09:12] ScharfViktor commented on #4087
@SagarGi we can only implement moving inside one project space because we prevented moving here: https://github.com/cs3org/reva/pull/3035

[2022-07-07 09:14] dragonchaser commented on #4128
Since this is working as expected in `https://github.com/owncloud/ocis/blob/master/docs/helpers/environment-variable-docs-generator.go.tmpl` I would assume this is a bug in `https://github.com/owncloud/ocis/blob/master/docs/helpers/adoc-generator.go.tmpl`

[2022-07-07 09:19] pmaier1 commented on #3917
While important, this is not in scope of GA. We'll put it on the roadmap afterwards.

[2022-07-07 09:20] pmaier1 commented on #3645
After GA.

[2022-07-07 09:42] individual-it commented on #4091
@kiranparajuli589 I think we need an other wait here, I don't think we will see a 425 when checking the etag of a parent folder. I think we need an other waiting thing when comparing the etags

[2022-07-07 09:52] phil-davis commented on #4087
I guess that we can have a scenario that attempts to move between 2 spaces, and expects some HTTP 4xx status, and checks that the original resource remains in its original place. That will prevent accidental regressions of the current behavior.

[2022-07-07 10:12] rhafer commented on #2967
Even that proves to be tricky.
- In ocis (the "resource-server" in oidc/oauth terms) we only ever get to see the access_token. The id_token is kept by the client (web, desktop, ...)
- The access_token is used to query the userinfo from the idp (the userinfo doesn't contain any `aud`/`scope` claims obviously)
- The access_token itself is defined to be opaque. So there is not guarantee that we can e

[2022-07-07 10:26] ScharfViktor commented on #4087
Yes, you're right. I misspoke.

[2022-07-07 10:27] saw-jan opened #4130 "`carddav` and `caldav` endpoints do not work"
## Describe the bug
I want to create a calendar using API like in oc10.

**Qs: Are carddav and caldav endpoints implemented? If not will they?**

## Steps to reproduce
1. Try to create a calendar
[code]
[code]

## Expected behavior
to create a new calendar

## Actual behavior
responses `404` with `File not found in root` message

## Setup
oCIS: master build: `b4a930dd4`

[2022-07-07 14:48] rhafer commented on #2967
I've added https://github.com/owncloud/ocis/pull/4135 as an initial attempt to fix the access_token verification. (We still need to figure out if and how we want to uses any claims for additional authorization checks)

[2022-07-07 15:40] #3023 closed

[2022-07-07 15:58] C0rby commented on #4078
Just some notes because I can't work on this for the next two weeks.

So the issue is here: https://github.com/cs3org/reva/blob/0b65112600ccfd07504c8927d96c7a1e9ac85e7b/pkg/utils/ldap/identity.go#L534

We aren't escaping the memberName correctly which results in this error when parsing the filter:
`LDAP Result Code 201 "Filter Compile Error": ldap: invalid characters for escape in filter: encoding

[2022-07-07 17:11] micbar commented on #4130
@saw-jan @phil-davis this is not implemented. We should skip all the calDAV and CardDAV tests. There is no point in running these tests in CI.

[2022-07-07 17:12] micbar commented on #4087
The return status will be `502 Bad Gateway` according to WebDAV spec. This fix is already in reva.

@butonic already updated in ocis master?

[2022-07-08 03:34] individual-it commented on #3938
The question is what we really want to achieve? For me it would be interesting to know what tests are flaky, for that it would be good to know:
1. which tests failed on merge (because that should not happen as they already ran in the PR)
2. which tests failed in nightlies
3. which tests failed and passed on retry (in normal PRs I would not collect data of tests that failed because we don't know if

[2022-07-08 03:57] SwikritiT commented on #4091
new failure in: https://drone.owncloud.com/owncloud/ocis/13192/47/6
[code]

[2022-07-08 06:47] wkloucek commented on #2967
@rhafer In Keycloak one could configure following mapper:
![image](https://user-images.githubusercontent.com/34452982/177932939-f939e465-0805-408e-9dba-021ce0f0039a.png)

Then you would have the `ocis-backend` in aud in the access-token:

[code]

[2022-07-08 06:58] SwikritiT commented on #2260
Resharing is now available in ocis and it can be configured in UI through variable `FRONTEND_ENABLE_RESHARING: "true"`. Depending on if this variable is set or not the `share` permission is available in UI so closing. There will be a follow-up PR to remove the linked tests from expected failure.

[2022-07-08 06:58] #2260 closed

[2022-07-08 07:43] wkloucek opened #4141 "ownCloudSQL sharing driver auto accepts shares"
## Describe the bug
The ownCloudSQL sharing driver auto accepts shares.

## Steps to reproduce

Use the parallel deployment. Share from oCIS to oC10 and the other way round. Also share from oC10 to oC10 and oCIS to oCIS.

## Expected behavior
The sharing is consistent across the backends (and configurable like in oC10).

## Actual behavior
Depending on the backend, shares are auto accepted or not.

[2022-07-08 07:55] SwikritiT commented on #2260
Follow-up PR here: https://github.com/owncloud/web/pull/7246

[2022-07-08 07:56] SwikritiT commented on #1277
follow up PR for expected to fail here https://github.com/owncloud/web/pull/7246

[2022-07-08 08:02] phil-davis commented on #4141
Note: for automated testing we need to make sure to run all parallel-deployment tests with auto-accept off on oC10 (to match the way oCIS is started). I know there are various test scenarios that have enable auto-accept on-the-fly (which can be done on oC10 without completely restarting the whole system-under-test). But having that mismatch between the behavior on oC10 and on oCIS will be very con

[2022-07-08 09:04] SwikritiT commented on #4034
A lot of tests linked with this issue which needs follow-up so re-opening
https://github.com/owncloud/ocis/blob/50cb1912103d1a9d0db2ef4197bcef52855e0a20/tests/acceptance/expected-failures-API-on-OCIS-storage.md?plain=1#L945-L960

TODO QA Team:
- [ ] Follow up on why the tests are still failing
- [ ] adjust tests if necessary or create new issue if there's a new one

[2022-07-08 09:08] SwikritiT commented on #4017
Still some tests linked to expected to fail needs investigation on why it's still failing
https://github.com/owncloud/ocis/blob/50cb1912103d1a9d0db2ef4197bcef52855e0a20/tests/acceptance/expected-failures-API-on-OCIS-storage.md?plain=1#L967-L970

TODO QA Team:
- [ ] Follow up on why the tests are still failing
- [ ] adjust tests if necessary or create new issue if there's a new one

[2022-07-08 10:49] #4128 closed

[2022-07-08 12:13] labkode commented on #3574
@dragotin any update on the implementation?

[2022-07-08 12:46] mmattel opened #4147 "Missing descriptions for new environment variables"
New env's have been added since yesterday, but the description was not filled in 😢

`FRONTEND_DATA_GATEWAY_PREFIX`
`IDP_TRANSPORT_TLS_CERT`
`IDP_TRANSPORT_TLS_KEY`
`IDP_TLS`
`OCDAV_INSECURE`
`PROXY_TRANSPORT_TLS_CERT`
`PROXY_TRANSPORT_TLS_KEY`
`PROXY_TLS`

[2022-07-08 19:48] rtest12 opened #4150 "Lacks some features in conjunction with OIDC. (And not only)."
There is no way to manage users, created through OIDC.
At the moment, I don't see any other user accounts in the menu at all. I would like to be able to see how much space each user occupies, and the ability to clear account data if it necessary. In keycloak, you can only create and change registration data, you can delete the registration, but you cannot, for example, delete the account itself wi

[2022-07-09 08:50] mmattel commented on #3917
Referencing https://github.com/owncloud/ocis/pull/4133 (fix OCIS_RUN_SERVICES)
This is a good example where an env gets "lost" as it has a global scope, popping up nowhere, if not covered by a automated collecting process embedded in the automated documentation process.

Changes found by chance... 🤦‍♂️

[2022-07-09 15:27] MarSan2021 opened #4151 "iOS App: Offline folders not working correctly"
The folder structure is not synced for Offline Mode.

Steps to reproduce:
* go online with the app
* mark a folder as "available offline", wait for the initial download to complete
* stop the app
* turn flight mode on and wlan off
* restart the app

now the following behaviour occurs:
* the folder is displayed in the section "Available Offline" but
* if you click the folder the following screen is

[2022-07-11 03:18] saw-jan commented on #4130
[QA] ToDo:
- [ ] do not run caldav and carddav tests in oCIS (tag them with `@notToImplementOnOCIS`)

[2022-07-11 03:58] SwikritiT opened #4153 "TUS uploads might lead to data-loss in sharing conditions"
Following scenario failed in nightly and needs further investigation https://drone.owncloud.com/owncloud/ocis/13277/49/6
[code]

[2022-07-11 04:08] SwikritiT commented on #4153
Tus upload related tests are failing in other merge PR as well seems like there's some problem
`apiWebdavUploadTUS/uploadToShare.feature:329` : https://drone.owncloud.com/owncloud/ocis/13254/49/6
[code]

[2022-07-11 04:10] SwikritiT commented on #4153
Fails here too : https://drone.owncloud.com/owncloud/ocis/13192/49/6

[2022-07-11 04:24] kiranparajuli589 opened #4154 "[qa-team] do not run tests including `/Shares` folder with spaces DAV version"
`/Shares` is not a folder anymore.

In Copy API tests we have tests for comparing etags of /Shares folder. While using `spaces` dav version, `/Shares` is no more a folder and we do not get any etag for it.

So the current personal space tests are now invalid and
- [x] should be removed from the `ownCloud/core` API tests https://github.com/owncloud/core/pull/40194
- [x] should be rewritten & placed

[2022-07-11 06:01] kiranparajuli589 commented on #4153
Failed here too: https://drone.owncloud.com/owncloud/ocis/13284/51/7

[2022-07-11 07:15] T0mWz opened #4161 "Using an external OIDC provider, add link to user profile in OCIS Account details"
When you make use of an external user provider / OIDC provider (for example Keycloak or Konnect), then a link to the external user provider in the user account details would be useful. This should then be a configurable option in OCIS & Web.

I have not yet a good description what makes it more clear for a user on the `<ocis domain>/account` page, but a first impulse;
`You cannot edit your account

[2022-07-11 07:19] SagarGi commented on #4087
TODO QA Team:
- [ ] Implement `COPY` request between spaces
- [ ] implement `MOVE` request between spaces

[2022-07-11 07:19] T0mWz opened #4162 "Hide `New Spaces` button when user doesn't have the right privileges"
## Describe the bug
When a user now tries to create a Space, but doesn't have the right privileges to do this, then you get a error `Creating space failed…`.

## Steps to reproduce

Steps to reproduce the behavior:

1. Login as a normal user
2. Try to create a space

## Expected behavior
Button should be not visible.

## Actual behavior
Error shows up with `Creating space failed…`

## Setup

<deta

[2022-07-11 07:25] #4162 closed

[2022-07-11 07:41] T0mWz opened #4164 "Extend DrawIO option to configure an external DrawIO server"
When you running a DrawIO server on premise, then you should nice if you can configure that backend in the DrawIO integration.

[2022-07-11 07:49] wkloucek commented on #4164
@kulmann I'm moving this issue to Web since this is a Web only extension

[2022-07-11 07:50] wkloucek commented on #4161
@kulmann I'm moving this issue to Web since this is a UI topic mostly

[2022-07-11 07:57] pascalwengerter commented on #4151
@felix-schwarz @michaelstingl can you confirm/investigate whether this is a backend or a client-side bug (and move it to https://github.com/owncloud/ios-app if applicable)?

[2022-07-11 08:08] felix-schwarz commented on #4151
@pascalwengerter This appears to be a bug in the app.

[2022-07-11 08:15] #4147 closed

[2022-07-11 08:27] wkloucek commented on #1267
Discussion in REVA https://github.com/cs3org/reva/issues/2480

[2022-07-11 08:58] pascalwengerter commented on #4130
I think semantically it should "only" be `skipOnOCIS` since we eventually want to add those APIs AFAIK

[2022-07-11 09:03] phil-davis commented on #4130
In core I see that there are already tags like `@caldav` and `@carddav`.
IMO the way-to-go is to explicitly skip those tags in oCIS and reva CI.
Then it is simple to remove the skipping when someone is doing a PR to implement those things.

[2022-07-11 09:05] pascalwengerter commented on #4153
Failed here too: https://drone.owncloud.com/owncloud/ocis/13309/50/7

[2022-07-11 10:12] #4059 closed

[2022-07-11 10:31] SwikritiT commented on #4153
Failed here too: https://drone.owncloud.com/owncloud/ocis/13320/50/6

[2022-07-11 12:28] SwikritiT commented on #4153
The test fails for me locally every time in spaces because in this step
[code]
the overwriting content is uploaded to `Shares/...` but there's no `Shares` in spaces and  the tests use `personal id` for every spaces related operation as of now, which is also not correct. The assertion fails in the then step
`And the content of file "/FOLDER/textfile.txt" for user "Alice" should be "overwritten cont

[2022-07-11 12:35] individual-it commented on #4153
I'm surprised that worked ever, tests that use sharing and spaces should not be in core but in ocis repo and work with the share space. So same as #4154

[2022-07-11 13:11] SwikritiT commented on #4153
The related tests for spaces are in the expected to fail file but the tests are doing what they are supposed to do so idk how revelent it is to put them in expected to fail https://github.com/owncloud/ocis/blob/f73236289f4dfd51a14aebd9c053d2e50ec63215/tests/acceptance/expected-failures-API-on-OCIS-storage.md?plain=1#L1044-L1055

The test is failing in `new` dav as well which I cannot reproduce loc

[2022-07-11 13:19] exalate-issue-sync[bot] opened #4167 "Extense cdperf tooling to allow parametrized starting of the ramp up tests"
this is about extending the cdperf tooling

Task
[ ] create a framework for cdperf ramp-up tests allowing picking from different user personas
[ ] create a bash script to start cdperf parameters

Acceptance criteria
[ ] start cdperf and parse parameters specifing the persona and amount of personas the tests utilize
[ ] create an empty dummy persona (just doing propfinds)

[2022-07-11 13:44] dragonchaser commented on #3617
This is IMHO a massive security issue. We should not have any default values in prod systems (and not be able to create these).
I suggest closing this. If a user needs demo users for testing, they should be created manually.

[2022-07-11 14:33] rhafer commented on #2967
Yes. I guess the main question is how far we want to go here.  And what requirements we have want to impose on the (external) IDPs. The original goal was to ["verify the token audience`](https://github.com/owncloud/ocis/issues/2967#issuecomment-1167224901)

Which again raised a couple of open questions:

* The audience of which token? (The ID token usually has a different audience than the Access

[2022-07-11 14:34] mmattel commented on #3617
ATM we actually have in the documentation the task to set the demo user env on first startup including that you need to resetup the system if you have forgotten to set but wanted it and a description how to post delete the demo users if set on first startup. I am fine with closing.

[2022-07-11 20:44] JanAckermann commented on #4027
any update on this?

[2022-07-12 00:21] cakiwi opened #4169 "No InfiniteScroll/Pagination on user-management pages users/groups"
## Describe the bug

When number of entries is longer than the window can display no scroll or pagination occurs.

## Steps to reproduce

Steps to reproduce the behavior:

1. Create a lot of users.
2. Create a lot of groups.

## Expected behavior
Scrolling or pagination should occur to view all users.

## Actual behavior
Only the usernames on the 'current page' are visible. Zooming browser window

[2022-07-12 00:22] cakiwi commented on #4169
![image](https://user-images.githubusercontent.com/16489927/178380375-813aa325-21ef-4797-9ecc-470be5170aca.png)

[2022-07-12 06:14] #3617 closed

[2022-07-12 06:53] kiranparajuli589 opened #4173 "[qa-team] irrelevant log in the localAPITests afterScenario"
See the localAPITests builds, the run is totally polluted with:
[code]
The error seems not relevant and only makes the build log dirty.

Example build link: https://drone.owncloud.com/owncloud/ocis/13347/40/8

[2022-07-12 07:23] saw-jan commented on #4035
This issue happens to be a false alarm.
The main issue was #4141

Closing here!

[2022-07-12 07:23] #4035 closed

[2022-07-12 07:33] micbar commented on #4173
I think we are failing to delete the spaces.

[2022-07-12 07:38] butonic commented on #4153
ocis does show accepted shares in `/webdav/Shares` and `/dav/files/{username}/Shares` but accessing it like that is suboptimal. `/dav/spaces/a0ca6a90-a365-4782-871e-d44447bbc668` is the direct share jail webdav path ...

[2022-07-12 07:39] pascalwengerter commented on #4169
Lovely, good find. Moving to the `web` repo where this needs to be resolved in the user management app :)

[2022-07-12 07:39] individual-it commented on #4153
@butonic with "suboptimal" you mean slow but still should work?

Tests using the share jail should be placed in ocis repo

[2022-07-12 07:40] butonic commented on #4153
correct, slow, but should work

[2022-07-12 08:17] ScharfViktor opened #4175 "Server errors when updating the token"
ownCloud Web UI 5.7.0-rc.4
ocis local

Precondition: Change the refresh time of the token to 2 min. [/ocis/services/idp/pkg/config/defaults/defaultconfig.go](https://github.com/owncloud/ocis/blob/master/services/idp/pkg/config/defaults/defaultconfig.go#L65)

Steps:
- Open client
- Wait to updating token: request POST `https://localhost:9200/konnect/v1/token`
- See ocis log

Actual:
<img width="929

[2022-07-12 08:26] kiranparajuli589 commented on #4153
failed on `tests/acceptance/features/apiWebdavUploadTUS/uploadFile.feature:172` but with same error
https://drone.owncloud.com/owncloud/ocis/13350/51/8

[2022-07-12 09:12] saw-jan opened #4176 "[parallel-deployment] PROPFIND to webdav paths returns resource not found responses (using oCIS selector)"
## Describe the bug

## Steps to reproduce
1. PROPFIND request web root webdav path (using `ocis` selector)
[code]

## Expected behavior
to return with xml response (like with `oc10` selector)
[code]

## Actual behavior
return `Resouce not found` response
[code]

## Setup
`oc10-ocis` parallel deployment
STORAGE_USERS_DRIVER: `owncloudsql`
SHARING_USER_DRIVER: `owncloudsql`

[2022-07-12 09:44] butonic commented on #97
I'll close this as we have done extensive renaming already. We should track the `_file` case in a new issue.

[2022-07-12 09:44] #97 closed

[2022-07-12 09:45] butonic opened #4177 "align tracing nameis with OTLP recommendations"
We should align the names of logged / traced properties with https://opentelemetry.io/docs/reference/specification/trace/semantic_conventions/

[2022-07-12 09:47] butonic opened #4178 "clarify env var names for config files and dirs"
From https://github.com/owncloud/ocis/issues/97#issuecomment-908197309

[2022-07-12 10:19] rhafer commented on #4175
After re-running this with latest web (rc5), we're not really able to reproduce this. However:

The `2022-07-12T11:46:07+02:00 ERR Failed to get userinfo error="401 Unauthorized: " service=proxy` message a very likely cause by a client trying to use an expired token. The message does not really indicate a server error. They don't seem to happen with latest master. Could have been some old browser

[2022-07-12 12:04] micbar opened #4181 "Release 2.0.0-beta.5"
## Tasks
## PRs which need to be merged
<details>
  <summary>Click to expand</summary>

</details>

## Release Process
- [x] [Bump web to web v5.7.0-rc.5](https://github.com/owncloud/ocis/pull/4166)  @pascalwengerter
- [ ] Brief marketing heads up @micbar
- [ ] Release Reva
- [ ] Update Reva to `v2.7.0`
   - [ ]
- [ ] Create branch `release-2.0.0-beta.5` -> CODEFREEZE @micbar
  - [ ]  bump ocis ve

[2022-07-12 13:15] rhafer commented on #3841
addressed in https://github.com/owncloud/ocis/pull/4135

[2022-07-12 13:16] pmaier1 commented on #4167
Agreed. As discussed, relevant for GA.

[2022-07-12 13:59] michl19 commented on #3913
needs communication with @C0rby and @kulmann to proceed

[2022-07-12 14:34] ScharfViktor opened #4182 ""Failed to send a message" error when sharing the resource"
ocis local or docker
v 2.0.0-beta4

Steps:

- admin creates folder and shares to marie

Actual: error message in ocis log: `2022-07-12T16:25:01+02:00 ERR failed to send a message error="could not send mail: dial tcp 127.0.0.1:1025: connect: connection refused" event=ShareCreated service=notifications`

[2022-07-13 04:16] saw-jan opened #4183 "[parallel-deployment] Cannot restore trash-bin file (using oCIS selector)"
## Describe the bug
Trying to restore delete file return `500 Inrenal Server Error`

## Steps to reproduce

Steps to reproduce the behavior:

1. PUT a file `test.txt` and DELETE it
[code]
[code]
3. Get the file id
[code]
4. Try to restore the deleted file
[code]

## Expected behavior
to get `201 Created` response (like with oC10)

## Actual behavior
responses with `500 Internal Server Error`
[code

[2022-07-13 05:14] saw-jan opened #4184 "[parallel-deployment] Deleting shares returns 998 error but the share is deleted (using oCIS selector)"
## Describe the bug
Deleting a share using `ocis` selector returns `998 error` but the share is deleted.

## Steps to reproduce

1. Create a user share
[code]
2. Delete the share:
[code]
[code]
3. list shares
[code]

## Expected behavior
to get `204` response code

## Actual behavior
return `200` http response with `998` ocs error
[code]

## Setup
`oc10-ocis` parallel deployment
STORAGE_USERS_DRIV

[2022-07-13 05:41] wkloucek commented on #4182
we should change the default of `NOTIFICATIONS_EVENTS_ENDPOINT` to "" (the empty string) and adapt the logic of the notifications service to handle the empty string by not doing anything. Currently it tries to send emails on 127.0.0.1:1025 and in many cases there isn't a smtp server listening.

[2022-07-13 05:42] wkloucek commented on #4182
We also could decide to not start the notifications service in the supervised / runtime mode (`ocis server`) like we do with the audit service. One would then need to start it separately or via the `OCIS_RUN_SERVICES` env variable.

[2022-07-13 05:45] wkloucek commented on #4178
are there examples? @pascalwengerter

[2022-07-13 06:07] pascalwengerter commented on #4178
IIRC web config or web theme had/have the possibility to provide either a local file or a URL. I'll check and get back to you later

[2022-07-13 06:18] saw-jan opened #4186 "[parallel-deployment] LOCK and UNLOCK return not implemented response (using oCIS selector)"
## Describe the bug
Trying to `LOCK`/`UNLOCK` folder/file returns `500 Error` with not implemented response

## Steps to reproduce

1. LOCK a folder
[code]
[code]

## Expected behavior
to lock/unlock the file or folder (like with oc10 selector)

## Actual behavior
returns `500 Internal Server Error`
[code]

## Setup
`oc10-ocis` parallel deployment
STORAGE_USERS_DRIVER: `owncloudsql`
SHARING_USER_D

[2022-07-13 06:38] saw-jan opened #4187 "[parallel-deployment] Webdav request has Etag Header value without quotes (using oCIS selector)"
## Describe the bug
MOVE a file has Etag header value without quotes in the response.
**Q: Is it okay to have value without quotes?**

## Steps to reproduce

1. MOVE a file
[code]
2. PUT a file
[code]
[code]

## Expected behavior
to have etag value within quotes
[code]

## Actual behavior
etag has value without quotes
[code]

### Setup

`oc10-ocis` parallel deployment
STORAGE_USERS_DRIVER: `ownclo

[2022-07-13 06:59] SagarGi opened #4188 "Depth `infinity` not supported for space `Shares Jail`"
### Description

Previously the `PROPFIND` request to `Shares Jail` used to support depth `infinity` but the latest does not support it. Need a confirmation if it is changed.

### Steps to reproduce
1. create user `Alice` and `Brian`
2. brian creates `testshare` folder
3. brian uploads `hello.txt` inside `testshare`
4. brian shares it with alice
5. alice accepts the request

Curl command for `PROP

[2022-07-13 07:27] pascalwengerter commented on #4178
Okay checked and we have
- `WEB_UI_CONFIG` (which expects a path to a file?)
- Then there's mentions of `WEB_UI_CONFIG_SERVER`, not sure if it's still relevant
- `WEB_UI_PATH`
- `WEB_UI_THEME_SERVER`
- `WEB_UI_THEME_PATH`

No mentions of `_FILE` there, but then we have stuff like `WEB_LOG_FILE` which also expects (?) a path to a file?

[2022-07-13 07:45] rhafer commented on #4078
Fix has been merged into ocis with: #4132

[2022-07-13 07:52] wkloucek commented on #4178
`WEB_UI_CONFIG` and `WEB_UI_PATH` are valid examples. The can both point to a Web's `config.json` file. I don't now why there are two options, but one serves the file as it is (without any json parsing involved) and the other one does json parsing and then serves it.

In my opinion we should remove both since we can also configure most (don't now if it's everything) via the oCIS Web service config

[2022-07-13 09:09] rhafer commented on #4078
Actually it still doesn't fully work. :sob: let's reopen...

[2022-07-13 09:11] saw-jan opened #4190 "[parallel-deployment] REPORT method not allowed in old webdav endpoints (using oCIS selector)"
## Describe the bug
REPORT request to old webdav returns `405 Method Not Allowed`

## Steps to reproduce
1. REPORT request to webdav root path
[code]
## Expected behavior
to return `207 Multi-Status` response (like with oc10 selector)

## Actual behavior
returns `405 Method Not Allowed` response

## Setup

`oc10-ocis` parallel deployment
STORAGE_USERS_DRIVER: `owncloudsql`
SHARING_USER_DRIVER: `ow

[2022-07-13 09:19] saw-jan opened #4191 "[parallel-deployment] REPORT doesn't list files/folders uploaded using oc10 (using oCIS selector)"
## Describe the bug

## Steps to reproduce

1. Upload a file using `oc10` selector
[code]
2. Search files with pattern (REPORT)
[code]

## Expected behavior
to list `test.txt` file in the response (like with oc10 selector)
[code]

## Actual behavior
files list is empty
[code]

## Setup

`oc10-ocis` parallel deployment
STORAGE_USERS_DRIVER: `owncloudsql`
SHARING_USER_DRIVER: `owncloudsql`

[2022-07-13 10:34] SagarGi opened #4192 "User can move a file from a shared folder with role `editor` to shared folder with role `viewer` in `Shares Jail`"
### Description
While moving a file from one share folder where permission is `editor` to another share folder where permission is set to `viewer`,  A user should to forbidden to move or create any file to the share folder where permission is `viewer`

### Steps to Reproduce
1. Create a user `einstein`
2. Create a user `marie`
3. `marie` creates folder `tshare1`
4. . `marie` uploads a file `tshare

[2022-07-13 10:46] #4173 closed

[2022-07-13 11:58] SwikritiT commented on #4153
I could reproduce the issue locally by running the curl commands involved in the tests in the loop. And seems like the overwritten content uploaded by the share receiver is not accessible by the sharer.
1. Einstein creates a TUS resource
[code]
2. Einstein uploads content to the resource through tus protocol
[code]
3. Einstein shares the resource with `Moss`
[code]
4. Moss accepts the request
[cod

[2022-07-13 12:05] wkloucek commented on #4181
# Compatibility test
from 2.0.0-beta.4 to beta4 (use ocis:latest@sha256:03cddb3b0479a1536ca62238064b9d5f2ed35b6302aeea87c54a91a9c7004cb2)

## Create these with the original oCIS version and see if still the same after upgrading:
- shares
  - [ ] public share
  - [ ] share with user as role editor
  - [ ] share with user as role viewer
- settings
  - [ ] language settings
- files
  - [ ] uploaded f

[2022-07-13 12:26] ScharfViktor commented on #4181
upgrade test between [2.0.0-beta.4](https://hub.docker.com/layers/ocis/owncloud/ocis/2.0.0-beta.4/images/sha256-dd3e8e792709bee76170ff6e4793d5243ae6790e64657179819f773446f22819?context=explore) and ocis latest [latest](https://hub.docker.com/layers/ocis/owncloud/ocis/latest/images/sha256-bbf909bbc42fc6a4d3ba9fd1ea4f6baa6b65ab34aa0de77ab7d14dddb41e903a?context=explore)

no shares no public links af

[2022-07-13 13:30] ScharfViktor opened #4194 "Admin cannot get and delete another user's space"
After deleting a user, the user's personal and project spaces still exist.
Of course the user can delete all his data before leaving the company (for example).

But what to do with the data when the user is deleted?
here is two way:
- automatically delete all data during the deletion of a user
- admin should be able to delete user's data and for this we should fix:

GET personal and project space

[2022-07-13 13:48] pmaier1 commented on #4194
I think the behavior is as designed. Admins should not be able to access/delete personal spaces. Instead, deleting a user should also delete their personal space. For project spaces we still need a permission that can be assigned to an administrative role to allow certain people to manage e.g., orphaned spaces.

[2022-07-13 13:50] rhafer commented on #3631
Even if not really a duplicate. The route cause of this is basically the same as for: https://github.com/owncloud/ocis/issues/4078

[2022-07-13 14:53] ScharfViktor opened #4195 "Deleting a user doesn't delete their personal space"
ocis 2.0.0-beta.5 local

Steps:
- user Katherine uploads file and creates folder to personal space
- admin deletes user Katherine
- admin get all spaces: `curl -vk 'https://localhost:9200/graph/v1.0/drives' -u admin:admin -vk`

Expected: space with "driveAlias": "personal/katherine" doesn't exist
make sure that no data in: `tree -a /.ocis/storage/users/spaces/katherineSpaceId/`

Actual: space with

[2022-07-13 15:03] ScharfViktor opened #4196 "Admin need permission to delete orphaned project spaces"
2.0.0-beta.5

Steps:

- user Katherine creates project space (without manager members)
- admin deletes Katherine

Expected: admin must be able to manage the space. Share space between users or delete space
Actual: admin cannot manage orphaned project spaces

[2022-07-13 15:08] #4194 closed

[2022-07-13 15:28] micbar commented on #4178
not in GA scope.

[2022-07-13 15:44] micbar commented on #4150
This use case (ocis.ocis-keycloak.latest.owncloud.works) works with autoprovisioning.
We will create all users on the fly which are created in the IdP. They currently all get the "user" role assigned when logging in for the first time.

The Admin User (with the admin role in ocis) can only see the users in the ocis user management after they have logged in at least once. After that, he/she can cha

[2022-07-13 15:44] micbar commented on #4175
closing, not reproducable with latest ocis

[2022-07-13 15:45] #4175 closed

[2022-07-13 15:46] micbar commented on #4141
according to PM this is ok for GA

[2022-07-13 15:47] micbar commented on #4130
Solution: skip all CalDAV and CardDAV tests for now.

[2022-07-13 15:48] micbar commented on #4122
Not needed for GA

[2022-07-13 15:52] micbar commented on #4119
Seems like a configuration error. In our deployment examples ocis works fine with real SSL certificates. This needs debugging.

Do you have a `/store` folder on your system?
It seems that ocis fails to create a personal space.

But to understand that, we would need more server logs.

Happy to help!

[2022-07-13 15:56] micbar commented on #4105
This is ugly. We implemented a check when we remove a user from a space, but this is deleting a user. I think we cannot control "deleting" a user. assume that something goes wrong with a member of an organisation, you should always be able to delete a toxic user. So the solution would be to "recover orphaned spaces"

related to #4196

[2022-07-13 15:56] micbar commented on #4105
closing here in favour of #4196

[2022-07-13 15:56] #4105 closed

[2022-07-13 15:57] rhafer commented on #4195
AFAIR we decided (in some refinement) that deleting a user and deleting its files should be separate things? And deleting user should not automatically remove all the user's personal space.

IIRC  @butonic had a pretty strong opinion on that.

But yeah, either way. We need some way to delete a user's personal space.

[2022-07-13 15:58] micbar commented on #4104
This is possible currently "after" einstein has logged in at least once.

This could currently be fixed by not using autoprovisioning. You would need to have a Directory connected to Keycloak **and** Infinite Scale via LDAP.

[2022-07-13 16:04] #4114 closed

[2022-07-13 16:05] micbar commented on #4065
after GA

[2022-07-13 16:06] micbar commented on #3881
Is this done? Please update this ticket and close the duplicate.

[2022-07-13 16:11] micbar commented on #4009
@kulmann @fschade what impact does that have on the WebUI?

[2022-07-13 16:13] micbar commented on #3936
Needs investigation. The unlock should happen.

[2022-07-13 16:19] micbar commented on #3874
@SwikritiT @kulmann @fschade which impact does that have for the WebUI and the user? If none, please close.

[2022-07-13 16:20] micbar commented on #3872
@butonic @C0rby the old topic `404` vs `403` IMO `404` is the better solution

[2022-07-13 16:23] micbar commented on #3861
not so important before GA, other topics like backup and restore are more imporant

[2022-07-13 16:26] phil-davis commented on #3872
Yes, 404 helps prevent leaking the existence or non-existence of another user.

IMO we should fix the test suite to expect 404 for all these sort of cross-user request attempts.

And raise an issue in oC10 to adjust the oC10 responses from 403 to 404, to improve that in oC10 and make it consistent.

[2022-07-13 16:27] micbar commented on #3784
this should be fixed in 2.0.0-beta5

[2022-07-13 16:28] micbar commented on #3782
after GA issue

[2022-07-13 16:36] micbar commented on #3085
They can only be accessed via the WebDAV endpoint with the link token.

example URL

`https://ocis.ocis-traefik.latest.owncloud.works/remote.php/dav/public-files/BjNhZgrkZTWJHej`

[2022-07-13 16:47] micbar commented on #4104
@cakiwi sorry, you are correct. This bug is in 2.0.0-beta.4

It has already been fixed. Beta.5 will release the fixed version.

[2022-07-14 05:01] sushmita56 opened #4197 "`webUISharingInternalGroupsEdgeCases/shareWithGroupsEdgeCases.feature:41` is passing on ocis"
The scenario `webUISharingInternalGroupsEdgeCases/shareWithGroupsEdgeCases.feature:41` was expected to fail but is now passing on OCIS and is causing OCIS to fail in the [nightly build](https://drone.owncloud.com/owncloud/ocis/13427).

![Screenshot from 2022-07-14 10-07-14](https://user-images.githubusercontent.com/66173400/178898333-f54c5deb-6532-48f2-90a7-557ef496db3a.png)

![Screenshot from 202

[2022-07-14 06:29] SwikritiT commented on #3874
There are tests that are linked to this issue in expected to fail.
https://github.com/owncloud/ocis/blob/3f80c8831d187b0b2bdf6baedf61c64b12b0be4b/tests/acceptance/expected-failures-API-on-OCIS-storage.md?plain=1#L1347-L1354

If this won't have any impact on the user I can skip those tests for ocis and remove them from expected to fail

[2022-07-14 07:12] wkloucek commented on #3936
The unlock happens. But not as fast as the user opens again that file. And since the session is currently closing, you can't just resume the edit.

[2022-07-14 07:42] individual-it commented on #4153
@butonic @micbar what to do with these tests? Skip them till the bug is fixed?

[2022-07-14 07:45] individual-it commented on #4091
@kiranparajuli589 could you please provide some more details in here about what you have tried and what is the issue in your opinion

[2022-07-14 07:50] micbar commented on #4153
@butonic I really want to understand the underlying problem. Can you take a look?

[2022-07-14 07:58] SwikritiT commented on #4197
The passing test has been removed from expected to fail. So closing this issue

[2022-07-14 07:58] #4197 closed

[2022-07-14 08:32] individual-it commented on #4091
@butonic it looks to me that the async etag propagation is not really the issue, the etag of the parent does never update.

[2022-07-14 09:21] micbar commented on #2249
@kiranparajuli589 This test case is invalid for ocis. We need to skip on ocis

[2022-07-14 09:24] rhafer commented on #4039
Partial fix: https://github.com/libregraph/idm/pull/73 Note: with that neither of users sharing the same mail address, will be able to login. (Working on the ocis side fix now)

[2022-07-14 09:28] micbar commented on #1310
@individual-it @phil-davis This should not be part of the expected failures, as not in GA scope for oCIS

[2022-07-14 09:41] phil-davis commented on #1310
Note: expected-failures-webUI-on-OCIS-storage.md has
[code]

There are test steps like:
[code]

This issue is not mention in expected-failures for API tests.

Some tag needs to be added to those web test scenarios so that they get skipped (and can be unskipped some time in the future), or delete the scenarios???

[2022-07-14 09:41] micbar commented on #547
re tested:

Created User

Username: hans
Display Name: Peter Dampf
E-Mail: pd@example.com

We can find:

`hans`
`Peter`
`pd@`

We cannot find:

`Hans` (should not be case sensitive)
`ans`(middle of the username)
`Dampf` (End of the string Displayname)
 `example.com` (End of the email address)

## Expectation

at least
`Hans` (username search should not be case sensitive)
`Dampf` (End or middle of

[2022-07-14 09:51] micbar commented on #1328
Will be implemented on spaces, not per instance.

[2022-07-14 09:56] phil-davis commented on #1328
Then we should sort out skipping the related core API tests, and relevant oCIS-spaces-specific test scenarios can be added as the space settings options become available.

[2022-07-14 10:45] SagarGi commented on #4130
Skipped on OCIS with this https://github.com/owncloud/ocis/pull/4199 PR. Will be skipped on Reva during commit bumping

[2022-07-14 10:56] kiranparajuli589 commented on #2249
Yes, thx @micbar for the reminder. I'll look inside the acceptance tests and skip the tests related to this with oCIS backend.

[2022-07-14 11:12] kiranparajuli589 commented on #2249
Found only one scenario in the expected-failures list because of this issue at https://github.com/owncloud/ocis/blob/930ccbffb3e68887f1025663dbd7541a9f1f3175/tests/acceptance/expected-failures-webUI-on-OCIS-storage.md?plain=1#L34

The WebUI test is not valid for the ocis backend as the UI does not allow the resource to be named matching with any other existing resource (checked this with the lates

[2022-07-14 12:21] #4039 closed, assigned to rhafer

[2022-07-14 12:24] #4078 closed

[2022-07-14 12:28] rhafer commented on #3534
Duplicate of https://github.com/owncloud/ocis/issues/547

[2022-07-14 12:56] rhafer commented on #547
This is caused by a bug in idm. Fix is on its way.

This is currently not working "on purpose". At some point we agreed on limiting search to prefix searches. As doing full substring searches will get pretty expensive easily. We can of course change that (just need to adjust the filter https://github.com/cs3org/reva/blob/75f2c2f836578f8280749569f7f01a3e7d2b5939/pkg/utils/ldap/identity.go#L480).

@

[2022-07-14 13:05] rhafer commented on #547
This part should be fixed with  https://github.com/libregraph/idm/pull/75

[2022-07-14 13:08] #3534 closed

[2022-07-14 13:12] micbar commented on #547
That would be awesome, same for the character length.

[2022-07-14 14:21] butonic commented on #4153
👁️

[2022-07-14 14:36] kobergj commented on #3881
Done with https://github.com/cs3org/reva/pull/3023

[2022-07-14 14:36] kobergj commented on #4061
https://github.com/cs3org/reva/pull/3023

[2022-07-14 14:36] #4061 closed

[2022-07-14 16:20] butonic commented on #4153
ok so the testsuite uses the checksum ... the header for that is `OC-Checksum`, but it is only read when doing a PUT upload. for tus the header should be `Upload-Checksum: SHA1 fe990d2686a0fc86004efc31f5bf2475a45d4905`. I'll add that to my postman test, maybe that triggers something...

[2022-07-14 16:42] butonic commented on #4153
after adding the `Upload-Checksum: SHA1 fe990d2686a0fc86004efc31f5bf2475a45d4905` header the GET request fails .... pretty reliably ...
[code]

[2022-07-14 16:50] butonic commented on #4153
in the ocdav get.go we have:
[code]
when logging the error we have a maximally inconsistent state:
1. `info.Size` is `16`
2. `c` is `0` the received body is actually empty
3. `httpRes.Header.Get(net.HeaderContentLength)` is `19`

something to dig into tomorrow ... might be a race where the download / get happens tooo quickly.

[2022-07-14 16:58] butonic commented on #4153
wat ... it no longer happens 🤯

[2022-07-14 17:02] butonic commented on #4153
ah, the last PATCH request was taking 164ms which seems to have prevented the glitch. aftor wiping .ocis (to get rid of ocd shares, which currently slow down the system significantly) the request took 64ms and now I am in the error case again.

[2022-07-15 04:31] SwikritiT commented on #3881
There are still some tests that are linked to this issue in expected to fail so re-opening
https://github.com/owncloud/ocis/blob/99b1a401805ce39d7d065d006529104bf5337545/tests/acceptance/expected-failures-API-on-OCIS-storage.md?plain=1#L550-L555

[2022-07-15 05:32] SwikritiT commented on #3881
The tests are failing currently because OC10 and OCIS gives different ocs status code for this case
This is the response of `Ocis`
[code]

This is the response of the `OC10`

[code]

What should be the expected status code for this?

cc: @micbar @phil-davis @kobergj

[2022-07-15 05:59] phil-davis commented on #3881
All those "create/update a public link share" actions seem to return 404 "not found" in oC10 when the sharee does an action to a received shared resource that is not allowed (tries to create a public link share when they do not have reshare permission, tries to create a public link share with more permissions than they have, tries to update a public link share to give it more permissions...)

403

[2022-07-15 06:02] SwikritiT commented on #4153
I had a script to reproduce it but seems like you've done it already

[2022-07-15 07:21] SwikritiT commented on #3882
@C0rby Hi are you sure this is fixed the test still report that the status code is `400` locally and also fails on CI. gives me the same response through curl
https://drone.owncloud.com/owncloud/ocis/13478/41/7

[code]

[2022-07-15 08:11] micbar commented on #4181
# Smoke Test with Web Office

## Collabora

- [ ] Open File in Collabora
- [ ] Create File with Collabora
  - [ ] Create works
  - [ ] Just leaving the editor doesn't store the conten

## Onlyoffice

- [ ] Open File in Onlyoffice
- [ ] Create File with Onlyoffice

[2022-07-15 08:50] ScharfViktor commented on #4181
# K6 results on intel test machine
ocis - 2.0.0-beta.5 (using latest version)

## Overview

| Test                                       | 2.0.0-beta.5  | 2.0.0-beta.4  | 2.0.0-beta.3  | 2.0.0-beta2 | 2.0.0-beta1 | 1.20.0    | 1.19.0    | 1.18.0    | 1.17.0    | 1.16.0    | 1.15.0    | 1.14.0    | 1.13.0    | 1.12.0    | 1.11.0     | 1.10.0     | 1.9.0.     | 1.8.0      | 1.7.0      |
|-----------

[2022-07-15 09:06] SwikritiT commented on #4153
TODO QA team after this issue is fixed
- [ ]  allow the tests skipped in this PR https://github.com/owncloud/core/pull/40210

[2022-07-15 10:40] ScharfViktor opened #4210 "Search does not return search results for share jail"
[Release 2.0.0-beta.5](https://github.com/owncloud/ocis/issues/4181#)

Steps:

- marie creates folder "share to admin" and shares to admin
- admin accepts folder and tries to find it with a search

Expected: folder found

Actual: folder not found
![Screenshot 2022-07-15 at 12 35 58](https://user-images.githubusercontent.com/84779829/179207747-3c670780-9143-485e-8014-d1461b4540df.png)

[2022-07-15 10:41] ScharfViktor commented on #4181
Infinite Scale 2.0.0-beta.5

### Case 1: admin share folder(with file) to marie:

Admin:
- [x] upload big file 10gb (Show details, pause upload, resume upload work correct)
- [x] upload folder with 803 small images.
- [x] Check pagination, count items per page. Have a bug https://github.com/owncloud/web/issues/6768
- [x] upload folder(drag folder) "folder_to_share" with file.pdf
- [x] share folder

[2022-07-15 11:18] SagarGi commented on #4098
Tested locally and is passing. So closing this issuse.

[2022-07-15 11:18] #4098 closed

[2022-07-15 15:29] tbsbdr commented on #4114
userfacing crossstorage "move" should be possible - users won't distinguish between a crossstorage and non-crossstorage move I guess (they are used to easily move a file from HDD to a USB stick). The main problem is, that a cross storage move (copy & delete) can take a long time, right? If yes, I'd propose the following:

1.  inform the user, ask for confirmation beforehand: like:
    "Change who

[2022-07-15 18:57] pascalwengerter opened #4212 "Remove googlefonts in IDP UI"
## Steps to reproduce

Steps to reproduce the behavior:

1. Visit initial oCIS IDP login mask
2. See request to fonts.googleapis.com
3. Get concerned from a privacy standpoint

## Expected behavior
Embed the font similar to how it has been done in MSTeamsgen or replace it with a different one. Happens in https://github.com/owncloud/ocis/blob/56f8fc510f61e665dadc4bdcbff971cac7300131/services/idp/pu

[2022-07-15 18:58] pascalwengerter commented on #4212
Found out about this when having an abysmal wifi connection and trying to access my dev environment - it wouldn't load for an absurd amount of time while it was supposedly trying to download the font 🤷🏽

[2022-07-16 10:15] rtest12 commented on #4150
This is the standard oidc scheme, but it's a bit different. If oidc authorization is enabled, then there is no way to log in as a local administrator, there is an automatic redirect in the same place. It turns out that you must first enable oidc, log in, then disable oidc, then log in as a local administrator and make the created account also an administrator, then enable oidc again...

ok

It wou

[2022-07-18 03:35] SagarGi commented on #4087
Tried it and has been fixed. Response is `502` moving between cross-space. No data loss.

[2022-07-18 06:17] SwikritiT opened #4213 "apiMain/checksums.feature:13 failed in nightly in `old` dav with `502`"
Build: https://drone.owncloud.com/owncloud/ocis/13518/42/7
[code]

[2022-07-18 06:23] SwikritiT commented on #4153
Similar failure but not in sharing condition
Build: https://drone.owncloud.com/owncloud/ocis/13518/50/7

[code]

[2022-07-18 06:26] kiranparajuli589 commented on #4091
TODO:
- [ ] skip all the tests including the `etag` comparisons for when running with the oCIS backend.

[2022-07-18 07:12] kiranparajuli589 commented on #4213
oCIS server log during failure:
[code]

[2022-07-18 08:30] #4192 closed

[2022-07-18 08:34] SwikritiT commented on #1310
The related tests have been skipped in https://github.com/owncloud/web/pull/7282. The CI should fail in the next web id bump and it can be removed from ocis as well.

[2022-07-18 10:02] SagarGi commented on #4213
This scenario is passing locally running multiple times and is hard to reproduce. Its a server `502` error. Putting it to backlog for now can be brought to current sprint if reoccured.

[2022-07-18 10:26] #1310 closed

[2022-07-18 12:09] aduffeck commented on #3835
Hm, I wasn't able to reproduce the problem. Both 500MB and 1GB files upload fine to a local instance and also to ocis.owncloud.com for me, both using the web UI and the desktop client.

@gabi18 Can you maybe verify if this is still a problem?

[2022-07-18 13:21] michl19 commented on #562
Currently there is no way to deal with disabled users.
@pmaier1 FYI, may become a roadmap item when desired. #3521

[2022-07-18 13:21] #562 closed

[2022-07-18 13:24] michl19 commented on #3625
Downgrade "Moss" to space admin.

[2022-07-18 13:31] rwlove opened #4219 "1.7.0 Fails to Start "too many colons in address" when running in K8S Cluster"
## Describe the bug

OCIS fails to start when running in a K8S cluster.

## Steps to reproduce

https://github.com/k8s-at-home/charts/tree/master/charts/stable/owncloud-ocis

I'm using this fairly simple Helm chart that deploys OCIS 1.7.0 in a K8S cluster.

## Expected behavior

The container should not exit.

## Actual behavior

[code]

[2022-07-18 13:39] michl19 commented on #3595
Closed as completed.

[2022-07-18 13:39] #3595 closed

[2022-07-18 13:41] michl19 commented on #3784
Fixed by #4181

[2022-07-18 15:20] micbar commented on #4181
Closes #3784

[2022-07-19 05:08] SwikritiT commented on #1231
The response of OC10 and OCIS looks similar now but there are still tests linked to this issue in expected to fail

https://github.com/owncloud/ocis/blob/55cfcec98bcf1dffd700fb3968c458b2bf9c177d/tests/acceptance/expected-failures-API-on-OCIS-storage.md?plain=1#L467

https://github.com/owncloud/ocis/blob/55cfcec98bcf1dffd700fb3968c458b2bf9c177d/tests/acceptance/expected-failures-API-on-OCIS-storage

[2022-07-19 05:41] SagarGi commented on #4017
Tested it locally and seems like the issue is solved. But the test code need some adjustment for this

TODO QA:
- [ ] adjust code to make the test work with for search with limit

[2022-07-19 07:07] rhafer commented on #4150
Yeah currently we're lacking a good mechanism to initialize a users role from the claims that the IDP provides. As @micbar  already pointed out new users just get the "user" role assigned. There is no good way to make a new user an admin currently.

@rtest12 Are you using ocis with an external LDAP server? Or are you using the builtin idm? When using the internal one. You could just create a user

[2022-07-19 07:28] SwikritiT commented on #4034
The tests are still failing because the issue is not fixed for `spaces` PR https://github.com/owncloud/ocis/pull/4118 fixed it for `old` dav but for spaces the issue still exists. I have updated the description accordingly

[2022-07-19 07:37] micbar commented on #4181
# Smoke Test with Web Office

## Collabora

- [x] Spreadsheet
  - [x] Create
  - [x] open

- [x] Document
  - [x] Create
  - [x] open

- [x] Presentation
  - [x] Create
  - [x] open

## Onlyoffice

- [x] Spreadsheet
  - [x] Create
  - [x] open

- [x] Document
  - [x] Create
  - [x] open

- [x] Presentation
  - [x] Create
  - [x] open

## Observations

- Collabora went away in the middle of the tes

[2022-07-19 07:42] rhafer commented on #547
@micbar The API does not enforce any limit on the minimum (or maximum) length of the search phrase. Can you elaborate on what you are referring to?

[2022-07-19 07:44] micbar commented on #547
Currently the system starts searching for users after you enter 3 characters. This is fine as a default.

Some use cases and the test suite would like to use at least 2 chars to start the user enumeration. I would like to have that configurable. Is that possible?

[2022-07-19 07:51] phil-davis commented on #547
For example, oC10 has:
[code]

So the default on oC10 is to start searching for matches after 2 characters are typed in.

For test scenarios, it will be easier if we can get oCIS to start with this set to 2 characters (either change the oCIS default from 3 to 2, or have a way that we can configure that when we start oCIS in CI - I don't really care)

There are some scenarios that change the settin

[2022-07-19 08:01] micbar commented on #3784
According to our improvements regarding the release flow, this is a very good example where we need to write a new test to prevent further regressions.

@dragotin @ScharfViktor JFYI

[2022-07-19 08:30] dragonchaser opened #4224 "Redirect loop on missing extended attributes in the metadata storage"
## Describe the bug

After a badly time reboot (running ocis debug session), the extended attributes in the metadata-storage where gone (`~/.ocis/storage/metadata/spaces/re/dacted-uuid-49fc-8203-0558109d1b4f/nodes/re/da/ct/ed/-uuid-469c-b126-fee53edbd8ba`). When logging into the web interface it went into a redirect loop.

## Expected behavior
Login working properly.

## Actual behavior
WebUI went

[2022-07-19 08:57] pmaier1 commented on #547
Configurable would be great, default like oC10 (`2`)

[2022-07-19 09:40] michaelstingl commented on #3835
@TheOneRing please join forces with @aduffeck

[2022-07-19 10:06] kiranparajuli589 commented on #3881
blocked until https://github.com/owncloud/ocis/issues/3881#issuecomment-1185190175 is answered.

[2022-07-19 10:16] kiranparajuli589 commented on #4130
done with #4199

[2022-07-19 10:16] #4130 closed

[2022-07-19 10:20] ScharfViktor commented on #3784
Re-tested:
Actual result: admin can change his own role and after that he cannot manage users

@micbar what we expect? I thought we prohibit admit to edit own role https://github.com/owncloud/ocis/issues/3713#issuecomment-1167260076

[2022-07-19 10:42] micbar commented on #4034
@aduffeck can you check what is still missing?

[2022-07-19 10:44] micbar commented on #3881
4. IMO 403 makes the most sense here. Other then that, It is not needed to change oc10 (no end user value)

Can the testsuite accept `403` or `404`?

[2022-07-19 10:45] TheOneRing commented on #3835
I'll retest later today

[2022-07-19 10:52] micbar commented on #3835
I uploaded the linux kernel last week to ocis.ocis-traefik.latest.owncloud.works. with the Desktop 2.10.1

1.3 GB, ~70.000 Files

Worked flawlessly

[2022-07-19 10:55] phil-davis commented on #3881
Yes, we can make it do that. @SwikritiT please adjust the related tests so that they check that the staus is 403 or 404 - we don't really care which is returened by an implementation.

[2022-07-19 10:57] butonic commented on #4153
hm ... I cannot reproduce this ... this is my script:
[code]

AFAICT curl does not get a reply for the download request ... maybe the ci run still has an ocis error in the logs 👀

[2022-07-19 11:15] SwikritiT commented on #3881
Similar thing with HTTP status as well in `ocs API version-1` both servers reply with `200`
But in case of `ocs API version-2` OC10 replies with `404` and OCIS `400`

[2022-07-19 11:27] butonic commented on #3913
AFAICT the having the store implementation as a dedicated service was the wrong approach. we should be using the go micro store interface and implement a `getStore()` function in ocis-pkg, similar to the `ocis-pkg/registry` package, which we use to `getRegistry()`. We implemented the latter to evaluate `MICRO_REGISTRY` which can then be used to swap the default MDNS registry for eg `nats`, `kubern

[2022-07-19 11:30] SwikritiT commented on #3881
I've updated the tests to accept `404` or `403` in this PR https://github.com/owncloud/core/pull/40217
This will still fail in current ocis as, ocis returns with `400`.

[2022-07-19 13:13] micbar commented on #3881
@SwikritiT ok, we will fix ocis.

[2022-07-19 13:38] butonic commented on #4153
hm also cannot reproduce against /dav/spaces

[2022-07-19 13:42] butonic commented on #4153
latest failure in https://drone.owncloud.com/owncloud/ocis/13609/51/7, `apiWebdavUploadTUS/uploadToShare.feature:87`, which is the original:
[code]

[2022-07-19 13:45] #4153 closed

[2022-07-19 13:46] pmaier1 commented on #4181
https://github.com/owncloud/docs/pull/4760

[2022-07-19 13:59] ScharfViktor commented on #4181
re-tested smoke on release-2.0.0-beta.5 branch. looks good

[2022-07-19 14:09] micbar commented on #3630
@SwikritiT Thanks! It works nice.

There are still 3 pipelines which we could drop for the tagging. I added a screenshot.

![1658239579724](https://user-images.githubusercontent.com/4378513/179770993-55f3cc4f-7aa3-4add-adf2-60a9e7f9279e.png)

[2022-07-19 14:10] rwlove commented on #4219
ack, thx

Do you know if there's a working helm chart for oCIS 2.0.0-beta.4? I'm trying to get it to work, but it's complaining about missing configuration settings (env vars). I'm going one-by-one, but I'm not sure this is the best approach.

[2022-07-19 14:18] TheOneRing commented on #3835
Still the same

[code]

[2022-07-19 17:30] micbar commented on #4219
Closing here. Discussion about the charts is very welcome on https://talk.owncloud.com/channel/infinitescale

[2022-07-19 19:35] rtest12 commented on #4150
Great, it worked, that's enough for me, thanks

[2022-07-20 03:18] SwikritiT commented on #3630
I'll make a PR for it.

[2022-07-20 03:26] SwikritiT commented on #4153
I'll make a PR to unskip these tests

[2022-07-20 05:11] grgprarup commented on #3962
Retries for `yarn install` has been implemented in https://github.com/owncloud/ocis/pull/4223. I think we can close this issue.
@individual-it @kiranparajuli589

[2022-07-20 05:21] phil-davis commented on #3962
The related PR #4223 had to explicitly fetch the retry code from owncloud-ci/retry

I was a bit surprised that the docker image did not already have that. I raised issue https://github.com/owncloud-ci/retry/issues/7 - I will follow that up separately.

[2022-07-20 06:02] kiranparajuli589 commented on #3962
Caching **web**:
**owncloud/web** repo is cloned:
- during yarnCache
- every time for the UI-Test-Pipelines

We can cache the web and use it for building yarnCache and also use it inside the UI-Test-Pipelines as the test runner.

[2022-07-20 06:05] kiranparajuli589 commented on #3962
Should we also retry for the followings :thinking:
- [ ] make command in `makeNodeGenerate()`
- [ ]  make command in `makeGoGenerate()`
- [ ] make command in `build()`

cc @individual-it

[2022-07-20 06:32] micbar commented on #4150
good to know!

[2022-07-20 06:32] #4150 closed

[2022-07-20 06:35] dragonchaser commented on #3962
for `makeNodeGenerate()` and `makeGoGenerate()` would be aweseome

[2022-07-20 06:54] #3630 closed

[2022-07-20 08:24] #4017 closed

[2022-07-20 08:38] pmaier1 commented on #4212
@micbar @kulmann Why does LICO do this and can we get rid of it? Please schedule. GA blocker. cc @tbsbdr

[2022-07-20 09:19] micbar commented on #4212
I suppose it was brought in by us inside the owncloud branded login page.

[2022-07-20 09:21] mmattel commented on #3917
One more reference: https://github.com/owncloud/ocis/pull/4235 which uses OCIS_ADMIN_USER_ID. This env is curently used in IDM and SETTINGS but we are lacking a description about the env itself and the impact. Note the text in the PR saying: `In the .ldif file in this example, the admin user id is base64 encoded. You need to decode it to make it work.` Such info is necessary as part of the descrip

[2022-07-20 09:29] phil-davis commented on #1328
"Will be implemented on spaces, not per instance."

Closing this issue. As sharing settings/options are implemented in oCIS spaces, specific tests can be added along with each feature.

[2022-07-20 09:29] #1328 closed

[2022-07-21 03:45] SagarGi opened #4245 "apiWebdavMove2/moveShareOnOcis.feature test fails"
Build : https://drone.owncloud.com/owncloud/ocis/13692/49/7

[code]

The test for the move fails on the `old` webdav needs investigation on this.

[2022-07-21 04:15] SagarGi commented on #547
This PR got merged https://github.com/owncloud/ocis/pull/4229 fixing this issue and needs a follow up for the expected to failure.

https://github.com/owncloud/ocis/blob/176dd321b1f8b85a45440119541cc3be17fe0125/tests/acceptance/expected-failures-API-on-OCIS-storage.md?plain=1#L409-L421

TODO QA-team
- [ ] review tests linked to this issue
- [ ] remove them from expected to fail if they pass or cre

[2022-07-21 04:24] SwikritiT commented on #4245
Failed here too: https://drone.owncloud.com/owncloud/ocis/13664/51/7

[2022-07-21 06:48] SagarGi commented on #4091
@individual-it  Build: https://drone.owncloud.com/owncloud/ocis/13691/48/7 failed today. shall we do it as mentioned by @kiranparajuli589 ?

[2022-07-21 08:15] kiranparajuli589 commented on #4091
The falkyness is seen again, as discussed in this scrum handover, we should proceed with this. Assigning myself to it.

[2022-07-21 08:39] SwikritiT commented on #547
The tests are failing because they search for the `exact` match for a searched string but this field is always empty for `OCIS`
[code]

For instance if I create a multiple variations of user `einstein`  in `OC10` and search it with curl
[code]
It responds with
[code]
Inside `<exact><users>` there's `exact` match of the string

But in case of `OCIS`
[code]

[code]
The `exact` match is rather given

[2022-07-21 08:48] individual-it commented on #4091
@kiranparajuli589 please skip the failing tests on ocis and then we need to hand this over to the development team, maybe @butonic

[2022-07-21 09:09] kiranparajuli589 commented on #4091
Found an old issue addressing this https://github.com/owncloud/product/issues/280

[2022-07-21 09:27] kiranparajuli589 commented on #4154
there are more scenaios including `Shares` folder and running with spaces DAV

[2022-07-21 10:03] SwikritiT commented on #3962
@kiranparajuli589 All the to-do's have been done. Can be closed now?

[2022-07-21 10:48] kiranparajuli589 opened #4251 "eTags do not propagate consistently"
## Description
The eTags should be updated consistently on file operations like `copy`, `move`. With the current state of oCIS server, most of the time the eTag propagation is correctly executed but sometimes this is not true.

We have tests for eTag propagation after `COPY` operation on files/folders here at https://github.com/owncloud/core/blob/master/tests/acceptance/features/apiWebdavEtagPropa

[2022-07-21 10:48] kiranparajuli589 commented on #4091
closing on behalf of https://github.com/owncloud/ocis/issues/4251

[2022-07-21 10:48] #4091 closed

[2022-07-21 11:10] #3962 closed

[2022-07-21 11:23] SagarGi commented on #4245
This tests fail was seen during merge and in a PR And is not reproducable locally. Seems like in CI the move request worked as copy. I tried to fail it re running the failed scenrios in CI but is not reproduced. Build :  https://github.com/owncloud/ocis/pull/4249. I made a debug feature as `moveOcis.feature` to reproduce it but didnt fail. This can be put into backlog. If seen then can be reinvest

[2022-07-21 12:08] rtest12 opened #4253 "Office Online Server integration error"
Sory for the impudence.. I've office online sever 2019 (oos) deployed behind nginx (oos.ex.com for example). I can open oos.ex.com/hosting/discovery page with xml, and oos.ex.com/op/generate.aspx, where i can open office files.
I added in my yml this:
[code]
ocis also behind nginx
I changed the app-registry.yaml according to this.
[code]
Now I get "Error retrieving file information" error, and 500

[2022-07-21 13:56] wkloucek opened #4255 "App Provider: not every mimetype has a default app"
## Describe the bug
Not every mimetype from /app/list has a `default_application`.

## Expected behavior
Every mimetype has a default app.

## Actual behavior
The default app for a mimetype is optional

## Additional context
Look at https://ocis.ocis-wopi.latest.owncloud.works/app/list for example. A client can't provide a default action for files with a mimetype without default app, even if the f

[2022-07-21 15:30] micbar commented on #4127
Fixed by #4244

[2022-07-22 10:10] ScharfViktor opened #4260 "A member of the space cannot see the public links of another manager"
ownCloud Web UI 5.7.0-rc.5
ocis: 2.0.0-beta.5

Steps:

- Katherine creates project space "first" and shares it via public link "link1"
- Katherine shares space to Einstein as manager

Actual: Einstein can create link but cannot see link1

- Einstein creates public link2

Actual: Katherine can see link2

Expected: user with manager role can manage to project space. Einstein should see link1

![Scre

[2022-07-22 12:31] rhafer commented on #547
@SwikritiT thanks for looking into that. I think this deserves a separate issue though, would you mind creating a new one for this?

I think the original bug reported here (which was about broken substring and case-sensitiveness) was solved.

It seems the new issue is basically caused by an incomplete implementation of the ocs sharing api in ocis/reva. It always returns an empty `exact` list and s

[2022-07-22 14:47] #3625 closed

[2022-07-22 15:51] ScharfViktor opened #4262 "Removing the public link password is broken"
ownCloud Web UI 5.7.0-rc.5
ocis: 2.0.0-beta.5

Steps:

- Katherine creates project space "first" and shares it via public link "link1"
- Katherine set password "pass"

Actual: public can open link

- Katherine removes password "pass"
- Public try to open public link

Expected: public should open link without password

Actual: old password does not work. blank password does not work. Backend issue,

[2022-07-22 16:18] phil-davis commented on #4262
Also see https://github.com/owncloud/web/issues/7307

Should have been fixed by https://github.com/cs3org/reva/pull/3094

It might need pulling into oCIS.

[2022-07-25 03:53] SwikritiT commented on #547
Okay I'll create a separate issue and close this one

[2022-07-25 04:24] SwikritiT opened #4265 "ocs sharing api always returns an empty exact list while searching for a sharee"
## Describe the bug

OCS sharing API always returns an empty exact list while searching for a sharee
## Steps to reproduce

Steps to reproduce the behavior:

1. As admin create variations of user einstein like `Einstein`, `Einstein_one`, `Einstein1`
2. Now search for string `einstein`
[code]

## Expected behavior
Something like that of 0C10 where the `exact` match is shown in `<exact>` and other m

[2022-07-25 04:25] SwikritiT commented on #547
@rhafer new issue created here https://github.com/owncloud/ocis/issues/4265

[2022-07-25 04:26] SwikritiT commented on #547
Closing this issue.

[2022-07-25 04:26] #547 closed

[2022-07-25 05:40] SwikritiT commented on #4265
Also see this comment: https://github.com/owncloud/ocis/issues/547#issuecomment-1192524707

[2022-07-25 05:40] kiranparajuli589 commented on #3882
blocked util https://github.com/owncloud/ocis/issues/3882#issuecomment-1185255031 is answered.

[2022-07-25 06:14] SagarGi commented on #1314
This issue seems to have been closed but is still in expected to failure: So reopening.

https://github.com/owncloud/ocis/blob/176dd321b1f8b85a45440119541cc3be17fe0125/tests/acceptance/expected-failures-API-on-OCIS-storage.md?plain=1#L829-L831

TODO QA-team
- [ ] review tests linked to this issue
- [ ] remove them from expected to fail if they pass or create another issue if necessary

[2022-07-25 08:38] SwikritiT commented on #1961
@ScharfViktor after this issue I think this is configurable https://github.com/owncloud/ocis/pull/4229
https://github.com/owncloud/ocis/blob/f7c89d1b427a56a24839a81045ab03f3b8c788b6/.drone.star#L1678

I think can be closed?

[2022-07-25 11:39] xoxys opened #4274 "Panic on missing group schema ID"
## Describe the bug

oCIS panics if the `LDAP_GROUP_SCHEMA_ID` is set to an unknown attribute.

[code]

## Expected behavior

Raise an error, but don't panic on unknown attributes.

## Setup

Container (owncloud/ocis:2.0.0-beta.5) + External OpenLDAP

[2022-07-25 12:52] wkloucek opened #4275 "Remove graph-explorer from ocis monorepo"
## Is your feature request related to a problem? Please describe.
We ship the graph-explorer with oCIS so that people can easily discover the Graph API.

The ownCloud graph-explorer is an outdated fork of Microsoft graph-explorer. It uses Node 10 and received the last commit in 2020. We can't check it's dependencies licenses (https://github.com/owncloud/ocis/issues/3492).
Furthermore it only can b

[2022-07-25 14:03] rhafer opened #4276 "Settings service returning ambiguous status code"
## Describe the bug

When querying the role assignments via the settings service for a user that does not have a role assigned we should return a 404 (currently we return 400) http status code

## Steps to reproduce

see https://github.com/owncloud/web/issues/7326

[code]

So the HTTP Status code is 400 and the status code in the body is 404. Shouldn't we have 404 in both?

[2022-07-25 14:18] micbar commented on #3905
needs backend / frontend alignment IMO

[2022-07-25 14:18] micbar commented on #3905
@kulmann JFYI

[2022-07-25 14:18] rhafer opened #4278 "Lot's of redundant LDAP queries of listing all groups with members"
## Describe the bug

A graph request to list all groups with member expanded, becomes very expensive quickly:

`https://localhost:9200/graph/v1.0/groups?$expand=members`

This is partially caused by the backend doing no caching at all, which e.g. means that it is resolving every user that is a member of multiple groups multiple times :cry: (we should at least avoid that to happen within a single g

[2022-07-25 15:10] ScharfViktor commented on #1961
I agree. I tried change value to "2" here: https://github.com/owncloud/ocis/blob/master/services/frontend/pkg/config/defaults/defaultconfig.go#L42
It works

[2022-07-25 15:10] #1961 closed

[2022-07-25 19:31] kulmann commented on #3905
There are more write-actions than just the add user button. We need a "read only" mode for the user management app that only allows write-actions for the functionality that is provided by ocis only (role assignment, setting personal space quota). Are there plans already how to announce that? Graph API? OCS capabilities?

[2022-07-26 07:29] SagarGi commented on #4087
The tests has been added for `COPY` and `MOVE` operation as mentioned in the above tests plan by @ScharfViktor. This operation is only limited to file. we can also try different other combination to test copy api between spaces (since we cannot move files between spaces) or shall we close this issue @phil-davis @ScharfViktor @phil-davis ?

[2022-07-26 08:07] #4123 closed

[2022-07-26 08:34] JanAckermann opened #4282 "Sharees api (search) doesn't return user with search term segment in display name"
## Describe the bug

A clear and concise description of what the bug is.

## Steps to reproduce

Steps to reproduce the behavior:

1. Create the user 'anonymous' with display name 'albert einstein'
2. Use the sharees api (search) and search for 'albert', user will be returned -> good
3. Use the sharees api (search) and search for 'einstein', user will be returned -> **bad**

## Expected behavior
U

[2022-07-26 08:35] JanAckermann commented on #4282
Issue popped up, while researching the bug:
https://github.com/owncloud/web/issues/7328

[2022-07-26 08:41] xoxys opened #4283 "Groups displayed as UUID on the Account page"
## Describe the bug

![image](https://user-images.githubusercontent.com/3391958/180962666-80cbe71c-0f50-430c-b16d-31b120b397ee.png)

## Expected behavior

Value from the attribute set by `LDAP_GROUP_SCHEMA_DISPLAYNAME` should be used instead. The default should be `cn` already but even it if the env var is explicitly set to `cn` the ID is displayed.

## Setup

Container (owncloud/ocis:2.0.0-beta.5

[2022-07-26 08:55] tbsbdr commented on #4282
imo ga blocker as users won't find their colleagues by typing a last name. there is a workaround by typing the whole name, but as sharing is one of the essential features, I'd consider this a ga blocker.

[2022-07-26 09:06] SagarGi commented on #3033
@phil-davis with webdav `old and new` we cannot create `Shares` folder in `Personal Space` but with webdav `spaces` we can create it.

### With `old` and `new` webdav
for example: using `old` webdav
[code]
Response:
[code]

### With `spaces` webdav

Response:

[code]
shall we reopen this issue or create new since this issue seems to be related to substring for the `Shares` folder?

[2022-07-26 09:23] ScharfViktor commented on #4087
I think to implement same tests to coping or moving folder don't make sence. I'd changed "file" to "folder with file' in some existing positive tests (not all) and check that folder after coping or moving contains file

[2022-07-26 09:44] ScharfViktor commented on #4262
Re-tested after bump reva to ocis master. It works correct. I removed tests from expected failures

[2022-07-26 09:44] #4262 closed

[2022-07-26 09:48] micbar commented on #4283
needs to be aligned with the web team @kulmann

This should use the graphApi to get the user information

[2022-07-26 09:50] micbar commented on #4282
@JanAckermann Could be already fixed in ocis #4229

[2022-07-26 09:52] JanAckermann commented on #4282
@micbar cool, let me check (:

[2022-07-26 09:56] micbar commented on #4282
according to @pmaier1 we should enable `any` substring by default.

@rhafer

[2022-07-26 09:58] JanAckermann commented on #4282
@micbar Issue seems not to be fixed via #4229

[2022-07-26 09:59] micbar commented on #4260
all space members should see all shares.

[2022-07-26 10:00] phil-davis commented on #3033
@SagarGi yes, please create a separate issue for the things that are still "unusual" or not correct.

Then people can comment about exactly what should and should not be possible.

[2022-07-26 10:04] micbar commented on #4255
This adds validation on the app provider when adding new mimetypes.

[2022-07-26 10:08] micbar commented on #4253
We know that there were problems with Office Online Server on premises but we were never able to solve them.

The log error sounds familiar to me.

@wkloucek Do you have any idea?

[2022-07-26 10:19] micbar commented on #4245
@tbsbdr @kulmann We need to take care of the user for cross space MOVE and inform him.

He needs to be notified. We need to decide

- Copy also the metadata?
- Need to be informed that shares are dropped.
- Keep the source file or delete? Delete always needs to be a conscious decision.

## Option

This problem occurs when doing `Ctrl+X` and browse to another space and then do `Ctrr+V`. In this cas

[2022-07-26 10:20] micbar commented on #4224
@kulmann web or backend ticket 😄 ?

[2022-07-26 10:25] dragonchaser commented on #4224
why not both, there should be a "please contact your admin" message when that happens.

[2022-07-26 10:28] kulmann commented on #4224
@dragonchaser  Could you add steps how to recreate the state?

[2022-07-26 10:30] micbar commented on #4188
@dragotin We need to discuss again please the `Depth: infinity` at all.

IMO we need to disable it by default.

[2022-07-26 10:33] dragonchaser commented on #4224
@kulmann sure
[code]
you will find 3 symlinks there `accounts, bundles, values`
[code]
then start ocis and try to login

[2022-07-26 10:39] micbar commented on #3640
Related to #3829

[2022-07-26 10:54] micbar commented on #4282
Did you set the config value on the User and Group providers?

[2022-07-26 11:00] SagarGi opened #4286 "`Shares` named (file | folder) can be created in `Personal` space with `spaces` webdav"
## Description
With `old and new` webdav on ocis we cannot create a folder named `Shares` on `Personal Space` when we have resource on `Shares jail` but with `spaces` webdav we are able to create it.

## Steps to Reproduce
1. `einstein` creates a folder `FOLDER`
2. `einstein` shares the folder with role `editor` to `marie`
3. `marie` accepts the shares

on `OCIS`

#### With `new and old` webdav (f

[2022-07-26 14:17] tbsbdr commented on #4245
*   **default:** keep as many metadata as possible like Tags, Version, Exif-data and all in the future (As a user I would expect that all metadata as possible are kept)
*   **Drop Shares:** Shares and links are dropped
*   **Confirmation Dialog:** We would need a dialog that informs the user about loosing shares & links.
*   **Versions:** Must be kept. This is especially important as soon as we ha

[2022-07-26 15:11] tbsbdr opened #4303 "Email notifications are not descriptive enough"

[2022-07-26 16:25] tbsbdr opened #4293 "Renaming a shared resource: new resource name is not updated on share-receiver side (already accepted)"
### Steps to reproduce
1. Share a file "my File" with Albert
2. Albert accepts the share
3. Rename the file to "For Albert"
4. Albert does not see the new filename "For Albert"

https://user-images.githubusercontent.com/26610733/181059557-c39e1e00-cc19-4d68-9e6d-5ad5041de61e.mp4

### Expected behaviour
Albert should see the new filename

### Actual behaviour
Albert does not see the new filename

[2022-07-26 16:28] TuxCoder opened #4288 "Wrong Oauth2 Authorization Flow for web APP"
## Describe the bug

As I understand the current Web App uses a wrong implementation of the `Authorization Code` Flow from Oauth2.
see: https://datatracker.ietf.org/doc/html/rfc6749#section-1.3.1
and see: https://datatracker.ietf.org/doc/html/rfc6749#section-4.1

There is a distinction between `User-Agent` (what should be in this case the browser) and the `Client` what should be in this case the W

[2022-07-26 23:52] serzagit commented on #3212
Facing a similar problem when trying to start ocis server in a 32-bit machine with debian 11.

Does anybody has an insight about what could be wrong ? Or how could I help to debug this ?

`serza@acer-debian:~$ ocis server
{"level":"error","error":"error connecting to nats cluster ocis-cluster: error connecting to nats at 127.0.0.1:9233 with tls enabled (false): nats: no servers available for conne

[2022-07-27 04:06] SagarGi commented on #4087
TODO QA Team:
- [ ] Implement `COPY` request between spaces for folder (see above comment https://github.com/owncloud/ocis/issues/4087#issuecomment-1195237093 to implement for folders)
- [ ] update extected to failure for copy and move request for spaces based on this comment https://github.com/owncloud/ocis/pull/4179#discussion_r929710641

[2022-07-27 04:16] kiranparajuli589 commented on #3880
`Update`
If two users share a folder with the same name as another user. Then in oC10, the duplication is managed by adding `(2)` at the end of the name of the resource. But with oCIS `(1)` is added for the first duplication.

Is this slight difference expected thing? @micbar @C0rby

[2022-07-27 05:39] phil-davis commented on #3880
@individual-it ^ - FYI this is what was mentioned this morning.

[2022-07-27 05:48] SagarGi commented on #4286
Found out that we can actually create a create `Shares` folder in `Personal` space

[2022-07-27 07:27] kiranparajuli589 commented on #3880
There are other problems with this too. I'll create a separate issue.

[2022-07-27 08:47] TuxCoder commented on #4288
ah found the old discussion about this:
https://github.com/owncloud/web/issues/2288

[2022-07-27 08:47] #4288 closed

[2022-07-27 09:07] kiranparajuli589 opened #4289 "accepting matching name shared resources from different users/groups sets no serial identifiers on the resource name for the receiver"
## Describe the bug

## Step to reproduce
1. using `marie` upload `parent.txt`
2. using `moss` upload `parent.txt`
3. using `richard` upload `parent.txt`
4. using `katherine` upload `parent.txt`
1. using `marie` create folder `parent`
2. using `moss` create folder `parent`
3. using `richard` create folder `parent`
4. using `katherine` create folder `parent`

7. using `katherine`, `marie`, `moss` &

[2022-07-27 09:13] kiranparajuli589 commented on #3880
reported here at https://github.com/owncloud/ocis/issues/4289

[2022-07-27 09:44] kiranparajuli589 commented on #2215
Reopening as the behavior is still the same. The steps are as described in the scenrio here [apiShareManagementBasicToShares/createShareToSharesFolder.feature:714](https://github.com/owncloud/core/blob/master/tests/acceptance/features/apiShareManagementBasicToShares/createShareToSharesFolder.feature#L714)
 While sharing the `Shares` folder using **new** or **old** DAV version, **oCIS** server resp

[2022-07-27 10:35] kiranparajuli589 opened #4291 "GraphAPI groups are case in-sensitive"
(leftover from https://github.com/owncloud/ocis/issues/3167)

While using the GraphAPI to create groups, we cannot create groups with case-insensitive names like:

In Graph API group names are case in-sensitive. Meaning, we these 3 groups cannot be added at the same time.

- case-sensitive-group
- Case-Sensitive-Group
- CASE-SENSITIVE-GROUP

We can only create one group and then, `500` is returned

[2022-07-27 12:48] micbar commented on #4293
This has been specified like in oc10.

After you have accepted a share, it becomes a mount for the receiver (albert in this case)
From that moment on, its name is under the control of the receiver.
The receiver and the owner can rename the resource independently.

In this case: Works as designed.

[2022-07-28 06:11] phil-davis commented on #4262
Note: the API test still fails on the "old" Public WebDAV API. But that "old" Public WebDAV API is not supported on oCIS. We should not be running that scenario example on oCIS. See issue #2079

The entry is still in expected-failures in both reva edge and ocis repos.

I will adjust the API test suite - see https://github.com/owncloud/core/pull/40247

[2022-07-28 08:09] phil-davis opened #4296 "Parallel deployment test pipelines failing intermittently"
For example: https://drone.owncloud.com/owncloud/ocis/13884/77/15
[code]

I saw this for a few hours a couple of days ago. It is happening again today. I have only seen it for the parallel deployment test pipelines.

There are currently not many parallel deployment test scenarios being run anyway, so we have skipped the pipelines for now - to avoid this flakyness. See #4295

Need to investigate wh

[2022-07-28 08:45] phil-davis opened #4297 "apiSpaces/search.feature failed with 500 status"
## Describe the bug
https://drone.owncloud.com/owncloud/ocis/13886/42/7
[code]

[code]

[2022-07-28 08:47] individual-it commented on #4297
ocis logs
[code]
https://drone.owncloud.com/owncloud/ocis/13886/42/3 from line 3742

[2022-07-28 10:11] individual-it commented on #3938
according to the meeting 28.07.2022 we will collect the data manually for now from the nightly runs

[2022-07-28 12:30] dragotin commented on #4188
I am ok with disabling it by default. @pmaier1 ?

[2022-07-28 13:03] pmaier1 commented on #4188
Agreed.

[2022-07-28 14:02] xoxys commented on #4274
Seems to be fixed on latest already...

[2022-07-28 14:02] dragonchaser commented on #4274
@xoxys thx, closing then

[2022-07-28 14:10] micbar commented on #4274
what was the fix? Would be important to link the code change.

[2022-07-28 14:15] xoxys commented on #4274
Nobody knows right now

[2022-07-28 14:17] dragonchaser commented on #4274
could have been the bump of libregraph/idm shortly after the beta, but just guessing maybe @rhafer knows more?

[2022-07-28 17:47] xoxys commented on #4274
Thats what git bisect is made for, but I dont have time to look into it.

[2022-07-29 04:02] kiranparajuli589 commented on #4251
appearing in move scenarios too. https://drone.owncloud.com/owncloud/ocis/13909/50/7

[2022-07-29 06:31] rtest12 commented on #4253
I set everything up from scratch, there is progress, office is starting up, although now errors like "sorry, your session expired" are pouring in, I think this is due to nginx. Until I figured it out.

[2022-07-30 17:45] TuxCoder opened #4304 "wrong validation of access token / authentication bypass"
## Describe the bug

The access token is currently validated against the oidc-`userinfo` endpoint. https://github.com/owncloud/ocis/blob/master/services/proxy/pkg/middleware/oidc_auth.go#L82
This is ok if the oauth2-`client` is the website server and it's the only one that handles the token (website is the oauth2-client).

But owncloud uses this token also to access resources eg. webdav and other

[2022-08-01 04:01] kiranparajuli589 commented on #1285
`Update`:
User capabilities with
- **ocis:** https://gist.github.com/kiranparajuli589/dcd9bd4018ec14198fe9cd4751b0dda8
- **oC10:** https://gist.github.com/kiranparajuli589/5b40eb7fdb4cc029a9a0cc3f3e19f12e

[2022-08-01 06:31] saw-jan commented on #2932
As of now, tests for parallel deployment are not of higher priority. I will put this on the backlog.

[2022-08-01 07:12] aduffeck commented on #4111
@micbar Can you please let me know how we want to handle this? By overwriting the `permissions` parameter the `publicUpload` parameter behaves the same way as in oc10 but it's definitly confusing.

[2022-08-01 12:51] micbar commented on #4304
Thank you very much @TuxCoder for this detailed and professional bug report.

We are already working on one aspect of it in #2967

We will fix it for General Availability in the scope of that linked ticket.

[2022-08-01 12:55] micbar commented on #4303
This has two aspects:

1) GA Release -> make the share notification "nicer"
2) 2.1.0 Release -> according to top post

[2022-08-01 13:09] TuxCoder commented on #4304
Hello @micbar
Ah yes this is a duplicate, don't know how I did not found it before.
Will try to help there with my feedbak

[2022-08-01 13:09] #4304 closed

[2022-08-01 13:37] TuxCoder commented on #2967
Hello all,
I join the discussion as I not found this issue and accidantly created a new one, thanks to @micbar  for linking the issue.
I recommend to take a look there: https://github.com/owncloud/ocis/issues/4304

The nice solution is as @rhafer mention with ether JWT (what has some optional requirements to the IDP / clients),
or/and by doing a scope check with the `introspection endpoint`.

If y

[2022-08-02 05:38] grgprarup opened #4310 "Nightly failed on `cs3api-validator/etag-propagation.feature:70`"
Drone build: https://drone.owncloud.com/owncloud/ocis/13977/39/5
[code]
The test failed on Today's nightly build but passed when build is restarted. Needs some investigation.

[2022-08-02 05:40] individual-it commented on #4310
duplicate of https://github.com/owncloud/ocis/issues/4251 ?

[2022-08-02 06:56] rhafer commented on #4274
I am pretty sure this is not fixed yet. At least I don't remember fixing it. Fix would be in the graph service. Will reopen and check again.

[2022-08-02 09:52] ScharfViktor commented on #4260
Re-tested
ocis: after merging https://github.com/owncloud/ocis/pull/4244
web fresh with docker

works correct:
<img width="1435" alt="Screenshot 2022-08-02 at 11 45 36" src="https://user-images.githubusercontent.com/84779829/182345528-416b784c-8599-49b0-84d3-35ad10c54f1b.png">

note: if you run ocis localy, ocis uses the latest stable version of the web (v5.7.0-rc.5).
old web call method `ocs/v1.p

[2022-08-02 09:52] #4260 closed

[2022-08-02 09:55] ScharfViktor commented on #4260
@micbar Do we want to show public links (for folders or files) to members of the space?
if yes, I can create separate issue

[2022-08-02 10:52] rhafer commented on #4291
Just like usernames the groupnames are case-insensitive in ocis. That means `case-sensitive-group`, `Case-Sensitive-Group` and `CASE-SENSITIVE-GROUP` refer to the same group. The LDAP AttributeType (`cn`) we use for group names is defined to be case-insensitive, I don't  think there is much we can do about that apart from adjusting the test for ocis accordingly.

@micbar is there a requirement to

[2022-08-02 11:35] micbar opened #4312 "CS3 Api needs more properties"
# List

- [ ] AddGrant and UpdateGrant need a flag for a space grant and a spaceType

[2022-08-02 14:04] micbar opened #4316 "[QA][PM] Definition of the Spaces Feature"
# Description

This is the

1. Product Definition
2. QA Reference

for the Spaces Feature

## What is the Spaces Feature

The spaces feature leverages independent storage units and makes them usable for `personal` and `project` folders

### Properties

| **Name** | **Description** | **Required** |
|:--------|:---------------|:------------:|
|       Name   |            Space Name     |     ✅

[2022-08-02 18:23] micbar commented on #4260
Yes. All members of a space should see the share indicators and the shares.

[2022-08-03 08:10] JanAckermann opened #4322 "Renaming a received share effects in sharees list api but not on single resource"
## Describe the bug

Renaming a recieved share effects in sharees list api but not on single resource

## Steps to reproduce

Steps to reproduce the behavior:

1. Albert shares with Alice a folder named folder
2. Alice renames the shared folder (mountpoint) to sharedFolder
3. Calling https://localhost:9200/ocs/v1.php/apps/files_sharing/api/v1/shares?include_tags=false&state=all&shared_with_me=true

[2022-08-03 08:11] JanAckermann commented on #4322
FYI @C0rby @micbar

[2022-08-03 08:12] micbar commented on #4322
Needs quick fix.

[2022-08-03 10:00] #3841 closed

[2022-08-03 10:37] JanAckermann opened #4325 "Changing personal drive quota on another user as admin is not possible"
## Describe the bug

Changing personal quota on another user as admin is not possible

## Expected behavior
Changing personal quota on another user should be possible

## Actual behavior
Changing personal quota on another user is not possible

## Setup

Please describe how you started the server and provide a list of relevant environment variables or configuration files.

<details>
<p>

[code]

</

[2022-08-03 10:39] JanAckermann commented on #4325
Blocks https://github.com/owncloud/web/issues/7059

[2022-08-03 11:34] wkloucek opened #4326 "cs3org/wopiserver not working with the ownCloudSQL storage driver"
## Describe the bug

The ownCloudSQL storage driver is returning a different reference then other drivers. This makes the cs3orgh/wopiserver fail when opening a file.

## Steps to reproduce

Steps to reproduce the behavior:

1. run oCIS with the ownCloudSQL storage driver and a office suite (Collabora / OnlyOffice via the cs3org/wopiserver)
2. Open a office document

## Expected behavior
The offic

[2022-08-03 14:22] JanAckermann opened #4327 "graphapi /users/{id}?$expand=drive should expunge property drive instead of drives"
## Expected behavior
```https://localhost:9200/graph/v1.0/users/be6a5613-3af6-4e72-99d7-736bf6834fb4?$expand=drive```
should expunge property drive (with an object)

## Actual behavior
```https://localhost:9200/graph/v1.0/users/be6a5613-3af6-4e72-99d7-736bf6834fb4?$expand=drive```
expunges property drives (with an array)

## Setup

Please describe how you started the server and provide a list of r

[2022-08-03 14:24] JanAckermann opened #4328 "graph api drive quota should expunge total:0 if set so (unrestricted)"
## Expected behavior
Quota should show total 0 if set so

## Actual behavior
total property is missing entirely

## Setup

Please describe how you started the server and provide a list of relevant environment variables or configuration files.

<details>
<p>

[code]

</p>
</details>

## Additional context
Add any other context about the problem here.

[2022-08-03 14:55] ScharfViktor commented on #4325
Can confirm. I came across this too
admin or spaceAdmin can change only its own quota.

`curl -X PATCH 'https://localhost:9200/graph/v1.0/drives/<anotherUserPersonalSpaceId>' -H "Content-Type: application/json" --data '{"quota":{"total":1000000}}' -uadmin:admin -vk`

[2022-08-04 08:56] rhafer commented on #4282
@JanAckermann Currently you still need to enable full substring search by setting `LDAP_USER_SUBSTRING_FILTER_TYPE=any` for users and `LDAP_GROUP_SUBSTRING_FILTER_TYPE=any` for groups.

[2022-08-04 09:00] rhafer commented on #4282
@micbar @pmaier1 Hm I though we agreed on keeping the default to "initial". I am fine changing that, however keep in mind that full substring searches can be pretty expensive. You have been warned :-)

[2022-08-04 09:06] grgprarup opened #4332 "valid WebDAV (DELETE, COPY or MOVE) requests with body must exit with 415"
## Describe the bug
valid webDAV DELETE, COPY, or MOVE requests should not send a body in the request.
https://datatracker.ietf.org/doc/html/rfc4918#section-8.4

If a body is sent, then the server is supposed to return HTTP status 415 (Unsupported Media Type).

This has been implemented in reva PR https://github.com/cs3org/reva/pull/2974 for MOVE requests and might need implementation for COPY and

[2022-08-04 09:49] SagarGi commented on #4154
@phil-davis and @individual-it  There are lots of tests that are in expected to failure on ocis tagged with this issue  https://github.com/owncloud/ocis/issues/2968

Since `/Shares` related implementation is not available in core we might want to run those tests on ocis. We can shift all the tests realted to `/Shares` on ocis and minimize the expected to failure. I need some information whether or

[2022-08-04 10:07] rhafer commented on #4283
Agreed. Ideally this would be using a query like `https://localhost:9200/graph/v1.0/me/?$expand=memberOf`. Unfortunately `/me` does not support $expand yet. Should be fairly straightforward to add though. Should we do that?

A workaround would be to use `https://localhost:9200/graph/v1.0/users/<userid>/?$expand=memberOf` that should already work.

Currently the Account page is still using the ocs

[2022-08-04 11:25] SwikritiT opened #4336 "Re-sharing permissions are not properly followed"
## Describe the bug

A clear and concise description of what the bug is.

## Steps to reproduce

Steps to reproduce the behavior:

1. As user `Einstein` create resource `folder_from_einstein`
2. Share the resource with user `Moss` with permission `31`
[code]
3. As `Moss` accept the share
[code]
4. As `Moss` reshare the recently accepted share to user `Marie` with permission `17`
[code]
5. As `Mari

[2022-08-04 13:20] rhafer commented on #631
This has been fixed a while ago (part of #877) in the proxy middleware. The oidc middleware in ocis-pkg does not exist anymore.

[2022-08-04 13:20] #631 closed

[2022-08-05 03:22] grgprarup opened #4339 "Nightly failed on apiWebdavPreviews/previews.feature:219"
Build: https://drone.owncloud.com/owncloud/ocis/14181/52/7
[code]

[2022-08-05 04:21] SagarGi commented on #4154
We have many expected to failure related to `/Shares` on ocis .Since `/Shares` related is not implemented on core so better to
shift them on ocis.

https://github.com/owncloud/ocis/blob/50cb1912103d1a9d0db2ef4197bcef52855e0a20/tests/acceptance/expected-failures-API-on-OCIS-storage.md?plain=1#L994-L1098

TODO QA team:

Suites to shift on ocis:

- [ ] apiFavorites
- [ ] apiMain
- [ ] apiShareOperati

[2022-08-05 06:32] SagarGi commented on #4339
[code]
Tried it to reproduce locally but not reproducable. I will try ti fail it on CI.

[2022-08-05 08:25] SagarGi commented on #4339
Passing consistently in CI as well https://drone.owncloud.com/owncloud/ocis/14187/40/8

[2022-08-05 09:27] wkloucek opened #4343 "S3NG performs cross-storage move on uploads"
## Describe the bug
The S3NG storage driver performs a cross-storage move on uploads.

## Steps to reproduce
1. Use oCIS with S3NG storage driver
2. Upload a file

## Expected behavior
The file is written directly on the final storage (no cross-storage move happens)

## Actual behavior
A cross storage move happens

## Additional context

When the upload is finished, the blob is written:
https://gi

[2022-08-05 12:11] ScharfViktor opened #4347 "Member of project space cannot see "share a resource with people""
Steps:

- admin creates space with  file
- admin shares file to einstein
- admin adds marie as members of the space
- marie opens space and trie to find share file with Einstein

Expected: marie can see share
Actual: marie cannot see share (empty response):
[code]
![Screenshot 2022-08-05 at 14 15 52](https://user-images.githubusercontent.com/84779829/183075798-56269e0a-dba7-4f4a-a822-59f67294aa37.

[2022-08-05 13:21] rhafer commented on #4276
A possible fix is https://github.com/owncloud/protoc-gen-microweb/pull/12

Though it's a bit of a grey area if returning a 404 on a POST request is correct. (Given the weird semantics of the settings http api, I think it's the right thing to do)

[2022-08-05 14:46] #4274 closed

[2022-08-06 06:43] TuxCoder commented on #2967
I did't know about RFC9068 but as you mention it is pretty new and a optional extension to oauth2.
 -> do you know any supported servers?

The `aud` clams comes from OIDC not from JWT [1], or from other JWT RFC[2] as it is linked in OIDC but is newer, ...
It is older than 7years, ok.... :)
But also refrenced in rfc7519 !?
ok I'm a bit confused but here is my interpretation:

`aud` vs `scopes`
`aud

[2022-08-08 09:23] #4276 closed

[2022-08-08 12:43] michl19 commented on #4328
sending 0 value is possible

[2022-08-08 13:13] rhafer commented on #4195
Result from refinement:
- for now it's ok to delete the personal space of a user, when deleting the user
- we need to introduce a new permission `DeleteAllSpaces` that the user who's deleting another is user needs to have assigned in order to delete the personal space
- The DeleteUser call in the  GraphAPI should check for all required permission prior to deleting a user. (in order to avoid "half-

[2022-08-08 13:36] #2819 closed

[2022-08-08 13:36] #3280 closed

[2022-08-08 13:37] micbar commented on #4325
Reva fix in https://github.com/cs3org/reva/pull/3133

[2022-08-08 14:07] JanAckermann opened #4357 "ocs/v1.php/cloud/users/{userId} -> quota -> wrong relative amount"
## Describe the bug

ocs/v1.php/cloud/users/{userId} -> quota -> wrong relative amount

![image](https://user-images.githubusercontent.com/26169327/183437956-935c8549-7667-4313-86e4-0040491b6690.png)

## Steps to reproduce

Steps to reproduce the behavior:

1. Set personal drive quota to 100MB
2. Upload a file with 69MB
3. See quota relative property in `ocs/v1.php/cloud/users/admin` endpoint

[co

[2022-08-08 14:46] micbar commented on #4325
needs reva update.

[2022-08-08 15:45] #4327 closed

[2022-08-08 18:57] #4328 closed

[2022-08-08 19:02] #4027 closed

[2022-08-09 07:54] hurradieweltgehtunter opened #4366 "Only Office could not be loaded if editor is already open"
### Steps to reproduce
1. Upload an office file (in my case xlsx)
2. Click on it -> OnlyOffice opens in new tab
3. Switch back to file manager, click on the file again or click any other file of the same file type (xlsx)

### Expected behaviour
File should be opened again or the tab with the previously opened file should be focused (if this is at all possible)

### Actual behaviour
New tab opens w

[2022-08-09 10:03] wkloucek opened #4367 "Language setting for the app provider"
## Is your feature request related to a problem? Please describe.
Opening a file with the app provider does not use the language of oC Web because there is currently no way to pass the language as a parameter.

## Describe the solution you'd like
oC Web passes a parameter to the `/app/open` endpoint with the language, the use has configured for oC Web.
The language option will then be added eg. to

[2022-08-09 10:09] #2622 closed

[2022-08-09 13:25] rhafer commented on #2967
I don't know of any open-source implementation unfortunately. There see however to be a couple of commercial offering that claim to already support it.  And many servers that issue JWT access tokens should already be pretty close to the spec.

[..]

True. Remember that we only added this as a first step for doing a more thorough validation of the access token.

Right. In the longer run we want to

[2022-08-09 15:51] TuxCoder commented on #2967
Thank you very much for clarifying the road map!
For me it only sounded strange to start with JWT access token and I expected that owncloud was going into that direction only.

The new OICS implementation looks really good compared to most other stuff from the architecture,
so I'm interested in trying it out, probably a bit to excited.

I sadly not a `go`-programmer, reading is ok but would need s

[2022-08-09 17:14] micbar commented on #4325
fixed by #4369

[2022-08-09 17:14] #4325 closed

[2022-08-09 17:24] micbar commented on #3196
according to @pmaier1 there are no plans to implement that in LibreConnect.

[2022-08-09 17:24] #3196 closed

[2022-08-09 23:56] robertomassabr opened #4370 "Fail to build OCIS with docker"
## Describe the bug

Fail to build OCIS using docker.

## Steps to reproduce

Steps to reproduce the behavior:

1. Clone or download the repository
2. Open terminal and digit: docker build -t ocis .

## Expected behavior
No erros on building the application using docker.

## Actual behavior
A message of error on building web and graph-explorer, missing the assets directory.

#16 236.3 git clean -x

[2022-08-10 01:20] #3352 closed

[2022-08-10 03:59] SagarGi commented on #4087
API Tests for copy and move has been added with https://github.com/owncloud/ocis/issues/4087#issuecomment-1180052193 and
https://github.com/owncloud/ocis/pull/4313 as per the above test plan issue. so this issue can be closed.

[2022-08-10 03:59] #4087 closed

[2022-08-10 13:11] dragonchaser commented on #4251
I could reproduce it locally with ocis, NOT with revad standalone.
I am assuming that there is some race condition happening in ocis.
It was impossible to isolate anything from the logs that would explain that behaviour.
Any input is appreciated.

To reproduce:
[code]

The error should occure randomly in 1 out of 10 runs.

[2022-08-10 15:54] micbar commented on #4370
I updated the  golang image to 1.18

The assets folder needs to be generated during the node and go generate steps. Maybe there were some build issues in your case.

Using the code from #4377 works for me.

[code]

[2022-08-10 16:11] micbar commented on #4291
@rhafer @kiranparajuli589 IMO we need to follow the LDAP standard here.

Can you adjust the tests that they don't expect a case sensitive group name?

[2022-08-10 16:12] micbar commented on #4283
Yes, let us do that.

[2022-08-10 16:13] micbar commented on #4283
@kulmann @tbsbdr This needs also a web issue.

[2022-08-10 16:19] micbar opened #4378 "Release 2.0.0-beta.6"
## Tasks
## PRs which need to be merged
<details>
  <summary>Click to expand</summary>

</details>

## Release Process
- [x] Bump web to web v5.7.0-rc.9 https://github.com/owncloud/ocis/pull/4379
- [x] Bump reva to v2.7.4 https://github.com/owncloud/ocis/pull/4369
- [x] Identify latest hash for upgrade test @micbar
  - Github `aaa`
  - Docker `owncloud/ocis:latest@sha256:xxx`
- [x] Upgrade test fr

[2022-08-10 16:26] phil-davis commented on #4291
@kiranparajuli589 probably we can just skipOnOcis any of the core API tests that check that group names are case-sensitive. And then add a couple of scenarios to the oCIS local API tests that demonstrate that group names like `Finance` `finance` and `FINANCE` are really treated as being the same group.

[2022-08-10 16:28] phil-davis commented on #4291
Note: for any "parallel deployment" implementation, this is going to be one "feature" that will be different between the oC10 core side and the oCIS side. If anyone really has existing different groups called `finance` and `Finance` that have different sets of members, and have different things shared with the 2 groups, then goodness knows what the oCIS side can do with it.

[2022-08-10 19:05] algihu opened #4380 ""Create and copy public link to clipboard" generates an invalid link"
"Create and copy public link to clipboard" generates an invalid link

## Describe the bug

Using the Windows desktop app pointed to an OCIS instance, when I right-click on a synced file in Windows and select "Create and copy public link to clipboard" a link is generated and copied to the clipboard but when browsing to that link an "Unknown error" is returned.

## Steps to reproduce

Steps to repro

[2022-08-11 03:57] saw-jan commented on #4339
@SagarGi Re-appeared today: https://drone.owncloud.com/owncloud/ocis/14356/51/7

[2022-08-11 05:34] SagarGi commented on #4339
ok i will be looking into it today as well.

[2022-08-11 06:31] wkloucek opened #4382 "Cannot open office document from a public link"
## Describe the bug
On a public link, you can't edit office files with Collabora / OnlyOffice

## Steps to reproduce

Steps to reproduce the behavior:

1. Upload office document files as user
2. share them via public link
3. try to edit them on the public link with Collabora /onlyOffice

## Expected behavior
The document can be edited.

## Actual behavior

The document cannot be edited.

wopiserve

[2022-08-11 07:33] #4370 closed

[2022-08-11 08:32] SagarGi commented on #4339
The above scenario is not reproducible but can be reproduce when we keep the both content same as the above error says.
May be `When user "Alice" uploads file "filesForUpload/lorem.txt" to "/FOLDER/lorem.txt" using the WebDAV API` this step could be replace with `When user "Alice" uploads file with content "new uploaded content one" to "/FOLDER/lorem.txt" using the WebDAV API` since others scenari

[2022-08-11 08:33] dragonchaser commented on #4378
# Smoke Test with Web Office

## Collabora

- [ ] Spreadsheet
  - [ ] Create
  - [ ] open

- [ ] Document
  - [ ] Create
  - [ ] open

- [ ] Presentation
  - [ ] Create
  - [ ] open

## Onlyoffice

- [ ] Spreadsheet
  - [ ] Create
  - [ ] open

- [ ] Document
  - [ ] Create
  - [ ] open

- [ ] Presentation
  - [ ] Create
  - [ ] open

## Observations

[2022-08-11 08:36] dragonchaser commented on #4378
Infinite Scale 2.0.0-beta.5

### Case 1: admin share folder(with file) to marie:

Admin:
- [ ] upload big file 10gb (Show details, pause upload, resume upload work correct)
- [ ] upload folder with 803 small images.
- [ ] Check pagination, count items per page. Have a bug https://github.com/owncloud/web/issues/6768
- [ ] upload folder(drag folder) "folder_to_share" with file.pdf
- [ ] share folder

[2022-08-11 08:40] dragonchaser commented on #4378
# Compatibility test
from 2.0.0-beta.5 to beta6 (use [latest](https://hub.docker.com/layers/owncloud/ocis/latest/images/sha256-1cfc685905fcd5081d588e7eba76a919152d66404f02fd78a10dc1db45400cf0?context=explore))
## Create these with the original oCIS version and see if still the same after upgrading:
- shares
  - [ ] public share
  - [ ] share with user as role editor
  - [ ] share with user as role

[2022-08-11 09:05] jvillafanez commented on #3475
Expected usage of https://github.com/owncloud/ocis/pull/4337 for the "ocmem" and "etcd" implementations
* The cache client / connector will be the same for all the services
* The caches are thread safe.
* Both caches use the concept of databases and tables to separate data sets.
  * Each service is expected to use its own database and table. For example, the proxy service should use "services" as

[2022-08-11 09:23] micbar commented on #4366
Same happens to me when opening the file with two different users.

Logs

[code]

[2022-08-11 10:01] dragonchaser opened #4383 "Can not upload empty file"
When trying to upload an empty file via the web ui to a share, uploading fails.

## To reproduce

- `touch foo.txt`
- try to upload foo.txt

[2022-08-11 11:00] micbar opened #4384 "Space Managers can not edit shares"
## Describe the bug

A clear and concise description of what the bug is.

## Steps to reproduce

Steps to reproduce the behavior:

1. Create Space mars as Admin and share with Marie as "Manager"
2. Create File `Neue Datei.xlsx` and share it with moss with editor grants
3. Log in as Marie
4. Edit the share on `Neue Datei.xlsx` with moss

## Expected behavior

- The share should be edited
- In case

[2022-08-11 11:02] micbar commented on #4384
@kulmann It seems to me that web is not checking the ocs response body for errors.

[2022-08-11 11:30] dragonchaser commented on #4378
# K6 results on intel test machine
ocis - 2.0.0-beta.6 (using latest version)

## Overview

| Test                                       | 2.0.0-beta.6 | 2.0.0-beta.5  | 2.0.0-beta.4  | 2.0.0-beta.3  | 2.0.0-beta2 | 2.0.0-beta1 | 1.20.0    | 1.19.0    | 1.18.0    | 1.17.0    | 1.16.0    | 1.15.0    | 1.14.0    | 1.13.0    | 1.12.0    | 1.11.0     | 1.10.0     | 1.9.0.     | 1.8.0      | 1.7.0

[2022-08-11 11:39] micbar commented on #4378
IMO We have a go for the release.

@pmaier1 @tbsbdr agreed?

[2022-08-11 11:40] michaelstingl opened #4395 "Connection closed while TUS makes the client stuck"
### Pre-submission Checks

- [X] I [checked for similar issues](https://github.com/owncloud/client/issues?q=), but could not find any. I also checked the closed issues. I could not contribute additional information to any existing issue.
- [X] I will take the time to fill in all the required fields. I know that the bug report may be dismissed otherwise due to lack of information.

### Describe the

[2022-08-11 11:49] pmaier1 commented on #4378
No blockers. We are still in beta.

[2022-08-11 13:31] micbar commented on #4378
# CHANGELOG

## oCIS

* Bugfix - Fix handling of invalid LDAP users and groups: [#4274](https://github.com/owncloud/ocis/issues/4274)
* Bugfix - Fix search in received shares: [#4308](https://github.com/owncloud/ocis/issues/4308)
* Bugfix - Substring search for sharees: [#547](https://github.com/owncloud/ocis/issues/547)
* Bugfix - Fix unrestricted quota on the graphAPI: [#4363](https://github.com

[2022-08-12 04:57] SagarGi commented on #1239
The above bug seems to have been fixed and the expected to failure for `ocis` that has been tag with this issue is irrelevant to this but acts differently than `oc10` when we copy the file on the top of an existing folder.

[2022-08-12 09:54] micbar commented on #2967
2.0.0-beta.6 was released yesterday which contains the token validation.

[2022-08-12 09:55] micbar commented on #2967
I am removing this from the beta board because we have achieved what is needed for GA.

[2022-08-12 09:56] micbar commented on #4347
Fixed with 2.0.0-beta.6. Please confirm

[2022-08-12 09:58] micbar commented on #4383
The sharestorageprovider and maybe also the publicshareprovider needs to implement `TouchFile`.

[2022-08-12 11:55] #4378 closed

[2022-08-12 13:36] micbar commented on #4357
Checked with ocs spec, should be real percentage like @JanAckermann states it.

[2022-08-12 13:45] #4084 closed

[2022-08-15 04:01] saw-jan opened #4390 "Local API test apiSpaces/changeSpaces.feature:221 fails because there is no cleanup after each test"
Test: `apiSpaces/changeSpaces.feature:221`
Drone job: https://drone.owncloud.com/owncloud/ocis/14430/40/7

Expected behavior: test `apiSpaces/changeSpaces.feature:221` passes in CI each running
The reason why it doesn't work: no cleaning after each test and admin has a lot of Brians

Test Log:
[code]
Drone log:
[code]

[2022-08-15 06:51] kiranparajuli589 commented on #1239
@SagarGi if the issue is not relevant further, please close it with the proper current behavior in a comment. The expected failure files also need an update regarding the scenarios linked with these issues.

[2022-08-15 08:01] SagarGi commented on #4390
Thought that this issue has been fixed with this PR https://github.com/owncloud/ocis/issues/4325 but with investigation it seems to be a flaky pass. It is failing locally and also the pass could not be reproduce so far and is failing on others PR too. May be lets wait for the next nightly if it fails again.

[2022-08-15 09:13] SagarGi opened #4393 "copy to overwrite (file and folder) from `Personal` to `Shares Jail` behaves differently"
### Description

When we copy a file over the top of an existing folder from `Personal` to `Shares Jail` we get `500` status code. Also when we copy folder over the top of an existing file (given user has an editor role to the shared resources) then the status code is `403`.

### Steps to reproduce
1. user `einstein` creates a file `t1.txt` and a folder `FOLDER`
2. user `moss` creates a folder `MO

[2022-08-15 10:18] SwikritiT commented on #4390
It's weird after setting the quota and uploading a file bigger than the set quota `507` is the expected status code but sometimes the file gets uploaded and `201` is returned. It's only reproducible through tests as of now. through curl command  it gives me `507`. I'll try if I can reproduce it again.

[2022-08-15 11:19] SwikritiT commented on #4390
Upon running the following test it gives `201` instead of `507` and the test fails.
[code]
OCIS LOG:
[code]
When I try to reproduce this through curl, it gives me `507` 🤷🏽‍♀️

[2022-08-15 11:26] phil-davis commented on #4390
Note: PR https://github.com/owncloud/ocis/pull/4369 removed 3 of 4 examples from expected-failures:
[code]

And it left `changeSpaces.feature:221` in expected-failures. That seems unusual. So maybe there is some timing/race condition with the handling of the quota changes?

@micbar any thoughts? Maybe something in https://github.com/cs3org/reva/pull/3133 has some flakiness?

[2022-08-15 11:30] SwikritiT commented on #4390
I'm running the server through docker. When I clean start docker container and run the above test for the first two times the tests passes with `507` status code.
[code]

But from the 3rd time it starts failing and gives `201` instead of `507`
[code]
The file gets uploaded

[2022-08-16 03:25] saw-jan commented on #4347
Test started to pass https://drone.owncloud.com/owncloud/ocis/14432/41/8

[2022-08-16 03:57] saw-jan commented on #4347
Check with the latest master. Member can see "share a resource with people"
Admin:
![admin-shares](https://user-images.githubusercontent.com/52366632/184794857-60a2874b-d239-429d-8447-45bd2afa0d23.png)

Marie:
![member-see-shares](https://user-images.githubusercontent.com/52366632/184794872-2b51da47-fd84-4ee2-bb8a-40a26da410ab.png)

[2022-08-16 07:21] SwikritiT commented on #4390
The behavior is the same if I serve ocis locally from repo
For the first time, the scenario runs it works fine `507` is returned but from the second time onwards it gives `201`. I still can't reproduce through curl req. I'll try to write bash script and see if I can reproduce it.

[2022-08-16 07:39] individual-it commented on #4383
QA-team should implement API tests for that if not existing yet

[2022-08-16 07:43] dragotin commented on #4395
Bumped prio to one b'cause this needs attention ASAP because of vacation dependencies.

[2022-08-16 08:35] dragonchaser commented on #4251
https://github.com/cs3org/reva/pull/3152

[2022-08-16 10:38] C0rby commented on #4395
This will be resolved once we merge https://github.com/owncloud/ocis/pull/4374

[2022-08-17 08:27] C0rby opened #4401 "Refactor proxy request authentication"
In https://github.com/owncloud/ocis/pull/4374 the request authentication was refactored but this solution is still not very clean.
Before that PR the authentication logic had many implicit behaviors e.g. unauthenticated requests were still forwarded and reva has it's own authentication handler which is why this worked.

But the clean way would be to explicitly handle the authentication in the prox

[2022-08-17 08:32] butonic commented on #4366
I rember reading docs that mentioned locks and etags but can no longer find them. Hoowever, rereading https://developers.google.com/maps-booking/reference/grpc-api/status_codes I would highlight this:

For me _a client-specified test-and-set_ translates into the http preconditions that the client sents along, which is what WOPI does as well, does it not? That is why I would argue that the GRPC API

[2022-08-17 08:39] butonic commented on #4366
hah! In https://cloud.google.com/apis/design/errors#generating_errors you can find:

HTTP | gRPC | Example Error Message
-|-|-
400 | FAILED_PRECONDITION | Resource xxx is a non-empty directory, so it cannot be deleted.
409 | ABORTED | Couldn’t acquire lock on resource ‘xxx’.

[2022-08-17 08:44] butonic commented on #4366
To be clear: when a client sends a request without a condition, eg. _please lock file /foo_, then the server MUST return a `PRECONDITION_FAILED` error. The client did not specify a 'test' the server should perform before creating the lock.

[2022-08-17 09:12] C0rby commented on #3829
@wkloucek, how do you know it's a HTTP broker?

[2022-08-17 09:21] mmattel opened #4402 "missing line break for error message"
## Describe the bug
When running:
`ocis storage-users uploads list --help` on an **uninitialized instance**, you get following output:

[code]
Note the trailing `<user>@<host>:~$` This part should be on a new line and not directly continued after the period sign at the end of the error message, making the message hard to read.

## Steps to reproduce

## Expected behavior
Linebreak post the error m

[2022-08-17 09:24] SwikritiT commented on #4390
The problem seems to be with the test. As spaces aren't cleared after the user is deleted the test is somehow getting the space id of the previously created user with the same name and setting the quota of that `space id` so when the user uploads file to a currently created user it passes with `201` as the user's quota has not been updated.

[2022-08-17 13:28] TheOneRing opened #4406 "Server aborts tus upload without error message when out of quota"
## Describe the bug

A clear and concise description of what the bug is.

## Steps to reproduce

Steps to reproduce the behavior:

1. Create a space with 1gb quota
2. Post upload a 1.5gb file
3.

## Expected behavior
The server returns an http error code and an error message.

## Actual behavior
The server closes the connection

## Additional context
Add any other context about the problem here.

[2022-08-17 13:29] TheOneRing commented on #4406
@michaelstingl @dragotin

[2022-08-18 04:27] SagarGi commented on #3128
We can upload `files` to a shared resources which is locked by the owner. And the request gives `2XX` status code. I have remove this issue from expected to failure with this PR https://github.com/owncloud/ocis/pull/4404/files and link all the related issue to https://github.com/owncloud/ocis/issues/1284 for spaces. so may be this issue can be closed @kiranparajuli589 ?

[2022-08-18 05:49] kiranparajuli589 commented on #3128
Updating the issue link was great. Thx for that. Closing on behalf of #1284

[2022-08-18 05:49] #3128 closed

[2022-08-18 08:05] michaelstingl commented on #4406
@individual-it add API tests for quota-validation responses? Should behave same as oC10?

[2022-08-18 08:17] aduffeck opened #4410 "Search index does not update size and mtime of parents when entities change"
The search index needs to update parents of changed resources recursively when a change happens inside the tree. This _probably_ doesn't happen yet.

One way to solve that problem might be to emit events when propagating the tree size/mtime which the search service could pick up.

[2022-08-18 08:28] individual-it commented on #4406
@michaelstingl oh man, we have no TUS API tests to check quota, added to our ToDo list

[2022-08-18 08:45] michaelstingl commented on #4406
@TheOneRing suspects more cases, where the connection is sometimes closed without proper HTTP status code (token expiration for example)

[2022-08-18 09:49] #4367 closed, assigned to wkloucek

[2022-08-18 11:49] tbsbdr commented on #4303
updated:

\- Mails will be send on those events
 - `"You have been added to a Space"`

[2022-08-18 12:29] tbsbdr commented on #4303
@fschade if a virus is detected, we need to inform the user about it via mail.
something like this:
![image](https://user-images.githubusercontent.com/26610733/185394672-f4e226f3-24b0-4129-a399-24230713c102.png)

could you please state which information we have about the virus ex. virus name, type, description etc.?

[2022-08-18 15:23] dragonchaser commented on #4251
Since we tracked it down to the cache, here is a cdperf result comparing cached and uncached runs:
| Test                                      | with cache   | without cache | delta  |
|-------------------------------------------|--------------|---------------|--------|
| most-used-sizes-upload                    | 0h06m04.3s   | 0h06m16.8s    | 12.5s  |
| propfind-deep-100-files-45-nested-folders

[2022-08-18 15:56] dragotin commented on #4251
Why would the cache slow down the upload-delete test?
And in the propfind-deep cases, is the upload time measured as well?

[2022-08-19 06:57] SwikritiT opened #4419 "Need some clarification on who is the owner of a project space"
I'm opening up this issue because I need some clarification on who is the owner of a project space. I'm not sure if this is a bug or not.

1. As user admin make user `Einstein` a space admin
2. As user `Einstein` create a project space `New Space`
3. Now as user `Einstein` lists the drives using the graph API
[code]
[code]
In the above response, personal drive `Einstein`  has `owner`->`user`->`id`

[2022-08-19 06:58] SwikritiT commented on #4419
cc @phil-davis @individual-it @micbar

[2022-08-19 07:28] phil-davis commented on #4419
"something happened" (tm) a little while ago about this, from memory. One of the problems was that a project space can have multiple users that have "all rights" to manage the space. And if the "owner" is set to the user who created the space, then there is the problem of what to do if that user is deleted, disabled, or has their rights to the space removed.

IMO @micbar is offline at the moment.

[2022-08-19 10:55] kiranparajuli589 opened #4421 "PROPFIND on accepted shares with identical names containing brackets exit with 404 [spaces dav path]"
## Describe the bug

Whenever a user receives multiple shares with identical resource names, `(x)` is added to the resource name.

While a receiver tries to PROPFIND for that type of resource, the server responds with `409`

## Steps to reproduce

1. Create user `uu1`, `uu2`, `uu3`
2. Create folder `Folder` using `uu1` and `uu2`
3. Upload file `uu1TextFile.txt` using `uu1` inside `Folder`
4. Uploa

[2022-08-19 11:00] kiranparajuli589 commented on #4421
Here is a Wireshark snap for a MOVE request with the same type of resource involved.

Trying to move resources from between shares by different users.

[code]

[2022-08-20 13:57] ericzzh opened #4423 "Beta 6 cannot startup on MacOS"
## Describe the bug

After sending init and server commands, console prompts infinite errors and browser falls in a loop of infinite "access denied" errors.

There is not same problem for the beta5 binary.

## Steps to reproduce

OS: MacOs Monterey 12.4
Download https://download.owncloud.com/ocis/ocis/testing/2.0.0-beta.6/ocis-2.0.0-beta.6-darwin-amd64
Save as ocis.beta6
Send the below commands:

[2022-08-22 06:03] amrita-shrestha commented on #4339
Re-occurred at  build: https://drone.owncloud.com/owncloud/ocis/14706/51/7

[2022-08-22 06:40] SwikritiT opened #4424 "Total quota of personal space is set to `0`"
## Describe the bug

A clear and concise description of what the bug is.

## Steps to reproduce

Steps to reproduce the behavior:

1. As user `Moss` send curl request to list the `drives`
[code]

## Expected behavior
The values of the `total` quota should be equal to the `remaining` quota as nothing is used

## Actual behavior
Total quota is displayed as `0`
[code]
Even if I upload certain content

[2022-08-22 06:50] individual-it commented on #4419
@butonic can you clarify?

[2022-08-22 07:41] kulmann opened #4425 "Release 2.0.0-beta.7"
## Tasks
## PRs which need to be merged
<details>
  <summary>Click to expand</summary>

</details>

## Release Process
- [x] headsup to @michaelstingl for clients release preparation @kulmann
- [x] Bump web to web [v5.7.0-rc.10](https://github.com/owncloud/web/releases/tag/v5.7.0-rc.10) @kulmann
- [x] Bump reva to [v2.8.0](https://github.com/cs3org/reva/releases/tag/v2.8.0) @kulmann
- [x] Identify

[2022-08-22 07:44] kulmann commented on #4425
@michaelstingl @felix-schwarz ocis v2.0.0-beta.7 is planned for this week. I'd ping you again when we have the release branch (dependency updates, most importantly reva and web, happening beforehand)

[2022-08-22 07:55] butonic commented on #4419
@micbar added a technical owner to spaces which is impersonated when using public links to access a space. Public links are no longer tied to the user that creates them, but the space. For that to work introduced a technical user for every space, because we wanted to prevent a public link from ever accessing a different space.

cc @C0rby please don't hate us: https://github.com/cs3org/reva/pull/30

[2022-08-22 08:18] micbar commented on #4419
Now that you pinged me, I can also contribute 😄

What @butonic says is correct. But this should not be exposed. Neither cs3 api nor graph api should have an owner on project spaces. So this needs to be fixed.

[2022-08-22 09:12] #4402 closed, assigned to wkloucek

[2022-08-22 09:32] dragonchaser opened #4427 "Implement cache"
We need a cache that replaces our current in-memory approach that is causing issues (see: https://github.com/owncloud/ocis/issues/4251) and has been disabled for now (see: https://github.com/cs3org/reva/pull/3167).
We should introduce a go-micro store interface to be able to swap out the cache implementation as necessary (e.g. nats, go-micro...)

[2022-08-22 10:29] SwikritiT commented on #4390
That's true so what do we do for now, find a workaround or put the tests in expected to fail? The test does pass locally for me on the first run but from the second run there are a `lot` of `brian's` so it starts failing

[2022-08-22 10:34] SwikritiT commented on #4390
The tests in this PR are also failing because of the same reason https://github.com/owncloud/ocis/pull/4371

[2022-08-22 10:46] SagarGi commented on #4339
This issue cannot be reproduce locally. And all the failures seems to be with the content check. It fails sometimes on upper upload(change content) or for the second change(change content). Upon investigation the failure seems to be due to same content (can be reproduce when we make the content same when updating). But the tests is checking status code that file has been updated. But still intermi

[2022-08-22 11:07] micbar commented on #4419
@SwikritiT @individual-it @butonic @phil-davis  please always refer to #4316

[2022-08-22 11:17] ScharfViktor commented on #4390
I suggest we wait for #4196
I will change the name of this issue and the related problem in the expected failures

[2022-08-22 11:48] micbar commented on #4427
@jvillafanez started this already in #4193

[2022-08-22 11:50] micbar commented on #4424
0 represents “unlimited”

[2022-08-22 12:42] michl19 commented on #4380
@michaelstingl can you have a look into this as well. We're unsure if it's desktop or backend.

[2022-08-22 12:46] michl19 commented on #4427
This ticket concerns Reva. #4337 is about oCIS

[2022-08-22 13:17] ScharfViktor commented on #4210
re-tested in beta6. Search works for share jail

[2022-08-22 13:17] #4210 closed

[2022-08-22 13:38] butonic opened #4430 "implement migration for sc3 to jsoncs3 sharemanager"
https://github.com/cs3org/reva/pull/3148 introduces a new `jsoncs3` manager to fix performance problems of the `cs3` share manager.

We need to provide a migration to
- [ ] Load() shares inte the `jsoncs3` share manager and
- [ ] Dump() them from `cs3`.
- [ ] test with the migrate command

[2022-08-22 13:42] butonic opened #4431 "implement jsoncs3 publicshare manager"
similar to https://github.com/cs3org/reva/pull/3148 we need to apply the approach of the `jsoncs3` share manager to the `cs3` publicsharemanager.

Currently, a folder with 100 files takes 5sec to list in the web ui, because it asks for the `oc:share-types` property. It will internally stat every resurce in the listing...

related: https://github.com/cs3org/reva/issues/2976

[2022-08-22 14:05] SwikritiT commented on #4424
Sorry, that wasn't intuitive to me. I was adding some tests where the quota of a user is set to `0` and then the user tries to upload a resource of a certain size. And I couldn't do it or rather it didn't work as expected. So I thought this must be a bug. I'll be closing it if it's not a bug.

[2022-08-22 14:05] #4424 closed

[2022-08-22 14:19] SwikritiT commented on #4419
for this is there a separate ticket or should I create one?

[2022-08-22 15:49] michaelstingl commented on #4380
Maybe desktop. Something's 🐟 -y. I'll have a look tomorrow…

[2022-08-22 18:55] ScharfViktor commented on #4390
@phil-davis I can suggest this solution: https://github.com/owncloud/ocis/pull/4433

[2022-08-23 04:45] phil-davis commented on #4393
Also see core PR https://github.com/owncloud/core/pull/40308 - that demonstrates what happens currently in oC10 core. Maybe we want to forbid some of these "strange" COPY overwrite share requests? And define the expected/required behavior, and make both oC10 and oCIS match that.

[2022-08-23 04:47] phil-davis commented on #4390
PR #4433 cleans up the user personal spaces in AfterScenario. So that is a good start.

Is there some way that we can delete project spaces that were created during a scenario?

[2022-08-23 05:29] SwikritiT commented on #4390
Someone that's granted with the `Space Admin` role can first disable and then delete the space.
This disables
[code]
This deletes
[code]
We just can find out who the manager is of the created space, and then send a request from that user to delete the space in the after scenario. Could be a workaround until the admin has the permission to do so?

[2022-08-23 06:45] SwikritiT commented on #4419
@micbar I've updated the title and description.

[2022-08-23 08:24] ScharfViktor commented on #4390
deleting the project space is nice to have, but it does not block any tests. here we can definitely wait #4196 IMHO

or implement deleting project space:
- admin gets all project space `graph/v1.0/drives`
- finds user with role "manager" in root->permissions section
- user deletes space

should we wait or implement deleting project space? What do you think?

[2022-08-23 08:45] SagarGi commented on #4339
https://github.com/owncloud/ocis/pull/4435 this is a debug PR with step  ` And the content of file "/FOLDER/lorem.txt" for user "Alice" should be "updated file one"` . And is passing consistently on debug build. But cant certainly say that it could be the main reason reason of failure. But might help for debugging if it fails in coming days.

[2022-08-23 08:49] ScharfViktor commented on #4390
deleting spaces increased run time in CI - 28 min. https://drone.owncloud.com/owncloud/ocis/14804/41/7

we should probably parallelize the tests

[2022-08-23 08:54] phil-davis commented on #4390
Yes, agree. There are 342 scenarios - so it is good that so many run in less than 30 minutes!

A few other pipelines are taking 20 to 25 minutes. But that is a separate thing to look at.

Is there some sensible way to name 2 `apiSpacesZzzzz` suites that would have about half the scenarios in each?

Or do we just name them `apiSpaces1` and `apiSpaces2`?

[2022-08-23 08:55] phil-davis commented on #4390
The code to delete project spaces should be "easy" - why not just do it now?

[2022-08-23 09:48] SagarGi commented on #4154
This PR https://github.com/owncloud/core/pull/40311 also contains `/Shares` related tests and i have not added `spaces` webdav for it. We can directly add it to `ocis` local api tests:

ToDo
- [ ] Add above tests in ocis

[2022-08-23 09:58] SwikritiT commented on #4406
@TheOneRing Hi I was trying to add some tests for this issue but it gives me correct HTTP status code `507` for this case.

### create a project space as user1
[code]
### create a tus resource
[code]
While trying to create a tus resource server replies with `507`
[code]
I'll also make a PR adding tests coverage

[2022-08-23 11:25] C0rby commented on #4406
I could reproduce the issue locally and found that the only difference is the `Content-Length` header.

See the log from the desktop client:
[code]

Using curl with the `Content-Length` header the connection never closes but without the header it works as expected.

[2022-08-23 11:43] michaelstingl commented on #4406
Bug in the backend? Could we prioritise this?

[2022-08-23 11:43] SwikritiT commented on #4406
Thanks, I missed the header. Behaves the same way for me as well with the `Content-Length` hearder

[2022-08-23 12:04] Corinari commented on #4425
Hi,

thanks for the rewrite of your codebase in Go, i'm excited to use it and get away from the slow nextcloud.

May i ask, how stable is the beta right now? I can live with bugs, as long data safety is no problem.

Thanks!

[2022-08-23 12:10] michaelstingl opened #4442 "Invalid link responds with HTTP 200 status code"
## Describe the bug

An invalid link shows correct in the web UI (`An error occurred while loading the public link`), responds with HTTP 200 status code.

![CleanShot 2022-08-23 at 14 07 20](https://user-images.githubusercontent.com/214010/186154025-66c342fa-97b7-4516-a9e6-77255d8e30d9.png)

## Steps to reproduce

Steps to reproduce the behavior:

1. Create invalid link like in https://github.com/

[2022-08-23 12:17] pmaier1 commented on #4425
Hi @Corinari, thanks for engaging with us!

To answer your question, well, it's beta software. The list of known bugs is shrinking with every release. You can check those here
- Backend https://github.com/owncloud/ocis/milestone/8
- Frontend https://github.com/owncloud/web/milestone/13

More information about our beta phase can be found here: https://owncloud.com/infinite-scale-beta/

Most importa

[2022-08-23 13:19] phil-davis commented on #4442
I added issue https://github.com/owncloud/core/issues/40313 in core to get some API test coverage of this - I don't see any tests that do this at present, so that is why we have not noticed this difference between oC10 and oCIS.

[2022-08-23 13:20] ScharfViktor commented on #4390
part 2 https://github.com/owncloud/ocis/pull/4441

[2022-08-23 13:20] kulmann commented on #4380
What kind of permissions does the public link have? We've introduced so called `Internal links`, which have a permission bitmask of `0`. Those are supposed to resolve into the correct shared location in the authenticated context of the user.

If the created link has permissions `0` then I'd have an explanation for the issue described above: Resolving internal links is not yet supported in ownCloud

[2022-08-23 13:22] C0rby commented on #4406
I couldn't find any error in the backend and it only seems to happen when the Content-Length is smaller than the sent file size.

So in my case the file was 1.3Gb but the Header was 1.0Gb
If I provide the correct content length it works as expected.

[code]

[2022-08-23 13:45] michaelstingl commented on #4406
Then the error is, the backend just closes the connection, instead of responding with a meaningful status code and error message? What did oC10 respond in such cases?

[2022-08-23 14:40] michaelstingl opened #4445 "[Capabilities] Expiration date for public links inconsistent"
## Describe the bug

oCIS capabilities have `"expire_date" > "enabled": true`, but no `"days": "7",` are set. This confuses the 2.11 desktop sync clients.

### oCIS

[code]

<details>
<summary><code>curl request + response</code></summary>

[code]
</details>

### oC10 with expiration date disabled

[code]

<details>
<summary><code>curl request + response</code></summary>

[code]
</details>

### oC

[2022-08-23 15:42] michaelstingl opened #4446 "Invalid parameter for link responds with HTTP 200 status code, but link creation fails"
## Describe the bug

Desktop sync client 2.11 (doesn't know about Spaces, TUS and new unified links yet) creates link from context menu (`Create and copy public link to clipboard` action), but because of https://github.com/owncloud/ocis/issues/4445 , the `expireDate` is set to today. (`expireDate=2022-08-23`)

Backend responds with successful link creation response, but when accessing the link, an

[2022-08-23 15:45] michaelstingl commented on #4380
Because of https://github.com/owncloud/ocis/issues/4445 , Desktop sync client 2.11 tries to create a link with todays expiration date, and because https://github.com/owncloud/ocis/issues/4446 , the link creation fails silently.

[2022-08-23 16:03] michaelstingl commented on #4380
No idea why both ways behave different in the desktop sync client. I opened an issue for further investigation: https://github.com/owncloud/client/issues/10057

[2022-08-24 03:52] SagarGi commented on #4383
API tests has been added with this PR https://github.com/owncloud/core/pull/40311

[2022-08-24 05:24] SwikritiT opened #4448 "[CI] `golangci-lint` is flaky"
`golangci-lint` is failing a lot recently and it's getting annoying.

[code]

build:
- https://drone.owncloud.com/owncloud/ocis/14852/27/3
- https://drone.owncloud.com/owncloud/ocis/14850/8/3

[2022-08-24 05:57] SwikritiT commented on #4448
Here too:
https://drone.owncloud.com/owncloud/ocis/14849/16/3

[2022-08-24 06:08] kiranparajuli589 commented on #764
We're a bit confused about the feature of moving in resources to the `Shares` space or directory:

- old | new: to `Shares` dir. from other directories outside
- spaces: to `Shares Jail` spaces from the Personal space (or other spaces)

Find out this comment from @micbar https://github.com/owncloud/ocis/pull/4179#discussion_r921106112 suggests the feature is expected and `502` assertion is a happy

[2022-08-24 07:12] grgprarup commented on #4448
https://drone.owncloud.com/owncloud/ocis/14863/7/3

[2022-08-24 07:26] SwikritiT commented on #4448
Failed here too: https://drone.owncloud.com/owncloud/ocis/14881/28/3
And multiple times for here https://drone.owncloud.com/owncloud/ocis/14883/26/3

[2022-08-24 08:18] individual-it commented on #764
I'm suggesting to test for 502, in case the behavior will change the test will have to be adjusted

[2022-08-24 10:04] grgprarup commented on #4448
https://drone.owncloud.com/owncloud/ocis/14880/10/3

[2022-08-24 12:10] ScharfViktor commented on #4425
# Compatibility test
from 2.0.0-beta.6 to beta7 (use [latest](https://hub.docker.com/layers/ocis/owncloud/ocis/latest/images/sha256-74fe1bf8b1067842bf0b987373626434ffb530e3829d671f9fb94631288cc435?context=explore))
## Create these with the original oCIS version and see if still the same after upgrading:
- shares
  - [x] public share
  - [x] share with user as role editor
  - [x] share with user as

[2022-08-24 12:22] ScharfViktor commented on #4425
# K6 results on intel test machine
ocis - 2.0.0-beta.7 (using latest version)

## Overview

| Test                                       | 2.0.0-beta.7| 2.0.0-beta.6 | 2.0.0-beta.5  | 2.0.0-beta.4  | 2.0.0-beta.3  | 2.0.0-beta2 | 2.0.0-beta1 | 1.20.0    | 1.19.0    | 1.18.0    | 1.17.0    | 1.16.0    | 1.15.0    | 1.14.0    | 1.13.0    | 1.12.0    | 1.11.0     | 1.10.0     | 1.9.0.     | 1.8.0

[2022-08-24 13:04] ScharfViktor opened #4452 "Public cannot open link to project space"
ownCloud Web UI 5.7.0-rc.10
Infinite Scale 2.0.0-beta.7

Steps:

- admin creates project space
- admin creates public link to project space
- public try to open link

Actual:
![image](https://user-images.githubusercontent.com/84779829/186425349-5518d8e1-44e8-4791-9b61-abdee6bbdf68.png)

[2022-08-24 13:06] ScharfViktor commented on #4452
regression. it's strange why the api tests didn't detect it. i'll find out.

[2022-08-24 13:16] C0rby commented on #4452
I can't reproduce this.

[2022-08-24 13:21] kulmann commented on #4452
Me neither.

[2022-08-24 13:34] ScharfViktor commented on #4452
rm -rf ocis, make clean, make build, make generate on fresh master. Start ocis again and I could reproduce it:
 https://user-images.githubusercontent.com/84779829/186431751-d3967ba9-7afc-471f-b06e-b8a68e9058f0.mov

[2022-08-24 13:50] C0rby commented on #4452
Nope, I still can't reproduce it.
But in your video there is this strange UI glitch and error message. Did you generate first and then build? Because that is the correct order.

[2022-08-24 13:56] ScharfViktor commented on #4452
Now it's all good. Thanks @C0rby

[2022-08-24 13:56] #4452 closed

[2022-08-24 14:09] ScharfViktor opened #4453 "View trash bin of disabled project space gives 404"
ownCloud Web UI 5.7.0-rc.10
Infinite Scale 2.0.0-beta.7

Steps:

- admin creates space
- admin creates folder
- admin deletes folder
- admin disables space
- admin trie to see trash bin before deleting space

Actual: PROPFIND `https://localhost:9200/remote.php/dav/spaces/trash-bin/1284d238-aa92-42ce-bdc4-0b0000009157%242c0e3fa4-e4d3-4a3f-b69f-6ea08beced33` gives 404

server log: `2022-08-24T15:49:

[2022-08-24 15:02] jvillafanez commented on #4278
The easiest option would be to add caching so we don't need to send the same query multiple times knowing the result. We could also include some kind of workers in order to send multiple requests at the same time asynchronously, which could speed up things.

Limiting the number of results could also be a good idea if it's limited in the ldap server, but we'll likely need to deal with "size limit e

[2022-08-24 15:08] ScharfViktor opened #4455 "Deleted user still as member of the project space"
ownCloud Web UI 5.7.0-rc.10
Infinite Scale 2.0.0-beta.7

Steps:

- admin creates space
- admin adds users "richard" and "einstein" as members
- admin creates public link to the space
- admin deletes user "richard"
- admin opens space

GET `https://localhost:9200/graph/v1.0/me/drives?%24top=0&%24skip=0&%24orderby=name+asc&%24filter=driveType+eq+project`

richard still as member:
![Screenshot 2022-0