[2021-11-26 19:36] c-nv-s commented on #2668
do you by any chance know the file path of that the local index is stored at? so that we can create a persistent docker volume for it?

[2021-11-28 11:19] #2823 closed

[2021-11-29 06:57] wkloucek commented on #2668
all files to be persisted are in `/var/lib/ocis`, where the example deployment also has a volume:

https://github.com/owncloud/ocis/blob/a7dc0ce1966d1eeb2e893d44c2f83a64e214d690/deployments/examples/ocis_s3/docker-compose.yml#L76

[2021-11-29 08:26] iFrozenPhoenix commented on #2668
@wkloucek but what's the benefit then to use s3ng?
All data are stored on a local persistent disk and additionally on 2 s3 buckets.
In my opinion it would be really beneficial if one could use s3 for blob and metadata (streamed / redirected direct access) and keep the indices on local disk. Then it should be possible to recreate the indices from the blob and metadata of s3.
This would allow a simp

[2021-11-29 08:35] wkloucek commented on #2261
I looked at the code and downloading an old version of a file is not implemented (https://github.com/cs3org/reva/blob/2ca63c840e42c0681e944c17259e2973ac99956d/internal/http/services/owncloud/ocdav/versions.go#L78)

[2021-11-29 09:58] #2803 closed

[2021-11-29 10:38] jvillafanez commented on #2822
It depends on who will take care of what responsibility. There are multiple points views on how to plan this topic depending on the goal.

If the goal is to make a library in multiple languages to connect to our services, it make sense your proposal. The problem is that I think it's too much work to do this properly because you'd need to take care of languages such as C++, PHP, Java and others. It

[2021-11-29 11:01] wkloucek commented on #2387
Update to the mtime problems encountered in https://github.com/owncloud/ocis/issues/2387#issuecomment-975184346:

Uploading a file in general works:

`curl -k 'https://cloud.owncloud.test/remote.php/webdav/Nyan-Cat-GIF-source.gif' -X 'PUT' -H 'content-length: 75416' -H 'x-oc-mtime: 1638179645' -H 'cookie: owncloud-selector=ocis' -u einstein:relativity -v -T ~/Desktop/oCIS-Team/Nyan-Cat-GIF-source.

[2021-11-29 13:10] c-nv-s commented on #2644
I'm also keen on getting this working

[2021-11-29 20:50] ScharfViktor opened #2829 "Overwriting a file in the space within the allowed quota does not work"
## Describe the bug

Api test for case: https://github.com/owncloud/ocis/tree/apiTestQuota

## Steps to reproduce

Steps to reproduce the behavior:

1. Create Space with quota 15 Bytes
2. Upload file 7 bytes to space: `curl -k https://localhost:9200/dav/spaces/{space_id}/test.txt -X PUT -d "7 bytes" -v -u admin:admin`
3. Overwrite file "test.txt" 10 bytes: `curl -k https://localhost:9200/dav/space

[2021-11-30 07:43] wkloucek commented on #2668
Only the index is stored on disk and the files (blobs) are only stored on S3. For example you have a image collection (10000 photos, 10MB each), you'll end up with a S3 bucket size of 100GB. But the index on your local disk only takes xx MB.

Still the index allows you for fast listing (eg. which photos are in the folder `/photos/2021/11/30/test/test/test/test/` or give me the file with id `xyz`)

[2021-11-30 16:43] rhafer commented on #2644
I've created a small patch to fallback to "email" when "preferred_username" is not available as a quick workaround. I only did this quick workaround here as this area of the code is likely to change quite a bit in the near future an we'll need to rework it anyway.
Will open an issue for making the required claims and mappings configurable.

[2021-11-30 16:47] rhafer opened #2833 "Make required OIDC claims configurable"
Currently when using an external IDP we're relying on a set of hardcoded claims. (e.g. `name` and `preferred_username`). Not all OIDC IDP support these  claims. Let's try  to make the set of required claims and their mappings to our internal user attributes configurable. To be able to support a broad set of IDPs.

User story
As CS team we'd like to support different customer IDPs to have a better

[2021-11-30 17:41] jvillafanez commented on #2822
After playing around a bit with the code generation, I've detected some problems, so we might need some additional restrictions.

If we aren't going to use the BSR that "Buf" provides, I think the simplest option is the following:

The directory structure will be the one below:
[code]
This means:
* one self-contained file per service.
* no dependencies

Splitting into multiple files will generate

[2021-12-01 07:30] iFrozenPhoenix commented on #2668
@wkloucek thank you for your explanations.

I had a few thoughts about it. Once I've read an article about OneDrive and it said that in most cases the users initially load up many files, i.e. many writes, and then the following operations are mainly read. I don't know if this behaviour is also valid for owncloud customer installations but I would expect that it is.

Further assuming that the index

[2021-12-01 13:24] timothyclin commented on #1688
According to some of the recent release notes - one can specify $OCIS_BASE_DATA_PATH variable in the environment config files ... https://newreleases.io/project/github/owncloud/ocis/release/v1.14.0

However, when I tested it against OCIS 1.9.0 that variable is not respected, files kept getting created in the default /var/tmp/ocis/storage location

[2021-12-02 09:02] butonic commented on #2670
AFAICT fixed by https://github.com/cs3org/reva/pull/2303

[2021-12-02 09:07] #2670 closed

[2021-12-02 11:18] #2609 closed

[2021-12-02 11:28] #1205 closed

[2021-12-02 13:47] #2644 closed

[2021-12-02 14:23] coucoulala commented on #2644
Great, works as expected! 👍

[2021-12-02 16:42] #2740 closed

[2021-12-03 18:20] coucoulala opened #2840 "HTTP 500 when trying to open a file in OnlyOffice and Collabora"
## Describe the bug

I've setup Collabora and OnlyOffice as described here https://github.com/owncloud/ocis/tree/master/deployments/examples/ocis_wopi . When I try to open a Document in either OnlyOffice or Collabora an error is thrown. I checked https://ocis.ocis-wopi.released.owncloud.works and the issue exists there as well.

## Steps to reproduce

Steps to reproduce the behavior:

1. Follow th

[2021-12-06 07:42] wkloucek commented on #2840
Thanks for the report, I'll have a look.

Opening documents on https://ocis.ocis-wopi.latest.owncloud.works/ is perfectly possible (oCIS master), but as you described, it fails on https://ocis.ocis-wopi.released.owncloud.works/ (oCIS 1.15)

[2021-12-06 09:26] felix-schwarz opened #2842 "Per-account device registration + key-value store"
## Is your feature request related to a problem? Please describe.
During discussion of https://github.com/owncloud/ocis/issues/2793, it showed that it would be beneficial if it was possible to control which devices sync which set of content.

This could be controlled by device classes (mobile, computer) or device types (phone, tablet, laptop, desktop) or, more granular, on a per-device basis.

The

[2021-12-06 10:32] refs commented on #2822
❤️ I see the benefits of using BSR, on the other hand I'm worried there is some vendor locking there. I think we have no complicated dependencies we have to import and don't think we need BSR at all. There are some shared google protobuf definitions somewhere, but we can always just add the `third_party` folder.

[2021-12-06 10:49] saw-jan commented on #2387
I have created [this](#2828) draft PR to automate tests for parallel deployment, but I could get the tests to pass.

Issue: `The requested user could not be found` while getting user `Alice` using `ocis:9200` with `owncloud-selector=oc10;path=/;`.
CI job: https://drone.owncloud.com/owncloud/ocis/8170/1/19

Checked:
- [x] user `Alice` exists in ldap
- [x] can GET user `Alice` directly from `oc10:80

[2021-12-07 10:20] wkloucek commented on #197
Rclone supports OIDC -> see our docs here: https://owncloud.dev/clients/rclone/webdav-sync-oidc/

[2021-12-07 10:37] wkloucek opened #2845 "Release 1.16.0 Tech Preview"
## Tasks
- [x] Brief marketing heads up
- [x] Release web v4.6.0 https://github.com/owncloud/web/issues/6091 @pascalwengerter
- [x] Update web to v4.6.0 in oCIS #2846  @pascalwengerter
- [x] update to REVA current release @wkloucek https://github.com/owncloud/ocis/pull/2850
  - [x] clean up our changelog regarding reva updates (there should be only one)
- [x] Create branch `release-1.16.0` -> CODE

[2021-12-07 11:05] wkloucek commented on #2845
# Smoke test with [oCIS Hello](https://github.com/owncloud/ocis-hello)
- [ ] [Docker-Compose Setup](https://github.com/owncloud/ocis/tree/master/deployments/examples/ocis_hello)
- [ ] Login as Einstein
   - [ ] Navigate to Hello Extension (via app drawer)
   - [ ] Type "foo" and submit -> receive "Hello foo"
   - [ ] Navigate to settings and make sure there are no Hello configuration options
- [ ]

[2021-12-07 11:06] wkloucek commented on #2845
# Compatibility test from v1.15.0 to v1.16.0-rc1

## Create these with the original oCIS version and see if still the same after upgrading:
- shares
  - [ ] public share without password, without expiration
  - [ ] public share with password, without expiration
  - [ ] public share with password, with expiration
  - [ ] share with user as role editor
  - [ ] share with user as role viewer
- settin

[2021-12-07 14:00] wkloucek commented on #2816
This is a display problem in ownCloud Web.

The actual file still has the same name:
- Create the file: `curl 'https://localhost:9200/remote.php/webdav/a%20b.%20C' -X PUT -k -u einstein:relativity`
- List all files: `curl 'https://localhost:9200/remote.php/webdav/' -X 'PROPFIND' --insecure -u einstein:relativity | xmllint -format -`

The response:
[code]

In oC Web the file is displayed like this:

[2021-12-07 15:08] phil-davis opened #2847 "Get latest web acceptance tests running in oCIS CI"
The web acceptance tests recently started making use of the test middleware to execute various scenario setup `Given` steps.

The `web` in oCIS is now being updated, The oCIS drone CI needs to have the test middleware running so that the web tests can pass.

PR #2846 bumps web to 4.6.0 - make CI pass.

[2021-12-07 15:10] phil-davis commented on #2847
web PR https://github.com/owncloud/web/pull/5136 implemented the middleware in web CI. drone starlark changes there are probably what is needed in oCIS.

[2021-12-07 15:24] wkloucek commented on #2840
Took me also some time to notice, but the deployment changed. We renamed some variables in https://github.com/owncloud/ocis/commit/222683d3cd3375efbbbe0001f8b79286b473d063#diff-00f4b53022cf3b58e15026fe6107678c262c84901e8588d044984cf217212019 ( as part of https://github.com/owncloud/ocis/pull/2811).

So if you use `APP_PROVIDER_BASIC_GRPC_ADDR` instead of `APP_PROVIDER_GRPC_ADDR` and `APP_PROVIDER_

[2021-12-07 15:24] #2840 closed

[2021-12-08 05:53] dpakach commented on #2847
done in https://github.com/owncloud/ocis/pull/2848
this will be fixed in https://github.com/owncloud/ocis/pull/2846

[2021-12-08 08:39] phil-davis commented on #2847
The commit has been cherry-picked to #2846 and CI is running. Waiting for the result.

[2021-12-08 09:20] wkloucek opened #2849 "Scaling oCIS"
## Describe the bug

There is no documentation on how to scale oCIS.

Also just scaling the oCIS service in an deployment example like the [oCIS S3 example](https://github.com/owncloud/ocis/blob/master/deployments/examples/ocis_s3/docker-compose.yml) does not work because lockups happen.

## Expectations

There is an example and docs on how to scale oCIS.

[2021-12-09 03:26] dpakach commented on #2847
https://github.com/owncloud/ocis/pull/2846 has been merged

[2021-12-09 03:26] #2847 closed

[2021-12-09 07:48] jboesh opened #2853 "ocis questions data directory, auth and office integration"
Hi

Owncloud is running on ocis.mydomain.com with the docker compose snippit below.

- Is it possible to have a data directory that I can mount as a volume?
the config volume is used for application files but I've got some documents on the host too that I want to use in Owncloud (without uploading it first).

- another question, is it possible to disable the authentication? I've got my own authent

[2021-12-09 09:53] pascalwengerter commented on #2853
Hey @jboesh, thanks for taking oCIS for a spin! A colleague will get back to you on the first two questions, regarding OnlyOffice we have an demployment guide on https://owncloud.dev/ocis/deployment/ocis_wopi/ which you can try on our demo instances which are linked on https://owncloud.dev/ocis/deployment/continuous_deployment/#ocis-with-wopi-server

[2021-12-09 10:59] individual-it opened #2854 "add spaces WebDAV URL as a third variant for WebDAV path"
Part of #2808

currently we use `old` and the `new` WebDAV path in the tests
old: `remote.php/webdav`
new: `remote.php/dav/files/<username>`

now we also need to run the tests with the new spaces concept.
The "private" space should react the same as the other WebDAV urls `/dav/spaces/<uuid>/`

The Example tables of the webdav related tests need to get an extra line. e.g.
[code]

[2021-12-09 11:00] individual-it commented on #2808
issue for WebDAV Urls #2854

[2021-12-09 13:34] jvillafanez commented on #2822
I think I'll change the approach to plan it like an internal library. The main problem I've seen with the previous approach is that you'll have to generate code for all the dependent proto files on your own, the code generator doesn't follow these dependencies.

For example, if file A (service) imports B (data types) you have to generate code for both A and B on your own. This will become a proble

[2021-12-09 15:37] pascalwengerter opened #2856 "Downloaded files in oCIS are unexpectedly renamed"
## Steps to reproduce

Steps to reproduce the behavior:

1. Open oCIS web UI
2. Download single file (archive download apparently is not affected)
3. See weird parameters appended to the filename

## Expected behavior
Downloaded file has the same name as in the web UI.

## Actual behavior

Test output (and what can be seen in manual mode on https://ocis.ocis-web.latest.owncloud.works, too):

[code

[2021-12-09 16:38] pascalwengerter commented on #2856
Fixed with the Reva update on current master (some minutes ago), can confirm it works on https://ocis.ocis-traefik.latest.owncloud.works. Closing here

[2021-12-09 16:38] #2856 closed

[2021-12-10 03:49] saw-jan commented on #2387
Now, the tests are passing.
The real reason for this issue was: `PROXY_CONFIG_FILE` config option no longer exists. So the configs must in one of these three locations https://owncloud.dev/ocis/config/#expected-loading-locations
Thanks to @wkloucek

[2021-12-10 05:52] individual-it opened #2862 "PROPFIND on spaces subfolder shows `d:href` without path"
## Describe the bug
the PROPFIND request on a subfolder of a space returns the list of containing files but the `d:href` to the file does not contain the subfolder name

## Steps to reproduce

Steps to reproduce the behavior:

1. create a folder called `new`
2. upload a file into the newly created folder
3. find the space id of the personal space: `curl -k -ueinstein:relativity https://localhost:9

[2021-12-10 05:59] individual-it opened #2863 "content of folder shares are not displayed through the spaces WebDAV API"
## Describe the bug
the content of a received folder share cannot be queried by PROPFIND for the content of that folder

## Steps to reproduce

Steps to reproduce the behavior:

1. as einstein share a folder to marie that contains some files
2. as marie accept the share
3. as marie find the spaceid of the personal space: `curl -k -umarie:radioactivity https://localhost:9200/graph/v1.0/me/drives/ |

[2021-12-10 07:15] wkloucek commented on #2853
That's a use case we want to support in the future, too. But currently this is not easily possible because of the file structure on disk.

That's currently not possible. The easiest solution I can image would be to enable basic authentication (`PROXY_ENABLE_BASIC_AUTH=true`) and adding the basic auth header in your authentication proxy. What kind of authentication proxy do you use?

[2021-12-10 07:42] wkloucek commented on #1965
I retested with oCIS 1.16.0-rc1 and at it works for me.

[2021-12-10 07:42] #1965 closed

[2021-12-10 07:53] wkloucek commented on #2258
@kiranparajuli589 @phil-davis this looks fixed as owncloud/web#5459 is merged , please reopen if still relevant

[2021-12-10 07:53] #2258 closed

[2021-12-10 07:55] wkloucek commented on #1038
Is fixed in oCIS 1.16.0-rc1 by https://github.com/cs3org/reva/pull/2316

![image](https://user-images.githubusercontent.com/34452982/145537615-91a7bf00-044e-483b-93b7-5e82d68f0337.png)

[2021-12-10 07:55] #1038 closed

[2021-12-10 07:59] wkloucek commented on #2640
fixed in oCIS 1.16.0-rc1 as described in https://github.com/owncloud/ocis/issues/1038#issuecomment-990711232

[2021-12-10 07:59] #2640 closed

[2021-12-10 08:01] wkloucek commented on #929
This looks all solved to me. See also https://github.com/owncloud/ocis/issues/1038#issuecomment-990711232.

Please reopen and describe if there is still a TODO.

[2021-12-10 08:01] #929 closed

[2021-12-10 08:09] wkloucek opened #2865 "App provider: cannot open office files on public link"
## Describe the bug

Opening a office file on a public link fails.

## Steps to reproduce

Steps to reproduce the behavior:

1. create public link with some office files
2. open public link
3. open office files with Collabora / Onlyoffice / CodiMD

## Expected behavior
You see the file opened

## Actual behavior
You see an error message

## Setup
oCIS 1.16.0-rc1

Error log:
[code]

[2021-12-10 08:50] wkloucek commented on #2795
Yes, basically the oCIS tracking ticket of cs3org/reva#2292

[2021-12-10 11:16] ScharfViktor commented on #2845
# K6 results on intel test machine

## Overview
| Test                               | 1.16.0    | 1.15.0    | 1.14.0    | 1.13.0    | 1.12.0    | 1.11.0     | 1.10.0     | 1.9.0.     | 1.8.0      | 1.7.0      |
|-----------------------------------|------------|------------|------------|------------|------------|------------|------------|------------|------------|------------|
| most-used-sizes-up

[2021-12-10 11:47] wkloucek commented on #1688
Sure, it does not work in oCIS 1.9.0 because it was introduced in oCIS 1.14.0. There also is no equivalent in oCIS 1.9.0 to that. So there is no way around updating to oCIS 1.14.0 or later, but there are also a lot of other bug fixes you'll get with that ;-)

[2021-12-10 11:49] wkloucek commented on #2668
@butonic I think you told me about simliar ideas. Do we have a place where this is written down / tracked?

[2021-12-10 12:34] ScharfViktor commented on #2845
#  SmokeTest
branch: v1.15.0-rc1
local

### Case 1: admin share folder(with file) to marie:

Admin:
- [x]  upload big file 30gb
- [x] upload folder with 2000 files with drag and drop. - uploaded 100 files.
- [x]  upload 2000 files with drag and drop. - uploaded 2000 files.
- [x] Check pagination, count items per page.
- [x] remove all files
- [x] upload folder "folder_to_share" with file.pdf
- [x]

[2021-12-10 13:11] ScharfViktor opened #2866 "Cannot open file png on public link"
## Describe the bug

Steps to reproduce the behavior:

1. add a png file and open it in mediaviewer (opened correctly)
2. create public link and open public link
3. open png file in mediaviewer

## Expected behavior
The pnd file can be opened in mediaviewer

## Actual behavior
Error 500
`2021-12-10T14:07:21+01:00 ERR could not get thumbnail error="{\"id\":\"com.owncloud.api.thumbnails\",\"code\":5

[2021-12-10 14:47] pascalwengerter opened #2868 "Copying zero byte file returns 201 status code but is not successful"
## Steps to reproduce

Steps to reproduce the behavior:

1. Go to https://ocis.ocis-web.latest.owncloud.works
2. Create folder in root, upload zero byte file to root
3. Try to copy zero byte file to folder

## Expected behavior
Copy of zero byte file exists inside folder

## Actual behavior
No file in copy target folder (yet the copy request has a status code of 201)

## Note
This was discovered b

[2021-12-13 08:26] jvillafanez commented on #2620
Fixed with https://github.com/owncloud/ocis/pull/2723. Current limitations have been explained in the PR.
Closing

[2021-12-13 08:26] #2620 closed

[2021-12-13 09:54] #2845 closed

[2021-12-13 11:55] phil-davis opened #2872 "[tests-only] Balance out length of web acceptance test pipelines"
Similar to https://github.com/owncloud/web/issues/6095

A recent full-ci run was done for #2871 - drone logs https://drone.owncloud.com/owncloud/ocis/8322

1) have a look at that CI run and comment in this issue about the range of run-times of the 20 web-tests pipelines

Then we can discuss/decide if it is worth manually allocating test suites to pipelines, to balance the run times better. (Curren

[2021-12-13 13:01] AndreasSko opened #3066 "Depth: 0 propfind reply has multiple response fileds"
### Expected behaviour
Client should sync all files.

### Actual behaviour
After the client has uploaded a file it crashes.

### Steps to reproduce
1. Use client in combination with latest version of OCIS
2. Start to sync a new file

### Server configuration
OCIS: 1.16.0
Storage backend: S3ng

### Client configuration
Client version: 2.9.2 (build 6206)

Operating system: MacOS Big Sur

OS language

[2021-12-14 08:29] phil-davis opened #2876 "Groups with space at the beginning or end of the name can be created with the Provisioning API"
## Describe the bug

## Steps to reproduce

## Expected behavior
Groups with space at the start or end of the name should not be allowed to be created:
" space-at-start"
"space-at-end "
" "
Those should all be prohibited group names.

## Actual behavior
Those names can be use when creating a group with the Provisioning API.

## Setup
Current ocis master.

[2021-12-14 11:19] micbar commented on #2862
Fix when a user / client reports an end user facing bug.

[2021-12-14 11:25] micbar commented on #2759
Current ocis behavior is ok IMO.

@SwikritiT Can you point out why this could be a problem for the end user?

[2021-12-14 12:35] wkloucek commented on #2868
Will be fixed by cs3org/reva#2374

[2021-12-14 15:51] jvillafanez commented on #2822
Final approach:
[code]
* New repository containing the proto files and the generated code from those proto files
  * Auto-generated content via "Buf" is marked in the folder structure above. There could be additional files needed in order to configure stuff
  * Proto files will contain the "go_package" option. There are no plans to include more languages.
* Planned changes in the proto files (to b

[2021-12-15 03:25] SwikritiT commented on #2759
That sounds good. I'll do as you suggested

[2021-12-15 10:47] phil-davis commented on #2759
core issue is https://github.com/owncloud/core/issues/39597 - closing here as the "problem" is in core.

The core API tests have been updated, and the core commit id update is in oCIS PR #2881

[2021-12-15 10:47] #2759 closed

[2021-12-15 13:29] #2868 closed

[2021-12-15 16:51] wkloucek opened #2886 "OCS knows about the current user storage driver"
Why does the OCS service need to know about the current user storage driver?

Look for `OCS_STORAGE_USERS_DRIVER` in the code.

TODO:
- Remove `OCS_STORAGE_USERS_DRIVER` if not needed
- If needed, document this

[2021-12-15 16:51] wkloucek commented on #2886
@butonic do you know something about this?

[2021-12-16 12:00] phil-davis opened #2893 "send PUT requests to another user's webDav endpoints as normal user [edge]"
## Describe the bug

Sending a PUT request to another users' WebDav endpoints as a normal user gives status code `409` rather than `403`

## Steps to reproduce

Steps to reproduce the behavior:

See the description in #2759

## Expected behavior
In `cs3org/reva` `master` and `owncloud/ocis` `master` the behavior is correct. `403` is returned all the time.

## Actual behavior
But in `cs3org/reva` `

[2021-12-16 14:22] C0rby commented on #2866
I tested it with the 1.16 release and it works. Could you try again?

[2021-12-17 14:14] jvillafanez commented on #2822
Quick status update:
* Changes are being implemented in the proto_refactor branch https://github.com/owncloud/ocis/tree/proto_refactor
* The accounts and thumbnails proto files have been migrated to the protogen folder in the ocis repo:
  * generated protobuf files are committed in the branch
  * grpc.md generated are also committed
* Last commit in the branch (9a533c9029831eed351e53f33d9c61b7d512

[2021-12-17 23:33] c-nv-s commented on #2644
@coucoulala I don't suppose you could confirm it that example docker-compose file you provided is actually still functioning?
I've been struggling to get ocis to even display the login, let alone redirect to the authelia login screen.
are you doing anything special in your entrypoint-override.sh ? because I have erased those lines and still no luck.
I'm also curious how the STORAGE_LDAP* are using

[2021-12-21 11:30] refs opened #2907 "Non working ldif examples"
## Describe the bug

After a bit of debugging, the default `ldif` files don't seem to provide with a working out of the box experience for a properly configured ldap server. When running openldap with the default files, the following error occurs:

`additional info: invalid structural object class chain (groupOfUniqueNames/posixGroup)`

having a look at the groups, the issue seems to be originated

[2021-12-21 11:44] refs commented on #2907
some people replace using a schema such as `rfc2307bis.schema`

[source](https://unofficialaciguide.com/2019/07/31/ldap-schemas-for-aci-administrators-rfc2307-vs-rfc2307bis/)

[2021-12-22 04:00] individual-it commented on #2387
@phil-davis @saw-jan can we close this?

[2021-12-22 04:13] phil-davis commented on #2387
There are only a few scenarios running. We need to review the scenarios and decide what "user workflows" to test, to verify that various changes done on the oC10 side are visible on the oCIS and vice-versa.

[2021-12-22 07:08] wkloucek commented on #2387
We're still waiting for sharing to work. That will definitively enable some more tests. Let's keep this ticket open until then.

[2021-12-22 08:27] wkloucek commented on #2778
fixed by https://github.com/owncloud/ocis/pull/2910

[2021-12-22 08:27] #2778 closed

[2021-12-22 08:29] wkloucek commented on #2907
Are you referring to these files https://github.com/owncloud/ocis/tree/master/deployments/examples/ocis_ldap/config/ldap/ldif ?

[2021-12-22 11:03] phil-davis opened #2914 "file versions do not report the version author"
## Describe the bug
core PR https://github.com/owncloud/core/pull/39126 implemented the ability for the author of each version of a file to be remembered and reported by the versions API.

## Steps to reproduce
apiVersions/fileVersions.feature:474
[code]

## Expected behavior
Version author can be queried.

## Actual behavior
The feature is not implemented yet in oCIS.

## Setup

Current oCIS mast

[2021-12-25 04:56] phil-davis commented on #1958
This does not have an entry in expected-failures, which is surprising. There should be an API test that checks that the files/folders in a share are not accessible until the share has been accepted.

QA ToDo:
- [ ] add an API test scenario(s) for this in the core API test suite

Then we will also know if this problem happens in oC10 core, as well as in oCIS.

[2021-12-27 08:57] micbar commented on #2687
Still open

[2021-12-27 09:58] michaelstingl commented on #2627
I'd say it's unrelated?

[2021-12-28 17:09] dorianim opened #2920 "Samba as a storage backend"
## Is your feature request related to a problem? Please describe.
I would like to replace our the nextcloud of a local non-profit with ocis. The nextcloud is used for mostly one thing: Accessing files stored in a samba share which belongs to a ldap user.

## Describe the solution you'd like
I'd like to have an option to use samba as a storage backend where not only the home of the user is a samba

[2021-12-31 15:42] #1900 closed

[2022-01-01 16:27] dragotin commented on #2920
Thanks for you report. This will certainly happen but unfortunately it is not on the short term roadmap. You have to be  a bit patient ;-)

[2022-01-03 06:32] kiranparajuli589 commented on #1958
I'll try add the API test scenario today!

[2022-01-03 07:14] wkloucek opened #2928 "`/config` endpoints leak secrets"
## Describe the bug
The debug endpoints of the individual services feature a `/config` endpoint to view the configuration of a service.
The configuration includes secrets.

## Expected behavior
One can not dump secrets via this endpoint.

## Actual behavior
You can dump / view secrets in plain text on this endpoint. (Eg. `curl localhost:9205/config | jq .MachineAuthAPIKey`)

## Additional context

[2022-01-03 12:21] rhafer commented on #2907
It's because of a design flaw in the RFC2307 Schema :-(. The LDAP Standard only allows a single entry to have a single "structrual Objectclass" (and multiple auxilliary Classes). Unfortunately in RFC2307 `posixGroup` was defined as `structual` and `groupOfUniqueNames` is `structural` as well (many LDAP servers just don't implement this restriction. OpenLDAP does however). A possible workaround, as

[2022-01-03 15:45] phil-davis commented on #1958
We added tests to core with https://github.com/owncloud/core/pull/39635
Those will get run from oCIS when the core commit id is updated in the next few days. Then we should see some related test fails get added to oCIS expected-failures. Then this can be handed to devs to make it work.

Re-opening.

[2022-01-04 06:33] Talank commented on #2854
@amrita-shrestha is looking into this issue

[2022-01-04 08:28] wkloucek opened #2930 "move IDP OIDC client configuration to the general config"
## Is your feature request related to a problem? Please describe.
The IDP OIDC client configuration is currently done in the infamous `identifier-registration.yaml`. It will be written to disk once and never afterwards. Therefore config changes are not picked up by this file. It is not automatically updated because a user could have modified this file.

## Describe the solution you'd like
This fil

[2022-01-04 11:15] individual-it opened #2932 "run all API acceptance tests in oc10/ocis parallel deployment"
with #2897 we have a way to test the parallel deployment of oc10 & ocis, some specific tests have been added.
Now it would be good to run all existing API tests with `Given` steps with one system `When` steps with the other and `Then` again with the first one (if applicable) then reverse it and run again.

That should show if there are more issues than sharing.
A small sets (smoketests) can run on

[2022-01-04 11:16] individual-it commented on #2387
I've created a new issue to run ALL tests with the parallel setup https://github.com/owncloud/ocis/issues/2932

[2022-01-05 11:29] wkloucek commented on #2865
This is actually a bug in ownCloud Web, since it doesn't send any authentication.

It should send the `public-token` header containing the public token.

![image](https://user-images.githubusercontent.com/34452982/148210609-e030f8ea-9626-4262-b25c-eaed3826cae5.png)

[2022-01-06 13:21] #2467 closed

[2022-01-11 07:02] individual-it opened #2942 "webUIFiles/breadcrumb.feature:50 test fails in nightly builds"
this fails since a while in nightly runs e.g. https://drone.owncloud.com/owncloud/ocis/8636/32/9

[2022-01-11 10:21] kiranparajuli589 commented on #2942
seems like a bug to me.
if ocis is started with webConfig:
[code]

then breadcrumb for folder "0" is set the web UI

But, if we start ocis without `homeFolder` option and update it after the ocis service has started, the the changes in not reflected on the web UI

[2022-01-11 10:31] gabi18 opened #3154 "0 byte TUS upload results in an 500 error"
Here the log of the upload.
[code]
--------

Seen with ownCloud-2.10.0-rc3.

Steps to reproduce:
- login to ocis.ocis-traefik.latest.owncloud.works -> login is successful
- open Explorer and create a new file

Result:
Client shows a red error message "Host requires authentication" for a while, then the 'i' and message is shown in 'Not synced' tab.

![ocis-file-upload](https://user-images.githubuse

[2022-01-11 10:46] kiranparajuli589 opened #2944 "web config update is not properly reflected after the ocis start"
## Describe the bug

`ocis` use the env `WEB_UI_CONFIG` to look for and update the web ui config. If we start the server and then make some change in the config file, the changes are not reflected on the webUI until the restart.

## Steps to reproduce

Steps to reproduce the behavior:

1. start `ocis` server with `homeFolder` options not set in the WEB_UI_CONFIG file.
2. update the options `homeFo

[2022-01-11 10:47] kiranparajuli589 commented on #2942
separate issue created describing the bug

[2022-01-11 10:47] #2942 closed

[2022-01-12 07:03] saw-jan opened #2950 "Parallel deployment tests are failing with the latest oCIS docker image"
https://drone.owncloud.com/owncloud/ocis/8664/56/14
oCIS log:
[code]

After this PR https://github.com/owncloud/ocis/pull/2739 was merged. oCIS docker image got updated with the changes and now the parallel deployment tests are failing with the latest oCIS image.

The reason that the PR passed the CI is that in parallel deployment the oCIS server is built from the docker image, not from the curren

[2022-01-12 07:24] micbar commented on #2950
@butonic @kobergj Seems that we missed something. Can you dig into that?

[2022-01-12 10:25] jvillafanez opened #2954 "Settings' service implementation used by other microservices"
## Describe the bug

Objects implementing the settings service inside the settings microservice are being used in other microservices such as accounts (https://github.com/owncloud/ocis/blob/master/accounts/pkg/service/v0/permissions.go#L10) and graph (https://github.com/owncloud/ocis/blob/master/graph/pkg/service/v0/drives.go#L27), maybe others.

Communication among services should happen via prot

[2022-01-13 03:46] saw-jan commented on #2950
Maybe fixed by PR https://github.com/owncloud/ocis/pull/2952

[2022-01-13 04:26] phil-davis commented on #2950
Note: PR #2955 temporarily disabled the tests in CI, so that full-ci can "pass" for now.

Whichever PR actually fixes the problem, that will need to enable the tests in CI again.

[2022-01-13 11:55] micbar commented on #2709
@wkloucek @C0rby  can we change the displayname in the token?

[2022-01-13 12:17] wkloucek commented on #2709
probably fixed by https://github.com/cs3org/reva/blob/32b439e51b946d0d1089f5bcb21135fad59b0574/pkg/app/provider/wopi/wopi.go#L141-L158, will need to check

[2022-01-14 06:59] kiranparajuli589 commented on #2944
cc @wkloucek

[2022-01-14 09:18] individual-it opened #2964 "access ocis before docker container fully started breaks it"
## Describe the bug

sometimes the docker container starts in a way that makes it impossible to upload files
It seems to be triggered more if access already come in when the container is still starting, but not sure if its limited to that

## Steps to reproduce

Steps to reproduce the behavior:

1. run requests in a loop `while true; do curl --head --fail --insecure "https://localhost:9200/"; done

[2022-01-14 14:17] ScharfViktor opened #2966 "Search user by full name doesn't work"
web 4.9.0
ocis(docker) 1.16.0

Steps:
- Admin add file
- go to share dialog
- add to invite input  "Marie Curie"

Actual result: user not found
![Screenshot 2022-01-14 at 15 04 32](https://user-images.githubusercontent.com/84779829/149529398-4386ef4d-9c58-4c77-b05b-4a98d86fb50e.png)

Search by mail or name - works
![Screenshot 2022-01-14 at 15 03 32](https://user-images.githubusercontent.com/84779

[2022-01-14 17:15] rhafer commented on #2966
This seems to be a problem in glauth (or the accounts backend of glauth). Apparently filtering on "displayName" (the attribute that contains the full name does not work:

Doing the search manually gives no result as well,
[code]

I guess this issue will go away once we switch away from glauth

[2022-01-15 20:25] mortbauer opened #2967 "OCIS accepts token from any oidc client"
## Description

- OCIS does accept any valid token from the IDP.
- so also any other oidc client getting a access_token from the idp can access all owncloud user data
- that feels wrong

### Background
- OIDC is first authentication see for example [1](https://www.pingidentity.com/en/resources/client-library/articles/openid-connect.html)
- if one wants to use OIDC also for authorization this can b

[2022-01-17 03:33] amrita-shrestha opened #2968 "resource inside `Shares` dir is not found using the spaces WebDAV API"
## Describe the bug
Resource inside `Shares` directory not found using the spaces WebDAV API

## Steps to reproduce
1. Create two users "user1" and "user2"

2. Upload a file "lorem.txt" using the user "user1"

3. Share file "lorem.txt" with the user "user2" using the user "user1"

4. accept incoming share using the user "user2"

5. make an API request to mark "lorem.txt" file favorite using the sp

[2022-01-17 05:09] rpocklin opened #2969 "Cannot share files with another user using 'owncloud' storage driver"
## Describe the bug

Basic sharing fails on the published docker images for ocis.

## Steps to reproduce

Steps to reproduce the behavior:

1. Run the following:
[code]

where the contents of `.env` is:
[code]
2.  Login as `admin:admin` via `https://localhost:9200` in Chrome.
3. Upload a small file (anything).
4. Attempt to share with demo user `marie`.
![image](https://user-images.githubuserconte

[2022-01-17 07:33] wkloucek opened #2972 "complete ownCloudSQL driver implementation on REVA edge"
## Is your feature request related to a problem? Please describe.
The ownCloud SQL driver in REVA edge is missing  the `ListStorageSpaces` implementation (https://github.com/cs3org/reva/blob/edge/pkg/storage/fs/owncloudsql/owncloudsql.go#L1953-L1956)

## Describe the solution you'd like
We can use the ownCloud SQL driver in oCIS with REVA edge and therefore the interface must be implemented comple

[2022-01-17 07:33] wkloucek commented on #2972
@aduffeck can you please take care?

[2022-01-17 07:33] wkloucek commented on #2950
Tracking ticket for fix in REVA edge: https://github.com/owncloud/ocis/issues/2972

[2022-01-17 09:50] aduffeck commented on #2972
:+1: I'm on it

[2022-01-17 10:05] kiranparajuli589 commented on #2968
similarly `PROPATCH` also fails for the resources inside the `Shares` dir. So we cannot perform operations like `favorites, ...` for the files inside

[2022-01-17 11:19] micbar commented on #2967
@mortbauer Thanks for reporting. We will take a look.

[2022-01-17 11:20] micbar commented on #2967
@rhafer Can you take a look?

[2022-01-17 12:15] mortbauer commented on #2967
Have to say that bug is probably wrong categorisation, but feature also didn't feel right

[2022-01-17 15:57] C0rby commented on #2709
Yeah, good question how.
The problem is that for shares the share creator/owner gets impersonated, that is why the applications show their name.

[2022-01-17 16:19] rhafer opened #2974 "LDAP reconnection support for Add/Mod/Del"
## Describe the bug

https://github.com/owncloud/ocis/blob/master/graph/pkg/identity/ldap/reconnect.go is missing the retry/reconnect logic for  the add/mod/delete operations. See the search implementation here: https://github.com/owncloud/ocis/blob/master/graph/pkg/identity/ldap/reconnect.go#L41

[2022-01-18 08:41] kulmann commented on #2132
Yes, I think we can close here. Anything else (bugs or future features) deserves new, dedicated issues.

[2022-01-18 08:41] #2132 closed

[2022-01-18 12:30] #2974 closed

[2022-01-18 18:21] rhafer commented on #2967
@mortbauer Would you mind sharing a few more details for how to reproduce this issue? I guess I am misunderstanding the issue, but isn't this more of an issue of how the IDP is configured rather than an issue in ocis itself? So a few more details would help here.

BTW, what setup are using. Is this base on the keycloak setup from the example deployments?

[2022-01-18 18:43] mortbauer commented on #2967
Hey @rhafer, I don't think it is a thing of the idp, here my thoughts:

here a quote from the [auth0 docs on scopes](https://auth0.com/docs/get-started/apis/scopes):

So I would understand it that way that ocis should define some scopes, for example `read.userdata`, `write.userdata` ...  and then other applications (clients in oauth2 terms) request access to these scopes, the user than has to gran

[2022-01-19 09:21] individual-it opened #2981 "webUISharingInternalUsers/shareWithUsers.feature:342 flaky"
failed with ocis in https://drone.owncloud.com/owncloud/ocis/8801

[2022-01-19 10:53] individual-it opened #2983 "pin test middleware"
currently the latest version of the middleware  is used here, we should pin it like in other repos to avoid issues when changes are made

[2022-01-19 11:35] rhafer commented on #2967
@mortbauer Ah, ok. I think now I got it. Yeah, currently ocis doesn't make use of any custom scopes (not sure what's the right OIDC terminology for this.) We really just use OIDC for authentication and requesting the basic user claims (so the "default" oidc scopes openid, profile, email). We currently  don't handle authorization (i.e. which app is able to do what inside ocis) via OIDC scopes. And

[2022-01-19 12:50] #2983 closed

[2022-01-19 12:59] exalate-issue-sync[bot] opened #2986 "Managers can handover the space"
# Story

# AC
- Managers can promote other members of a space to managers
- Managers can remove themself from the Space
- Managers can downgrade their Role
- If there's only one Manager left, that Manager can't change their role or remove themself

[2022-01-19 13:01] exalate-issue-sync[bot] opened #2987 "Understand who else has access to a Space"
As a Space member I want to know who else has access to the Space (and their role, etc.) so that I know who I'm sharing with when I add files. This affects only space root.

# IMPORTANT

We need to design this as a vertical feature.

## AC
- All Space members can list other Space members and their roles independent of their role
- All Space members can list all links that were created for the Spac

[2022-01-20 08:48] exalate-issue-sync[bot] opened #2993 "Deleting a Space"
As a manager of a Space I want to delete a Space when it's not needed anymore so that unused Spaces can be cleaned up. As deleting a whole Space can potentially lead to big data loss I want this process to be stepwise. The first step should disable the space so that Space members cannot list or access the Space anymore. The second step should allow a permanent deletion of all data in the Space.

#

[2022-01-20 08:49] exalate-issue-sync[bot] opened #2994 "Harden WOPI server"
# Description

Use production webserver
Stop logging auth tokens

## User Stories

* > As a software vendor i need to productize the community software to make it available for customers

## Value

## Acceptance Criteria

## Definition of done
- Functional requirements
[ ] functionality described in the user story works
[ ] acceptance criteria are fulfilled
- Quality
[ ] codre review happened
[ ]

[2022-01-20 09:04] phil-davis commented on #2993
This will be very useful for automated acceptance tests. We will be able to properly delete a space at the end of a scenario. The process will likely require 2 API requests:
- disable the space
- permanently delete the space

And that will be fine. A single API request to permanently delete a space (overriding everything) would be dangerous to have from a client/user perspective. A client app/UI b

[2022-01-20 09:19] glpatcern commented on #2994
And in addition to Klaas' comment about the access tokens, I had removed the logging of the whole URLs (that do include access tokens) sent back on `CheckFileInfo`, so to not have any access token anywhere in the logs.

[2022-01-20 09:46] kulmann opened #2995 "CreateHome fails"
## Describe the bug

Sometimes ™️ the `CreateHome` grpc request fails on first user login. As a result the logged in user sees a `Resource not found` page, which is yielded by a 404 from `PROPFIND` on the user home.
What I noticed in the filesystem is that the following folder structure was created, with a symlink to a non-existing folder:
[code]

## Steps to reproduce

Steps to reproduce the beha

[2022-01-20 10:07] wkloucek commented on #2995
Also happens on continuously deployed demo instances (eg. https://ocis.ocis-web.latest.owncloud.works/).

I did a dump of the user storage (see attached zip), that is similar to @kulmann s example, that can be use to reproduce the state oCIS is in after the CreateHome didn't succeed... Though it doesn't bring us futher to the answer why this happens at all.

[code]

[2022-01-20 10:09] wkloucek commented on #2995
@butonic can you please have a look again?

[2022-01-20 10:23] kulmann commented on #2995
@wkloucek did you see any `too many open files` log lines on the deployment examples? Would like to get a feeling if that's related or unrelated.

[2022-01-20 11:22] #2993 closed

[2022-01-20 11:53] wkloucek commented on #2995
Possible fix: https://github.com/cs3org/reva/pull/2457

[2022-01-20 11:54] wkloucek commented on #2964
Error looks the same as https://github.com/owncloud/ocis/issues/2995 (404 on webdav propfind)
Possible fix https://github.com/cs3org/reva/pull/2457

[2022-01-20 13:02] wkloucek opened #2998 "Release 1.17.0 Tech Preview"
## Tasks
- [x] Brief marketing heads up
- [x] Release web
- [x] Update web to 5.0.0 https://github.com/owncloud/web/issues/6248 https://github.com/owncloud/ocis/pull/3157
- [x] update to REVA current edge (release?)
  - [x] clean up our changelog regarding reva updates (there should be only one)
- [x] Create branch `release-1.17.0` -> CODEFREEZE
- [x] Prepare Changelog
- [x] Release Notes @pmaier1

[2022-01-20 13:24] fschade opened #2999 "Search sharee by username is broken"
## Describe the bug
Searching a sharee by displayname seems to be broken, the backend only considers the username when searching for users.

## Steps to reproduce
1. run ocis v1.16.0
2. open webui
3. share folder with string 'marie c' -> works

1. run ocis from master
2. open webui
3. share folder with string 'marie c' -> does not work

request done by the frontend: `https://localhost:9200/ocs/v2.

[2022-01-20 13:25] fschade commented on #2999
cc ^ @rhafer

[2022-01-20 14:11] phil-davis commented on #2999
same as #2966 ?

[2022-01-20 16:50] ScharfViktor opened #3002 "Uploading a file to a shared space does not work"
ocis v.1.16.0 local

Steps:

- admin create Space
- admin upload file in Space (works)
- admin shares Space to Marie with role editor (Something's breaking here)
- admin tried upload file again but get 500

api-tests: https://github.com/owncloud/ocis/pull/3004

server log:

![image](https://user-images.githubusercontent.com/84779829/150383394-233f1bc7-d245-44a0-be6b-d5baeacff955.png)

`2022-01-20T

[2022-01-20 16:52] rhafer commented on #2999
Yeah seems to be the same issue. Though it seems that my conclusion in #2966 is wrong. Need to take a closer look.

[2022-01-20 17:28] fschade commented on #2999
yup same, closing in favor of #2966

[2022-01-20 17:28] #2999 closed

[2022-01-21 08:05] exalate-issue-sync[bot] opened #3006 "Implement WebDAV locking"
# Description

Implement WebDAV Locking in reva

## User Stories

- as a user i want to have a consistent editing experience across my applications to avoid data loss

## Value

- WOPI Server Locks are exposed to WebDAV

## Acceptance Criteria

- [x] WOPI Server Locks are visible on WebDAV
- [x] WebDAV Locks prevent WOPISERVER to open in edit mode
- [x] WebDAV Clients can unlock a file using the s

[2022-01-21 12:21] wkloucek commented on #1420
@phil-davis can we close this, since owncloud/core#39612 is merged?

[2022-01-21 14:20] kobergj commented on #3002
Fixed with this one: https://github.com/owncloud/ocis/pull/3011

[2022-01-21 22:06] dschmidt commented on #2866
I might have more information on this. I noticed the same - at first it seemed random, but by now I think it might be dependent on the resolution:

[code]

Right now I can reproduce 100% of the times. The only difference in those requests is `x=1280&y=1280` vs `x=3840&y=3840`.

[2022-01-23 15:46] #3002 closed

[2022-01-24 08:45] kiranparajuli589 commented on #2854
### TODO:
**Note:** Please create a separate issue when you're taking one of the suites from above todo, link that issue with the correct suite and properly (check/uncheck) boxes after that. Also, mark your in-progress suites, so that others will not start working on that.

- [ ] apiAuth
- [ ] apiAuthOcs
- [ ] apiAuthWebDav
- [ ] apiCapabilities
- [ ] apiComments
- [ ] apiFavorites
- [ ] apiFedera

[2022-01-24 09:01] kiranparajuli589 opened #3022 "use spaces webdav for `apiAuth` suite"
### Description
- use spaces WebDAV URL for `apiAuth` suite from `oc/core`
- includes:
  - cors.feature (no need)
  - corsOc10Issue34679.feature (no need)
  - filesAppAuth.feature (no need)
  - tokenAuth.feature (no need)
  - webDavAuth.feature

### Related
- part of https://github.com/owncloud/ocis/issues/2854

[2022-01-24 09:41] phil-davis opened #3023 "Test apiWebdavMove1/moveFolder.feature:135 fails with 400 status"
## Describe the bug
[code]

## Steps to reproduce

Steps to reproduce the behavior:

Run core API test `apiWebdavMove1/moveFolder.feature:98`

## Expected behavior
Test passes.

## Actual behavior
~Test hangs. I think that the oCIS server-under-test goes int a loop and never responds.~

After reva PR https://github.com/cs3org/reva/pull/3009 the attempted move gives a 400 status. But oC10 gives a 4

[2022-01-24 09:42] phil-davis commented on #3023
Examples:
https://drone.owncloud.com/owncloud/ocis/8916/30/6

https://drone.cernbox.cern.ch/cs3org/reva/5190/15/6

The problem seems to happen in `cs3org/reva` and in `owncloud/ocis`

[2022-01-24 10:05] phil-davis commented on #3023
https://drone.owncloud.com/owncloud/ocis/8916/30/3

The server output has lots of:
[code]

And ends with:
[code]

I suppose something goes "into a spin" agter that, because there is no more log output, but the API request does not finish (the test runner is hung waiting for an API request to finish)

[2022-01-24 10:28] amrita-shrestha opened #3024 "add spaces webdav for `apiShareOperationsToShares2` suite"
### Description
- use spaces WebDAV URL for `apiShareOperationsToShares2` suite from `oc/core`
- includes:
  - getWebDAVSharePermissions.feature
  - shareAccessByID.feature (no need)
  - uploadToShare.feature

It includes tests for adjusting the quota of users **`Bug`** (https://github.com/owncloud/product/issues/247)

### Related
- part of https://github.com/owncloud/ocis/issues/2854

[2022-01-24 10:55] rhafer opened #3027 "graph user management: deleting a user doesn't remove group membership"
## Describe the bug

(This is when using the LDAP backend of the Graph API)

When deleting a user, we don't yet cleanup the user's groupmember ship in the LDAP server. As LDAP doesn't make any promises about referential integrity we should explicitly remove the user from the groups it was member of.

[2022-01-24 11:42] phil-davis commented on #3023
@micbar we thought that this was just a problem that caused an infinite loop when directly using CS3 APIs. But I get an infinite loop with this test scenario that uses webDAV and OCS APIs.

[2022-01-24 12:00] phil-davis commented on #3023
Note: when fixing this issue (presumably firstly in reva) please remove the skip of `issue-ocis-3023` that had to be done in commit https://github.com/cs3org/reva/pull/2451/commits/491579b357e6bdb844abad1f2e0324b1a19d2ef1 of `cs3org/reva` `master`.

I will need to make a similar skip in `cs3org/reva` `edge`

And when pulling the fix into `owncloud/ocis` please do similar to remove the skip that wa

[2022-01-24 12:06] kiranparajuli589 opened #3028 "use space dav path for TUS upload tests"
### Description
use spaces DAV path for TUS upload acceptance tests

**tests/acceptance/features/apiWebdavUploadTUS**
├── checksums.feature
├── creationWithUplaodExtension.feature
├── lowLevelCreationExtension.feature
├── lowLevelUpload.feature
├── optionsRequest.feature
├── uploadFile.feature
├── uploadFileMtime.feature
├── uploadFileMtimeShares.feature
├── uploadToMoveFolder.feature
├── uploadTo

[2022-01-24 14:48] pascalwengerter commented on #2995
Side note: Started the WOPI deployment example today and ran into this issue multiple times

[2022-01-24 15:10] wkloucek commented on #2995
which version of oCIS did you use? (if latest, could you please post your docker image digest?)

[2022-01-24 15:12] pascalwengerter commented on #2995
`sha256:55f2b4d71249d06d45241b83780a396eea83aa6c1d906fbbd1e5f90bf9e373e9`

[2022-01-24 15:24] wkloucek commented on #2995
did you start from scratch (no volumes present before) or did you have pre-existing volumes? You can check that by running `docker inspect ocis_web_ocis-data` (which should also be name of the volume on your side). It will stat the creation date in the `CreatedAt` field.

Background: It was potentially fixed in https://github.com/cs3org/reva/pull/2457. It is already included in your image but if y

[2022-01-24 15:45] pascalwengerter commented on #2995
Had some issues because volumes seemed not to be deleted the way I expected them to...now they're all fresh but the problem persists, yes

[2022-01-25 04:42] kiranparajuli589 commented on #3024
done with #39710

[2022-01-25 04:42] #3024 closed

[2022-01-25 05:22] amrita-shrestha opened #3029 "add spaces webdav for `apiAuthWebDav` suite"
### Description
- use spaces WebDAV URL for `apiAuthWebDav` suite from `oc/core`
- includes:
  - webDavDELETEAuth.feature
  - webDavLOCKAuth.feature
  - webDavMKCOLAuth.feature
  - webDavMOVEAuth.feature
  - webdavMultiShashOC10Issue34365.feature (**`no need`**)
  - webDavPOSTAuth.feature
  - webDavPROPFINDAuth.feature
  - webDavPROPPATCHAuth.feature
  - webDavPUTAuth.feature
  - webDavPUTAuthOC10

[2022-01-25 06:13] #3022 closed

[2022-01-25 12:06] jvillafanez commented on #2672
I guess the definition should be placed somewhere inside the ocis-pkg folder
    The code should be generated inside each service that will answer the "getConfig" request

This is taken care with the protobuf refactor done in https://github.com/owncloud/ocis/pull/2960

The plan is to create a "/protogen/proto/ocis/services/config/v1/config.proto" file (and the associated messages) with the service

[2022-01-25 13:53] ScharfViktor opened #3031 "Viewer and editor has the possibility to disable the space"
ocis v.1.16.0 local
api-tests: https://github.com/owncloud/ocis/pull/3032

Failed scenarios:

1. A user (role doesn't matter) can delete a Space use the webDav API
- for deleting personal space we use another method `curl -k -s -u admin:admin -X DELETE 'https://localhost:9200/graph/v1.0/drives/space_uuid' -H 'Purge: T'`
- But we can drop space using `curl -k -s -u admin:admin -X DELETE 'https://lo

[2022-01-25 18:46] michaelkrieger opened #3033 "Creating a new folder which is a substring of Shares leads to "Unknown Error""
## Describe the bug
It appears that certain folder names result in an unknown error

## Steps to reproduce

Steps to reproduce the behavior:

On a fresh installation, logged in as the admin:admin default user
* I create a folder named "Share", and I receive an "Creating folder failed… Error: Unknown error".  The folder is in fact created when I refresh.
* I then create a folder named "Testing123"

[2022-01-25 22:42] diocas opened #3034 "Create app provider new file fails"
Probably should be in REVA, no?

We've added the new file creation (via app provider) in web (owncloud/web#5890) but now it's failing with a 500 from the server. The reply message we get is "error calling InitiateFileUpload" and I see some "user.ocis.quota: no data available" messages in the logs, but don't know if they are related.

[2022-01-26 03:33] amrita-shrestha opened #3035 "add spaces webdav for `apiWebdavProperties2` suite"
### Description
- add spaces WebDAV URL for `apiWebdavProperties2` suite from `oc/core`
- includes:
  - getFileProperties.feature

### Related
- part of https://github.com/owncloud/ocis/issues/2854

[2022-01-26 05:13] phil-davis commented on #3033
Output of the new test scenarios that I wrote in core PR https://github.com/owncloud/core/pull/39719 :
[code]

Those tests all pass in core oC10.

[2022-01-26 05:16] phil-davis commented on #3033
- creating a folder with a name shorter or longer than `Shares` fails.
- creating a file with a name longer than `Shares` fails. (a shorter file name, like `Share` seems to be ok!)
- trying to create a folder `Shares` returns 201 status, but `Shares` already exists, and in that case oc10 returns 405. So oCIS  should really also return 405.

[2022-01-26 05:26] #3029 closed

[2022-01-26 06:50] butonic commented on #3033
hrmpf, great find. There are some places in the ocdav handler where we assemble a user namespace based on the mountpath of spaces. There is some back and forth prefix matching to determine how space mountpoints affect the filelisting. I bet there is a bug in there ...  @kobergj and I wrote that code but it will take some time (as in days) before I can take a look.

[2022-01-26 08:44] micbar opened #3039 "Anonymous upload triggers panic error"
## Describe the bug

A clear and concise description of what the bug is.

## Steps to reproduce

Steps to reproduce the behavior:

1. Do an anonymous upload into a public link

[code]

## Expected behavior
- Upload succeeds

## Actual behavior
- Upload succeeds and creates a panic error

## Logs

Please describe how you started the server and provide a list of relevant environment variables.

<det

[2022-01-27 05:40] amrita-shrestha opened #3042 "add spaces webdav for `apiWebdavProperties1` suite"
### Description
- add spaces WebDAV URL for `apiWebdavProperties1` suite from `oc/core`
- includes:
  - copyFile.feature
  - createFileFolderWhenSharesExist.feature
  - createFolder.feature
  - getQuota.feature
  - setFileProperties.feature

### Related
- part of https://github.com/owncloud/ocis/issues/2854

[2022-01-27 09:27] #3035 closed

[2022-01-28 07:51] phil-davis opened #3047 "moveShareInsideAnotherShare behaves differently on oCIS than oC10"
core PR https://github.com/owncloud/core/pull/39724 added new test scenarios that test moving one share inside another share. They were made to add test coverage of the types of things described in core issue https://github.com/owncloud/core/issues/39000

When these are run on oCIS, some of them fail: https://drone.owncloud.com/owncloud/ocis/8983/25/6
[code]
so the behavior on oCIS is different to

[2022-01-28 07:59] phil-davis commented on #3047
[code]

A share receiver tries to move the whole of a received share inside another received share. On oC10 that is not allowed, and a `403`  status is returned. oCIS is returning `201` and letting "something" happen.

[2022-01-28 08:03] phil-davis commented on #3047
[code]

A share receiver moves a whole received share out of the `Shares` folder and into one of their own local folders. oCIS returns a 501.

oCIS currently implements a kind of "Share Jail" where the received shares have to stay in the `Shares` folder. So IMO we need a different test scenario for this on oCIS. The attempt to move the received share should fail, but it should return some 4xx stat

[2022-01-28 08:04] phil-davis commented on #3047
[code]

[2022-01-28 08:07] phil-davis commented on #3047
[code]

[2022-01-28 08:08] kiranparajuli589 opened #3048 "tus upload overwrite on shared file with new data and correct checksum fails with `412`"
## Steps to reproduce

Steps to reproduce the behavior:

1. create two users `uu1` and `uu2`
2. create a new TUS resource on the WebDAV API with these headers:
  - Upload-Length: 16
  - Upload-Metadata: filename dGV4dEZpbGUudHh0

3. upload a file with a checksum to the last created TUS location with offset `0` and content `original content` using TUS protocol
4. `uu1` shares `/textFile.txt` with u

[2022-01-28 08:47] kiranparajuli589 commented on #2968
TUS resource also cannot be created for the resources inside the `Shares`.
[code]

[2022-01-28 09:15] SagarGi opened #3049 "add spaces webdav for apiWebdavOperations suite"
### Description
- add spaces WebDAV URL for `apiWebdavOperations` suite from `oc/core`
- includes:
  - deleteFile.feature
  - deleteFolder.feature
  - deleteFolderContent.feature
  - listFiles.feature
  - propfind.feature
  - refuseAccess.feature
  - search.feature

### Related
- part of https://github.com/owncloud/ocis/issues/2854

[2022-01-28 09:18] kiranparajuli589 opened #3050 "upload file with invalid name succeeds with spaces DAV"
## Describe the bug

A clear and concise description of what the bug is.

## Steps to reproduce

Steps to reproduce the behavior:

1. create user `uu1`
2. create a new tus resource on the webdav api with these headers
  - Upload-Length: 100
  - Upload-Metadata: filename <metadata>
  - Tus-Resumable: 1.0.0

## Expected behavior
The HTTP status code should be `412`

## Actual behavior
The HTTP statu

[2022-01-28 09:31] phil-davis commented on #3047
core PR https://github.com/owncloud/core/pull/39728 refactors these tests. I will update here after that is merged.

[2022-01-28 09:56] glpatcern commented on #2994
I concur any proxy in front of the WOPI server may log the access token when it's part of a `GET` request, but this should be sorted out at the proxy level. At the same time we have proven that the major integrations work with `POST`.

Out of the core wopiserver logs I think you got a few "false positives" in your grep, but one is to be fixed (the latter log line, which is an uncaught exception).

[2022-01-28 10:39] michl19 commented on #2849
@wkloucek could you give us an update on this ticket?

[2022-01-28 11:04] phil-davis commented on #3047
[code]

[2022-01-28 11:08] phil-davis commented on #3047
[code]

Brian tries to move a received shared folder out of `Shares` and into a local folder of his. That action should be rejected with some 4xx status, but it fails with a 501. The 501 needs to be fixed.

[2022-01-31 04:06] individual-it commented on #3048
Is this only a problem when using spaces or also without spaces? That is not clear to me reading the description and the example

[2022-01-31 04:07] individual-it commented on #3050
Is this only a problem when using spaces or also without spaces? That is not clear to me reading the description and the example

[2022-01-31 07:48] wkloucek commented on #2849
The docker-compose example from #2892 has currently a variable `OCIS_SCALE `  that can be set to 1...100 and scales individual services. So if you set it to 10 it will start 10 instances / containers from every service, that uses this setting. Some don't use that yet, because of eventual lockups that have been described in the EA channel or the open question on how to provide the persistence layer

[2022-01-31 08:19] wkloucek commented on #2547
@pmaier1 @micbar is that relevant for GA?

[2022-01-31 08:22] pmaier1 commented on #2547
I'd need to understand the consequences here to make a decision. Afaik Redis stores transactional file locks and sessions. What are the implications of doing / not doing it?

[2022-01-31 08:25] wkloucek commented on #2547
@butonic can you answer that?

[2022-01-31 08:37] micbar commented on #2547
@wkloucek @pmaier
IMO this is nothing before beta.

[2022-01-31 09:59] rhafer opened #3063 "Change password in self service"
# Description

Currently only the admin is able to change password we need to allow users to change their own passwords via:

POST /me/changePassword

## User Stories

* > As a user I need to change my password in self-service to keep my account secure

## Value

- Self service reduces helpdesk requests.

## Acceptance Criteria
[ ] change password works in IDM
[ ] positive API test required (corre

[2022-01-31 10:15] rhafer opened #3064 "graph/users: enable/disable users"
## Describe the problem

Our current implementation of the graph API does not allow to query the enabled/disabled state of users. Neither does it support setting it.

For the case where our libregraph implemenation is backed by our own User/Groupmanagement libregraph/idm (or another LDAP Server under our control) we can "invent" our own scheme of enabling/disabling users.

For cases where our libr

[2022-01-31 10:43] amrita-shrestha opened #3065 "add spaces webdav for `apiTrashbin` suite"
### Description
- add spaces WebDAV URL for `apiWebdavProperties1` suite from `oc/core`
- includes:
  - trashbinDelete.feature
  - trashbinFilesFolders.feature
  - trashbinFilesFoldersOc10Issue23151.feature (**no need**)
  - trashbinSharingToRoot.feature
  - trashbinSharingToShares.feature
  - trashbinSkip.feature (**no need**)

### Related
- part of https://github.com/owncloud/ocis/issues/2854

[2022-01-31 12:35] kiranparajuli589 commented on #3050
@individual-it I've updated the issue title & description.

[2022-01-31 12:36] kiranparajuli589 commented on #3048
@individual-it I've updated the issue title/description.

[2022-02-01 05:33] amrita-shrestha opened #3068 "update `apiWebdavEtagPropagation1` suite for spaces webdav"
### Description
- add spaces WebDAV URL for `apiWebdavEtagPropagation1` suite from `oc/core`
- includes:
  - deleteFileFolder.feature
  - moveFileFolder.feature

### Related
- part of https://github.com/owncloud/ocis/issues/2854

[2022-02-01 06:56] #3042 closed

[2022-02-01 07:56] wkloucek commented on #2387
@saw-jan @kiranparajuli589 we just merged https://github.com/owncloud/ocis/pull/3052, which brings back the parallel deployment on master and also has now a working sharing integration between oCIS and oC10. There is already one sharing test, which is currently failing. Could you please have a look at this single test and add more tests? :-)

[2022-02-01 07:57] wkloucek commented on #2972
implementation was merged in oCIS with https://github.com/owncloud/ocis/pull/3052

[2022-02-01 07:57] #2972 closed

[2022-02-01 07:59] wkloucek commented on #2950
Since https://github.com/owncloud/ocis/pull/3052 the parallel deployment uses the same oCIS binary as all other tests and tests are again passing

[2022-02-01 07:59] #2950 closed

[2022-02-01 08:01] wkloucek commented on #2932
Sharing functionality is now also available (see also https://github.com/owncloud/ocis/issues/2387#issuecomment-1026563617).

Should we close https://github.com/owncloud/ocis/issues/2387 in favor of this ticket?

[2022-02-01 08:03] saw-jan opened #3069 "Sharing test should work in parallel deployment but is failing"
Parallel deployment tests are now enabled in https://github.com/owncloud/ocis/pull/3052
And PR https://github.com/cs3org/reva/pull/2472 has enabled that shares are shared between oCIS and oC10
So the sharing test should work in parallel deployment but is still failing. see https://drone.owncloud.com/owncloud/ocis/9048/36/15

[2022-02-01 08:07] saw-jan commented on #2387
Ticket for investigating sharing test fail https://github.com/owncloud/ocis/issues/3069

[2022-02-01 08:52] individual-it commented on #2387
closing this, remaining work will be tracked in follow up issues

[2022-02-01 08:52] #2387 closed

[2022-02-01 09:33] rpocklin commented on #2969
Okay no worries - could I suggest the driver be deprecated in the code or removed completely?

[2022-02-01 09:49] SagarGi opened #3073 "Incorrect response while listing resources with depth "infinity" using spaces webdav API"
## Describe the bug

using spaces webdav API, the response to list resources of user with depth `infinity` the node contains **duplication** of the root folder and also response does not contain the **content of sub folder**.

## Steps to reproduce

Steps to reproduce the behavior:

1. create user `uu1`
2. create folder `simple-folder`
3. create folder `simple-folder/sub`
4. upload `lorem.txt`
5.

[2022-02-01 09:50] wkloucek commented on #2969
Docs already mention it as deprecated, but I'll care for removing all code and references ;-) Thanks for this finding!

![image](https://user-images.githubusercontent.com/34452982/151946643-9c6975db-bb5d-4e25-8c72-ee44b5ea964c.png)

[2022-02-01 09:55] #3028 closed

[2022-02-01 10:15] saw-jan opened #3074 "Sometimes `Shares` folder can have public link share"
## Describe the bug
Basically, `Shares` folder shouldn't be allowed to share with any users and groups or by public link.
But sometimes it can be shared.

![debugSuite-try_feature-L10](https://user-images.githubusercontent.com/52366632/151949564-af7fed0e-59d5-4f18-b0a0-a75f5ac559b7.png)

Hard to reproduce manually.
This scenario has sometimes caused an intermittent test failure: see https://github

[2022-02-01 10:52] amrita-shrestha opened #3075 "update `apiWebdavEtagPropagation2` suite for spaces webdav"
### Description
- add spaces WebDAV URL for `apiWebdavEtagPropagation2` suite from `oc/core`
- includes:
  - copyFileFolder.feature
  - createFolder.feature
  - restoreFromTrash.feature (**no need)** https://github.com/owncloud/ocis/issues/3084
  - restoreVersion.feature (**no need**) https://github.com/owncloud/ocis/issues/3079
  - upload.feature

### Related
- part of https://github.com/owncloud

[2022-02-01 12:24] amrita-shrestha opened #3079 "File version api for spaces is not implemented"
## Describe

Using the `new` WebDAV we can list file versions.

## Steps to reproduce

Steps to reproduce the behaviour:

1. create user `uu1`
2. upload `a.txt` with content 'upload version1'
3. upload `a.txt` with content 'upload version2'
4.  using spaces WebDAV API list file version
[code]
For spaces  I tired below endpoint.It return HTTP status code 404
[code]
### Question

- Is there any endp

[2022-02-02 05:50] #3068 closed

[2022-02-02 07:11] SagarGi opened #3084 "trashbin api for spaces is not Implemented"
### Description
using `new` webdav we can use the trash-bin API.
[code]
Does `spaces` webdav implemented for trash-bin API?

[2022-02-02 07:35] SagarGi opened #3085 "can't access public link resources with spaces webdav API"
### Description
Using the `new` WebDAV API, public link resources are accessed using the link token. But it cannot be performed using the spaces WebDAV since we do not have a proper user to request for the `spaceid`.

### Question
- Is there any way to access public link resources by public users using the spaces WebDAV API?
- If not will this feature ever be implemented?

[2022-02-02 08:08] amrita-shrestha commented on #3065
This issue will be on hold until owncloud adds trash-bin API feature on **spaces**
 ocis  spaces issue :https://github.com/owncloud/ocis/issues/3084

[2022-02-02 09:06] amrita-shrestha opened #3087 "update `apiWebdavMove1` suite for spaces webdav"
### Description
- add spaces WebDAV URL for `apiWebdavMove1` suite from `oc/core`
- includes:
  - moveFileAsync.feature **(no need not implemented on ocis)**
  - moveFileToBlacklistedNameAsync.feature **(no need not implemented on ocis)**
  - moveFileToExcludedDirectoryAsync.feature **(no need not implemented on ocis)**
  - moveFolder.feature
  - moveFolderToBlacklistedName.feature
  - moveFolderT

[2022-02-02 09:24] rpocklin commented on #2969
Yes, I noticed they added that quietly a few days after I raised this PR =)

[2022-02-02 09:27] JanAckermann opened #3088 "Make spaces dav endpoint aware of previews"
## Is your feature request related to a problem? Please describe.
While trying to retrieve a preview image in owncloud/web project via webDav:
`https://localhost:9200/remote.php/dav/spaces/ef03e8c8-343e-44f4-b5f8-be8a18b2f396/Screenshot from 2021-09-25 18-56-48.png?a=1&c=9066a03071ce20d4b96e028252109259&preview=1&scalingup=0&x=36&y=36`
I retrieve a 404 error.

## Describe the solution you'd like
P

[2022-02-02 09:27] JanAckermann commented on #3088
FYI @micbar @C0rby

[2022-02-02 11:10] #3027 closed

[2022-02-02 11:32] SagarGi opened #3092 "could not create system tag"
### Description
when tried to create a system tag using WebDAV API the request exits with 404 not found.

**Request**
[code]

**Response**
[code]

[2022-02-02 15:35] #3075 closed

[2022-02-02 18:01] wkloucek commented on #2822
@jvillafanez this should be closed by #2960?

[2022-02-02 18:06] #2822 closed

[2022-02-03 04:36] #3069 closed

[2022-02-03 04:59] saw-jan opened #3097 "Document how to run parallel deployment tests locally."
Sometimes we may want to run parallel deployment tests in our own machine so it is good to have documentation on how to do that.

Todo:
- [x] Add/Update necessary setup configs if necessary
- [x] Add  documentation on how to run parallel deployment tests

[2022-02-03 06:09] kiranparajuli589 opened #3098 "Use spaces webdav for `apiWebdavLocks` suite"
### Description
Use spaces WebDAV version with suite `apiWebdavLocks` features

**tests/acceptance/features/apiWebdavLocks**
├── exclusiveLocks.feature
├── exclusiveLocksOc10Issue34358.feature (notToImplementOnOcis)
├── folder.feature
├── publicLink.feature (scenarios using public WebDAV API are skipped)
├── publicLinkLockdiscovery.feature (scenarios using public WebDAV API are skipped)
├── reques

[2022-02-03 06:32] amrita-shrestha opened #3099 "Renaming resource to banned name is allowed in spaces webdav"
## Describe the bug

Renaming a file/folder to the banned name like **` \ `** on spaces webdav is not forbidden

## Steps to reproduce

Steps to reproduce the behavior:

1. create user `uu1`
2. upload file `file.txt` with content `12345`
3. rename the file `file.txt` to `\.txt`
[code]

## Expected behavior
  http response 400 Bad request

## Actual behavior
  a file with the name `<d:href>/remote.

[2022-02-03 07:18] wkloucek commented on #3097
Can't this be done with the docker-compose setup https://github.com/owncloud/ocis/tree/master/deployments/examples/oc10_ocis_parallel ?

[2022-02-03 08:02] SagarGi opened #3101 "add spaces webdav for apiTranslation suite"
### Description
- add spaces WebDAV URL for `apiTranslation` suite from `oc/core`
- includes:
  - translation.feature

### Related
- part of https://github.com/owncloud/ocis/issues/2854

[2022-02-03 08:13] amrita-shrestha opened #3102 "Renaming resource to excluded directory name is allowed in spaces webdav"
## Describe the bug

Renaming a file/folder to the excluded directory name like **` /.github `** on spaces webdav is not forbidden

## Steps to reproduce

Steps to reproduce the behavior:

1. create user `uu1`
2. upload file `file.txt` with content `12345`
3. rename the file `file.txt` to `/.github`
[code]

## Expected behavior
  http response 403 Forbidden response

## Actual behavior
  a file wi

[2022-02-03 08:15] kiranparajuli589 commented on #1284
### Exclusive Locks Feature
- tests coverage @ `tests/acceptance/features/apiWebdavLocks/exlcusiveLocks.feature` from owncloud core repo
- using `old`/`new`/`spaces` webdav versions:

- a second lock **can be** set on a folder when its exclusively locked
    <details>
    <summary>second lock request</summary>
    <pre>
    LOCK /remote.php/webdav/textfile0.txt HTTP/1.1
    Host: localhost:9200

[2022-02-03 08:19] JanAckermann opened #3103 "Space change description doesn't work via GraphAPI Patch"
## Is your feature request related to a problem? Please describe.
Calling the endpoint PATCH `https://localhost:9200/graph/v1.0/drives/15c2a7cf-e649-454d-a6aa-f27326d75749` with payload
[code]
Will return 200, but the description won't change

## Describe the solution you'd like
Make it work

[2022-02-03 08:19] JanAckermann commented on #3103
@C0rby @micbar FYI

[2022-02-03 08:44] kiranparajuli589 commented on #1284
### Folders
- user **can** upload to a locked folder
- user **can** upload to a subfolder of a locked folder
- user **can** create a folder in a locked folder
- user **can** create a folder in a subfolder of a locked folder
- user **can** move file out of a locked folder
- user **can** move the file out of a locked sub folder one level higher into a locked parent folder

[2022-02-03 08:50] JanAckermann opened #3104 "Renaming a Space works in list endpoint, single get still shows the old name"
## Describe the bug

Renaming a Space works in list endpoint, single get still shows the old name

## Steps to reproduce

Steps to reproduce the behavior:

1. Rename a Space
2. List drives shows the new name
3. Get single drive shows the old name

## Expected behavior
Get single drive should show the new name

## Actual behavior
Get single drive shows the old name

## Setup

Please describe how yo

[2022-02-03 08:50] JanAckermann commented on #3104
FYI @C0rby @micbar

[2022-02-03 10:37] micbar commented on #3104
thanks, will take a look now

[2022-02-03 10:44] kiranparajuli589 commented on #1284
### Public Link
- user **can** upload a file into a locked public folder

[2022-02-03 11:05] micbar commented on #3104
@butonic @kobergj It is a caching issue in the gateway or in the registry.

It only happens when i send a filter by id in the cs3api request.

[2022-02-03 11:08] amrita-shrestha opened #3107 "update `apiWebdavMove2` suite for spaces webdav"
### Description
- add spaces WebDAV URL for `apiWebdavMove2` suite from `oc/core`
- includes:
  - moveFile.feature
  - moveFileToBlacklistedName.feature
  - moveFileToExcludedDirectory.feature

### Related
- part of https://github.com/owncloud/ocis/issues/2854

[2022-02-03 11:19] #2994 closed

[2022-02-03 11:48] kiranparajuli589 commented on #1284
### Requests with token

Using any of the WebDAV versions (`old` or `new` or `spaces`)

- move a file into a locked folder is **possible** when using the wrong token (move requests ends with 201)
- share receiver **can** rename a file in a folder locked by the owner even when

[2022-02-03 12:09] micbar commented on #3104
@JanAckermann fix in https://github.com/cs3org/reva/pull/2500

[2022-02-03 16:20] micbar commented on #3104
merged, needs update in ocis.

will be part of #3094 correct? @kobergj ?

[2022-02-03 16:23] kobergj commented on #3104
Yes. I will update reva in https://github.com/owncloud/ocis/pull/3094 after https://github.com/cs3org/reva/pull/2458 is merged

[2022-02-04 03:41] saw-jan commented on #3097
Yes, we can use docker-compose setup from deployment examples but for the tests, we need to provide `oc10` server host as well as `ldap` server host which are only known via `docker inspect` (also the IP is dynamic).
If that would be fine then we might not need the extra setup. My intention was to create a similar setup like in drone setup for running the tests locally.

[2022-02-04 05:15] amrita-shrestha opened #3111 "REPORT method on spaces returns an incorrect d:href response"
## Describe the bug

the **REPORT** method requests a list of resources marked favorite on spaces.
In response, we get **d:href** with incorrect path

## Steps to reproduce

Steps to reproduce the behavior:

1. create user "user1"
2. upload files "aaa.txt"
3. mark file "aaa.txt" favorite
[code]
4. make a request to list favorite resources using the `REPORT` method
[code]

## Expected behavior

**`

[2022-02-04 07:00] JanAckermann opened #3112 "Don't create a .space folder while adding a new space"
## Is your feature request related to a problem? Please describe.
Since we don't rely on a .space folder, we don't want to create it while adding a new space

## Describe the solution you'd like
Don't create a .space folder

[2022-02-04 07:01] JanAckermann commented on #3112
FYI @micbar @butonic @C0rby

[2022-02-04 07:47] wkloucek commented on #3097
You can just use the service names for dns resolution if you run the test suite also inside docker. Or we could add exposed ports to the example, so that you got the oC10 and LDAP ports available on your localhost. Would that help?

[2022-02-04 08:12] saw-jan commented on #3097
I will try that one. Thanks :+1:

[2022-02-04 09:42] wkloucek commented on #30
I'll close this since it doesn't give additional information on what we have right now. Current work on this is tracked on another (sadly internal) ticket.

[2022-02-04 09:42] #30 closed

[2022-02-04 09:46] wkloucek commented on #2333
@kulmann @tbsbdr is this still valid? What needs to be done?

[2022-02-04 09:50] wkloucek commented on #1410
This is how it should be done:
- when a service registers itself at the registry, it can add routing information for the proxy in the metadata
- the proxy regularly queries all services and checks the metadata for routing information

Challenges:
- REVA services also must support it (we have multiple http based services in REVA, eg. datagateway, appprovider, ocdav, ...)

[2022-02-04 10:35] wkloucek commented on #1338
will be fixed by https://github.com/cs3org/reva/pull/2503

[2022-02-04 10:42] wkloucek commented on #1280
I wouldn't support that... We deeply integrate REVA and will even more in the future (registry topic). All relevant REVA config options should be exposed to the oCIS config

[2022-02-04 10:42] #1280 closed

[2022-02-04 10:46] wkloucek commented on #258
I'm closing this since it's a oC Web topic and I can no longer reproduce it because we currently have no EOS setup

[2022-02-04 10:46] #258 closed

[2022-02-04 10:50] wkloucek commented on #1301
@butonic this should be finally solved by spaces?

[2022-02-04 11:05] dragotin opened #3114 "Decomposed FS: Prevent code from broken metadata"
## Describe the bug

For example, if in `func SetMetadata()` we're setting multiple xattr's in a row. The method is left if any of the xattrs fails. However, actually the previously changed xattr's should be rewinded in case one of the latter fails to maintain consistent meta data.

Reference example:
https://github.com/cs3org/reva/blob/17606d3fbadf41bd3656a82472e19ddc51e5221c/pkg/storage/utils/de

[2022-02-04 11:39] amrita-shrestha commented on #3073
This issue has been solved

[2022-02-04 11:48] C0rby commented on #3066
@TheOneRing, is that an existing file?

[2022-02-04 11:52] TheOneRing commented on #3066
Happens after an upload

[2022-02-04 12:02] C0rby commented on #3066
Thanks, I'll try to reproduce it.

[2022-02-04 12:08] TheOneRing commented on #3066
Start the client, enable http logging,  upload a file,
you'll see an assert in the logs.

[2022-02-04 14:46] micbar commented on #3104
#3094 is merged

[2022-02-04 14:46] #3104 closed

[2022-02-04 14:57] ScharfViktor commented on #3103
Can confirm, change of description does not work
cases with the change of name and quota work

Steps
- add description: `curl -k -X PUT https://localhost:9200/dav/spaces/87907541-479f-4f8f-a5a8-9088547e9ac8/.space/description.md -d "Add a description to your spaces" -u admin:admin`
- see description: `curl -k https://localhost:9200/dav/spaces/87907541-479f-4f8f-a5a8-9088547e9ac8/.space/description

[2022-02-04 15:44] #2987 closed

[2022-02-04 15:57] C0rby commented on #3103
I guess changing the description and space image via the API is not implemented yet but is planned AFAIK.

[2022-02-04 15:59] micbar commented on #3103
yes. will improve.
The space.yaml was a first shot.

But clients should not be aware of that file.

We provide all information via the API in the future.

[2022-02-04 18:12] micbar commented on #3066
@TheOneRing Fix was merged and reva was updated in ocis.

Can you confirm and close if the fix was successful?

[2022-02-07 06:13] #3087 closed

[2022-02-07 06:49] saw-jan commented on #3097
@wkloucek I forgot the main thing. We also need to enable `testing` app in oc10 server which is not done in `deployments/examples`.
Should I update there like we do for drone? What would you suggest?

[2022-02-07 07:06] kiranparajuli589 commented on #3073
the issue was not true for `propfind` from root `/` but is true for `propfind` from some folders. @SagarGi will update the issue with reproduction steps, actual and expected reponses.

[2022-02-07 08:11] wkloucek commented on #3097
I'm ok with as long as we can hide it after a feature flag and it doesn't bloat too much ;-) It shouldn't be active by default since the main purpose of these examples is to educate people how to run stuff.
But you could just add another init shell script like [this](https://github.com/owncloud/ocis/blob/master/deployments/examples/oc10_ocis_parallel/config/oc10/10-custom-config.sh)

[2022-02-07 08:22] SagarGi commented on #3073
## Describe the bug

while trying to PROFIND a list of resources in a folder with depth `infinity`, the response we get is of depth `1`

 ## Steps to reproduce

Steps to reproduce the behavior:

1. create user `user`
2. create folder `folder`
3. create folder `folder/folder1`
4. create folder `folder/folder1/folder2`
5. create folder `folder/folder1/folder2/folder3`
4. upload `lorem.txt`
5. upload

[2022-02-07 10:17] SagarGi opened #3124 "add spaces webdav for apiWebdavUpload1 suite"
### Description
- add spaces WebDAV URL for `apiWebdavUpload1` suite from `oc/core`
- includes:
  - uploadFile.feature
  - uploadFileAsyncUsingChunking.feature
  - uploadFiletoBlacklistedName.feature
  - uploadFileToBlacklistedNameAsyncNewChunkinf.feature
  - uploadFileToExcludeDirectory.feature
  - uploadFileToExcludedDirectoryAsyncUsingNewChunking.feature

### Related
- part of https://github.co

[2022-02-07 10:25] kiranparajuli589 commented on #3098
### Description
add spaces example for `apiWebdavLocks2`

apiWebdavLocks2
├── resharedSharesToRoot.feature
├── resharedSharesToShares.feature
├── setTimeout.feature
├── setTimeoutSharesToRoot.feature
└── setTimeoutSharesToShares.feature

[2022-02-07 10:41] #3049 closed

[2022-02-07 10:42] #3101 closed

[2022-02-07 12:13] kiranparajuli589 commented on #3098
### Description
add spaces examples for `apiWebdavLocks3` suite

**tests/acceptance/features/apiWebdavLocks3**
├── independentLocks.feature
├── independentLocksShareToRoot.feature (@notToImplementOnOcis)
└── independentLocksShareToShares.feature

[2022-02-07 15:38] phil-davis commented on #2808
This is an overview issue and should stay open.

[2022-02-08 05:58] kiranparajuli589 opened #3128 "[spaces webdav] upload to a share that was locked by owner ends with status code 409"
### Steps to reproduce
Using the spaces WebDAV version

1. create user `uu1`, `uu2` and `uu3`
2. create a folder `/PARENT` using `uu1`
3. share folder `/PARENT` with `uu2` using `uu1`
4. accept the incoming share using `uu2`
5. share folder `/Shares/PARENT` with `uu3` using `uu2`
6. accept the incoming share using `uu3`
7. lock folder `/PARENT` with lock scope (exclusive or shared) using `uu1` (ow

[2022-02-08 06:20] kiranparajuli589 commented on #3128
@phil-davis it should be on the `ocis`. sorry for the issue placement. I've moved it to the ocis repo now.

[2022-02-08 08:34] wkloucek commented on #2849
The [oCIS Helm charts](https://github.com/owncloud/ocis-charts) also now supports scaling (some services not yet).

[2022-02-08 09:55] #3097 closed

[2022-02-08 10:03] jvillafanez commented on #2672
We'll need to decide on the output format and the information we want to show.
For testing purposes, only the thumbnail service is sending its configuration. The rest either aren't sending anything, or don't have the service implemented.

Possible configuration formats:

### full JSON
A JSON with a list containing the report of each service
[code]
* Advantages:
  * Easy to parse
* Disadvantages:

[2022-02-08 12:05] kiranparajuli589 commented on #1284
### Unlock operations
501 Not implemented with any of the DAV version

<details>
<summary> - Response with old webdav version</summary>
<pre>
UNLOCK /remote.php/webdav/PARENT HTTP/1.1
Host: localhost:9200
User-Agent: GuzzleHttp/7
Authorization: Basic QWxpY2U6MTIzNDU2
Lock-Token: opaquelocktoken:00000000-0000-0000-0000-000000000000
X-Request-ID: apiWebdavLocksUnlock/unlock.feature:22-15

HTTP/1.1 5

[2022-02-08 12:13] kiranparajuli589 commented on #3098
### Description

add spaces examples for `apiWebdavLocksUnlock` suite

**tests/acceptance/features/apiWebdavLocksUnlock**
├── lockBreakersGroups.feature (@notToImplementOnOcis)
├── unlock.feature
├── unlockOc10Issue34302.feature (@notToImplementOnOcis)
├── unlockSharingToRoot.feature (@notToImplementOnOcis)
└── unlockSharingToShares.feature

[2022-02-08 16:05] wkloucek opened #3134 "How to run multiple oCIS instances side by side?"
## Describe the bug
I want to run two oCIS instances side by side. Therefore I start oCIS two times. When I run `ocis version` on one of them, I see all services duplicated.

## Expected behavior
It's ok that the two oCIS instances think, that they should act as one, because they did find each other via the default mDNS service discovery. But there should be documentation about how to run them sep

[2022-02-08 17:09] pascalwengerter commented on #2995
Just set up a new machine (and both pulled fresh docker images & compiled oCIS locally), still an issue

[2022-02-08 17:10] pascalwengerter commented on #3034
@wkloucek let's look into this tomorrow, I've run into a bunch of errors around the app provider when trying out `web` stuff today

[2022-02-08 17:40] jvillafanez commented on #2672
Additional problem found: a microservice can register multiple services in micro. Settings, is an example where both a HTTP (com.owncloud.web.settings) and a GRPC (com.owncloud.api.settings) service are registered. The configuration is expected to be the same because it will be the same function the one responding both calls.

The issue is that the HTTP server doesn't have enough information to kn

[2022-02-09 05:32] SagarGi opened #3136 "add spaces webdav for apiShareOperationsToShare1 suite"
### Description
- add spaces WebDAV URL for `apiShareOperationsToShare1` suite from `oc/core`
- includes:
  - accessToShare.feature
  - accessToSharesFolders.feature
  - changingFilesShares.feature
  - gettingShares.feature
  - gettingSharesPendingFiltered.feature
  - gettingSharesReceivedFiltered.feature
  - gettingSharesReceivedFilteredEmpty.feature
  - gettingSharesSharedFiltered.feature
  - ge

[2022-02-09 08:17] wkloucek commented on #3034
I already looked into it and also have a WIP PR (https://github.com/cs3org/reva/pull/2443) couldn't finish that though, because we broke compatibility to the WOPI server when merging edge. (ongoing discussion is happening how to proceed)

[2022-02-09 09:18] jvillafanez commented on #2672
Planned format (to be agreed)
[code]
Note: the configuration for the `com.owncloud.web.settings` is delegated to the `com.owncloud.api.settings` since the configuration will be the same and we can't really distinguish which piece of configuration belongs to which service.
Other services not implemented yet might have the same behavior

The report command will only access to the configuration via G

[2022-02-09 10:25] #3006 closed

[2022-02-09 10:34] micbar opened #3139 "Add curl examples to the devdocs"
## Is your feature request related to a problem? Please describe.
As a consumer of the oCIS dev docs i want to know more about api calls

## Describe the solution you'd like
Add more curl examples to the dev docs

## Describe alternatives you've considered
none

## Additional context
This will be important for beta testers

## List of interesting APIs

- [ ] Drives
- [ ] Users
- [ ] Groups
- [ ] S

[2022-02-09 10:35] micbar commented on #3139
@phil-davis @pmaier1 @dragotin FYI

[2022-02-09 14:59] pmaier1 commented on #2998
Release notes draft https://github.com/owncloud/ocis/pull/3140

[2022-02-10 02:59] phil-davis commented on #1322
@individual-it what to do about this?
And is this about API tests (local ones, and/or ones from core), and/or web UI tests?

core API tests, that run against different systems-under-test (oC10, oCIS, reva) would have to understand where/how to see log output of the specific system-under-test. Because the backend "internal" logging of a system-under-test can be implemented however the system-under-

[2022-02-10 08:41] SwikritiT commented on #3136
The PR for this issue has been merged closing this

[2022-02-10 08:41] #3136 closed

[2022-02-10 09:56] SwikritiT commented on #3124
The PR for this issue has been merged. Closing this

[2022-02-10 09:56] #3124 closed

[2022-02-10 16:29] rhafer opened #3150 "Seamless LDAP configuration"
# Description
## Describe the bug

Several service in oCIS provide support for LDAP to provide various features. All of them usually access the same LDAP Server (usually also using the same credential to authenticate), but they're all configured in slightly different, sometime cumbersome ways. We should straighten this out and provide a more unified configuration. (And we should do so before GA, a

[2022-02-10 16:36] rhafer commented on #3150
@butonic @micbar Sorry for producing that amount text :smile: , but it helped me quite a bit to write it down. You might think differently about this by IMO we should tackle this soon.

[2022-02-10 16:39] #3098 closed

[2022-02-11 01:43] rpocklin opened #3152 "Webdav endpoint fails (immediately after logging in)"
## Describe the bug

Running the example docker compose containers located [here](https://github.com/rpocklin/ocis/tree/ocis-docker-proxy/deployments/examples/ocis_proxy) starts up the `ocis server` successfully every time, however, when navigating to and logging in to `https://ocis.owncloud.test" (using 'admin:admin') sometimes (but not every time) the following request fails, which is executed b

[2022-02-11 05:47] saw-jan commented on #3074
moved to web repo https://github.com/owncloud/web/issues/6419

[2022-02-11 05:47] #3074 closed

[2022-02-11 08:26] kulmann commented on #3152
Thank you for your bug report. This perfectly describes all the systems of the underlying https://github.com/owncloud/ocis/issues/2995 - @rpocklin could you add your issue description (including image and everything) as a comment to that ticket and close here?

[2022-02-11 13:38] rontrompert opened #3156 "WebDAV reads get stuck"
## Describe the bug

Reading files from OCIS using webdav get stuck.

## Steps to reproduce

Steps to reproduce the behavior:

1. docker pull owncloud/ocis
2. docker run --rm -ti -p 9200:9200 -v /my/dir/:/var/lib/ocis/ -e OCIS_INSECURE=true -e PROXY_ENABLE_BASIC_AUTH=true owncloud/ocis
3. rclone copy --transfers=4 --no-check-certificate myfiles/ ocis:myfiles
4. rclone copy --transfers=4 --no-check

[2022-02-11 14:46] C0rby commented on #3154
It seems to have something to do with the content-type header.

This request results in a 500 server error
[code]

This one without the content-type header works
[code]

[2022-02-11 15:42] C0rby commented on #3154
Hm after debugging a bit it seems to have something to do with our changes regarding zero byte file uploads: https://github.com/cs3org/reva/pull/2309

The file is never actually being written and in the end when we try to stat the uploaded file it fails because it wasn't created...

[2022-02-13 23:25] rpocklin commented on #2995
I have the issue with current `owncloud/ocis:latest` build (image id: 70d9f96b99e6) - seems to occur inconsistency (eg every 3 or 4th time when you provision a new docker image, even when deleting volumes).

After creating the container and logging in, (I was using `admin:admin`), every 3rd or 4th time the API request fails with a 404 (proxy makes request to storage-frontend which fails).

**Scree

[2022-02-13 23:25] rpocklin commented on #3152
Done.

[2022-02-13 23:25] #3152 closed

[2022-02-14 12:15] rhafer opened #3167 "Use GraphAPI for creating/deleting users and groups in acceptance test"
## Summary
With the GraphAPI allowing to manage user and groups now we should adapt our test-suite to use these endpoints for creating user and groups when running the acceptance test. That means basically adapting `https://github.com/owncloud/core/blob/master/tests/acceptance/features/bootstrap/Provisioning.php` to allow User Management via GraphAPI as another option.

## Reasoning
* The GraphAPI

[2022-02-14 12:57] C0rby commented on #3154
So the issue is that TUS expects that a 0 byte upload is finished early. See this line: https://github.com/tus/tusd/blob/0d781500f958e2d69098bc485aa2575f23ee3270/pkg/handler/unrouted_handler.go#L406

But when we are uploading a file we aren't actually using the TUS handler, instead we have our own handler which is initiating a new upload. https://github.com/cs3org/reva/blob/d217886c962b05ab7aa7519

[2022-02-15 07:01] phil-davis commented on #3167
Notes:
I amongst the core API tests, we currently run the `apiProvisioning-v1` and `apiProvisioning-v2` test suites.

For example:
https://drone.owncloud.com/owncloud/ocis/9382/23/6
[code]

https://drone.owncloud.com/owncloud/ocis/9382/24/6
[code]

Those test suites explicitly test the provisioning API. So we probably want to leave those running their `When` steps as they do now. And some time in

[2022-02-15 07:01] phil-davis commented on #3167
@rhafer are these endpoints available in `cs3org/reva`? Or this this only an oCIS  feature?

[2022-02-15 07:09] phil-davis commented on #3167
I added this issue to the QA test automation backlog project. Unless there is urgency, we can put it in the next QA test automation sprint starting next Monday. That will be to do the core API test changes.

@ScharfViktor I suggest that we create a separate issue for making local API tests that will exercise the whole graph API provisioning endpoints. Then that can be done as an independent task b

[2022-02-15 07:14] rhafer commented on #3167
As all the `/graph/` related bits, this is an oCIS feature. For the reva-only test we need to continue using LDAP directly.

[2022-02-15 13:05] exalate-issue-sync[bot] opened #3174 "Secure writes to the storage"
# Description

Introduce an If-Match Header on the etag

https://github.com/cs3org/reva/issues/4

## User Stories

* > If editing a file I want to be sure not to overwrite some others changes in the same file

## Value

## Acceptance Criteria

- [ ] Writes via WebDAV can now use the If-Match header and the decompose file systems supports it on a single node
- [ ] initiateupload needs to be aware o

[2022-02-15 16:50] rhafer opened #3177 "GraphAPI /users /groups needs to do permission checks"
## Describe the bug

All write operations should be restricted to the Admin Role for now. Also normal users should probably be only able to access  restricted to just the `/me` endpoint. Everything else should require extra permissions.

[2022-02-16 04:32] phil-davis opened #3179 "Refactor local API tests of JSON responses"
There are scenarios that test the JSON response to various spaces API requests. For example:
[code]

Those drill-down into the JSON response structure and have specific numeric array indices mentioned. (see the "0" and "1" mentioned in the above) Those are brittle because they depend on the exact order of entries in the JSON response.

1) refactor the code so that it can look for and find the data

[2022-02-16 05:13] phil-davis commented on #3179
@ScharfViktor I am thinking about this, and will work on a proposed core solution for issue https://github.com/owncloud/core/issues/39796 and you can review. Once we agree on what is a good refactoring, then someone can also implement here in oCIS local API tests.

[2022-02-16 08:58] #2986 closed

[2022-02-16 12:39] cdamken opened #3181 "Disable the creation of the demo users by default"
By default, the demo users are enabled,

I would propose by default to have:

[code]

and only if the developers want to have a testing environment could be enabled.

Otherwise, this could produce a security issue if someone forgets it.

Acceptance criteria
[ ] demo users are not created when starting oCIS out of the box (docker, binary)
[ ] getting started doc needs adjustments
[ ] test deploymen

[2022-02-16 15:48] JammingBen opened #3183 "Re-adding a removed user to a space results in an error"
## Steps to reproduce

1. Add a user to a space: `curl -k -s -u admin:admin 'https://localhost:9200/ocs/v1.php/apps/files_sharing/api/v1/shares' -H 'Content-Type: application/x-www-form-urlencoded' -d 'space_ref=760d266c-9d15-437b-bb1d-289667938517&shareType=0&shareWith=einstein&role=viewer' -i`
2. Remove that user: `curl -k -s -X DELETE -u admin:admin 'https://localhost:9200/ocs/v1.php/apps/files

[2022-02-16 15:50] C0rby commented on #3183
Strange, I tested exactly this scenario when I was working on this but I'll take another look.

[2022-02-16 16:12] micbar commented on #2998
Preliminary Changelog

# Changes in 1.17.0

## Summary

* Bugfix - Add `ocis storage-auth-machine` subcommand: [#2910](https://github.com/owncloud/ocis/pull/2910)
* Bugfix - Use same jwt secret for accounts as for metadata storage: [#3081](https://github.com/owncloud/ocis/pull/3081)
* Bugfix - Make the default grpc client use the registry settings: [#3041](https://github.com/owncloud/ocis/pull/304

[2022-02-16 16:17] C0rby commented on #3183
Are those your actual requests? I'm asking because you are setting the shareType to '0' (= user share) instead of '7' (= spaces membership)

[2022-02-16 16:42] #3183 closed

[2022-02-16 16:46] C0rby commented on #3183
No, worries. :muscle:

[2022-02-16 16:48] micbar commented on #2998
# Release Candidate

https://github.com/owncloud/ocis/releases/tag/v1.17.0-rc1

[2022-02-16 16:53] micbar commented on #3181
Thanks carlos for pointing it out.

IMO we should solve this during build time. The locally self compiled binary should still have the demo users, and  the docker image and the official binary should set the value to `false`

[2022-02-16 20:58] ScharfViktor commented on #2998
# K6 results on intel test machine

## Overview
| Test                               | 1.17.0    | 1.16.0    | 1.15.0    | 1.14.0    | 1.13.0    | 1.12.0    | 1.11.0     | 1.10.0     | 1.9.0.     | 1.8.0      | 1.7.0      |
|-----------------------------------------------|------------|------------|------------|------------|------------|------------|------------|------------|------------|----------

[2022-02-16 23:44] ScharfViktor commented on #2998
#  SmokeTest
branch: v1.17.0-rc1
local

### Case 1: admin share folder(with file) to marie:

Admin:
- [x]  upload big file 30gb
- [x] upload folder with 2000 files with drag and drop. - uploaded 100 files.
- [ ]  upload 2000 files with drag and drop. - uploaded not all files.
`ERR could not stat child entry error="stat /Users/scharfviktor/.ocis/storage/users/nodes/9d3a1110-b96d-473d-be2f-d7893cb6b

[2022-02-17 04:37] kiranparajuli589 commented on #2854
the mentioned todo is finished :partying_face: :fireworks:

[2022-02-17 04:37] #2854 closed

[2022-02-17 10:04] wkloucek commented on #2998
# Smoke test with [oCIS Hello](https://github.com/owncloud/ocis-hello)
- [ ] [Docker-Compose Setup](https://github.com/owncloud/ocis/tree/master/deployments/examples/ocis_hello)
- [ ] Login as Einstein
   - [ ] Navigate to Hello Extension (via app drawer)
   - [ ] Type "foo" and submit -> receive "Hello foo"
   - [ ] Navigate to settings and make sure there are no Hello configuration options
- [ ]

[2022-02-18 03:45] phil-davis commented on #2981
https://drone.owncloud.com/owncloud/ocis/9474/42/9 last night failed

[2022-02-18 04:31] phil-davis opened #3193 "excludeGroupFromReceivingSharesToSharesFolder.feature:124 failed in CI"
https://drone.owncloud.com/owncloud/ocis/9475/24/6
[code]

It failed on `ocs_api_version` 1, but passed on `ocs_api_version` 2.

That is strange. It might be a rare intermittent failure. We need to see if it ever happens again. If anyone notices this fail, please comment here.

[2022-02-18 08:14] micbar commented on #3156
@rontrompert I tried to reproduce your problem

How big was your directory?

I uploaded and downloaded an extracted complete tarball from oc10 locally. It worked without errors.

Did you see any errors in the ocis log?

[2022-02-18 09:09] JammingBen opened #3195 "Expand the drive GET-endpoints with user information"
Currently I can get the userIds for a drive while querying the drive:

[code]

To get the actual user information, I need to query all those ids separately. It would be nice to make use of the graph API and add a possibility for clients to expand the query to also include user objects.

Alternatively a user-list-query where I can filter via an array of userIds would be handy.

[2022-02-18 09:11] TheOneRing opened #3196 "Oauth: Preselecting user during authentication stopped working"
## Describe the bug

When re authenticating the desktop client, we pass the username for the account that requires authentication.
[code]

In the past, that user was preselected in the login ui.
It seems this is no longer the case.

## Steps to reproduce

Steps to reproduce the behavior:

1. Register an account with the desktop client
2. Log out
3. Log in

## Expected behavior
The user is preselec

[2022-02-18 09:44] micbar commented on #3196
Same on the remote instance

[code]

[2022-02-18 09:51] TheOneRing commented on #3196
Thats your logged in account, if you are logged in as einstein and try to relogin with marie, it will only suggest einstein.

[2022-02-18 09:58] #2998 closed

[2022-02-18 10:14] TheOneRing commented on #3196
I haven't used ocis for a couple of month.

@IljaN you where involved the first time it was fixed, I think.
Any idea?

[2022-02-18 10:17] micbar commented on #3112
was fixed by https://github.com/cs3org/reva/pull/2519

[2022-02-18 10:17] #3112 closed

[2022-02-18 10:18] micbar commented on #3103
was fixed by #3168

[2022-02-18 10:18] #3103 closed

[2022-02-18 10:18] micbar commented on #3103
works with `POST` on the initial creation and with `PATCH` now.

[2022-02-18 12:44] JanAckermann opened #3200 "Enable ordering for meDrivesApi listMyDrives endpoint"
## Is your feature request related to a problem? Please describe.
I like to order drives by name, ascending and descending

## Describe the solution you'd like
Enable ordering

## Describe alternatives you've considered
Client-side ordering, not my fav one.

## Additional context
We might first enable ordering for name, but it would be nice to allow ordering on all possible fields

[2022-02-18 15:52] rontrompert commented on #3156
The directory contained 100 files.

[2022-02-18 19:51] micbar commented on #3156
ok, i tested with several thousand small files.

[2022-02-19 01:33] dschmidt commented on #2462
I just stumbled over this as well. I would like to add that not only the path information is missing, but also the escaping/encoding changed:

http: //host.docker.internal:8080/ocs/v2.php/apps/files_sharing//api/v1/shares?format=json&share_types=3&include_tags=false&format=json
[code]

https: //host.docker.internal:9200/ocs/v2.php/apps/files_sharing//api/v1/shares?format=json&share_types=3&include

[2022-02-20 04:40] #1224 closed

[2022-02-20 20:45] rontrompert commented on #3156
When I test it when the container runs on the same host as where I am running the rclone command, then everything looks fine. But when rclone runs on an other host then things get stuck.

[2022-02-21 05:36] phil-davis commented on #3167
Looking at the outstanding work, the part of this for core might need to wait another 2 weeks. Let's see what the current QA sprint looks like that is in planning today.

[2022-02-21 08:17] wkloucek commented on #3181
To have a secure oCIS instance, there is more than deleting the demo users. I agree on having them disabled by default for released binaries as soon as were in Beta.

But we should also find a solution for the default secrets (https://owncloud.dev/ocis/deployment/#secure-an-ocis-instance), at least for the single process use case.

[2022-02-21 11:45] phil-davis commented on #2915
@Talank please post the details about this. Link to the test(s) that cover this case.
I can't find this issue in expected-failures. Is this still a bug, or is it fixed?

[2022-02-21 14:17] kiranparajuli589 commented on #2981
related to https://github.com/owncloud/web/issues/6419#issuecomment-1042814956

[2022-02-21 14:59] #3200 closed

[2022-02-22 04:47] individual-it opened #3212 "ocis sometimes fails to start"
In nightly tests the server sometimes fails to start:
Possible errors
https://drone.owncloud.com/owncloud/ocis/9537/43/5
[code]

https://drone.owncloud.com/owncloud/ocis/9537/51/5
[code]

[2022-02-22 05:48] SwikritiT commented on #2915
@phil-davis

There's no error shown now when we navigate the link. I tried with both the API and WebUI and both of them work.

Through API:
1. upload a file : `curl -k -u einstein:relativity -X PUT https://localhost:9200/remote.php/webdav/lorem.txt -d"123" `
2. create a public link: `curl -k -u einstein:relativity 'https://localhost:9200/ocs/v1.php/apps/files_sharing/api/v1/shares' --data-raw 'sha

[2022-02-22 07:36] SwikritiT commented on #2915
I tried to do the similar thing in core backend too

1. Upload the file: `curl -k -u test:test -X PUT http://localhost/core/remote.php/webdav/lorem.txt -d"123"`
2.  Create a public like: `curl -k -u test:test 'http://localhost/core/ocs/v1.php/apps/files_sharing/api/v1/shares' --data-raw 'shareType=3&path=%2Florem.txt&permissions=1'`
3. check the link: ` curl -k -u test:test 'http://localhost/core/

[2022-02-22 08:02] kiranparajuli589 commented on #2981
### Steps to reproduce
Run the mentioned test `webUISharingInternalUsers/shareWithUsers.feature:342` multiple times in a row (10-20 times)

### Expected
`Shares` folder not shareable message should be displayed while opening `People` section from the sidebar

### Actual
Sometimes, screen like below is seen:

![Screenshot from 2022-02-22 13-43-23](https://user-images.githubusercontent.com/39373750/

[2022-02-22 08:04] SwikritiT commented on #2915
@phil-davis I found this one test that `renames a folder shared through` public link but it's skipped in  OC10 https://github.com/owncloud/core/blob/a0a4064c77a3576763885f83d57ca4c558348b8c/tests/acceptance/features/apiSharePublicLink2/updatePublicLinkShare.feature#L81
and present in expected to failure file in OCIS https://github.com/owncloud/core/blob/master/tests/acceptance/features/apiSharePub

[2022-02-22 08:07] kiranparajuli589 commented on #2981
If I cancel the test (failing one) in between and try to open the `Peoples` section again, the issue persists.
![Peek 2022-02-22 13-52](https://user-images.githubusercontent.com/39373750/155089139-c48d84cc-decd-44b1-ac40-eba4d8436b6d.gif)

[2022-02-22 08:36] micbar commented on #3196
@IljaN ^

[2022-02-22 08:46] kiranparajuli589 commented on #2981
closing as the issue is already reported at https://github.com/owncloud/web/issues/6419

[2022-02-22 08:46] individual-it commented on #2981
should we skip the tests?

[2022-02-22 08:50] phil-davis commented on #2981
let's wait and see if we get any ideas from @kulmann or @pascalwengerter today. I pinged them late last week in issue comment https://github.com/owncloud/web/issues/6419#issuecomment-1042987270

But we may as well close this here. In the web issue, I specifically linked back to here, so it is easy to find the investigation results here.

[2022-02-22 08:50] #2981 closed

[2022-02-22 10:56] #3177 closed

[2022-02-22 20:26] micbar commented on #2462
@dschmidt @butonic See https://github.com/cs3org/reva/pull/2580 as an approach.

I have some questions to the grouping of shares in oc web.

Is grouping generally desired? (see screenshot below)

It seems to use `file_target` for grouping outgoing shares which seems wrong.
I would suggest using the fileID for grouping shares together.

## Screenshot (wrong attribute but display makes sense)
![1645

[2022-02-23 13:55] wkloucek commented on #1338
No longer the case for current master, try at eg. https://ocis.ocis-web.latest.owncloud.works/ocs/v1.php/config

[2022-02-23 13:55] #1338 closed

[2022-02-23 15:55] #3174 closed

[2022-02-23 18:31] #1094 closed

[2022-02-24 04:49] individual-it commented on #3212
this night an API test fail
https://drone.owncloud.com/owncloud/ocis/9598/23/3
[code]

[2022-02-24 04:55] phil-davis commented on #3212
I had similar late yesterday in PR #3226

https://drone.owncloud.com/owncloud/ocis/9590/41/5
[code]

ocis did not start.

[2022-02-24 05:47] phil-davis commented on #3212
And again: https://drone.owncloud.com/owncloud/ocis/9599/27/3
[code]

[2022-02-24 09:54] #3088 closed

[2022-02-24 11:49] micbar commented on #3212
Fix in reva has been merged. https://github.com/cs3org/reva/pull/2582

[2022-02-24 12:03] micbar commented on #3212
Fixed by #3231

[2022-02-24 14:58] JanAckermann opened #3233 "Spaces quota should show the quota which has been actually set"
## Is your feature request related to a problem? Please describe.
Currently, the spaces API returns the field `total` which represents the set quota,
if the set quota is higher then the available hard drive space `total` will show the available hard drive space.
The information on which quota has been actually set is not available anymore.

## Describe the solution you'd like
Introduce a new field

[2022-02-24 14:58] JanAckermann commented on #3233
@C0rby @micbar FYI

[2022-02-24 15:04] JanAckermann opened #3234 "Add ability to unrecstrict quota on spaces"
## Is your feature request related to a problem? Please describe.
Currently, it is not possible to set the space quota to unlimited, so I need to set a possible high quota even if I don't want to.

## Describe the solution you'd like
Add the possibility to un-restrict space quota via GraphAPI, add a field to quota which represents if the quota is unrestricted or not

[2022-02-24 15:04] JanAckermann commented on #3234
@micbar @C0rby FYI

[2022-02-24 15:44] phil-davis commented on #2174
Fixed with PR #3231 which pulled in https://github.com/cs3org/reva/pull/2581 - the values now match each other.

There is a separate issue about actually advertising a changing version numb er, using semver etc.

[2022-02-24 15:44] #2174 closed

[2022-02-24 16:34] micbar commented on #3234
See https://github.com/owncloud/libre-graph-api/pull/32

[2022-02-24 16:35] micbar commented on #3233
See https://github.com/owncloud/libre-graph-api/pull/32

[2022-02-24 18:20] monolithonadmin opened #3236 "How to run on heroku?"
Helo Guys!

Thank you for your awesome work. I did not use owncloud nor nextdloud, bc went for seafile for a while, but now your new ocis solution is way better than I ever excpected. Thank you again.

But, I'd like to know, is there a way to use ocis on heroku? I am planning to use your solution to store my media files on S3 object storage, so that part could work. Is there an easy way to deploy

[2022-02-24 19:11] pascalwengerter commented on #3236
Hey @Muvuk, that's a great idea actually! Heroku offers pretty good resources on how [to deploy via Docker](https://devcenter.heroku.com/categories/deploying-with-docker), which is probably the most reasonable approach in your case. Heroku also offers support for Golang (so building from scratch from e.g. your fork is possible) and makes it possible to run custom binaries (which we provide with ou

[2022-02-24 19:29] Muvuk commented on #3236
Helo @pascalwengerter
Thank you for your quick reply. That would be awesome if your team could guide me. I just want you to know, I moved from all vps to heroku, bc I dont want to manage the overhead. So I prefer those apps that are able to run on heroku and maybe there are some other folks who think like me.

[2022-02-24 23:27] pascalwengerter opened #3237 "Logout of web ui fails"
## Describe the bug
When linking web to the current oCIS master and clicking on the "Log out" button, I get redirected to a blank `https://localhost:9200/signin/v1/goodbye` URL, from where I can use the browser navigation to return to my (still valid) session

[2022-02-24 23:29] pascalwengerter commented on #3237
oCIS logs

[code]

[2022-02-25 02:07] phil-davis commented on #3237
Same was reported in issue https://github.com/owncloud/web/issues/6479

Someone choose which issue to keep open, and which to close.

[2022-02-25 05:52] saw-jan commented on #2462
web test also passed while bumping to latest oCIS https://drone.owncloud.com/owncloud/web/23041/67/15

[2022-02-25 09:10] phil-davis commented on #1294
https://drone.owncloud.com/owncloud/ocis/9644/50/9
`webUIUpload/upload.feature:94` failed.
[code]

Maybe this fail is related?

[2022-02-25 10:34] sushmita56 opened #3241 "Trying to modify a shared file using spaces end-point returns 409 HTTP status code"
### Describe the bug
While trying to modify a shared file using spaces end-point returns HTTP 409 conflict.

### Steps to reproduce
1. Create a user `demo2`.
2. As user `demo` upload a file `myChecksumFile.txt`.
[code]
3. As user `demo` share the file `myChecksumFile.txt` with user `demo2`.
[code]
4. And as user `demo2` accept the share offered by `demo`.
[code]
5. And as user `demo2` modify the c

[2022-02-25 11:36] phil-davis commented on #3241
@sushmita56 which user's personal space id is `61053e95-4bfd-497f-8d8b-3ec06133c946` ?

[2022-02-25 13:21] micbar commented on #2687
still needs investigation

[2022-02-28 03:26] SwikritiT commented on #2915
@phil-davis this issue no longer exists. The test and expected to fail have been updated. I think we can close this issue no.

[2022-02-28 03:44] sushmita56 commented on #3241
The space id `fcc827e0-2cdd-4e90-a64f-363eccfad05e` is of user `demo`.
 And the space id `61053e95-4bfd-497f-8d8b-3ec06133c946` is of user `demo2`.

[2022-02-28 03:50] #2915 closed

[2022-02-28 04:42] phil-davis commented on #3241
OK - the share receiver `demo2` is using their own personal space id to attempt to modify the shared file in their `Shares` folder that was received from `demo`.

@butonic @micbar and anyone - what should be the general behavior of personal spaces and received shares?

Should a share receiver be able to see/manipulate received shared resources by using their own personal space id, and appending th

[2022-02-28 07:26] phil-davis commented on #3241
Maybe the received shares should not be available this way? If they should not be available like this, then maybe all requests to the personal-space-id with path starting with `Shares` should return 404, not found?

[2022-02-28 11:58] micbar commented on #3167
@phil-davis I raised this to P2. Is that doable for your team?

[2022-02-28 14:53] micbar opened #3244 "Release 1.18.0 Tech Preview"
## Tasks
- [x] Brief marketing heads up
- [x] Release web https://github.com/owncloud/web/issues/6491
- [x] Merge https://github.com/owncloud/ocis/pull/3228
- [x] Merge https://github.com/cs3org/reva/pull/2554
- [x] Release Reva `v2.0.0`
- [x] Update web to 5.2.0  https://github.com/owncloud/ocis/pull/3262
- [x] update to REVA v2.0.0 https://github.com/owncloud/ocis/pull/3258
  - [x] clean up our

[2022-02-28 16:20] ScharfViktor commented on #3167
Request `https://localhost:9200/remote.php/dav/files/admin/` in web is slow

[2022-02-28 16:22] phil-davis commented on #3167
yes, no problem. I will talk with the guys in our local standup tomorrow morning and see if anyone can start on it.

[2022-02-28 22:21] felix-schwarz opened #3245 "Spaces: translation of private link to drive id + path"
In OC10, private links can be resolved by performing a `PROPFIND` on `remote.php/dav/meta/[privateLinkFileID]`, requesting the `oc:meta-path-for-user` property.

The response from the OC10 server will then contain the item's path.

How is this handled in oCIS with spaces, where a single account can have multiple spaces (and therefore any number of different WebDAV endpoints)?

Ideally, it should b

[2022-03-01 04:51] phil-davis commented on #3167
@Talank @saw-jan if someone is available for this task in the next few days, let me know and we can discuss a plan for the different tasks that can be given to people.

[2022-03-01 08:06] #2969 closed

[2022-03-01 08:34] michaelstingl commented on #3245
oC10 also responded with a 30x and the full path, but that‘s not a beautiful API. (see https://github.com/owncloud/enterprise/issues/2173#issuecomment-319187738)

[2022-03-01 10:10] rhafer commented on #3167
@ScharfViktor  I've seen this on your machine, but I am not  able to reproduce it. If this is still happening of you, could you please open a new issue, with details how you run ocis and a full debug log? (It might be unrelated to idm)

[2022-03-01 11:13] ScharfViktor opened #3247 "remarks after testing the creation of users and groups via GraphApi"
how setup: https://github.com/owncloud/ocis/issues/3167
method descriptions: https://github.com/owncloud/ocis/pull/3149/files

run ocis with env:

set env:
[code]
run ocis localy:
`OCIS_LOG_PRETTY=true OCIS_LOG_COLOR=true ocis/bin/ocis server`

### Test result:

#### Users:

- GET /me - OK
- GET /users/{id} - OK
- GET /users/{accountname} - OK

- Create users POST /users:
	- create new user - OK

[2022-03-01 11:15] ScharfViktor commented on #3167
I created a new issue in which I describe what I found

[2022-03-01 11:36] ScharfViktor commented on #3167
That problem went away when I added nats to OCIS_RUN_EXTENSIONS

[2022-03-01 11:37] ScharfViktor commented on #3167
That problem went away when I added nats to OCIS_RUN_EXTENSIONS

[2022-03-01 15:36] ScharfViktor commented on #3247
@rhafer great work and thanks for the good documentation.
I finished the manual testing. please see my comments and questions

[2022-03-02 08:16] JanAckermann opened #3248 "Implement an API endpoint to find out the default value for spaces quota"
## Is your feature request related to a problem? Please describe.
In the WebUI, I want to give the user a chance to set the quota to 'Default'. In order to do so, I need to know which is the default value.

## Describe the solution you'd like
An easy accessible API endpoint

[2022-03-02 10:49] rhafer commented on #3247
Can you clarify what you mean by this? Can you paste the request body that you used here. And do you thing there is a bug?

What do you mean with `some email`?

Yeah, those are bugs that I need to fix.

Haven't been able to fully reproduce this yet. Need to take a closer look.

You mean creating to users having the same email address? That's a good question. But actually I don't think we can't ful

[2022-03-02 11:15] ScharfViktor commented on #3247
`Can you clarify what you mean by this? Can you paste the request body that you used here. And do you thing there is a bug?`
I understood that it was not a mistake. here is all right. In oC10 we cannot create users with same userName like onPremisesSamAccountName.

`What do you mean with some email?`
I apologize for my English. I meant "same email".

`Haven't been able to fully reproduce this yet.

[2022-03-02 14:08] ScharfViktor commented on #3247
Another important point, to know about it

we cannot share resources with users, because request `https://localhost:9200/ocs/v2.php/apps/files_sharing/api/v1/sharees?search=sam&itemType=folder&page=1&perPage=200&format=json` does not found users or group.

Steps:
- admin creates user1
- admin creates group1 and adds user1 to group
- admin uploads file and tries to share file to user1 or group1

Ac

[2022-03-02 14:25] exalate-issue-sync[bot] opened #3250 "List of all config vars and their meaning for non-storage services"
# Description

## User Stories

* > As a docs writer I need to have overview about all available configuration values including their meaning so that I can write the respective doc pages for it.
* > As a system administrator I need an overview about all available configuration options including their meaning so that I can customize installations according to my needs.

## Value

## Acceptance Crit

[2022-03-02 15:15] #3250 closed

[2022-03-02 16:56] ScharfViktor commented on #3247
some bugs are fixed, but some still exist

[2022-03-03 06:05] grgprarup opened #3254 "OCS response is not returned when a disabled user tries to enable himself"
## Describe the bug

## Steps to reproduce

Steps to reproduce the behavior:

1. Create an user
2. Disable the user
3. Try to enable the user

## Expected behavior
With `core` backend the response ends with OCS status code `997` and http status code `401`

## Actual behavior
With `OCIS` backend the response does not contain OCS status
[code]
## Setup

Please describe how you started the server and

[2022-03-03 10:49] rhafer commented on #3247
I guess this is a configuration issue. Can you try adding

`
export STORAGE_LDAP_USERFINDFILTER='(&(objectclass=owncloud)(|(uid={{query}}*)(cn={{query}}*)(displayname={{query}}*)(mail={{query}}*)(description={{query}}*)))'
`

to your startup configuration. With that it should at least be able to list users. Note: the group part might still not work, that's because of know issues in the CS3 grouppr

[2022-03-03 11:54] wkloucek opened #3257 "Sharing does not work for a customer's parallel deployment"
## Describe the bug
We have a parallel deployment running at a customer with their existing oC10, LDAP and Keycloak (similar to the parallel deployment example, but oC10, LDAP and Keycloak are coming from them).

If a user shares a file with another user, it does not succeed. Instead a stacktrace happens (see details area)

<details>
<p>

[code]

</p>
</details>

## Steps to reproduce

Steps to re

[2022-03-03 13:18] ScharfViktor commented on #3247
I tested it. Sharing with users works correctly. Thanks

[2022-03-03 14:25] georglauterbach commented on #30
Even though this was closed, I'd like to provide some feedback that might be useful for your "internal" ticket.

The docs under <https://owncloud.dev/ocis/deployment/kubernetes/> sadly aren't that great. They explain what K8s is, but there is no point in doing this. People that want to know more about K8s wont be looking it up in the oCIS docs. When I visit the oCIS docs for K8s, I'd like to see

[2022-03-03 15:29] dschmidt commented on #2462
Fixed in master (via https://github.com/cs3org/reva/pull/2580) 😍

I'll create a new ticket for the grouping issue in oC Web...

[2022-03-03 15:29] #2462 closed

[2022-03-03 15:49] rhafer opened #3259 "Add documentation to Libre IDM service"
# Description

## User Stories

* > As an oCIS adminisrator I want to know how to use the IDM service
* > As an oCIS contributor I want to understand the basic concept and implementation of the IDM service

## Value

## Acceptance Criteria
[ ] oCIS extenstion documentation exists

## Definition of ready
[ ] everybody needs to understand the value written in the user story
[ ] acceptance criteria h

[2022-03-03 19:32] micbar commented on #3244
# Changes in 1.18.0

## Summary

* Bugfix - Capabilities for password protected public links: [#3229](https://github.com/owncloud/ocis/pull/3229)
* Bugfix - Make events settings configurable: [#3214](https://github.com/owncloud/ocis/pull/3214)
* Bugfix - Align storage metadata GPRC bind port with other variable names: [#3169](https://github.com/owncloud/ocis/pull/3169)
* Change - Unify file IDs: [

[2022-03-03 19:40] micbar opened #3263 "Adapt ocis to the new folder layout of the download mirrors"
# Description

Create three Top folders

- `daily`
- `stable`
- `testing`

Put all the RCs and pre releases in the `testing` folder.
Put the daily build from master in `daily`

[2022-03-03 19:41] micbar commented on #3263
@wkloucek this was discussed with @xoxys already. It has no urgency but should not be forgotten.

[2022-03-03 19:45] xoxys commented on #3263
Not urgent means don't need to be done last week, this week or even next week. But as we would like to go forward with the mirror restructuring, getting this done in the next two weeks would be helpful. If you can't do it, I can move the existing files on my own and create a PR to adjust the drone config.

[2022-03-03 23:26] micbar commented on #3244
# 1.18.0 RC1

https://github.com/owncloud/ocis/releases/tag/v1.18.0-rc1

[2022-03-04 08:34] individual-it commented on #3212
happened again
[code]
https://drone.owncloud.com/owncloud/ocis/9762/33/5

[2022-03-04 08:49] JanAckermann opened #3264 "Thumbnail service should be able to process gifs (with animations)"
## Describe the solution you'd like
Allow the thumbnail service to render gifs enteirely

[2022-03-04 08:49] JanAckermann commented on #3264
@C0rby @micbar FYI

[2022-03-04 09:22] wkloucek commented on #30
@georglauterbach Thanks for your feedback!

It's definitely also outdated. I'm on this. Yesterday I also added basic documentation to the helm chart itself: https://github.com/owncloud/ocis-charts/tree/structure-and-documentation/charts/ocis. I think we should also try to have the documentation mostly in the [owncloud/ocis-charts repo](https://github.com/owncloud/ocis-charts) and reference it only

[2022-03-04 09:28] michl19 commented on #3245
Please have a look at Web UI Url format at https://owncloud.dev/ocis/adr/0011-global-url-format/

[2022-03-04 09:50] wkloucek commented on #3244
# Smoke test with [oCIS Hello](https://github.com/owncloud/ocis-hello)
- [x] [Docker-Compose Setup](https://github.com/owncloud/ocis/tree/master/deployments/examples/ocis_hello)
- [x] Login as Einstein
   - [x] Navigate to Hello Extension (via app drawer)
   - [ ] Type "foo" and submit -> receive "Hello foo"
   - [ ] Navigate to settings and make sure there are no Hello configuration options
- [ ]

[2022-03-04 10:37] georglauterbach commented on #30
From personal experience in another project, only maintaining it in one place and referencing this one place is the best option in my opinion.

That looks quite good!

My main concern was that the Helm chart also provided an option for the `storageClass` (which every good Helm chart should). Seeing as the current chart does, all is well and we need not worry about this note anymore.

When you're u

[2022-03-04 10:45] srgvg commented on #30
Some people prefer to manage static manifests instead of helm charts, often through `kustomize`. Generating something like deploy/static/<all manifest>, possibly via `helm template` and some tidying up, and adding a kustomization.yaml.

[2022-03-04 10:47] georglauterbach commented on #30
Exactly what I am doing 😆 👍🏼

[2022-03-04 10:51] srgvg commented on #30
Sorry, my point is, if upstream provides a decent generic set of manifests, including a `kustomization.yaml`, it becomes easy to consume that by just pointing your local kustomization to it, and then further kustomizing it.

[2022-03-04 10:51] ScharfViktor commented on #3244
# K6 results on intel test machine

## Overview
| Test                               | 1.18.0    | 1.17.0    | 1.16.0    | 1.15.0    | 1.14.0    | 1.13.0    | 1.12.0    | 1.11.0     | 1.10.0     | 1.9.0.     | 1.8.0      | 1.7.0      |
|-----------------------------------------------|------------|------------|------------|------------|------------|------------|------------|------------|-----------

[2022-03-04 10:56] ScharfViktor commented on #3244
@fschade could you please see the results of the k6 test. many of the methods failed(see log)

[2022-03-04 11:04] georglauterbach commented on #30
Ah, I see. One could write a `kustomization.yaml` though that just uses the Helm chart (this is what I'm partly doing). I therefore do not see a real benefit in also maintaining a Kustomize file.

[2022-03-04 11:18] pmaier1 commented on #3244
release notes https://github.com/owncloud/ocis/pull/3265

[2022-03-04 12:57] ScharfViktor commented on #3244
## Smoke test. branch release-1.18.0

### Case 1: admin share folder(with file) to marie:

Admin:
- [x] upload big file 10gb
- [x] upload folder with 803 small images.
- [x] Check pagination, count items per page. - 100 itmes
- [x] upload folder(drag folder) "folder_to_share" with file.pdf
- [x] share folder "folder_to_share" to marie with edit right

Marie:
- [x] accept "folder_to_share"
- [ ] 🚫

[2022-03-04 13:13] srgvg commented on #30
Currently, one wouyld need to manually do helm template and update manifests, which is an extra step.
As upstream, you could provide a set of manifests, as an extra next to helm charts.

For reference, ingress-nginx does this:
- https://github.com/kubernetes/ingress-nginx/tree/main/charts/ingress-nginx
- https://github.com/kubernetes/ingress-nginx/tree/main/deploy/static/provider
(The latter with

[2022-03-04 14:14] ScharfViktor opened #3269 "File still exists in the public link after deletion"
ocis v.1.18.0 local

Steps:
- admin uploads the file and creates a public link
- open link in incognito window
- admin deletes file
- refresh incognito window

Actual result: file exists. method PROPFIND `https://localhost:9200/remote.php/dav/public-files/HVtJYhwOWKCxfl` contains the link and the file
<img width="547" alt="image" src="https://user-images.githubusercontent.com/84779829/156781231-41

[2022-03-04 14:36] dorianim commented on #2920
This should not go stale in my opinion.

[2022-03-04 15:01] C0rby opened #3271 "Include user uuid in the OCS API"
## Is your feature request related to a problem? Please describe.

## Describe the solution you'd like
The uuid should be obtainable from the OCS API.

## Describe alternatives you've considered
The uuid can be obtained from the graph API.

[2022-03-04 15:03] C0rby commented on #3271
@JammingBen, can you describe why you want the UUID in the OCS API in addition to the graph API?
What is your workflow where you need the UUID? Just trying to understand the problem, so that we can find the best solution.

[2022-03-04 15:04] #95 closed

[2022-03-04 15:06] C0rby commented on #1330
It's implemented for favorites. Other features will need new tickets in the future.
Closing this to reduce the number of open tickets.

[2022-03-04 15:06] #1330 closed

[2022-03-04 15:18] JammingBen commented on #3271
The main issue in Web is that we currently deal with both the OCS and the graph API, especially when working with shares. Two concrete issues:

* When checking the permissions of the current user for a space, we simply check the UUID of this user in the `permissions` object of the space. As we don't have the UUID, we need to query the graph API first. That's okay, but it wouldn't be necessary when

[2022-03-04 15:32] C0rby commented on #3271
You mean in the response of this endpoint here, right? `https://ocis.ocis-traefik.latest.owncloud.works/ocs/v1.php/cloud/user`

[2022-03-04 15:45] JammingBen commented on #3271
Yes, but also the OCS share API:

* `https://ocis.ocis-traefik.latest.owncloud.works/ocs/v2.php/apps/files_sharing/api/v1/sharees`
* `https://ocis.ocis-traefik.latest.owncloud.works/ocs/v1.php/apps/files_sharing/api/v1/shares`

(Web seems to be partly using v1 still... I'd expect that to change in the future)

[2022-03-05 07:43] fschade commented on #3244
@ScharfViktor thanks, yes there are some failing parts. We have to dig into that why they fail. Not a release blocker in my opinion.

[2022-03-07 09:56] micbar commented on #3244
Final Release is public

https://github.com/owncloud/ocis/releases/tag/v1.18.0

[2022-03-07 09:56] #3244 closed

[2022-03-07 14:53] coucoulala opened #3280 "Unable to sign-in with native apps with OIDC"
## Describe the bug

While having an external OIDC provider configured for authentication, one is unable to sign-in with native apps. This is because the opened popup shows a username and password login page, instead of redirecting to the OIDC provider or showing a redirect button.

## Steps to reproduce

Steps to reproduce the behavior:

1.
2.
3.

## Expected behavior
A clear and concise descript

[2022-03-07 16:13] micbar commented on #3064
@pmaier1 I could imagine that we "disable" the users home space when he disappears in LDAP.

We still have one challenge: If the user has been the only "manager" of a project space, it will result in a "stuck" situation.

We will certainly need a solution how to unblock a space with a kind of "multi-factor" process. @hodyroff like we discussed that already.

[2022-03-07 16:15] micbar commented on #3064
I would like to discuss that in Product Board.

[2022-03-07 17:12] rontrompert opened #3284 "Adding metadata"
## Is your feature request related to a problem? Please describe.
Adding metadata to files/folders and maybe even spaces which can be searched by the user to locate the file or folder.

## Describe the solution you'd like

1. As an owner of a space/file/folder I want to add multiple tags (key-value) to a space/file/folder. By default the owner of a space/file/folder can create tags for the space/f

[2022-03-08 07:51] dragonchaser opened #3286 "[Proposal] Restructure project root"
@wkloucek and I have been discussing how to improve the project structure.
At the moment the project root in https://github.com/owncloud/ocis/ is a bit cluttered/unintuitive.
It would be helpful to restructure this.

## Describe the solution you'd like

The proposed changes would look like this:
[code]

## Additional context
In the last weeks 2 additional extensions have been added, thus making ha

[2022-03-08 10:05] pmaier1 commented on #3064
PB

- Define an LDAP scheme for disabled users ("oC expects this behavior for disabled users")
- Later: Implement mappings for different LDAP implementations for disabled users
- Behavior of user disable should be analogous to oC 10 (Use case: "temporary suspended")
- Next: **PB2 to define flow for short-term solution when a user is not in LDAP anymore**

This needs a general solution as there are

[2022-03-08 14:08] rhafer commented on #3167
@phil-davis Do you know if anybody already started to work on this?

[2022-03-09 11:38] phil-davis commented on #3167
I am looking at it. I had a talk with Artur just now. I will make some architecture investigations to see how we can set it up a bit "nicely", and make a proof-of-concept...

[2022-03-10 15:21] nikslor commented on #3212
Run into the "can't connect to nats (stan) server, retrying in xyz ms" with 1.18.0 as well.

[2022-03-10 17:10] pascalwengerter commented on #3212
Did it happen over and over again @nikslor ? I sometimes do see it _once_ but then it seems to connect fine (in the past, I had retry logs over and over, also this issue is about oCIS crashing in CI since it can't connect to the nats service *at all*)

[2022-03-11 12:05] ScharfViktor commented on #2706
Re-tested
ocis v.1.18.0 docker
web v.5.2.0

Cannot reproduce bug

[2022-03-11 12:05] #2706 closed

[2022-03-11 13:16] butonic commented on #2794
The spaces concept shifts the responsibility of determining the local mount path for a space from the server to the clients. In oc10 the server is responsible for mounting a (federated) share in the users home. When dealing with spaces there is no longer a global (human readable) namespace, because every space has an id and a URL and no central server can know all mount paths.

The `/me/drives` en

[2022-03-11 13:24] micbar commented on #2794
After a long talk with @dragotin  I still think this is out of scope for GA and the local mount points should be decided by clients. Having a space registry which stores user specific mount points on the server is IMO an antipattern for oCIS

1) oCIS and the spaces concept is decentralized.
2) The server should not be responsible for storing client-  AND user-specific information
3) Clients can be

[2022-03-11 13:43] dragotin commented on #2794
What @micbar says. Plus: The clients need to be self contained in case the server is not reachable.

Later we can build the functionality of saving user settings to the server for persistence reasons, but than it is an attribute of (user, client) and not the space.

[2022-03-11 14:53] wkloucek opened #3302 "a user can have only one role"
## Describe the bug

A user can only have one role at a time. While adding Katherine to the demo users (https://github.com/owncloud/ocis/pull/3297) I noticed this.

## Expected behavior
A user can have more than one role at a time. Katherine, which should be able to manage spaces, should be added the user role (so that she can log in and use her home space) and also the space manager role (so that

[2022-03-11 14:54] wkloucek commented on #3302
@micbar is this a bug or should I convert this to a feature request?

[2022-03-11 14:57] wkloucek opened #3303 "non admin space manager can not list space members"
## Describe the bug

A non admin space manager (eg. Katherine from https://github.com/owncloud/ocis/pull/3297) can create a new space and add space members. But it can not see who is already a member of the space.

## Steps to reproduce

Steps to reproduce the behavior:

1. Log in as Katherine
2. Create a new space
3. add Albert to the space
4. refresh the page
5. See, that Katherine is the only m

[2022-03-11 15:00] wkloucek opened #3304 "Settings service should use the indexer"
## Is your feature request related to a problem? Please describe.
The settings service is used to store permissions and roles. The lookup is currently very expensive, since we read all permissions and roles from storage to see if we have something matching.

## Describe the solution you'd like
Use an index to optimize the queries. (Like eg. the accounts service does)

## Describe alternatives you'

[2022-03-11 15:02] butonic commented on #2794
true, as are registries. a client can know about multiple registries, registries know multiple spaces, and a registry can persist the mapping of user to space for multiple users. In our current implementation that is all implemented by the storage space registry. Not with persistence, but by polling and caching storage providers about the available storage spaces.

What server exactly? We have a `

[2022-03-11 21:06] micbar commented on #3302
That is a feature request. It was designed in that way.

[2022-03-12 07:30] kulmann commented on #3302
Afair we talked about role inheritance and role composition back then as well. Otherwise it doesn't make much sense to only allow one role. For the time being that was too complex work upfront without knowing requirements in detail so we kept it simple.

[2022-03-14 07:46] wkloucek commented on #3280
Native clients discover the OIDC provider by looking at the well-known endpoint: `https:<your-ocis-domain>/.well-known/openid-configuration`. oCIS brings an own OIDC provider by default, that listens at exactly that path. If you use an external OIDC provider, you can stop the builtin one by running `ocis kill idp`. Then you shouldn't no longer see the login screen.

You need to ensure that the `ht

[2022-03-14 11:26] butonic commented on #3286
I like moving the extensions into a subfolder.

The sooner the better.

[2022-03-14 11:31] butonic commented on #3248
Hm, is that a role property? https://docs.microsoft.com/en-us/graph/api/resources/unifiedroledefinition?view=graph-rest-beta

[2022-03-14 11:52] phil-davis commented on #3248
Do we want to be able to set the quota to:
a) explicitly the value of the current default - e.g. if the default is currently 5GB then a client would find that out and then send an explicit request to set it to 5GB, and the quota of that space would stay at 5GB.
or
b) set the quota to "default" (a special value), and if the default happens to be 5GB today, and 10GB next week, then the space will be

[2022-03-14 12:29] micbar commented on #3248
Techincally in ocis it is a setting. This ticket is only about the `default` value.

The actual value can com from the IDM (LDAP)

But the frontend needs to know the default for visual indication in the dropdown list.

IMO this could be covered by capabilities.

[2022-03-14 13:50] ScharfViktor commented on #3303
I have another questions, is it correct that user with manager role can see another manager's project space and the personal spaces of other users?
Steps:
- Katherine with "Spacemanager" role creates project space "finance department"
- User1 from another department with "Spacemanager" role can see space "finance department" and public space Katherine.

The good news is that User1 can't create fil

[2022-03-14 15:14] dragotin commented on #3284
@pmaier1 have you seen this? Maybe a topic for the next EA Call to discuss, @michl19

[2022-03-14 15:20] dragotin opened #3315 "Images in Spaces do not open in Mediaviewer"
## Describe the bug

If there is an image in a oCIS space, it displays a neat thumbnail, which is nice.

If user clicks on the file, which should open the image in the media viewer, the media viewer opens but the media viewer stays empty.

This error message can be seen in the server log:
[code]

## Steps to reproduce

Steps to reproduce the behavior:

1. Upload an image into a folder in a project

[2022-03-15 09:51] phil-davis opened #3317 "status does not have new "product" data item"
WIP - core commit id bump brings in some test scenarios for the "product" data item in version, core capability and status API responses. See #3316

But it might be just as easy to update the real code along with the commit id bump, so that the new test scenarios pass.

[2022-03-15 10:32] C0rby commented on #3315
Can you run `make generate` in your ocis root then `make clean build` and try again? It should already work and it seems like your mediaviewer is outdated because the requested URL is wrong.

[2022-03-15 10:36] C0rby opened #3318 "Assign default Role to new Users from external IDM"
# Description

When using an external ldap the users won't have the 'default roles' assigned to them. For the auto provisioning of users the users need the role user to be able to create their own storage space.

We need to find a mechanism to assign the users a default set of roles.

## User Stories

* > As an admin i want to have an auto assignment of new IDM users to a default role.

## Value

[2022-03-15 10:49] C0rby commented on #3271
Aren't you sending the username in this case? Can you show me an example request?

[2022-03-15 10:51] C0rby commented on #3271
@micbar, what do you think? Does it make sense to add the UUID to the OCS API or should we find another solution?

[2022-03-15 11:13] rhafer commented on #3271
I know we're not quite there yet, but wasn't it the idea that we deprecate the ocs/v(1|2).php/cloud/user endpoints in ocis over time in favour of the graph API?

[2022-03-15 11:23] JammingBen commented on #3271
That's right. However, this is not about the request, but about how we handle the update in Web internally. We store the space similar to how we fetch it, except that we simplify the structure a bit. The space object in Web may look like this:

[code]

Based in the UUIDs in the `roles` object, we then fetch the user IDs (= usernames) and build the shares tree. This way, we can now update shares by

[2022-03-15 11:36] C0rby commented on #3264
This was implemented here:
https://github.com/owncloud/ocis/pull/3272 and here https://github.com/owncloud/ocis/pull/3305

[2022-03-15 11:36] #3264 closed

[2022-03-15 11:43] exalate-issue-sync[bot] opened #3319 "Sharing a Space via link"
As a Space manager I want to share a Space via link to provide easy and quick access to anyone.

## AC
- Every Space manager can share the whole Space via link
- Everyone with the link gets access to the Space according to the defined link role

[2022-03-15 11:43] #3319 closed

[2022-03-15 12:48] dragotin commented on #3315
I saw that with the 1.18 release, sorry for not mentioning in the first place. I assume that was fixed after that?

[2022-03-15 12:56] pascalwengerter commented on #3315
IIRC also @dschmidt brought some fixes to the `web` part of things in https://github.com/owncloud/web/pull/6456

[2022-03-15 12:59] C0rby commented on #3315
Ah yes, I think it was only introduced after the 1.18 release.

[2022-03-16 01:37] #1958 closed

[2022-03-17 08:56] C0rby commented on #3084
It was implemented here: https://github.com/cs3org/reva/pull/2628
And merged to oCIS here: https://github.com/owncloud/ocis/pull/3330

[2022-03-17 08:56] #3084 closed

[2022-03-17 15:04] C0rby opened #3339 "Propfinds in spaces trash-bin don't contain permissions"
## Is your feature request related to a problem? Please describe.
@JanAckermann noticed that PROPFIND responses for spaces trash-bins don't contain the permission attribute.
The web client needs to somehow check if the current user is allowed to purge deleted items or not.
Our current understanding is that space managers can purge items and all other member roles can not.

## Describe the solution

[2022-03-18 10:19] rhafer opened #3343 "Setttings service (and share manager) require a hardcoded internal service user"
## Describe the bug

Since  https://github.com/owncloud/ocis/pull/3232 and https://github.com/cs3org/reva/pull/2626 the settings service and the share manager required a service user for being able to access the CS3 storage. Currently they are using the hardcoded UUID `95cb8724-03b2-11eb-a0a6-c33ef8ef53ad` for that. That UUID belongs to a user that is maintained in-memory by the accounts service.

[2022-03-18 10:23] C0rby opened #3344 "Username enumeration using PROPFIND requests"
An authenticated user can enumerate usernames by sending PROPFIND requests.
[code]

The error message of an existing user contains the users uuid whereas for a non existing user it returns the requested username.

[2022-03-18 12:12] JanAckermann opened #3345 "Propfind should deliver StorageId property"
## Is your feature request related to a problem? Please describe.
For various reasons, we need the storageId, which is assigned to a File in the WebUI.

Currently, it might occur in the FileId, which consists of storageId:fileId.
This is **not** the case if you do a propfind on the trash bin or spaces trash bin.

Therefore it would be good to have the possibility to retrieve the storageId on all p

[2022-03-18 13:39] C0rby commented on #3345
@butonic, do you see any problems with introducing an extra property for the storage id?
Except that it will be oCIS exclusive.

If not I'll just implement it.

[2022-03-18 14:42] butonic commented on #3345
Yes, please! I'd prefer `spaceid` and `fileid`. And having that property in oc10 would be great as well.

[2022-03-18 14:44] butonic commented on #3345
hmmm. if you don't get a `spaceid` in trashbin responses that is a bug.

[2022-03-18 14:55] butonic commented on #3345
In the bigger picture we could take the oc10 numeric storage id as the storageid. But that would create problems when trying to migrate spaces to other storage providers. One solution would be to prefix the numeric storage id with the instance id (if we want to leak that), but that only makes collisions less likely. While `spaceid`s in the form of `{instanceid}-{numericstosrageid}` might work, I'd

[2022-03-18 15:12] C0rby commented on #3345
Ok, I'll implement this next week. :+1:

[2022-03-18 15:13] C0rby commented on #3339
Hm the code for this is a bit more complex. I need to figure something out next week. But at the moment we don't have access to the permissions when building the propfind response.

[2022-03-21 09:13] kobergj opened #3348 "Known issues with events"
## Describe the bug

During implementation of event stories we needed to take some shortcuts to avoid spending to much time on unnecessary informations. We collect them here.

#### User information (agent, ip, ...) missing for most events
Information wasn't present in the middleware handler. Unclear how to get this information

#### Timestamps missing for most events
Could be easily fixed by just

[2022-03-21 09:13] kobergj commented on #3348
@micbar maybe interesting for you. Not sure if we need ALL information in the events for GA....

[2022-03-21 10:10] vtolstov opened #3352 "very big number of ports opened"
i'm check ocis on my own server and saw that it opens many ports
i'm own projects that looks like you (many microservices combined in single binary) and worked at go-micro.

If you create apigw service that support http rest+grpc you easy can export all services behind this gateway that also easy check token/cert validation.

if you need example - it looks like this https://github.com/unistack-org

[2022-03-21 11:11] sushmita56 opened #3353 "Shares: server reported no etag"
## Description

The error `Shares: server reported no etag` comes up as soon as I added the OCIS-traefik server on the ownCloud desktop app for manual testing.

## Screenshot
![Screenshot from 2022-03-21 16-13-11](https://user-images.githubusercontent.com/66173400/159249276-b54f8e19-cbbf-4d0a-9ac9-b6fbe0c977a7.png)

[2022-03-21 11:21] micbar commented on #3339
IMO this should be tackled next sprint, that means after 04/08/2022

[2022-03-21 13:43] micbar commented on #3353
IMO we cannot change the clients out there.

So i vote for solution 2: only return a shares jail when there are shares.

[2022-03-21 14:08] butonic commented on #3353
I'm not saying wo change all the clients to fix this problem. All I am saying is that clients should be more forgiving. A resource does not have an etag. So what? That only means clients cannot decide when to descend into a folder. I think Postel's law applies: [be conservative in what you do, be liberal in what you accept from others.](https://en.wikipedia.org/wiki/Robustness_principle).

Desktop

[2022-03-21 15:37] micbar commented on #3353
@butonic so quick solution: always have an etag. Needs fix in beta.

[2022-03-22 08:43] micbar commented on #3353
@felix-schwarz @TheOneRing Is it also possible to not have a share jail when there are no shares?

[2022-03-22 08:46] michaelstingl commented on #3353
In the legacy WebDAV endpoint, the share jail is just a regular folder for the clients. So if there is no folder, there’s not a problem.

[2022-03-22 10:49] felix-schwarz commented on #3353
I don't see a problem with that at the moment. It just wouldn't show up in the drive/spaces list then.

[2022-03-22 11:26] TheOneRing commented on #3353
This issue is about the legacy endpoint, which might still be used after the ocis release, as we are not able to migrate all clients.
In order to mute the error, the legacy endpoint could provide a dummy etag if the mapped shares jail does not report any?

For the listing of drives, I'm pretty sure I can handle it in the client, so no need to modify anything there.

[2022-03-22 12:45] JammingBen opened #3359 "Include the space name in the OCS sharing API"
Web needs the space name in the OCS sharing API in case of shared spaces (via link), as well as shared resources within a space. Otherwise we'd need to query the space for each share to get the space name.

Having the space name in regular PROPFIND requests would also be nice, but not a must for now.

Is this possible?

@C0rby @micbar fyi

[2022-03-22 13:30] JanAckermann opened #3360 "graph api - /users and /groups endpoint should support orderBy query param"
## Describe the solution you'd like
implement ordering for at least displayName ascending and descending

[2022-03-22 13:32] AlexAndBear opened #3361 "graph api - /groups endpoint should include members/users"
## Describe the solution you'd like
Provide a members array for the specific group, it might be enough to just provide the ids

[2022-03-22 13:34] JanAckermann opened #3362 "graph api - /users endpoint, expose the status of the user"
## Describe the solution you'd like
Expose a status field in the /users endpoint

[2022-03-22 13:35] JanAckermann opened #3363 "graph api - /users endpoint should include the assigned groups"
Provide a groups array for the specific user, it might be enough to just provide the ids

[2022-03-22 13:38] JanAckermann opened #3364 "graph api - /users endpoint expose role field"
## Describe the solution you'd like
Expose the user's role field

[2022-03-23 07:51] kiranparajuli589 commented on #3167
I've made a test setup following the instructions from the issue description.

#### One thing I bumped into:
- while starting the database service, I to use `sudo` for bind permissions

#### Setup
- database service initialized using `idmd` and `base.ldif`
- ocis started with the environment mentioned in the setup description + `PROXY_ENABLE_BASIC_AUTH` for basic auth support while using curl requ

[2022-03-23 07:53] wkloucek commented on #3343
Also currently the service user needs to know the URL of the IDP, to successfully authenticate, which is not nice

[2022-03-23 07:54] kiranparajuli589 commented on #3167
cc @individual-it @rhafer

[2022-03-23 09:06] JammingBen opened #3370 "Show shares for all space members"
## Steps to reproduce

1. Create a new space `space01`
2. Add `user01` as member and assign them the role `viewer`
3. Now share a folder within the space to another user who is not member of the space
4. As `user01`, and list the shares for the folder which has been shared one step above

As `user01` is a member of the space, they should see the users the folder has been shared with. Currently, th

[2022-03-23 09:35] C0rby commented on #3233
@JanAckermann, does this help you for this case? https://github.com/owncloud/ocis/pull/3368

[2022-03-23 09:37] JanAckermann commented on #3233
@C0rby yes

[2022-03-23 10:29] micbar commented on #3348
@pmaier1 JFYI

[2022-03-23 10:36] C0rby commented on #3248
But is it a capability though or is it rather a global setting?
Anyways, if I were to implement it as a capability, where would I store the value and how would I set it? Should it be updateable?

[2022-03-23 10:43] C0rby commented on #3234
@micbar @butonic, since the PR was closed we still don't have a way to represent an 'unrestrict' quota value.
How do we want to move on with this? I wouldn't have a problem with adding a new field to the libregraph API.

[2022-03-23 10:57] micbar commented on #3370
@C0rby @butonic IMO this is just a gap in the implementation.

We need to tackle this and come up with a concept.

Currently we have no distinction between shares inside a personal space or inside a project space.

[2022-03-23 11:09] butonic commented on #3370
hm correct. my gut tells me that when listing the shares the shares manager filters by owner.

the lisg shares with others call might not show the share ... but the /me/drives/ endpoint might actually show the `grant` space

[2022-03-23 11:22] butonic commented on #3370
AFAICT the shares manager could check the share resources and determine which ones are space roots because the resource storageid and nodeid are the same. If the user has _read access_ on a root he should be able to see all other shares in that space.

Actually, _read access_ is incorrect. it is the `ListGrants` permission, which IIRC a viewer currently does not have. When adding users to a spaca

[2022-03-23 12:01] rhafer commented on #3167
Ok. Cool. Meanwhile the code as evolved a bit and it should be somewhat simpler to start oCIS with a libregraph/idm (e.g. you don't need to manually build libregraph/idm anymore). I just opened https://github.com/owncloud/ocis/pull/3372 to have a central place of instruction for the current state of affairs. It should end up on https://owncloud.dev/extensions/idm/ after merging and I'll try to kee

[2022-03-23 12:16] JammingBen opened #3373 "Different DAV permissions for space members on the same resource"
First off, I'm not 100% sure if this is a bug. But what I'm experiencing:

* Create a new space as user `admin`
* Add `einstein` as manager for this space
* As `admin`, create a folder `folderInsideSpace` inside the space

IMO the DAV permissions in the PROPFIND request for `folderInsideSpace` should look the same for both `admin` and `einstein`. But I'm seeing differences:

For the user `admin`,

[2022-03-23 13:43] individual-it commented on #3254
so is this because the endpoint does not exist at all or does it work for other users?

[2022-03-23 14:30] rhafer commented on #2711
While testing things with libregraph-idm #3331 , I've run into this testcase. Which shows an interesting behaviour in different configuration. Currently it only seems to succeed with the default oCIS config because the cs3 userprovider does not work correctly with the glauth LDAP service. It's not able to resolve a users group memberships.

If tested with a properly working user/groups backend the

[2022-03-23 14:52] C0rby commented on #3233
@JanAckermann, I updated the code and comment here: https://github.com/owncloud/ocis/pull/3368
Basically a quota of `0` means unlimited. This way if you set `0` when updating the quota of a space you unrestrict it.

[2022-03-23 15:13] JanAckermann commented on #3233
THX, will start implementing approx next week

[2022-03-23 15:18] pascalwengerter opened #3377 "Release 1.19.0 Tech Preview"
## Tasks
- [x] Brief marketing heads up @pascalwengerter
- [x] Update web to 5.3.0 https://github.com/owncloud/ocis/pull/3375 @pascalwengerter
- [x] update to REVA v2.x.x https://github.com/owncloud/ocis/pull/3405
- [x] Release Reva `v2.1.0` https://github.com/cs3org/reva/pull/2690
- [x] Update Reva to `v2.1.0` https://github.com/owncloud/ocis/pull/3416
   - [x] clean up our changelog regarding re

[2022-03-23 16:03] ScharfViktor opened #3378 "Different data in the space responses"
ocis version 1.18.0 via docker

### Steps:
- Admin creates space and shares to marie with viewer role
- Admin changes role to editor
- Admin creates folder inside space

#### Actual result:
request GET `https://host.docker.internal:9200/graph/v1.0/me/drives?%24top=0&%24skip=0&%24orderby=name+asc&%24filter=driveType+eq+project`
role, etag, lastModifiedDateTime  changed

request GET `https://host.do

[2022-03-24 00:19] phil-davis commented on #2711
I adjusted the test expectations in core PR https://github.com/owncloud/core/pull/39917

That should make it possible to get oCIS to behave as per the test expectation.

[2022-03-24 00:28] phil-davis commented on #1420
The enable/disable user tests still fails. I guess that the feature has not yet been implemented?

[2022-03-24 09:47] kobergj commented on #3302
This ticket says there should only be one role: https://github.com/owncloud/product/issues/103

The code also reflects that: https://github.com/owncloud/ocis/blob/master/settings/pkg/store/metadata/assignments.go#L48

[2022-03-24 10:11] individual-it opened #3383 "moving a file to the "Shares" folder deletes the file"
## Describe the bug

a file cannot be moved to the "Shares" folder, but if you try it will be deleted

## Steps to reproduce

Steps to reproduce the behavior:

1. create a file
2. move the file to the "Shares" folder
3. reload the page

## Expected behavior
file should still be there

## Actual behavior
file is deleted

## Setup

only tried with web, need to reproduce with the API

[2022-03-24 10:23] pascalwengerter commented on #3383
Not sure how much it's worth pouring energy into this, ideally the `Shares` folder is not visible on the web UI after the current sprint since the sharing jail is currently being implemented by @kulmann

[2022-03-24 10:31] C0rby commented on #3234
With these changes it is now possible to unrestrict quota by setting '0' as the quota value.

[2022-03-24 16:10] ishank011 opened #3388 "Use the Id parameter to recognize spaces"
https://github.com/owncloud/ocis/blob/a99f725c0084776c0094fb67681225416bfacefd/graph/pkg/service/v0/drives.go#L525-L531

Why aren't we using `space.Id` anywhere? Just recognizing a space by a single ID is wrong as there can be clashes across storage providers, and not all providers will be using UUIDs.

[2022-03-24 16:10] ishank011 commented on #3388
@butonic @C0rby @micbar

[2022-03-24 16:12] micbar commented on #3388
@ishank011 The StorageID is the spaceID and must be unique

[2022-03-24 16:13] micbar commented on #3388
The resourceID is always `StorageID!OpaqueID`

[2022-03-24 16:15] ishank011 commented on #3388
I think you mean `Id`, right? The `Root` object should correspond to the reva resource IDs.

[2022-03-24 16:21] micbar commented on #3388
1) What is a storage Space?

A storage space is a Folder on a storage provider which is marked as a space Root. It is used as a root reference for relative paths inside a root. A Single Storage Provider can host unlimited numbers of storage Spaces

2) What is a spaceID

The spaceID is the ID of the RootFolder of a space. This folder has a ResourceID. The ResourceID of a SpaceRoot always consists t

[2022-03-24 16:24] C0rby commented on #3370
It's not quite that easy I'm afraid. The space member grants are not represented as shares. Therefor the share manager doesn't know if a user is a member of a space. We would somehow need to pass the membership information of the current user down to the share manager or redesign the share manager to somehow make it spaces aware.

[2022-03-24 18:01] butonic commented on #3388
1. An `id` in the graph API is an opaque string
2. We construct it by concatenating the CS3 `{storageid}!{opaqueid}`.
3. When dealing with a space root the `storageid` and `opaqueid` are actually the same.
4. To shorten the `id` we allow omitting the `opaqueid`
5. Shares that are represented as a space have `storageid` that identifies the space and an `opaqueid` that together identify the shared r

[2022-03-24 18:05] butonic commented on #3388
@ishank011 we should probably have a quick call to clarify things?

[2022-03-25 03:41] individual-it commented on #2131
Accepting seems to work now, but the receiver can only access the first share

[2022-03-25 03:48] individual-it commented on #2131
if both shares come from the same user, the content inside is mixed together
![image](https://user-images.githubusercontent.com/2425577/160050626-d86d59ed-36c9-477a-af43-7fc290512252.png)

[2022-03-25 04:29] amrita-shrestha commented on #3065
https://github.com/cs3org/reva/pull/2628 PR implement trash-bin API for spaces

[2022-03-25 04:37] individual-it commented on #1293
I've tried to access webdav with other tools like the file-manager and LibreOffice and they don't ask for a username/password. I believe this issue could be the reason.

[2022-03-25 07:11] wkloucek opened #3392 "Configure app registry mimetypes in oCIS config"
## Is your feature request related to a problem? Please describe.
I cannot configure the app registry mimetypes in the oCIS config file. Instead I have to create and reference a separate json file. (https://owncloud.dev/extensions/storage/apps/#mime-type-configuration--creation-allow-list)

## Describe the solution you'd like
I'd like to configure the mimetypes in the oCIS config file

## Describe

[2022-03-25 07:15] wkloucek opened #3393 "Configure IDP settings in the oCIS config file"
## Is your feature request related to a problem? Please describe.
As an admin I want to configure the OIDC clients in the config file of the IDP (https://owncloud.dev/extensions/idp/configuration/). This is currently not possible since there is a separate file (identifier-registration.yaml)

## Describe the solution you'd like
have the configuration options of the identifier-registration.yaml in t

[2022-03-25 10:00] butonic commented on #3370
The list of shares on a resource is fetched with an ocs `/shares`  request, but the share manager cannot list the grants of a space because it currently does not know that a user is a member of a space.
🤔

[2022-03-25 10:11] kiranparajuli589 commented on #3167
@rhafer for the user create request, are all the fields `displayName`, `mail`, `onPremisesSamAccountName` and `passwordProfile` required? When I try to create user with only `onPremisesSamAccountName` and `passwordProfile`, it exits with `502 Bad Gateway`
[code]

[2022-03-25 14:51] micbar commented on #3353
Fixed by https://github.com/cs3org/reva/pull/2664

[2022-03-28 06:11] kiranparajuli589 commented on #3167
I tried starting `ocis` just like stated [here](https://github.com/owncloud/ocis/pull/3372/files). after starting, I'm getting error log like:
[code]
Previously I used to start LDAP from `libregraph/idm` using `bin/idmd serve`, but for this setup, how should I start LDAP connection?

[2022-03-28 06:22] individual-it opened #3402 "sending invalid data to graph API still returns HTTP 200"
## Describe the bug

e.g sending a random file-id as the "image" folder does not give back any indication that something went wrong. Though the information is not saved the API returns HTTP 200

## Steps to reproduce

Steps to reproduce the behavior:

not-existing fileId as image
1. create two random UUIDs and join them with an `!` e.g. `0076ce93-81b3-48e3-94ff-eba9e1e8bd19!56bd2f80-d372-4cd7-a0f2

[2022-03-28 06:57] individual-it opened #3403 "trying to delete the Shares Jail space results in an error 500"
## Describe the bug

API call to delete the shares jail are responded with an error 500

## Steps to reproduce

Steps to reproduce the behavior:

1. `curl -k -u admin:admin https://localhost:9200/graph/v1.0/drives/<share-jail-space-id> -X DELETE -v`

## Expected behavior
I think HTTP 400, 401 or 403 would be a reasonable answer

## Actual behavior
HTTP 500

## Setup

Please describe how you starte

[2022-03-28 08:53] rhafer commented on #3167
@kiranparajuli589  Hm, actually that error message might be missleading. I think it's caused by a client try to contact the builtin LDAP server before it is fully started. If you only get it once or twice at startup that is ok and you can ignore it for now. I'll try rework the error handling a bit to give a more helpful log message.

[2022-03-28 09:57] kiranparajuli589 commented on #3167
@rhafer, if I ignore and go for creating user:
-> list user API works properly returning:
[code]
-> create user api fails with `502 Bad Gateway`
[code]
  - New user is not in the list

[2022-03-28 09:57] ScharfViktor commented on #3167
Did I correct understand than now we shouldn't run `libregraph/idm`?
It run by default with starting ocis [here](https://github.com/owncloud/ocis/pull/3372/files).

I try to check that extension idm works:
![Screenshot 2022-03-28 at 11 41 04](https://user-images.githubusercontent.com/84779829/160372882-c471f54f-d562-42ea-8c24-2aa6075bd054.png)

I try to create new user but I get 500
![Screenshot 2

[2022-03-28 10:10] rhafer commented on #3167
@kiranparajuli589 This should be fixed with https://github.com/owncloud/ocis/pull/3406

[2022-03-28 10:20] rhafer commented on #3167
Yes, right. With current master libregraph/idm starts as an embedded service in ocis. No need to start it separately any more.

The health endpoint for the idm service not fully implemented yet. Sorry.

@ScharfViktor  Doesn't seem so. But can you try to  clean up your `.ocis` directory and start ocis once more from scratch? It looks a bit as if the service user for the settings service is missing

[2022-03-28 10:35] kiranparajuli589 commented on #3167
Hi @rhafer, this was found last friday.
Steps to reproduce:
- create a new user using the Graph API
- try to upload a file
[code]
This was exciting with 404 every time for me.

For now, I'm not able to create a new user, so can see the update.

[2022-03-28 10:45] ScharfViktor commented on #3167
Before start ocis I cleaned up `.ocis`. I tried it again, but creating user doesn't work.
log: `2022-03-28T12:28:08+02:00 ERR error initializing metadata client error="error: not found: unknown client id" service=ocis`

If you run same the request again you get `"Entry Already Exists\` without log, it means "New user" somewhere exist

https://user-images.githubusercontent.com/84779829/160381438-26

[2022-03-28 13:02] micbar commented on #3388
All Storage providers need to provide UUIDs. That is a hard requirement. We cannot rely on Inodes or something which is not a  "logical unique identifier". SpaceIDs must survice cross storage moves.

[2022-03-28 13:43] ishank011 commented on #3388
@micbar migration scenarios should be handled separately in case of conflicts IMO, given the frequency of such events happening compared to how much we use space lookups.

In our deployment, counting each share as a space, we have 500k+ spaces and for each metadata call, retrieving all of those and checking that there's an ID match is not a good idea at all. Also, given how heterogenous our driver

[2022-03-28 13:54] ishank011 commented on #3388
Even if you have a separate category for shares, the scalability issue still remains.

[2022-03-28 13:56] micbar commented on #3388
What do you suggest?

[2022-03-28 14:29] wkloucek opened #3409 "Return a reference to the parent in the ResourceInfo (when doing a stat)"
## Is your feature request related to a problem? Please describe.
I want to be able to write a file next to a file whereof I only know a file ID (SpaceID + NodeID).

## Describe the solution you'd like
(For the decomposedFS strorage driver family,) a stat on the file returns a reference to the parent as described in https://github.com/cs3org/cs3apis/pull/167.

## Describe alternatives you've consi

[2022-03-28 14:29] butonic opened #3410 "generated yaml config has no underscores"
eg `base_dn` is defined in https://github.com/owncloud/ocis/blob/master/glauth/pkg/config/config.go#L33 but rendere as `basedn` in https://owncloud.dev/extensions/glauth/configuration/#example-yaml-config

[2022-03-28 14:35] rhafer commented on #3410
cc @dragonchaser

[2022-03-28 14:50] wkloucek commented on #3410
https://github.com/go-yaml/yaml/issues/424

[2022-03-28 15:03] ScharfViktor commented on #3167
Creating users/groups works. New users can create folder/files, share and accept files

@kiranparajuli589 try again. it should work

[2022-03-28 16:21] crrodriguez opened #3411 "ocis binaries must be PIE"
I was asked to investigate how to package this for a linux distribution, but I better start with the bugs of the existing packages instead :-)

## Describe the bug

pre-built binaries are by all practical means wrongly compiled, by default go generates binaries that are not position independent, this will eventually lead to triggering selinux exec* restrictions, not to mention full ASLR is inactiv

[2022-03-28 18:18] micbar commented on #3378
I think this is a caching issue in the gateway

[2022-03-29 08:55] ScharfViktor commented on #3378
Re-tested, changing the role in both requests works.

But after creating folder or uploading files eTag and lastModifiedDateTime  in request `https://host.docker.internal:9200/graph/v1.0/drives/spaceId` don't change. Is it still a cache problem?

[2022-03-29 09:24] #3411 closed

[2022-03-29 09:33] micbar commented on #3377
# Changes in 1.19.0

## Summary

* Bugfix - Network configuration in individiual_services example: [#3238](https://github.com/owncloud/ocis/pull/3238)
* Bugfix - Improve gif thumbnails: [#3305](https://github.com/owncloud/ocis/pull/3305)
* Bugfix - Fix error handling in GraphAPI GetUsers call: [#3357](https://github.com/owncloud/ocis/pull/3357)
* Bugfix - Fix request validation on GraphAPI User up

[2022-03-29 09:37] micbar commented on #3411
@crrodriguez please test again with the v1.19.0-rc1 release

[2022-03-29 10:15] #3360 closed

[2022-03-29 10:23] rhafer commented on #3364
Roles are currently not exposed via the graph API. As already mentioned elsewhere I think this as to be implemented on the client-side for now talking to the settings service. (Similar to what the "old" accounts UI is doing)

[2022-03-29 11:04] wkloucek commented on #3377
# Smoke test with [oCIS Hello](https://github.com/owncloud/ocis-hello)
- [ ] [Docker-Compose Setup](https://github.com/owncloud/ocis/tree/master/deployments/examples/ocis_hello)
- [ ] Login as Einstein
   - [ ] Navigate to Hello Extension (via app drawer)
   - [ ] Type "foo" and submit -> receive "Hello foo"
   - [ ] Navigate to settings and make sure there are no Hello configuration options
- [ ]

[2022-03-29 11:06] wkloucek commented on #3377
# Compatibility test from v1.18.0 to v1.19.0-rc1

## Create these with the original oCIS version and see if still the same after upgrading:
- shares
  - [ ] public share
  - [ ] share with user as role editor
  - [ ] share with user as role viewer
- settings
  - [ ] language settings
- files
  - [ ] uploaded folder & files
  - [ ] trashed files
- users
  - [ ] non demo user with role admin
  - [ ]

[2022-03-29 11:09] kiranparajuli589 commented on #3167
after clean ocis setup, it's working for me too.

some points to mention:
- when trying to create an already existing user, the response body looks good but requests end with 500
- users can be created without providing password profile:
[code]
[code]

[2022-03-29 11:09] labkode commented on #3388
@micbar

See diagram below.

The current implementation does not rely on SpaceID (storageID + opaqueID) to find storages, but solely on the storageID, that is not enough to route a request (broken label in the diagram).

Also, as @ishank011 explained, the way matching is done to identify a space in a storage provider is inefficient.

A spaceID created as StorageID+OpaqueID gives two benefits:
a) p

[2022-03-29 11:13] wkloucek commented on #3377
# Smoke test with ~[oCIS WOPI server](https://github.com/owncloud/ocis-wopiserver)~ [wkloucek/cs3-wopi-server](https://github.com/wkloucek/cs3-wopi-server/pull/1)

- [ ] ~[Docker-Compose Setup](https://github.com/owncloud/ocis/tree/master/deployments/examples/ocis_wopi)~ [Docker-Compose Setup](https://github.com/owncloud/ocis/pull/3333)
- [] Login as Einstein
   - [ ] ~Go to all files -> Click "Cr

[2022-03-29 11:41] ScharfViktor commented on #3377
## Smoke test. branch v1.19.0-rc1

### Case 1: admin share folder(with file) to marie:

Admin:
- [x] upload big file 10gb
- [x] upload folder with 803 small images.
- [x] Check pagination, count items per page. - 100 itmes
- [x] upload folder(drag folder) "folder_to_share" with file.pdf
- [x] share folder "folder_to_share" to marie with edit right

Marie:
- [x] accept "folder_to_share"
- [x] renam

[2022-03-29 13:40] ScharfViktor commented on #3167
some points to mention:

- admin user cannot create project space. He get 401 with response: `{"error":{"code":"generalException","innererror":{"date":"2022-03-29T13:36:41Z","request-id":"Viktors-Air/odUWtUiDh1-007817"},"message":"insufficient permissions to create a space."}}
`

[2022-03-29 13:58] ScharfViktor opened #3419 "Getting readme and spaceImage does not work. The url is wrong"
ocis local,
branch  v1.19.0-rc1

Steps:
- Admin creates new space (folder ".space" and readmeFile ".space/readme.md" was created automatically)
- Admin adds spaceImage file

Actual result: wrong url: PROPFIND`https://localhost:9200/remote.php/dav/spaces/004b933e-09eb-4003-9842-d4ba538d41c0/https%3A/localhost%3A9200/dav/spaces/opaque_id%3A%22004b933e-09eb-4003-9842-d4ba538d41c0%22%20/.space/file.jp

[2022-03-29 15:53] rhafer commented on #3167
Hm, I'll take a look at that.

I think that is the desired behaviour. At least unless the user is able to login.

[2022-03-29 16:03] micbar commented on #3388
@labkode @micbar The current implementation uses the spaceID

https://github.com/owncloud/ocis/blob/4cbec0adab7385edf16921c3c76c2b96f5c3e229/graph/pkg/service/v0/drives.go#L494-L496

[2022-03-29 16:40] #3419 closed

[2022-03-30 04:40] kiranparajuli589 commented on #3167
Without a profile password, login should be impossible ;)
Or should we try with random passwords? :)

[2022-03-30 07:27] micbar commented on #3377
Thanks everybody!

🚀

[2022-03-30 07:27] #3377 closed

[2022-03-30 10:24] butonic opened #3424 "for now leave out type `grant` and `mountpoint` when listing spaces"
For the beta, a call to `/drives` should not list drives of type `grant` or `mountpoint`. The only drives in the list will be the users `personal` drive (same owner as logged in user), the share jail (type `virtual`) and multiple `project` spaces.

The `grant` and `mountpoint` split of a share is a detail that we will move out of reva, by implementing a stateful `/me/drives` endpoint. reva will kn

[2022-03-30 10:28] butonic opened #3425 "The share jail needs to have a dedicated id per user"
When listing the share jail by ID every user needs to have a dedicated share jail:
- it contains a user individual listing of shares
- in the future shares might be renamed
- for search indexing access permissions are tied to the space (and path), which would not work if there is only one share jail. otherwise all share names would be part of the same space index allowing users to search the names

[2022-03-30 10:40] butonic opened #3426 "add drives service to store persistent list of spaces a user has access to"
Currently, the `/me/drives` endpoint makes a ListStorageSpaces() call to the gateway.

That query has to return a user specific listing of spaces a user has acces to ... which is fairly expensive if not cached properly.

We will implement a new `drives` service with persistence to manages a list of drives the user has access to at the `/me/drives` endpoint.
- when you first log in an a personal sp

[2022-03-30 12:22] C0rby commented on #3345
This is now included in the current oCIS master.
The new property is called `<oc:spaceid/>`.

[2022-03-30 12:24] C0rby commented on #3234
The changes are now in oCIS master. If there is still a bug or if changes are required please reopen this ticket or open a new one.

[2022-03-30 12:24] #3234 closed

[2022-03-30 12:25] C0rby commented on #3233
The `total` now always shows the set quota or it's omitted if no quota was set.

[2022-03-30 12:25] #3233 closed

[2022-03-31 07:13] JanAckermann commented on #3234
:heart:

[2022-03-31 07:38] butonic opened #3431 "use static storage registry in reva"
Instead of using a dynamic space registry in reva we should prefix the spaceid with a storage id as described in https://owncloud.dev/extensions/storage/proposedchanges/#space-providers This will allow us to use a static storage registry to significantly reduce complexity. Or in other words: "to avoid a self inflicted complexity monster".

One drawback is that moving spaces between storages would

[2022-03-31 07:48] JanAckermann commented on #3248
any updates on this ? @C0rby

[2022-03-31 10:37] JanAckermann opened #3432 "User assignments-list gets longer after every restart on default users"
## Describe the bug

User assignments-list gets longer after every restart on default users
![image](https://user-images.githubusercontent.com/26169327/161036335-0c60cb16-9a6b-44ad-b6e2-7376547543d5.png)

## Steps to reproduce

Steps to reproduce the behavior:

1. Start ocis
2. POST https://localhost:9200/api/v0/settings/assignments-list with payload `{
    "account_uuid": "058bff95-6708-4fe5-91e4

[2022-03-31 11:53] C0rby commented on #3373
The issue is this line here: https://github.com/cs3org/reva/blob/7ea3143d9a2a7b56826465ac2971e279e6f2667c/internal/http/services/owncloud/ocdav/propfind/propfind.go#L711

We assume that not being the owner on a resource means that it was shared with us. Now with the project spaces this is not true and we can't test the share status like that. Actually I think we should generally rethink the "owner

[2022-03-31 12:21] lookacat opened #3433 "Webdav propfind lockdiscovery returns 404 on an locked item"
## Describe the bug
We've found a bug that in some cases a propfind which requests `<d:lockdiscovery/>` on an locked file returns an
404, while the same request in **oc10 works as expected**.

## Steps to reproduce

Steps to reproduce the behavior:

1. Lock a file in ocis.
2. Request a propfind with the following payload
[code]
3. The response returns lockdiscovery 404

HOWEVER: If you send a prop

[2022-03-31 12:24] #3410 closed

[2022-03-31 13:00] C0rby commented on #3373
I had the idea that when doing a `Stat` (`GetMD` on the storage driver level) or a `ListContainer` (`ListFolder` on the storage driver level) we could check the grants of the node to see if it is shared or not. But this is not efficient and also incorrect. If the file that is being checked was shared indirectly i.e. the parent folder was shared, then the file wouldn't have the grant. So we would a

[2022-03-31 13:03] C0rby commented on #3248
No, this hasn't been tackled yet.
I still need some input from other oCIS team members about how we want to deal with global settings.

Anyways, if I were to implement it as a capability, where would I store the value and how would I set it? Should it be updateable?

@micbar @butonic?

[2022-03-31 14:03] wkloucek opened #3434 "locking on decomposed fs should return `CODE_FAILED_PRECONDITION` if already locked"
## Describe the bug

the decomposed fs should return [`CODE_FAILED_PRECONDITION`](https://github.com/cs3org/cs3apis/blob/33ae0f73ede1a87d10d338218661c08f87d87954/cs3/rpc/v1beta1/code.proto#L114-L132) if a user does a `SetLock` and the file is already locked. This implementation then aligns with the upcoming EOS locking implementation. It is also better than the current `CODE_PERMISSION_DENIED`.

C

[2022-04-01 05:33] sp96296 opened #3436 "Unexpected HTTP response: 400 on Login"
## Describe the bug

Receiving a HTTP 400 error when trying to log into OCIS via an external IP address.

## Steps to reproduce

Steps to reproduce the behavior:

1. Launch OCIS:
[code]
2. Connect to web interface via browser (`https://YOUR_EXTERNAL_IP_ADDR_GOES_HERE:9200`) on another device
3. Attempt to log in with a valid user account

## Expected behavior
Log in to the interface in the web bro

[2022-04-01 08:39] butonic commented on #3373
when accessing `/dav/spaces/{spaceid}` the ocdav handler first looks up the space. we can use the space type to determine if the `S` is part of the permissions:
- if space type is `grant` we add the `S`
- if not we never add `S` because the currently logged in user is accessing via a real space root

we may need to remember the space id and pass it all the way down to `mdToPropResponse()`

[2022-04-01 08:48] butonic commented on #3248
Interesting, I remeber discussing a new `/storages` resouce with @micbar in the graph api which admins will need to determine which storage to use for a new space, which one to use for `personal` spaces, which one for `project` space and when moving spaces between storages.

IMO that would also be a place to store the default quota for spaces (per storage provider).

We could start with a minimal

[2022-04-01 10:52] butonic opened #3438 "aborting an upload in the web ui results in a truncated upload"
When uploading a 200MB File with the web UI @enbrnz and @ChrisEdS could reproduce a truncated upload by:
1. Start uploading a large file
2. Reload the page while upload is in progress
3. file shows in the web ui, but with less bytes

I expect aborted uploads to not overwrite the existing file. Only when the upload finishes should the new file be shown in the webui.

Might be a simple PUT vs TUS up

[2022-04-01 10:54] ChrisEdS commented on #3438
Reproducible at https://ocis.ocis-web.latest.owncloud.works/

[2022-04-01 11:18] saw-jan commented on #2932
Behat has `@BeforeStep` hook: (executed before every step)
See https://docs.behat.org/en/v2.5/guides/3.hooks.html

And we can get the metadata of a step like this:
[code]
We can use this information to determine which server to use for which step.

[2022-04-01 12:41] a-suyer opened #3441 "Access denied // connect: cannot assign requested address / could not initialize oidcAuth provider"
### Expected behaviour
Fresh deployment of OCIS using docker with docker-compose and traefik: trying to log-in for the first time with the demo user admin, pw admin. Expect successful login.

### Actual behaviour
Access Denied.

### Server characteristics and error message from container logs
- Raspberry Pi 4 Model B
- OS: linux aarch64 Ubuntu 21.10
- Docker 20.10.7 (API: 1.41)
- docker-compose
-

[2022-04-01 13:28] butonic opened #3442 "publicshare service has no owncloudsql driver implementation"
While [configuring ocis to run along an existing oc10 installation](https://github.com/owncloud/ocis/pull/3435) I found no `owncloudsql` driver that uses the owncloud database to provide public links.

[2022-04-01 13:31] butonic opened #3443 "rename user share `oc10-sql` to `owncloudsql` for consistency"
The user and auth drivers are using `owncloudsql`, the reva storage driver should
- [ ] use the same name instead of `oc10-sql` and
- [ ] change the package name to `owncloudsql` instead of just `sql`

[2022-04-02 14:30] a-suyer commented on #3441
After newly setting up the Server and Docker the problem does no longer show up.

[2022-04-02 14:30] #3441 closed

[2022-04-02 15:47] #2760 closed

[2022-04-04 03:36] phil-davis commented on #3092
@SagarGi please check if this is still a probelm. If so, then add the "bug" tag so that the bot does not try to close this.

[2022-04-04 03:38] phil-davis commented on #3085
@SagarGi please check if this is still a problem. If so, then we can add a tag so that the bot does not try to close this.

I guess that a public link should be able to be created and used on a resource in a space!

[2022-04-04 03:40] phil-davis commented on #3079
I added the "bug" label to stop the bot from closing this.

I guess that spaces will have versions ability? If so, how does the versions endpoint work for a space?

[2022-04-04 07:30] saw-jan commented on #2133
Seems like oCIS now have `Shares` in `file_target`. see https://github.com/owncloud/ocis/issues/2540

[2022-04-04 07:36] #3409 closed

[2022-04-04 07:39] SwikritiT commented on #2133
If this is the expected behavior from now on. Maybe we should refactor the tests again.

[2022-04-04 10:43] mmattel opened #3456 "Command line option to list active config parameters"
## Is your feature request related to a problem? Please describe.
Identified when documenting ocis config.

When reading the dev docs about the [configuration arithemtics](https://owncloud.dev/ocis/config/#in-depth-configuration), you get a clear warning that if you do not take very much care, a misconfiguration can sneak in resulting in a different behaviour than expected. This can happen because

[2022-04-04 14:03] mmattel opened #3457 "Starting ocis server as ordinary user creates an error message from the idp extension on startup"
## Describe the bug
When starting `ocis server` **as ordinary user** in a directory where this user **does not have write permissions**, you get an error message from the `idp` extension not being able to create a directory - this seems to be a bug.

[code]

## Steps to reproduce
[code]

## Expected behavior
No error message

## Actual behavior
Error message

## Setup
No yaml or env used

[code]

[2022-04-04 14:12] mmattel opened #3458 "Fix error message when the runtime has not started but you file a command for it"
## Is your feature request related to a problem? Please describe.
If you have **not** started up `ocis server` but try to file a runtime command except `run` and `version`, a default error message like the following will be printed:

[code]

Note that when using
[code]
A clean error message is already used.

## Describe the solution you'd like
Have a proper error message describing the issue like:

[2022-04-04 14:31] C0rby commented on #3359
Is the space name required for shared with other AND shared with me?

[2022-04-04 15:52] mmattel opened #3460 "Unclear behaviour for conflicting services at startup"
## Describe the bug

Having one (or two or more) shells open, no configuration given = you will have a configuration conflicts when running the runtime proxy and the standalone proxy:

1. Shell1:
[code]
2. Shell2:
[code]
3. Shell2:
[code]
**There are two issues:**
a. `Shutting down server` from the proxy message is unclear. What is being shut down - the runtime, the standalone proxy?
b. Looking at

[2022-04-04 21:36] micbar commented on #3263
older release binaries are reodered.

@wkloucek I am missing the version tag in the filenames for version 1.19.0 and 1.19.1
IMO it is a good thing when you have some downloaded ocis versions in your Downloads Folder. They have no parent folder there. On the download mirrors this information looks redundant, but I would like to have it back.

[2022-04-05 03:52] SagarGi commented on #3085
@phil-davis for a public accessing the public link for the resource, the space id still cannot be created (when public make a request using spaces WebDav API)

for the below request

`When the public lists the resources in the last created public link with depth "0" using the WebDAV API`

It says

[code]

[2022-04-05 04:18] phil-davis commented on #3085
@SagarGi I wonder why the test code has to try to find a space-id?

I thought that the "last created public link" would have a path like:
`http://172.17.0.1:8080/index.php/s/5kNPEAXJgpYCo58`

And that accessing that when accessing that "magic string" `5kNPEAXJgpYCo58` "share", the server will do whatever it needs to do in the back-end to find the resources(s) that are part of the public link (find

[2022-04-05 06:42] wkloucek commented on #3263
https://github.com/owncloud/ocis/pull/3429 brings it back

[2022-04-05 08:17] micbar commented on #3263
Thanks @wkloucek

@xoxys  IMO this task is now complete.

[2022-04-05 08:17] #3263 closed

[2022-04-05 09:29] butonic commented on #2133
Raising this to @pmaier1: why can the admin see the mount path (`file_target`) of the recipient. This exposes the recipients path to the sharer. While it looks innocent enough when the receiver moves the mount point the sharer can see the new location (in OC10).

Again, IMO we should drop the `file_target` for sharers. https://github.com/owncloud/ocis/issues/2133#issuecomment-930161068

[2022-04-05 10:33] kiranparajuli589 commented on #3167
### Bug or feature?
1. User can be fetched with the `onPremisesSamAccountName` value (also case insensitive)
2. User can be deleted with the `onPremisesSamAccountName` value (also case insensitive)
3. Groups can be fetched with the `displayName` value (also case insensitive)
[code]
5. Groups cannot be deleted with the `displayName` value

[2022-04-05 10:51] C0rby commented on #3359
@JammingBen, see the question above. I already implemented this for shared with others but shared with me is a bit trickier.
Do we need that for both? If so I need to figure out a way to make it work.

[2022-04-05 10:54] SagarGi commented on #3085
@phil-davis i also think it is not relevant for the public as space-id is for a user. we have actually added spaces examples in some suites probably regarding this issue.

[2022-04-05 11:15] saw-jan commented on #1922
web now has `Custom permissions` instead of `Advance Permissions`.
![custom-permissions](https://user-images.githubusercontent.com/52366632/161741712-5a0d0282-e641-415b-b0d2-e5a4e3cccb2c.png)

And if the Custom permissions match to `Viewer` or `Editor` then it will display as one of them, not as `Custom permissions`

I think we can close this one

[2022-04-05 11:21] kulmann commented on #1922
Yes, it's by design that we show the exact role that matches the selected custom permissions, if there is one. Thanks for re-checking. I'll close this ticket now.

[2022-04-05 11:21] #1922 closed

[2022-04-05 11:25] amrita-shrestha opened #3463 "[new/old webdav] Locking non-existent resources returns 500 instead of 404"
## Describe the bug

In the **old/new** DAV version, locking a non-existent resource responds with the **`500`** http status code and
unuseful error message

## Steps to reproduce

Steps to reproduce the behavior:

1. create user `user1`
2. lock a non-existent resource  `lorem.txt`
[code]

## Expected behavior
In **spaces** dav version
`< HTTP/1.1 404 Not Found`
[code]

## Actual behavior
In **old

[2022-04-05 11:27] JammingBen commented on #3359
Sorry, totally forgot to answer. I'm afraid we need it for both cases.

[2022-04-05 11:33] C0rby commented on #3359
No, worries. Ok, then more work is needed. :+1:

[2022-04-05 12:49] dragonchaser opened #3464 "[Tracker issue] Create more realistic & detailed user models"
This is a tracker issue for: https://github.com/owncloud/cdperf/issues/32

[2022-04-05 14:57] ScharfViktor opened #3466 "Share with group using IDM doesn't work"
ocis local version: 1.19.1

**preparation**:
- stop ocis
- clean ocis `rm -rf /Users/scharfviktor/.ocis`
- start ocis with idm (see how here: https://owncloud.dev/extensions/idm/setup/)

**Steps**:
- admin creates folder "f1"
- admin shares folder with group "physics-lovers" (marie is member of this group). Or create a new group and add Marie to it

**Expected result**: share to group is created

[2022-04-05 15:04] ScharfViktor commented on #3466
@rhafer could you please see bug. We want to have sharing to group in ocis beta

[2022-04-06 06:08] saw-jan commented on #1702
re-tested oCIS latest master (`55269c23d`) still relevant

[2022-04-06 06:09] saw-jan commented on #1710
re-tested oCIS latest master (`55269c23d`) still relevant

[2022-04-06 06:24] saw-jan commented on #1777
re-tested oCIS latest master (`55269c23d`) and `oC 10.9.2 prealpha (git)` still relevant

[2022-04-06 06:44] saw-jan commented on #1799
re-tested `oCIS 1.19.1`.
Now there is `Not Found` message.

v1.php: `curl -uadmin:admin https://host.docker.internal:9200/ocs/v1.php/apps/files_sharing/api/v1/shares -d shareType=3 -d path=nonExisting -vk`
[code]
v2.php: `curl -uadmin:admin https://host.docker.internal:9200/ocs/v2.php/apps/files_sharing/api/v1/shares -d shareType=3 -d path=nonExisting -vk`
[code]

[2022-04-06 07:21] exalate-issue-sync[bot] opened #3470 "Alias Links for unified Urls"
# Description

## User Stories

* > As a user I want to create unified stable urls that link to resources to make collaboration easy
* > As a user I want to create links that can point to a resource which I can access via a share

## Value

## Alias Links

### Create
- User Creates Share (via Shares API) and sends the parameters to the BE
- The BE stores the link as a public links without permissi

[2022-04-06 07:23] #3470 closed

[2022-04-06 07:44] rhafer commented on #3466
@ScharfViktor Should work after we get https://github.com/cs3org/reva/pull/2708 merged and ocis config updated accordingly. (Which I am currently working on)

[2022-04-06 07:48] saw-jan commented on #1799
Closing here

[2022-04-06 07:52] saw-jan commented on #1800
re-tested oCIS latest master (`55269c23d`).

`update` action yields same response but
`delete` is different now:
[code]

[2022-04-06 08:06] saw-jan commented on #1945
re-tested oCIS latest master (55269c23d)
Now returns `NotAuthenticated` response
[code]
[code]

[2022-04-06 08:07] saw-jan commented on #1945
Closing here!

[2022-04-06 08:10] saw-jan commented on #1976
re-tested with `oCIS 1.19.1`, still relevant

[2022-04-06 08:13] saw-jan commented on #1977
re-tested with oCIS 1.19.1, still relevant

[2022-04-06 08:30] saw-jan commented on #1978
re-tested `oCIS 1.19.1`.
Now, creating file in oCIS gives `oC-Fileid` like `ddc2004c-0977-11eb-9d3f-a793888cd0f8!eef1649a-50b9-47aa-ade3-cd38524af8ea`

Creating file:
[code]

And `/meta/<oc-file-id>/v` won't work
[code]

[2022-04-06 08:35] kiranparajuli589 commented on #3167
OCS provisioning API has an endpoint to list all groups assigned to a user.
[code]
for the Graph API we have an endpoint to list members of a group, but not one to list groups a member is assigned to.
will this be available in the near future or this is not for implementation :thinking:?

[2022-04-06 08:42] saw-jan commented on #2027
re-tested `oCIS 1.19.1`. Looks like the issue has been fixed.

Create user:
[code]

Delete user:
[code]

[2022-04-06 08:47] wkloucek commented on #3456
see also https://github.com/owncloud/ocis/issues/2672

[2022-04-06 08:48] saw-jan commented on #2027
This task needed to be done

[2022-04-06 08:53] saw-jan commented on #1675
re-tested `oCIS 1.19.1`. The issue no longer occurs.
Everything works as expected.

TODO:
- [ ] check `owncloud-sdk` tests

[2022-04-06 08:57] saw-jan commented on #1799
TODO:
- [ ] check `owncloud-sdk` tests

[2022-04-06 08:58] saw-jan commented on #1945
TODO:
- [ ] check `owncloud-sdk` tests

[2022-04-06 09:17] rhafer commented on #3167
@kiranparajuli589

- Yeah, usernames are case-insensitive
- That the GetUser request also works with username is something discussable, I kind of followed the documentation of the MS Graph API, which allows ID or name for GET and DELETE (https://docs.microsoft.com/en-us/graph/api/user-get?view=graph-rest-1.0&tabs=http). I am fine with making the Endpoint with IDs only if that is needed.

See above