[2022-08-24 15:08] jvillafanez commented on #4278
I haven't seen code dealing with range requests, and I think we'll also have to include it at some point. This is mainly to deal with large AD groups because there are limits to the number of values that AD will return for an attribute. I think the default limit is 1500, which means that groups with more than 1500 members will need to deal with ranges in order to retrieve the whole list. Linking t

[2022-08-24 16:17] ScharfViktor commented on #4425
# Smoke testing

Infinite Scale 2.0.0-beta.7

### Case 1: admin share folder(with file) to marie:

Admin:
- [x] upload big file 10gb (Show details, pause upload, resume upload work correct) sucessefull upload
- [x] upload folder with 1645 files.
- [x] Check pagination, count items per page.
- [x] upload folder(drag folder) "folder_to_share" with file.pdf
- [x] share folder "folder_to_share" to mar

[2022-08-25 05:33] SwikritiT commented on #4406
TUS is not implemented in oc10.

Any thoughts here @individual-it @phil-davis?

[2022-08-25 06:46] #4390 closed

[2022-08-25 06:56] SwikritiT commented on #4406
@corby When I set the content-length header and sent the data equal to the set content length then the request works as expected.
For this request, I've created a space with a quota `10` and the upload length is 15 with content length `10` and data of `10` bytes
[code]
In this case it returns with `507` as expected
[code]

But if I send data lower that the set content length it hangs
[code]
[code]

[2022-08-25 07:40] phil-davis opened #4457 "User cleanup during API acceptance tests"
Issue #4390 (PRs #4433 #4441 #4456 ) implements cleanup of personal spaces and project spaces at the end of each API test scenario - good.

But I think that only happens for the local API acceptance test suites. The `AfterScenario` is in `SpacesContext`, and `SpacesContext` is never loaded when the core API tests are run. The core API tests create users, and those users have a personal space when

[2022-08-25 08:40] SagarGi commented on #4393
@phil-davis  shall we wait for this https://github.com/owncloud/core/pull/40308#issuecomment-1222150520 ? On OCIS for `new` and `old` webdav we have this issue https://github.com/owncloud/ocis/issues/3874. it gives `404` while overwritting and for spaces its giving `500` and `403` when copying. I am confused what exactly the expected behavior is for `spaces` webdav

[2022-08-25 08:43] SagarGi commented on #4339
Tried with uploading large file and problem does not seem to be on upload content. Very Hard to reproduce locally or in CI.

[2022-08-25 09:01] SwikritiT commented on #4406
Then `507` should be the expected status code.

[2022-08-25 09:12] kulmann commented on #4425
Yes, let's release with that as known issue.

[2022-08-25 09:24] pmaier1 commented on #4382
Missing feature afaik.

=> Roadmap after GA

[2022-08-25 09:51] kiranparajuli589 commented on #4291
core tests adjusted with owncloud/core#40301 & new tests added with #4422

[2022-08-25 09:51] #4291 closed

[2022-08-25 10:02] kiranparajuli589 commented on #4339
Adding the content assertion step is surely helpful, but just for the debugging purpose. Strange that the multiple runs missed the flakiness. Maybe try with some different scenarios (not only single multiple scenarios). Or we may have to wait for to see if it is resolved already.

[2022-08-25 11:37] SwikritiT opened #4474 "[ocis]Creating folder with `&` character makes the UI act weird"
### Steps to reproduce
1. As user `einstein` create a folder `folder` through API
[code]
2.  Login as `einstein` and see the folder in the webui

![Screenshot from 2022-08-25 17-09-39](https://user-images.githubusercontent.com/41103328/186652888-8ab1b991-26e1-4b1e-b32f-8bea20e90fb7.png)
 It is displayed
3. Now create a folder named `new&folder` through API
[code]
[code]
The folder gets created
4.

[2022-08-25 11:54] kulmann commented on #4425
For the record: during the release preparation we found several issues where web was showing basic auth popups due to requests failing with a `401` response code. That was mitigated by introducing several url path prefixes to the authentication middleware in https://github.com/owncloud/ocis/pull/4439 https://github.com/owncloud/ocis/pull/4454 and https://github.com/owncloud/ocis/pull/4458 - releas

[2022-08-25 12:25] ScharfViktor commented on #4425
# Smoke Test with Web Office

## Collabora

- [x] Spreadsheet
  - [x] Create
  - [x] open
  - [x] open with two users in collaboration mode and read-only
  - [x] open with two users in collaboration mode and write access

- [x] Document
  - [x] Create
  - [x] open
  - [x] open with two users in collaboration mode and read-only
  - [x] open with two users in collaboration mode and write access

- [

[2022-08-25 12:39] ScharfViktor commented on #4366
I could reproduce if same file opened in collabora and only office [Release 2.0.0-beta.7]
(https://github.com/owncloud/ocis/issues/4425#top)

Steps:
- admin creates file.ods
- admin shares file.ods to einstein
- admin opens file in collabora
- einstein opens file in only ofice

or admin opens file first in collabora, second in only office

Actual:
![image](https://user-images.githubusercontent.com

[2022-08-25 12:41] ScharfViktor commented on #4425
@kulmann smoke is finished. We can continue

[2022-08-25 19:47] kulmann opened #4460 "CI: duplicate CI run with only chat notification"
## Describe the bug

When creating pull request https://github.com/owncloud/ocis/pull/4459 I noticed that two independent CI runs were started:
1. https://drone.owncloud.com/owncloud/ocis/14958 (seemingly normal CI run)
2. https://drone.owncloud.com/owncloud/ocis/14957 (only chat notification, nothing else)

## Steps to reproduce

Steps to reproduce the behavior:
See linked pull request. I don't k

[2022-08-26 04:47] phil-davis commented on #4460
I made a local branch `release-1.1.1-alpha.1` and added this commit to it:
https://github.com/owncloud/ocis/commit/8371d25c1b62fc9e59082c3129970aa7a5e523ca

Then pushed it to GitHub:
`git push --set-upstream origin release-1.1.1-alpha.1`

I have not even started making a PR.

This drone CI triggered "automagically" on push: https://drone.owncloud.com/owncloud/ocis/14963

I did a similar typo fix i

[2022-08-26 04:55] phil-davis commented on #4460
Are the settings somewhere in:
https://drone.owncloud.com/owncloud/ocis/settings
or in https://github.com/owncloud/ocis settings? (which I do not have access to)
@kulmann

[2022-08-26 05:46] amrita-shrestha commented on #4448
https://drone.owncloud.com/owncloud/ocis/14966/30/2

[2022-08-26 08:58] ScharfViktor commented on #4347
Yes, that has been fixed.

[2022-08-26 08:58] #4347 closed

[2022-08-26 09:03] ScharfViktor commented on #4297
Perhaps we can close it? There are currently no errors.

[2022-08-26 09:14] kulmann opened #4465 "Release 2.0.0-beta.8"
## Coordination
The oCIS v2.0.0-beta.8 release is planned for Monday, 5th of September 2022
Client releases should be ready by this date:
- desktop and mobile clients @michaelstingl @hosy @fmoc @jesmrec
- web client @kulmann

## Release Process
- [x] Bump web @kulmann https://github.com/owncloud/ocis/pull/4508 https://github.com/owncloud/ocis/pull/4550
- [x] Release reva `v2.10.0`
- [x] Bump reva

[2022-08-26 09:15] kulmann commented on #4425
Release is done. Closing.

[2022-08-26 09:15] #4425 closed

[2022-08-26 11:12] kulmann commented on #4460
I checked the webhook config and further automation settings in the ocis repo. Didn't find anything.

[2022-08-26 11:38] phil-davis commented on #4460
I looked harder:
[code]

We want that special `refs/heads/release*` - when a branch has a name starting with `release` then we want to notify to the chat. But that is happening on the first push of the branch (as well as when the PR has been created). On  the first push of the branch, the other `"refs/pull/**"` triggers do not apply (there is no PR yet), and so we do not get any other pipelines.

[2022-08-26 12:49] #4297 closed

[2022-08-26 13:06] jvillafanez opened #4467 "Support for AD and other ldap providers for the graph microservice"
## Is your feature request related to a problem? Please describe.
The graph microservice uses ldap to connect to an internal libregraph-idm service. It can be useful if graph could connect to other ldap providers such as AD if needed.

## Describe the solution you'd like
Multiple implementations can be provided taking advantage of provider's details in order to improve performance when accessing t

[2022-08-26 14:19] T0mWz opened #4468 "Option to give 0B quota instead of `no restriction `"
## Describe the bug

It should be possible to give an account a quota of 0 bytes so that it is not able to upload its own data, but can only upload/edit in shares or spaces.

## Steps to reproduce

Steps to reproduce the behavior:

1. Try to assign a quota of 0GB to an account

## Expected behavior
Make a difference between unlimited and 0 bytes.

## Actual behavior
Quota is interpreted as no rest

[2022-08-28 14:33] MarSan2021 opened #4469 "OwnCloudClient/Windows"
With V 2.11.0 it is not possible, to check/uncheck an folder to be synced because the tree of folders cannot be expanded.

[2022-08-29 04:17] SwikritiT commented on #4127
closing this as solved

[2022-08-29 04:17] #4127 closed

[2022-08-29 06:38] SagarGi commented on #4339
Not seen in recent build i am putting this to backlog. Can be brought back if reoccured

[2022-08-29 09:11] SwikritiT opened #4472 "the state of `Shares Jail` quota and resources inside it is always shown as exceeded"
## Describe the bug

A clear and concise description of what the bug is.

## Steps to reproduce

Steps to reproduce the behavior:

1. As user1 share folder `folder_from_brian` to user2
2. As user2 accept the share
3. As user2 list the drives
[code]
## Expected behavior
The share jail should have certain quota and it shouldn't be shown exceeded while you can still upload files inside it

## Actual

[2022-08-29 10:08] SwikritiT commented on #4472
Also, I couldn't change the quota of the `shares jail`. I don't know if it's designed that way or if it's to be implemented. It gives me `500 Internal Server Error`

cc @micbar @ScharfViktor

[2022-08-29 10:27] rhafer commented on #4467
Note: The current implementation is in no way specific to libregraph-idm. It tries to implement a generic LDAP interface that should be usable with most (/any) standard compliant LDAP server.
You are of course right that in order to support AD in a proper fashion we need to deal with some of the quirks that AD did to LDAP (i.e. you mentioned "range retrivals" for objects with large sets of multi-v

[2022-08-29 10:58] rhafer commented on #4278
Yes. For the `https://localhost:9200/graph/v1.0/groups?$expand=members` query it would already help a lot if we just add a simple DN to LDAP Entry cache that would just live for the lifetime of the request.

There were some efforts to add async search support to go-ldap but that stuff is progressing really slow.

Yeah. We need to be able to deal with that type of error in any case, as servers usua

[2022-08-29 12:23] jvillafanez commented on #4467
Ok, so if I understand it correctly, read-only access should go through cs3 while write access should go through ocis-specific code (cs3 APIs don't provide write access to users and groups as far as I know).

If there are no plans to include write access to the cs3 APIs, I think we'll need to use our own interface. Taking into account that the focus is to support cs3, the current interface (https:

[2022-08-29 12:34] ScharfViktor commented on #4472
state is calculated and exceeded because we do not set a quota for shares jail. When user get share, he doesn't spent his storage and we do not limit his incoming files (no setting quota of the shares jail)

I don't see an error here IMHO

[2022-08-29 12:36] jvillafanez commented on #4467
I'm ok with closing this issue:
* Read-only access should go through the cs3 API. This is specially true for external ldap providers.
* There is no reason to provide write access to external or corporate ldap servers. This reinforces the previous point of read-only access through cs3 APIs
* Write access would target a specific builtin server. In this case, there is little reason to use a different

[2022-08-29 12:42] michl19 commented on #4445
Missing feature, non relevant for GA. @michaelstingl what#s the impact for the desktop client?

[2022-08-29 12:47] phil-davis commented on #4472
For `"driveAlias": "virtual/shares"` that seems reasonable - the user cannot write directly there (cannot create a new folder or file at the root of the shares jail).

For `"driveAlias": "mountpoint/folder_from_brian"` - that is a folder from Brian. If the share receiver has write access to the share, then the share receiver can upload files into that folder. Brian has some remaining quota, and th

[2022-08-29 12:51] michl19 opened #4473 "Fix test"
## Describe the bug

Please see https://github.com/cs3org/reva/issues/3166

[2022-08-29 12:53] rhafer commented on #4467
Yeah, I'd say it definitely makes sense.

I guess we also need to check for possible gaps in the graph cs3 backend. (I think that one hasn't seen much love recently)

[2022-08-29 13:03] michaelstingl commented on #4445
It's causing https://github.com/owncloud/ocis/issues/4380 . I assume it's really minimal effort to improve things for the desktop client.

[2022-08-29 13:04] jvillafanez commented on #4278
Caching could be done at service level, with an id / name to ldap entry. As long as we have a button to clear the cache easily, we can use https://github.com/owncloud/ocis/pull/4337 so we can keep the information longer (I don't think the information changes frequently) and also could be shared with other graph replicas if needed.

Specific optimizations to providers should be hidden behind the cs

[2022-08-29 13:05] kulmann commented on #4445
IMO it would be easier and cleaner to add the expiration to the capabilities instead of building a workaround in the client... isn't it just a matter of adding a hardcoded value to the capabilities?

[2022-08-29 13:06] ScharfViktor commented on #4472
Yes, it is interesting case.
- Brian creates folderToMarie and shares to Marie with editor role
- Marie can upload a data to folder and spends a Brians quota
- Brian cannot set quota to folder or quota to "mountpoint/folderToMarie" because he is not admin

what is the right behavior here?
- brian asks admin to set quota for "mountpoint/folderToMarie"
- brian has abbility to set shares folder quota

[2022-08-29 15:39] phil-davis commented on #4472
I suspect "do nothing" - in oC10 when Brian shares `folderToMarie` to Marie, and gives write access to Marie, then Marie can upload as much as she likes until the files take all the remaining quota of Brian. Brian (or the admin) has no way to specify a "subquota" for `folderToMarie

Allowing Brian to set a "subquota" on each folder that he shares, that would be a whole new feature - if someone wan

[2022-08-30 09:14] michl19 commented on #4445
@pmaier1 could you have another look into it. Looks like a one liner. Thanks

[2022-08-30 09:49] kulmann commented on #4445
To my understanding the default expiration date handling only ever happens in the clients anyway. The backend always expects either no expiration or an actual expiration date.

[2022-08-30 09:52] kulmann commented on #4445
+ public link expiration in ocis is already implemented since forever. No issues with that.

[2022-08-30 09:54] pmaier1 commented on #4445
In oC10, as an admin you can set a default expiration date and you can enforce that, so that users cannot exceed it and have to set it. That's not available in oCIS currently.

[2022-08-30 09:57] kulmann commented on #4445
Ah ok. Indeed, the issue was never about enforcing the expiration. Only about the default amount of days (for clients to determine the default expiration date upon creation of the public link).

[2022-08-30 10:00] pmaier1 commented on #4445
Yeah, and there is no default for that in oCIS currently afaik.

[2022-08-30 10:05] kulmann commented on #4445
Providing a default for clients in the capabilities should have been sufficient for that. As far as I understood there is no handling of default expiration days needed in the backend (might be wrong). But disabling the default expiration is the safe bet. That's being done in https://github.com/owncloud/ocis/pull/4475 now

[2022-08-30 14:06] rhafer commented on #4283
I've opened https://github.com/owncloud/web/issues/7554 for that.

[2022-08-30 14:58] michaelstingl opened #4477 "[Previews] Incorrect handling of EXIF orientation flags for thumbnail generation"
## Describe the bug

Previews and thumbnails of images with EXIF orientation flag are displayed sideways or upside down.

## Steps to reproduce

Steps to reproduce the behavior:

1. Upload example files from https://github.com/recurser/exif-orientation-examples
2. Browse them in the web UI

## Expected behavior

Thumbnail generation should respect the embedded EXIF orientation flag

## Actual beha

[2022-08-31 05:43] #4283 closed

[2022-08-31 06:23] #4445 closed

[2022-08-31 08:28] kulmann opened #4481 "Graph API capability"
## Is your feature request related to a problem? Please describe.
The ownCloud Web client needs to know whether or not it should query the graph api or a different api (e.g. graph or OCS for obtaining names of groups of a user).

## Describe the solution you'd like
Minimal solution: introduce a new capability object `graph` with props `enabled` and `version`, as already done for e.g. `spaces` capa

[2022-08-31 09:00] C0rby commented on #4406
Yeah true, in that case the server is probably waiting for the remaining data, which makes sense.

[2022-08-31 09:09] rhafer commented on #4196
Should that new permission really apply  _all_ spaces? Or should it only apply to just spaces of type "project"? I am asking because in https://github.com/owncloud/ocis/pull/4447 we're adding a new permission "delete-all-home-spaces". So I guess it would make sense to either have "delete-all-home-spaces" and "delete-all-project-spaces" as sepearte permission. Or just introduce a single new "delete

[2022-08-31 09:31] butonic commented on #4481
I would like to see a discovery mechanism for the graph endpoint that works similar to the openid connect discovery: https://openid.net/specs/openid-connect-discovery-1_0.html

When the user enters his username or email in the login form a discovery is used to find the IdP as well as the graph endpoint. The graph endpoint and its capabilities can then be described in the same way as IdP metadata:

[2022-08-31 10:12] #3388 closed

[2022-08-31 10:12] #3492 closed

[2022-08-31 10:38] kulmann commented on #3484
I think this is already done. Please re-open if you think otherwise. In the capabilities we have:
- `files_sharing.public.enabled` for the info whether public links are supported and allowed (supported by both oc10 and ocis)
- `files_sharing.public.alias` for the info whether the backend supports public links with permission bitmask `0`, which resolves to the link requiring a user login and then d

[2022-08-31 10:38] #3484 closed

[2022-08-31 10:39] kulmann commented on #3484
Side note: oC Web can't resolve "alias links" (public links with permissions `0`) so far. Because of that ocis still has the `files_sharing.public.alias` capability disabled as of now.

[2022-08-31 13:05] dragonchaser opened #4487 "Write Unit-tests for `DeleteStorageSpace`"
The `DeleteStorageSpace` function in revas `pkg/storage/utils/decomposedfs/spaces.go` is crucial and not really unit tested.
These tests needs to be extended.

refs #4447
refs https://github.com/cs3org/reva/pull/3180
refs #4195

[2022-08-31 15:24] JanAckermann opened #4489 "Search/REPORT can't find sub-folder in a recieved shared folder"
## Describe the bug

Search/REPORT can't find sub-folder in a recieved shared folder

## Steps to reproduce

Steps to reproduce the behavior:

1. As 'einstein' create a folder 'share' and inside 'share' a folder named 'demo'
2. Share folder 'share' with user 'marie'
3. As user 'marie' search for 'demo' via DAV REPORT
4. Folder 'demo' not in response

## Expected behavior
Folder 'demo' should be in

[2022-08-31 15:25] JanAckermann commented on #4489
FYI  @aduffeck @kobergj

[2022-08-31 21:01] JanAckermann commented on #4322
@micbar Is this still in planning?

[2022-09-01 09:05] micbar commented on #4469
@MarSan2021 Hi! Thanks for the ticket!

Can you create a bug description? I pasted our bug template into the top post. Can you provide the needed information?

[2022-09-01 10:09] MarSan2021 commented on #4469
OK, updated the description

[2022-09-01 10:43] #4401 closed

[2022-09-01 12:28] micbar commented on #4469
@michaelstingl @TheOneRing Is this already known in the Client?

[2022-09-01 12:31] michaelstingl commented on #4469
Fixed in 2.11.1
https://github.com/owncloud/client/releases/tag/v2.11.1

[2022-09-01 13:18] micbar commented on #4477
@C0rby Is this a quick win in the current implementation?

[2022-09-01 14:05] rhafer opened #4497 "proxy unstable routing behavior for routes that match multiple rules"
Turns out that the config changes in #4461 cause some unstable behavior for routes that match multiple rules :scream:. E.g. we have:

[code]

And now requests on `/app/list/` sometimes go through and sometimes fail. (Not this is not exactly a new bug in the code, it just seems that we didn't have overlapping rules of the same type before. I'll open a new issue for that and try to come up with a qu

[2022-09-01 14:09] rhafer commented on #4497
Turns out that this is cause by the route iterating of the endpoints of the rules for a specific type in random order. So sometimes the `/app` rule is evaluated first and sometimes `/app/list` (See: https://github.com/owncloud/ocis/blob/master/services/proxy/pkg/router/router.go#L208)

[2022-09-02 09:49] SagarGi opened #4503 "Add `coding-standard-php` pipeline in drone for `OCIS`"
There is no `coding-standard-php` pipeline in ocis like in core. Since we have local ocis api tests added for ocis, so having a `coding-standard-php` pipeline would be better.

[2022-09-02 12:43] C0rby commented on #4477
I think this should be fairly simple to implement

[2022-09-02 14:06] ScharfViktor opened #4506 "search doesn't find the project space by name"
Infinite Scale 2.0.0-beta.7

Steps:
- admin creates project space "project Moon"
- admin tries to find space by "proj"

Expected: project space found

Actual: project space not found.
<img width="1429" alt="image" src="https://user-images.githubusercontent.com/84779829/188166861-581dd731-1219-40b7-aa93-4b01a8bafb92.png">

[2022-09-02 15:35] C0rby commented on #4384
WIP note: We need to add an extra Stat request to `GetShare`. This currently doesn't work because the `gatewayclient` configured in the cs3 share manager is that of the `storage-system` service which uses the static storage registry.
What we want is to send the stat requests to the gateway at ":9142".

[2022-09-05 06:27] SagarGi opened #4509 "Reuse `OC10` resource (code) as much as possible for `OCIS`"
### Description

Recently we have been shifting some `spaces` related tests from core to ocis. During the process we have been duplicating code on ocis which is already in core. So we need to mitigate the code duplication and use the already available code (already in core) for new implementation on `ocis`.

Note: Follow up this PR for reduction of code duplication.
https://github.com/owncloud/cor

[2022-09-05 06:29] phil-davis commented on #4393
I pinged again in https://github.com/owncloud/core/pull/40308 - it will be useful to get confirmation about the expected/required behavior. Then we can write "correct" tests for the core-personal-spaces cases. And then we can make similar-style test cases for move and copy in and out of project spaces.

[2022-09-05 06:38] SagarGi commented on #4509
TODO:
(Keep on adding features where you want to duplicate code if you find)

- [ ] lockspaces.feature (@SagarGi )

[2022-09-05 12:42] michl19 commented on #4489
Works in experimental branch. Let us try to backboard search capabilities into master.

[2022-09-05 12:56] micbar commented on #4468
@T0mWz

Thanks for the ticket.

The CS3Apis and the ocis implementation has decided to use the uint `0` as `unlimited`. This is a property of a storage space.

A different story is the use case that a user should have no storage space to write files. This will be a permission in the future.

[2022-09-05 12:56] #4468 closed

[2022-09-05 20:51] tbsbdr opened #4516 "TUS upload fail, was: 1.800 GB disk full after syncing only 850 GB"
# Reproduce / what I did

1.  setup ocis beta 7 according to [https://owncloud.dev/ocis/deployment/basic-remote-setup/](https://owncloud.dev/ocis/deployment/basic-remote-setup/) (on my Odroid HC4 NAS, Armbian 22.08 Jammy, Kernel 5.10 )
2.  Config ocis data path to a dedicated HDD (EXT4) `/media/ocisdata`
3.  create user "tb", set quota to 2TB
4.  (the only users are "admin" and "tb"; admin has not

[2022-09-06 03:34] SwikritiT opened #4517 "Global search doesn't work correctly sometimes"
## Describe the bug

Global search doesn't work correctly

## Steps to reproduce

Steps to reproduce the behavior:

1. As einstein create folders
[code]
2. Search for `folder`

## Expected behavior
Only folders with `folder` in their name should be displayed

## Actual behavior
Test is also displayed
![Screenshot from 2022-09-05 16-20-52](https://user-images.githubusercontent.com/41103328/18854154

[2022-09-06 07:22] rhafer opened #4520 "Missleading LDAP connection error at startup"
## Describe the bug

We still sometimes have that annoying LDAP connection error at startup:

[code]

It is missleading and usually caused by some services (users, group, auth,graph) trying to connect to idm before it is actually up.

[2022-09-06 07:32] #4477 closed

[2022-09-06 07:42] micbar commented on #4406
@TheOneRing @C0rby Do we need a call to solve this?

[2022-09-06 07:46] micbar commented on #4196
`delete-all-project-spaces` is a bit problematic IMO because this is based on the assumption that we have spaces of this type. Makes it hard to work with arbitrary space types. So i would prefer `delete-all-spaces`

[2022-09-06 10:02] C0rby commented on #3592
I can't reproduce this with the current master branch.

The response looks like this:
[code]

[2022-09-06 10:25] TheOneRing commented on #4395
Closing as #4374 was merged

[2022-09-06 10:25] #4395 closed

[2022-09-06 12:11] michaelstingl opened #4523 "[Spaces] Add webUrl to Spaces endpoint"
## Is your feature request related to a problem? Please describe.

Client users need an easy way to open the root of a Space in the web browser. Then they can perform management tasks, that are not available in the clients itself.

## Describe the solution you'd like

Add webUrl to Spaces endpoint

## Describe alternatives you've considered

I thought about QuickLink creation, but not every user h

[2022-09-06 12:18] fmoc commented on #4523
The drives Graph API endpoint already provides `webUrl`, but the strings are just empty. The server just needs to fill in the right URL to show them in the browser. Then, the client should be able to enable these buttons.

[2022-09-06 12:53] C0rby commented on #4322
@JanAckermann, can you provide me with an example curl request to rename a share?
I currently get a `409 Conflict` response and don't know if my request is missing anything.

[2022-09-06 15:50] micbar commented on #1284
Ocis and oc10 only support locking on single files.

We have no plans to do more in the future. I hope that clarifies it.

[2022-09-07 03:51] SagarGi commented on #1284
@micbar @phil-davis @ScharfViktor  i referenced to `oc10` which has similar tests for locking a folder and uploading file to it. And i think we have tests like
[code]
And seems locking a folder is possible in `oc10`. And with this issue thought it would be implemented. But thanks for the clarification. May be we can minimize the expected failure related to lock for ocis from this. And also i am cu

[2022-09-07 05:22] amrita-shrestha commented on #1231
### Step to reproduce
- Create user `sender` and `receiver`
- User `sender` upload folder `first` and `first/second`
- User `sender` share folder `first/second` to user `receiver`
- User  `receiver` accept share
- While user `sender` send an HTTP GET request to the OCS API endpoint from the parent folder `first`

Reason behind this tests linked to this issue in expected to fail
https://github.com/

[2022-09-07 05:30] amrita-shrestha commented on #1231
In core
[code]

[2022-09-07 06:50] aduffeck commented on #4111
@micbar ping

[2022-09-07 07:19] amrita-shrestha opened #4524 "Resource with share permission `create` is readable for sharee"
## Describe the bug

The shared resources with permission created should not exist for sharee because he only has "create" permission, not "read"

## Steps to reproduce

Steps to reproduce the behavior:

1. User `Alice` creates a folder `shared`
2. `Alice` shares folder `shared` to user `Brian` with permission `create only`
3. `Brian` accepts shares and uploads file `core.png` inside the shared fo

[2022-09-07 07:21] micbar commented on #4111
@jesmrec `publicUpload` always overwrites the `permissions`. This is compatible with oc10.

[2022-09-07 07:21] #4111 closed

[2022-09-07 07:24] aduffeck commented on #4489
Hm, has this been fixed meanwhile? I don't see any relevant commits in master since this issue was filed but I can't reproduce the problem in current master. Both the top share folder and its child folders are being found on the grantee side for me.

[2022-09-07 10:23] rhafer commented on #4195
@ScharfViktor  https://github.com/cs3org/reva/pull/3202 should fix the permission error you having been seeing. There is still another problem left, was currently Deleting a user will only more the personal space to trash and not purge it.

Will look into that next.

[2022-09-07 10:38] amrita-shrestha commented on #1231
https://github.com/owncloud/ocis/blob/55cfcec98bcf1dffd700fb3968c458b2bf9c177d/tests/acceptance/expected-failures-API-on-OCIS-storage.md?plain=1#L467
All the failure scenarios are put into the wrong issue. Actual related issue is https://github.com/owncloud/ocis/issues/2540

[2022-09-07 10:50] SagarGi opened #4526 "Do not run lock related tests for folder on `ocis`"
### Description
As per this comment https://github.com/owncloud/ocis/issues/1284#issuecomment-1238336767. Only locking to a single file is possible but locking a folder is not possible on `ocis` and there is no plan to implement that on ocis. we have a lots tests related to lock in expected to failure file related to this issue https://github.com/owncloud/ocis/issues/1284.

TODO-QA:
- [x] Do not r

[2022-09-07 11:03] micbar commented on #1284
@SagarGi Thanks!

[2022-09-07 12:18] ScharfViktor commented on #4195
Thanks. it will looks like disabling space? `"deleted": {"state": "trashed"},` in the root section
Do we have to achieve complete deletion or is it okay?

[2022-09-07 12:29] rhafer commented on #4195
Yes.

I think we want complete deleting. The fix is in #4528

[2022-09-07 12:30] #4497 closed

[2022-09-07 13:51] dragotin opened #4529 "Drop checksum type MD5 in oCIS"
Currently clients and server work with checksums to secure the transmission of data via cable. Traditionally ownCloud supports three types: MD5, SHA1 and Adler32.

Which checksums are used in the system is read from server capabilities. If they are set to all three, all are calculated and transmitted.

My proposal is to drop MD5 from the default capabilities in oCIS.

[2022-09-07 13:53] #4195 closed

[2022-09-07 14:23] ScharfViktor commented on #4195
sorry for the persistence, but for me it still doesn't work.

log, when I delete user:
`2022-09-07T16:15:12+02:00 ERR failed to delete storage space error="error: permission denied: user is not allowed to delete spaces 52f998c3-9c58-498b-bfc8-0cd9fc135ad7" pkg=rgrpc service=storage-users status={"code":8,"message":"permission denied","trace":"00000000000000000000000000000000"} storage_space_id={"o

[2022-09-07 14:25] micbar commented on #4195
needs a reva update. I am working on it in #4522

[2022-09-07 14:33] ScharfViktor commented on #4195
Thanks, checked again on update-reva-edge branch. All works fine

[2022-09-07 16:21] #4196 closed

[2022-09-08 03:36] amrita-shrestha commented on #1266
On Sept 8, 2022

[2022-09-08 07:44] xoxys opened #4537 "Unable to set user role on the frontend"
## Describe the bug

I'm not able to change or set a user role on the frontend.

![image](https://user-images.githubusercontent.com/3391958/189063577-1037b178-696a-4d61-9cae-0eb813f3ce60.png)

[code]

## Setup

ocis container + external (read-only) ldap + keycloak

<details>
<p>

[code]
</p>
</details>

[2022-09-08 08:00] pmaier1 opened #4988 "[ocis] Edit username"
Currently it is not possible to change the user id / user name in the user management UI. As the backend allows this, we should also offer this in the web frontend.

/cc @tbsbdr @kulmann

[2022-09-08 11:23] rhafer commented on #3881
@micbar @phil-davis We can of course change the Status Code to 403 (btw, just to avoid confusiion, this is not the HTTP Status code, but the status code inside the xml payload of the ocs response).

But the [docs](https://doc.owncloud.com/server/next/developer_manual/core/apis/ocs-share-api.html#update-share) seem to indicate that 404 would be more correct:

[code]

403 would actually mean "Public

[2022-09-08 11:28] phil-davis commented on #3881
"I'll prepare a change for reva to return 404, but we can still discuss that."

That sounds good. At least it will match what oC10 does. Then it is a separate discussion about if the behavior of both oC10 and oCIS should be changed to return 403.

[2022-09-08 12:02] #4322 closed

[2022-09-08 13:52] rhafer commented on #2164
Resharing was implemented with https://github.com/owncloud/ocis/pull/3904

the remaing expected failures should be addressed in: https://github.com/cs3org/reva/pull/3207

[2022-09-08 14:17] butonic opened #4542 "pagination of large file listings, shares or trash"
Currently, listing large folders (10k+) becomes slow when expensive properties are requested. Not only because the server may internally have to make more requests, but also because parsing XML with 10k+ entries and handling them in browsers becomes challenging.

# Add WebDAV pagination
We could use the [`Range` header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Range) to let client

[2022-09-08 14:19] C0rby commented on #4303
@micbar,

what exactly needs to be done for the GA?
I think this ticket should be a story and not a bug since what is implemented was exactly requested like that.

We need a story with detailed acceptance criteria of what should be in the mail, in what format, etc.

[2022-09-08 14:20] #4384 closed, assigned to C0rby

[2022-09-08 14:50] rhafer commented on #4336
I just went through the above step. And for me it already fails at step 6 with the current code. Marie can't reshare Einstein's folder with Einstein

The error I get is:

[code]

Didn't find much helpful info in the logs yet.

[2022-09-08 18:41] michaelstingl opened #4545 "Make <oc:privatelink> property available in PROPFIND"
## Is your feature request related to a problem? Please describe.

ownCloud desktop sync client with oC10 can open every file or folder in the web UI. Therefore it `PROPFIND` with `'Depth: 0'` to get the `<oc:privatelink>` property. This doesn't work with oCIS yet.

## Describe the solution you'd like

Make `<oc:privatelink>` property available in `PROPFIND`, similar to oC10.

Desktop sync clients

[2022-09-09 03:25] SagarGi commented on #4503
Done with this PR so closing. https://github.com/owncloud/ocis/pull/4519

[2022-09-09 03:25] #4503 closed

[2022-09-09 04:51] grgprarup commented on #4457
The clean-up of spaces after user deletion is implemented by these PRs
https://github.com/owncloud/ocis/pull/4532, https://github.com/owncloud/ocis/pull/4533
Now, the user spaces created after running core test from ocis and ocis local tests are deleted properly.
So closing this issue on behalf of the above PRs.

[2022-09-09 04:51] #4457 closed

[2022-09-09 08:11] pmaier1 commented on #4303
Well, "You got a share" is too little unfortunately. What we would like to see for GA is the following (or a variation of it depending on possibilities).

## From
`<Share creator display name>` via ownCloud (<no-reply@example.com>)

## Subject
`<Share creator display name>` shared `<file/folder>` with you

## Body
Hello `<recipient display name>`,

`<Share creator display name>` invited you to `<f

[2022-09-09 19:16] #3881 closed

[2022-09-09 19:16] #2164 closed

[2022-09-11 03:31] macrodisplays opened #4553 "D"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

## Addi

[2022-09-11 03:34] macrodisplays opened #4554 "Develop a Device Management App"
## Is your feature request related to a problem? Please describe.
I want to manage all client devices.

## Describe the solution you'd like
It is better to to have new App which is used to  manage all client devices which have already installed the owncloud client apps.

## Additional context
nextcloud have such client management app.

[2022-09-11 03:35] #4553 closed

[2022-09-11 04:39] sky96111 opened #4555 "OCIS ignores OCIS_INSECURE=false Environment variable"
## Describe the bug

I want to setup OCIS with Caddy reverse proxy.
I initialized OCIS with ``OCIS_INSECURE=false`` to disable self signed certificates as [document](https://doc.owncloud.com/ocis/next/deployment/general/general-info.html) said , while OCIS wtill use https://xxx.xxx:9200 with self signed certificates.

## Steps to reproduce

Steps to reproduce the behavior:

1.
init ocis config
[co

[2022-09-12 09:19] JammingBen opened #4559 "`x-oc-mtime` header is not being respected in tus requests"
## Describe the bug

https://github.com/owncloud/web/pull/7630 includes the `x-oc-mtime` header in XHR and tus upload requests. While XHR works fine, it seems that the header has no effect for tus requests.

## Steps to reproduce

Steps to reproduce the behavior:

1. Get Web running with current master
2. Upload a file that has been modified a few days ago

## Expected behavior
The "modified colum

[2022-09-12 10:36] butonic commented on #1601
Some backgroud for implementation: Kubernetes restarts pods when their health endpoint reports an error. To prevent kubernetes from killing all the services a health implementation must never check depending services. It can check if it can write something to a tmp file or if environment variables are set. A sanity check of the configuration. But that's it.

See #3508 for a reference implementatio

[2022-09-12 11:17] micbar commented on #4465
# Changelog

## Reva

### Changelog for reva 2.10.0 (2022-09-09)

* Bugfix [cs3org/reva#3210](https://github.com/cs3org/reva/pull/3210): Jsoncs3 mtime fix
* Enhancement [cs3org/reva#3213](https://github.com/cs3org/reva/pull/3213): Allow for dumping the public shares from the cs3 publicshare manager
* Enhancement [cs3org/reva#3199](https://github.com/cs3org/reva/pull/3199): Add support for cs3 stor

[2022-09-12 11:35] ScharfViktor commented on #4465
Smoke test:

 - [x] upload big file 10gb (Show details, pause upload, resume upload work correct)
 - [x] upload folder with 1645 files.
 - [x] check pagination, count items per page.
 - [x] delete 100 or more files. (Web doesn't show the deleting process. it looks like something is hanging)
 - [ ] empty trash
`2022-09-12T13:15:20+02:00 ERR error reading trash link error="readlink /Users/scharfvikt

[2022-09-12 12:47] ScharfViktor commented on #4465
# K6 results on intel test machine
ocis - 2.0.0-beta.7 (using latest version)

## Overview

| Test                                       | 2.0.0-beta.8 | 2.0.0-beta.7| 2.0.0-beta.6 | 2.0.0-beta.5  | 2.0.0-beta.4  | 2.0.0-beta.3  | 2.0.0-beta2 | 2.0.0-beta1 | 1.20.0    | 1.19.0    | 1.18.0    | 1.17.0    | 1.16.0    | 1.15.0    | 1.14.0    | 1.13.0    | 1.12.0    | 1.11.0     | 1.10.0     | 1.9.0.

[2022-09-12 13:26] aduffeck commented on #4430
This has been implemented with the merge of reva 2.9 (https://github.com/cs3org/reva/pull/3171)

[2022-09-12 13:26] #4430 closed

[2022-09-12 13:32] aduffeck commented on #4431
This has been implemented with the merge of reva 2.10 (https://github.com/cs3org/reva/pull/3199)

[2022-09-12 13:32] #4431 closed

[2022-09-12 14:04] ScharfViktor commented on #4465
# Compatibility test
from 2.0.0-beta.7 to beta8 (use [latest](sha256:d078adf6ef388165556a3cf7e35c217dad71d83b0e0aebd946991315b2baa951))

## Create these with the original oCIS version and see if still the same after upgrading:
- shares
  - [ ] public share
  - [ ] share with user as role editor
  - [ ] share with user as role viewer
  - [ ] share with group "Users"
- settings
  - [x] language sett

[2022-09-12 14:10] rhafer commented on #4336
It seems that all of the share managers in reva already dis-allowed to reshare a resource with the owner of that resource. Apart from the "cs3" manger which was our default from beta4 to beta7.
"cs3" should be fixed with the above PR.

But we will also switch the default again (to "jsoncs3"), which has the check as well.

[2022-09-12 15:35] ScharfViktor commented on #4465
# Smoke Test with Web Office

## Collabora

- [x] Spreadsheet
  - [x] Create
  - [x] open
  - [x] open with two users in collaboration mode and read-only
  - [x] open with two users in collaboration mode and write access

- [x] Document
  - [x] Create
  - [x] open
  - [x] open with two users in collaboration mode and read-only
  - [x] open with two users in collaboration mode and write access

- [

[2022-09-13 03:33] SagarGi commented on #4526
All the folder-lock related tests have been added tag and not run on ocis with above PR's. So closing this issue.

[2022-09-13 03:33] #4526 closed

[2022-09-13 04:10] SagarGi opened #4563 "Resolve undefined step for ocis `localAPITests`"
### Description
Seems like we have got some undefined or unimplemented steps on ocis for the step below. Find the step and resolve the undefined step. Also investigate why drone is not responding for undefined step.

Build Link : https://drone.owncloud.com/owncloud/ocis/15382/41/7

[code]

[2022-09-13 04:43] amrita-shrestha commented on #4509
@SagarGi can't we use core code for this also? https://github.com/owncloud/ocis/blob/b0fa917eae868b819f081290f6e0ab8159792d8b/tests/acceptance/features/bootstrap/SpacesContext.php#L520-L618

[2022-09-13 05:26] SagarGi commented on #4509
@amrita-shrestha i think we can but i think we cannot say its a duplicate code.

[2022-09-13 07:56] amrita-shrestha opened #4567 "Skip testing app related tests in ocis"
## Describe the bug
In ocis CI, the testing app has been restored in every tests-related pipeline i.e localApiTests, apiTests, uiTests.
But used in apiTests pipelines only( Core-API-Tests-ocis-storage-4 and Core-API-Tests-ocis-storage-7) one scenario in each suite
Reference CI link : https://drone.owncloud.com/owncloud/ocis/15385
Failed scenario while removing restore-testing-app-cache
- apiShareM

[2022-09-13 08:06] wkloucek opened #4568 "WOPI with Collabora does not save a file on tab close"
## Describe the bug

If you open a file in Collabora, do some changes and just close the tab without saving first, your changes will be lost.

## Steps to reproduce

Steps to reproduce the behavior:

1. Open file in Collabora
2. do some changes
3. close tab

## Expected behavior
Changes are persisted

## Actual behavior
Changes are lost

## Setup

oCIS with WOPI deployment example

## Additional c

[2022-09-13 08:25] amrita-shrestha commented on #4509
yeah but if we are reusing core code then why not properly implement it in overall ocis code?
I think it will be nice if you look over all ocis codes and check if there was pre-existing core code in ocis.

[2022-09-13 08:27] wkloucek opened #4570 "WOPI / Office collaboration with one view-only collaborator"
## Describe the bug

OnlyOffice and Collabora differ in their behavior when it comes to collaboration sessions with one view-only collaborator

## Steps to reproduce

Steps to reproduce the behavior:

1. Create a document
2. share it with another user with read only permissions
3. open the document as sharee
4. open the document as share receiver

## Expected behavior
When the sharee edits the doc

[2022-09-13 11:26] SagarGi commented on #4563
@phil-davis  Upon debugging, the main problem why drone is not responding is due to expected to failure linting on `ocis`. Though the undefined steps makes the exit code `1` but the error for the not shown in the console for the undefined step and upon linting the expected to failure the it makes exit code `0` (success). May be a refactor to `run.sh` is required to make it work for the undefined s

[2022-09-13 11:41] exalate-issue-sync[bot] opened #4572 "Async File uploads"
After a client finished the upload of a file (ie. transfered the last byte), it should get the upload success code immediately if all bytes were transfered successfully.

From the clients perspective, upload means transfering bytes through the network to the server. As soon as that has happened, the client should get a positive answer immediately.

Things that technically might take long time (ass

[2022-09-13 11:43] micbar commented on #4572
This was implemented on the `experimental` branches of reva and ocis.

[2022-09-13 11:45] sky96111 commented on #4555
Great! It works

[2022-09-13 11:45] #4555 closed

[2022-09-13 12:46] phil-davis commented on #4563
Yes, we need to somehow detect if the Behat run had any undefined steps. If so, then fail the pipeline straight away - do not bother trying to check expected-failures etc.

[2022-09-13 13:16] C0rby opened #5004 "Client displays Connection timed out after token expiration"

[2022-09-13 13:16] C0rby opened #5066 "Client displays Connection timed out after token expiration"

[2022-09-13 14:04] JanAckermann opened #4575 "search REPORT should render dav oc:permissions property in letters instead of numeric values"
## Describe the bug

![image](https://user-images.githubusercontent.com/26169327/189921931-02b7376f-08ef-42d4-9b7b-e572da5f14c4.png)

Should be letters like in PROPFIND, but exposes numeric values actually.

[2022-09-13 18:22] butonic commented on #4575
What does the request look like? checking the code, a REPORT for `search-files` does not render permissions at all (implemened in ocis), the`filter-files` in reva uses the same rendering code path as for propfinds ... so ... what REPORT?

[2022-09-13 20:00] JanAckermann commented on #4575
[code]

[2022-09-14 05:55] SwikritiT commented on #4509
I'll take a look what can be done for this

[2022-09-14 06:09] amrita-shrestha commented on #2872
new issue has been created in the QA  repo.So closing this issue

[2022-09-14 06:09] #2872 closed

[2022-09-14 08:19] micbar commented on #4559
@JammingBen

From my POV i see no  `x-oc-mtime` header sent by the web client during tus uploads. I see a big combined header with `upload metadata`

[2022-09-14 08:26] JammingBen commented on #4559
@micbar Are you sure you have Web with current master running? The `x-oc-mtime` header should be available. Or does oCIS expect it to be received otherwise, maybe somehow included in `Upload-Metadata`?

![image](https://user-images.githubusercontent.com/50302941/190101589-d7d108a2-b86e-4359-86a0-5066be5704ea.png)

[2022-09-14 09:22] #4575 closed

[2022-09-14 09:47] micbar commented on #4559
As far as I read the code, a non-tus request works with the `x-oc-mtime` header and tus requests expect the mtime in the upload metadata.

@JammingBen Happy to check that out together with you

[2022-09-14 10:08] C0rby commented on #4380
@michaelstingl, can you still reproduce this? I can't but I'm testing it on Linux since I don't have Windows.

[2022-09-14 10:10] kulmann commented on #4380
Should have been fixed with https://github.com/owncloud/ocis/pull/4475

[2022-09-14 10:11] C0rby commented on #4380
Cool so I can close this issue?

[2022-09-14 10:13] kulmann commented on #4380
yes 😁 @algihu please re-open if the issue is not fixed for you with ocis v2.0.0-beta.8

[2022-09-14 10:17] #4380 closed

[2022-09-14 11:33] JammingBen commented on #4559
Ahh I didn't know this. Let me try it out, I'll come back to you 👍

[2022-09-14 11:34] saw-jan commented on #1799
the above response is different from oC10:
[code]
Will there be any chance that oCIS will match to oC10's response in this case?
CC @phil-davis @individual-it @micbar

[2022-09-14 11:41] JammingBen commented on #4559
Yessss, adding `mtime` in upload metadata solved it, thanks!

[2022-09-14 11:41] #4559 closed

[2022-09-14 11:45] C0rby commented on #4442
This one is tricky.
In oC10 the responses are rendered on the server side. That means that when requesting `https://demo.owncloud.org/s/Lv742zlpi1K28C` the server tries to lookup the share and when it doesn't find it, it returns the error page with the 404 status code.
oCIS is different though. Here the request to `https://ocis.owncloud.com/s/ItYmLwEXCgdwYmU` loads the static files (html, js, css,

[2022-09-14 11:47] #3829 closed

[2022-09-14 13:17] tbsbdr commented on #4516
@micbar @dragotin do you have any idea what could cause this problem? It blocks me from using ocis for my family-cloud

[2022-09-14 13:39] tbsbdr commented on #4516
it says:

![](https://user-images.githubusercontent.com/26610733/190169676-b1a8e4dd-c5cf-4041-a051-f8bb6856be9e.png)

[2022-09-14 13:53] micbar opened #4583 "`PublicLinkAccessed` event is logged multiple times"
# Description

Needs investigation. From previous observations we have seen multiple indentical PROPFIND requests from the web UI

@kulmann @fschade FYI

[2022-09-14 13:56] micbar commented on #3830
@butonic Is this a GA release blocker for you? I would induce a later storage migration.

[2022-09-14 14:07] micbar commented on #3592
@JanAckermann Can you confirm?

[2022-09-14 14:21] micbar commented on #3839
Done by #4431 and #4436 and #4539 and #4430

[2022-09-14 14:21] #3839 closed

[2022-09-14 14:27] tbsbdr commented on #4516
More infos for debugging:

Blocksize of the is 4k:

[code]

Metadata size seems ok

[code]

upload directory seems to big:

[code]

`users` contains 15k directories:

[code]

 The data I store on the HDD are movies with filesizes 5-10 GB per Movie.

[2022-09-14 14:28] #4336 closed

[2022-09-14 15:01] rhafer commented on #4357
Will be fixed with https://github.com/cs3org/reva/pull/3238

[2022-09-15 06:35] saw-jan commented on #1945
There is slight difference between oC10 and oCIS:
in oC10:
[code]
in oCIS:
[code]
Does the difference between `DAV` and `DAV:` matter?

CC @phil-davis @micbar

[2022-09-15 07:05] phil-davis commented on #1945
"DAV" or "DAV:" is just a string that is a Uniform Resource Name (URN). The `d:error` is a `d` prefix, which is "DAV" or "DAV:". I don't know if any client will care about anything except looking at `d:error` and finding `s:exception` and `s:message` inside it?

I wonder why oC10 has "DAV:" ?

@micbar or anyone - an idea?

[2022-09-15 07:20] tbsbdr opened #11183 "Dropping files into a dropfolder creates versions of the file"
### Steps to reproduce
1. Create a folder `Homework`
2. Share `Homework` via link (permission: "Upload only")
3. open the link, drop `Sheet.txt`
4. edit `Sheet.txt`, save, drop `Sheet.txt` again
5. `Homework` contains `Sheet.txt` with 1 version

![Screenshot 000563@2x](https://user-images.githubusercontent.com/26610733/190340240-09547c15-6471-4f49-b7fc-cc4d55bf6e73.png)

### Expected behaviour
- `

[2022-09-15 07:23] #4563 closed

[2022-09-15 07:24] amrita-shrestha commented on #4563
both pr has been merged so closing

[2022-09-15 07:30] mmattel opened #4589 "Notification service env variable update needed"
As discussed with @kobergj

* The `NOTIFICATIONS_SMTP_INSECURE` is not clear because `NOTIFICATIONS_SMTP_ENCRYPTION` already contains the item `none`.
* `NOTIFICATIONS_SMTP_SENDER` has as default `owncloud` and as text: `Sender address of emails that will be sent.` --> A sender address, at least for me, is in form `owncloud@example.com`. It could be that this is the senders name. In any case eithe

[2022-09-15 08:12] aduffeck commented on #4489
@JanAckermann can you please check if you still see this issue? I can't reproduce.

![image](https://user-images.githubusercontent.com/203813/190351247-752d15a2-0f9d-4ca5-afac-2cb79e371d22.png)

[2022-09-15 11:20] iFrozenPhoenix opened #4594 "Allow to store all data on s3 (blob and metadata)"
## Is your feature request related to a problem? Please describe.
Currently only the blobs are stored on s3 with s3ng, the metadata are kept on the local pv. This makes a scaled and distributed installation unnecessary hard because there is a separate distributed / replicated storage needed. Modern s3 stacks like minio replicate the data on their own, so there is normally no need for a complicated

[2022-09-15 11:23] ScharfViktor opened #4595 "Preparation before GA. Test documentation."
We have [Beta test plan](https://owncloud.dev/ocis/development/beta-testplan) where we suggest to user setup ocis different deployment methods using [documentation](https://doc.owncloud.com/ocis/next/)

documentation offered by internal users in GA phase and we need to check documentation before GA.

## setup ocis with different deployment methods:

- [x] binary-setup https://doc.owncloud.com/ocis

[2022-09-15 11:23] ScharfViktor commented on #4595
@individual-it

[2022-09-15 11:32] C0rby commented on #4212
We are using the Open Sans font only as a fallback. We could just remove it and fallback to any 'sans-serif' font. The fallback wont be necessary though since we are serving the "Inter" font ourselves.

[2022-09-15 11:42] JammingBen opened #4597 "`PROPFIND` for personal space is flaky"
## Describe the bug
We noticed that the `PROPFIND` for the personal space is flaky on current master.

## Steps to reproduce

1. Curl your personal space a few ties: `curl -X PROPFIND https://localhost:9200/remote.php/dav/spaces/1284d238-aa92-42ce-bdc4-0b0000009157%2412a30d44-3145-4659-9a86-b4cfdc4e3d19 -k -u admin:admin -i`

## Expected behavior
A consistent `207` response.

## Actual behavior
Fr

[2022-09-15 12:10] #4523 closed

[2022-09-15 12:10] #4545 closed

[2022-09-15 12:10] #4357 closed

[2022-09-15 12:10] #4473 closed

[2022-09-15 12:13] micbar commented on #4383
brought to ocis via #4590

[2022-09-15 12:13] #4383 closed

[2022-09-15 12:37] kulmann opened #4598 "Renaming a space doesn't update drive alias"
## Describe the bug

When renaming a space the drive alias remains unchanged.

## Steps to reproduce

Steps to reproduce the behavior:
1. Log in to web ui as admin
2. Create a project space `asdf`
3. Check the drive alias: `project/asdf`
4. Rename the space to `test`
5. Look at the response of the `PATCH` request or do a page reload and look at the response of the `/me/drives` request

## Expected

[2022-09-15 12:40] rhafer commented on #4597
This is basically a duplicate of https://github.com/owncloud/ocis/issues/3134

Happens when multiple ocis instances (all using the mdns registry) are running in the same network. This results in both instance "seeing" each others service registrations -> :bomb: :boom:

[2022-09-15 12:50] #4212 closed

[2022-09-15 13:31] micbar commented on #3640
Fixed by #4576

[2022-09-15 13:32] #3640 closed

[2022-09-15 13:55] dragotin commented on #4516
Tried that with 2.4 GB from my local harddisk:
[code]
which results in the harddisk usage in .ocis:
[code]

[2022-09-15 17:34] #2687 closed

[2022-09-15 17:34] #2661 closed

[2022-09-15 20:34] algihu commented on #4380
I just tested it again with v2.0.0-beta.8 and this feature now works correctly.

[2022-09-16 01:43] JanAckermann commented on #4489
@ScharfViktor at the time it wasn't working, as the folder 'share' was returned in the search result.
NVM bug seems to be fixed, closing.

[2022-09-16 01:45] JanAckermann commented on #3592
Confirming, fixed

[2022-09-16 01:45] #3592 closed

[2022-09-16 06:28] #3085 closed

[2022-09-16 06:29] micbar commented on #3861
bumping

[2022-09-16 06:31] micbar commented on #3284
batch edit still pending

[2022-09-16 06:51] tbsbdr commented on #4516
ok, thx! will retry.

closing as not reproducible.

[2022-09-16 07:02] kulmann commented on #4516
Well, isn't it worth to dig deeper into the humongous upload folder? `632G uploads` certainly feels wrong.

[2022-09-16 07:05] kulmann commented on #4380
Thanks for investing the time :heart: Glad to hear that it's fixed 👍

[2022-09-16 07:56] michaelstingl commented on #4545
Separate PR to bring back the capability: https://github.com/owncloud/ocis/pull/4599

[2022-09-16 07:58] aduffeck commented on #4343
@wkloucek hm, we could use pre-signed URLs or try to implement other means of bypassing the provider storage when uploding files to S3NG, but the data has to be available at some point anyway for checksuming and post-processing (in experimental). So we need the payload on the provider before offloading it to the blobstore by design, no?

[2022-09-16 09:26] michaelstingl commented on #4442
okay

[2022-09-16 09:26] #4442 closed

[2022-09-16 09:49] mmattel commented on #3789
bump

[2022-09-16 11:31] mmattel commented on #4589
Got it:

* Proposal:
`Allow insecure connections to the SMTP server.` -->
`Allow insecure connections to the SMTP server, like for self signed certificates.`
* We have an issue in the transformation to adoc tables, because `ownCloud <noreply@example.com>` does get rendered as `owncloud` (without the email address)

I will look for the latter on monday. It is hard to work in the train right now, in

[2022-09-18 19:22] dragotin opened #4604 "Panic on 32 bit Raspbian"
## Describe the bug

Tested version crashes on a Raspberry Pi running on latest 32 bit Raspbian:
[code]

## Steps to reproduce

Edit and store a testfile with the web interface. On store, it panics.

## Setup
ownCloud Infinite Scale 2.0.0 Beta8 running from single binary build `./ocis-2.0.0-beta.8-linux-arm`

[2022-09-19 06:55] dragonchaser commented on #4589
IMHO `Allow insecure connections to the SMTP server.` implicates certificate related settings for me, there is no need for additional description.

[2022-09-19 07:06] micbar commented on #4597
closing because of duplicate.

[2022-09-19 07:06] #4597 closed

[2022-09-19 07:40] micbar commented on #4594
@iFrozenPhoenix Your observation is correct. The S3 storage has a high latency and is not fast enough.

In ownCloud 10 we used the database for storing metadata.

The S3NG driver tries to solve this in a different way. We store the blobs (actual bytes) in the S3 bucket. The high latency is not a big problem here because we only access the data on upload / download.

The metadata and the file tree

[2022-09-19 07:58] mmattel opened #4607 "Document all "Insecure" options in a better way"
Referencing issue: https://github.com/owncloud/ocis/issues/4589

The current statement defining an _*\_INSECURE_ env variable can be improved, because for admins which are not that deep in that terminology it is hard to read what is meant and what the impact is.

Note that it affects all "_INSECURE" env variables and it is basically what curl has in it's _--insecure_ option:

**Original curl text:

[2022-09-19 08:36] iFrozenPhoenix commented on #4594
@micbar thank you for your explanations.
Yes, indeed I have a suggestion. I have already mentioned it in issue 2668, second last comment.

I had a few thoughts about it. Once I've read an article about OneDrive and it said that in most cases the users initially load up many files, i.e. many writes, and then the following operations are mainly read. I don't know if this behaviour is also valid for

[2022-09-19 08:47] mmattel opened #4608 "Improve description of some env variables"
* `FRONTEND_UPLOAD_MAX_CHUNK_SIZE`:
`Sets the max chunk sizes for uploads via the frontend.`
What is the unit, bytes? The default value is `100000000` (100MB)?

* `FRONTEND_ARCHIVER_MAX_SIZE`:
`Max size of the zip archive the archiver can create.`
What is the unit, bytes? The default value is `1073741824` (1GB)?

* `IDP_SIGNING_PRIVATE_KEY_FILES`
`Private key files for signing IDP requests.`
as th

[2022-09-19 09:32] mmattel opened #4610 "MAKEFILE (make help) is hard to read"
With respect to docs, when running `make help` you get an output: `make -C docs help`.
When running `make -C docs help` you get:
[code]

To read the `Makefile` description line is hard to read, room for improvement
[code]

@dragonchaser @wkloucek

[2022-09-19 19:29] willmackay opened #4612 "Directory listing fails when filenames contain ampersand"
## Describe the bug

If a directory contains filenames with an ampersand, the Owncloud web page does not display any files in that directory. Instead, it says "Resource not found". This happens when an existing file is renamed to include an ampersand, or when you upload a folder containing files that already have an ampersand.

## Steps to reproduce

Steps to reproduce the behavior:

1. Upload fil

[2022-09-20 03:24] SwikritiT commented on #4612
similar issue here https://github.com/owncloud/ocis/issues/4474

[2022-09-20 03:26] phil-davis commented on #4612
Duplicate - closing here. Thanks for reporting.

[2022-09-20 03:26] #4612 closed

[2022-09-20 06:07] SwikritiT commented on #4474
Api test added in this PR : https://github.com/owncloud/core/pull/40376
Id bump is being done here: https://github.com/owncloud/ocis/pull/4613

[2022-09-20 06:46] SwikritiT commented on #4509
I think I've reused as many tests as possible in https://github.com/owncloud/core/pull/40371 but if there are still other tests that can be reused that I might have left please take a look and mention here

@SagarGi @phil-davis @amrita-shrestha

[2022-09-20 07:19] kulmann commented on #4612
@willmackay please subscribe to https://github.com/owncloud/ocis/issues/4474 if you want to get notified when the bug is fixed. :-)  Thanks again for your detailed report, much appreciated!

[2022-09-20 07:35] grgprarup commented on #541
Findings:
- with regular oCIS storage the deletion time in the trash bin is working fine :+1:

[2022-09-20 08:13] phil-davis commented on #4474
The test scenarios added in core PR https://github.com/owncloud/core/pull/40376 are passing on both oC10 and oCIS. So the API is working OK for those particular cases that have an `&` in the file or folder name.

[code]
I guess `curl` does whatever it does with the `&` - IMO it sends it as-is, without trying to escape it.

[code]

It works on oC10 and oCIS with both ways of doing the webDAV MKCOL

[2022-09-20 09:39] butonic commented on #4427
![cache-store-invalidation drawio](https://user-images.githubusercontent.com/956847/191224116-b69c0af0-035a-4f0b-826e-d531cd2910a5.png)

- [ ] Datagateway needs to invalidate cache after successful PUT / upload
- [ ] InitiateFileUpload dous not need to invalidate cache

[2022-09-20 09:56] aduffeck commented on #4343
@micbar after some discussion we came up with 3 approaches for handling that issue:

1. Bypass the dataprovider completely during upload by using presigned URLs. That minimizes load and traffic on the provider but will require bigger changes, including changes to the clients to support that kind of upload.
2. Make the clients upload to the data provider as before but stream the data directly to th

[2022-09-20 11:34] michaelstingl opened #4616 "User endpoint doesn't answer the first time it's queried"
## Describe the bug

Looks like the desktop client can't query the user endpoint (`/ocs/v2.php/cloud/user?format=json`) when the user was never logged in before.

## Steps to reproduce

Steps to reproduce the behavior:

1. Install 3.0 pre-release desktop client ([`ownCloud-3.0.0-daily20220920.8579.pkg`](https://download.owncloud.com/desktop/ownCloud/daily/3.0/mac/?sort=time&order=desc))
2. Add new

[2022-09-20 11:46] jvillafanez commented on #4427
What if the datagateway sends a notification to the gateway so it's the gateway the one invalidating the cache? This way, the gateway keeps the ownership of the cache and no other services need to access nor modify that cache.

The alternative could be to implement a `StatCache` component to own the cache, so both the gateway and datagateway services can use it in the same way the role manager is

[2022-09-20 11:52] C0rby opened #4617 "Debuggable setup with WOPI and Collabora/OnlyOffice"
## Is your feature request related to a problem? Please describe.
Every time I have to debug something with Collabora/OnlyOffice I spend the majority of the time with preparing a debuggable setup.

## Describe the solution you'd like
I would like a copy/paste documentation or a script which provides this setup.

## Describe alternatives you've considered
No alternative.

## Additional context
We h

[2022-09-20 21:04] algihu opened #4618 ""Open in browser" does not open a browser"
## Describe the bug

Using the Windows desktop app pointed to an OCIS instance, when I right-click on a synced file in Windows Explorer and select "Open in browser" nothing happens. No error is shown but also nothing is opened at all.

## Steps to reproduce

Steps to reproduce the behavior:

1. Set up ownCloud Desktop App (Windows) pointed to an OCIS server
2. In Windows Explorer navigate to any f

[2022-09-21 03:38] individual-it commented on #541
I think this can be closed for now

[2022-09-21 03:38] #541 closed

[2022-09-21 04:57] SagarGi commented on #4509
@SwikritiT  can we also reuse for copy and move request? for (copySpaces.feature and moveSpaces.feature).

[2022-09-21 05:03] amrita-shrestha commented on #4154
all repo has been covered so closing this issue.

[2022-09-21 05:03] #4154 closed

[2022-09-21 05:20] SwikritiT commented on #4509
I'll take a look

[2022-09-21 06:20] amrita-shrestha commented on #4509
https://github.com/owncloud/ocis/blob/28c631163df87e9d09ca31aedb98df2495abacea/tests/acceptance/features/apiSpaces/changingFilesShare.feature#L17
https://github.com/owncloud/ocis/blob/28c631163df87e9d09ca31aedb98df2495abacea/tests/acceptance/features/bootstrap/SpacesContext.php#L1590-L1648

This step contain some core code maybe we can remove that too

[2022-09-21 07:25] SwikritiT commented on #4509
We can reuse the code from the core for within space move or copy but form move in-between space, it's not possible through oc10 code so I don't think we should refactor these

[2022-09-21 07:27] micbar commented on #4618
@algihu Thanks for the bug report.

This feature is not implemented yet on the ocis Server Side, and the web client

We will support this with the new Desktop Client 3.0.0 and the ocis 2.0.0-rc1

Please see https://github.com/owncloud/web/issues/7304 and https://github.com/owncloud/web/issues/6247 for progress

[2022-09-21 07:27] #4618 closed

[2022-09-21 09:08] rhafer commented on #4474
AFAIU the test suite only request the `d:getetag` and `d:resourcetype` properties with PROPFIND request that checks for the presence of the new folder.
The bug is however caused by the `<oc:name>` property that was introduced with https://github.com/cs3org/reva/pull/3158. It needs proper escaping. Working on  a fix ...

[2022-09-21 09:13] SagarGi opened #4623 "Allow public link sharing only for certain groups feature not implemented"
### Description

We have scenarios in core like
[code]

Where we use occ command to enable `public_share_sharers_groups_allowlist_enabled`  but apparently on `ocis` this could not be possible. There are tests scenarios that are expected to failure file because we cannot set with command. So just need the confirmation or information regarding it if it will be implemented, otherwise we could add tag

[2022-09-21 09:13] SagarGi commented on #4623
@phil-davis @micbar if you could give some details regarding it?

[2022-09-21 09:13] aduffeck commented on #4489
I think I have to reopen this, I just ran into a similar problem on my local instance with some entities not being found. It seems to be related to public shares. Investigating....

[2022-09-21 09:19] phil-davis commented on #4623
This is an example of one of many options available in oC10 that control certain things that users can or cannot do. oCIS does not have any option like this. I think that there is an issue somewhere that mentions lots of these oC10 sharing options - and AFAIK there will be future decisions about which options might be implemented the same in oCIS, which will have a similar but slightly different i

[2022-09-21 09:25] phil-davis commented on #4623
It is issue #1328 - https://github.com/owncloud/ocis/issues/1328#issuecomment-1190046452
"Will be implemented on spaces, not per instance." - @micbar I suppose that this optional setting `public_share_sharers_groups_allowlist_enabled`, if implemented on oCIS, would also not be a system-wide setting?

[2022-09-21 09:31] lookacat opened #4624 "Add original StorageId to deleted resources"
## Is your feature request related to a problem? Please describe.
In order to be able to restore the original folder structure of an deleted file we need to know where exactly the file was located so we know where to create the missing directories. Therefore we would need an additional prop like "originalStorageId".
See https://github.com/owncloud/web/issues/1753

[2022-09-21 11:40] butonic commented on #4427
Currently Reva has no event bus. only ocis has. Which is why I went with the StatCache (and other) shared implementations: https://github.com/cs3org/reva/pull/3250

[2022-09-21 12:36] dragotin opened #4628 "Memory consumption too high / Memory Leak?"
## Describe the bug

Running oCIS on a Raspberry Pi with 1 GB of memory does not work any more. oCIS starts up properly, but gets killed after the memory has grown to the limit of nearly 1GB.

It is not relevant if it is a Raspberry Pi or another system, it needs to be known and clear where the increased memory demand comes from or if it is a memory leak.

## Steps to reproduce

Just start oCIS on

[2022-09-21 12:51] micbar commented on #4628
We need to find out:

- [ ] Do we have a memory leak?
- [ ] Is the memory  footprint in general too high?
- [ ] Is the problem located in bleve or in the ocis implementation?

[2022-09-21 13:18] micbar opened #4630 "Resharing edgecases cause unaccessible shares"
## Describe the bug

A clear and concise description of what the bug is.

## Steps to reproduce

Steps to reproduce the behavior:

Resharing a file (or folder) with different permission can lead to unaccessible shares. Follow the steps to reproduce

As admin share a file to einstein with viewer permissions
As admin share same file to marie with editor permissions
As marie reshare the file with ein

[2022-09-21 15:00] C0rby commented on #4382
The reva part of the fix is here: https://github.com/cs3org/reva/pull/3257

[2022-09-21 15:13] C0rby commented on #4382
And here is the ocis part: https://github.com/owncloud/ocis/pull/4631

[2022-09-21 15:17] C0rby opened #4632 "A public share with viewer role can still edit office documents in OnlyOffice/Collabora"
## Describe the bug

A clear and concise description of what the bug is.

## Steps to reproduce

Steps to reproduce the behavior:

1. Publicly share an office file with the viewer role
2. Open the public share
3. Edit the public share
4. As the sharer, open the shared file
5. See the changes made by the share

## Expected behavior
A clear and concise description of what you expected to happen.
A s

[2022-09-21 15:17] C0rby commented on #4632
@micbar, I guess this is also a blocker, right?

[2022-09-22 04:05] #4474 closed

[2022-09-22 04:33] phil-davis opened #4635 "Check expected-failures files for invalid and closed issues"
A script is now available to check for invalid and closed issues. https://github.com/owncloud/core/pull/40377

Use it to check the expected-failures files in oCIS and reva (master and edge) and fix any problems.

[2022-09-22 07:40] individual-it commented on #4623
according to @micbar this will be most likely implemented per space, so these kind of tests will not be applicable this way in ocis, so they should be tagged with `@notToImplementOnOcis`

[2022-09-22 08:22] butonic commented on #3475
reva gateway is in https://github.com/cs3org/reva/pull/3250
ocis PR to update reva is in https://github.com/owncloud/ocis/pull/4627

[2022-09-22 08:39] SagarGi opened #4636 "Downloaded `/Shares` tar contains resource (files|folder) with leading `/` in Response"
## Describe the bug

When downloading the `/Shares` folder as tar through API request containing different resources (files | folders), then viewing the archived tar file, it contains the leading `/` in each files and folder inside the archived file.

## Steps to reproduce

Steps to reproduce the behavior:

1. Create user `user1` and `user2`
2. with `user1` create file `file.txt` with content `som

[2022-09-22 09:13] #4382 closed

[2022-09-22 09:55] butonic commented on #4630
What should conceptionally happen?
While the grants on the storage can just be updated the share manager needs to be clarified:
- When the admin creates two shares he expects to see them in his shared with others list
- When marie updates a share she can do that by
  - navigating to the shared with me page in web
  - clicking the actions button and choosing the 'share' action
  - the sidebar opens

[2022-09-22 10:16] SagarGi opened #4637 "Downloading the archive of the resource (files | folder) using resource `path` is not possiblle"
## Describe the bug

When downloading the archive of resource (files | folders) using the resource path (full path of the resource) , the response status is `404`.

## Steps to reproduce

Steps to reproduce the behavior:

1. create user `user`
2. create a file `file.txt`
3. download the archive of the file file with the command below

Curl Command to download the file.

[code]

## Expected behavio

[2022-09-22 10:24] butonic opened #4638 "Move decomposedfs xattrs to JSON"
Some filesystems are limited to 4k (or whatever blocksize is set to) of extended attributes (including names and values).

The decomposedfs already represents files as empty files and links the actual content to the blob storage using a blob id (stored in the extended attributes)

Instead of using the xattrs we could store them as eg json in the empty file:

### good
* we are no longer limited by

[2022-09-22 19:59] butonic opened #4642 "size in trash is always 0"
the propfind result for the trash is always zero because the decomposedfs uses a stat result, not the blob or treesize of the node

fixed by https://github.com/cs3org/reva/pull/3261/commits/21012df0474378163ee8c6c827a3240a9c2b2acb#diff-dc1fec998410d885ccad050fd478bcee050b861012916210a8dd660f792ef51dL210-R212

[2022-09-23 03:45] saw-jan opened #4643 "Acceptance webUI tests are passing: webUIWebdavLockProtection/move.feature:146-147"
Two acceptance webUI tests are passing in the nightly run.

Build: https://drone.owncloud.com/owncloud/ocis/15654/73/14
Log:
[code]
[code]

[2022-09-23 03:48] SagarGi commented on #4643
I think @phil-davis removed those passing tests from  from https://github.com/owncloud/ocis/pull/4614 this PR

[2022-09-23 04:07] saw-jan commented on #4643
So the task is done?
Please, check and close this if that is the case

[2022-09-23 04:21] phil-davis commented on #4643
Yes, exactly those 2 scenarios were unexpected passes yesterday. IMO somebody must have fixed something in oCIS but did not run full-ci, so they would not have noticed that those scenarios needed to be removed from expected-failures.

[2022-09-23 04:21] #4643 closed

[2022-09-23 05:35] individual-it commented on #4637
@kobergj I think you have added the related tests to expected to fail file, could you clarify if this actually should work or not

[2022-09-23 07:27] mmattel commented on #3917
bump

[2022-09-23 13:15] rhafer commented on #4628
![profile001](https://user-images.githubusercontent.com/373399/191966869-0325006f-d8bc-4aa0-be57-64f1e9f0c2e5.svg)

This issue seems to be cause by some overly large caches that a configured in the reva auth provider. They alll hardcoded to 1 Million cached items and upon startup the cache implemenation does this: `c.items = make(map[interface{}]*lfuItem, c.size)` which causes a huge allocation. :

[2022-09-23 13:23] rhafer commented on #4628
After lowering the cache to 10000 items (which is still quite large for a user cache IMO) looks a lot better (down to 60MB, from more than 1GB after startup):

![profile002](https://user-images.githubusercontent.com/373399/191968766-5745627f-2a41-4d67-9020-f05e5898e59e.svg)

[2022-09-23 15:58] dragotin commented on #4516
Tested with @tbsbdr again today (Hardware ODroid)

We set up vanilla oCIS beta8 and tried to upload a movie collection of 33 GB via sync client. For that, we created a new VFS folder on windows and moved the files into that.

Uploading started ok'ish, just extremely slow. The server was bored most of the time, maybe because moving and VFS required so much client power?

At some point, the client r

[2022-09-23 19:12] TheOneRing commented on #4516
Tus in 2.11 is broken.
Please test with 3.0

Ocis should block legacy clients https://github.com/owncloud/client/issues/9612

[2022-09-24 11:45] dragotin commented on #4516
What? That would mean we loose the ability to run oCIS with clients earlier than 3.0. That is **not ok**. We did a lot of compromises in the backend to be able to "satisfy" older clients - loosing that now on the last meters is not doable.

@micbar @michaelstingl pls look into that and find a compromise.

[2022-09-25 06:19] #4286 closed

[2022-09-25 18:54] dragotin commented on #3574
@fmoc @TheOneRing can you give an update?

[2022-09-26 04:00] saw-jan opened #4653 "WebUI pipelines are failing in restore-web-acceptance-yarn-cache"
Builds: https://drone.owncloud.com/owncloud/ocis/15680

log:
[code]

[2022-09-26 06:37] tbsbdr commented on #4516
Problem still exists with Desktop client 3.0 (though upload is much faster and stable - feels almost illegal fast 😼 )

"uploads" folder gets huge:

[code]

[2022-09-26 08:17] butonic commented on #4516
Whenever an upload is finished, regardless which protocol (TUS or plain PUT) is used, `finishUpload()` and consecusively `discardChunk()` are called. It wipes the info and the bin file corresponding to the upload.

@tbsbdr To check what is going on could you post an `ls -lh /data/ocisdata/storage/users/uploads`. And maybe cat one of the json files in there?

[2022-09-26 08:33] kulmann opened #4657 ""Upload only" public link leaks content via propfind"
## Describe the bug

Having a public link with role "Upload" still lists the content via PROPFIND.

## Steps to reproduce

Steps to reproduce the behavior:

1. Create a folder with some files
2. Create a public link with "Upload" role
3. Do a propfind, e.g. with curl: `curl --insecure -X PROPFIND -H "Depth: 1" -H "Content-Type: text/xml" 'https://host.docker.internal:9200/remote.php/dav/public-fil

[2022-09-26 09:04] butonic commented on #4516
AFAICT we currently have no cleanup job that removes unfinished uploads. The problem here is that the client started several uploads in parallel and they could not finish because collectively they filled the disk. Leading to a situation where no upload could finish.

[2022-09-26 09:12] michaelstingl commented on #3574
Can be tested with the 3.0-pre-release builds. A branded build was sent to @labkode

[2022-09-26 09:17] micbar commented on #4516
We agreed that we can prevent this by checking the "uploads which are in progress" during "InitiateUpload".

[2022-09-26 09:24] #3713 closed

[2022-09-26 11:45] butonic commented on #4427
https://github.com/owncloud/ocis/pull/4627 got merged

[2022-09-26 11:45] #4427 closed

[2022-09-26 11:45] butonic commented on #3475
https://github.com/owncloud/ocis/pull/4627 got merged

[2022-09-26 11:45] #3475 closed

[2022-09-26 11:45] michaelstingl commented on #4406
@TheOneRing @C0rby Is this fixed? Close? (my tests are always without quota)

[2022-09-26 11:48] michaelstingl commented on #1590
@micbar can this be closed?

[2022-09-26 12:07] #4624 closed

[2022-09-26 13:08] C0rby commented on #4568
From what I could observe, Collabora does automatically save the document after some time after editing (30 Seconds or so?). If the tab gets closed before that it won't be saved.
OnlyOffice seems to save a few seconds after the last keystroke. Maybe there is a setting or something to have something similar in Collabora?

[2022-09-26 17:06] michaelstingl opened #4667 "Sync saved searches across clients"
## Is your feature request related to a problem? Please describe.

ownCloud iOS app 12.0+ comes with a very fancy search feature:
- https://github.com/owncloud/ios-app/pull/1142

Users can combine multiple search parameters, then save this search to access it later again.

It would be super-awesome, if users could see the same search results as a shortcut in other clients, for example in the left

[2022-09-26 17:33] michaelstingl opened #4668 "[Docs] Auto-generate documentation of the config / env variables"
## Is your feature request related to a problem? Please describe.

From a discussion with @tbsbdr :

## Describe the solution you'd like

Documentation of the config / env variables should be maintained in the source code, and automagically extracted for docs in every pull request. We already do this with the oC10 config.php parameters and for the iOS app MDM and branding parameters:

- https://do

[2022-09-26 19:42] ChrisEdS opened #4669 "[Spaces] Positioning of icon and text with empty space differs"
## Describe the bug

Positioning of icon and text with empty space differs from all other views.

## Expected behavior
<img width="1679" alt="image" src="https://user-images.githubusercontent.com/33026403/192365203-c633d76a-8fa8-4f7a-b0d7-02dc71795eb2.png">

## Actual behavior
<img width="1505" alt="image" src="https://user-images.githubusercontent.com/33026403/192365468-85c3d104-f404-4001-add0-f6

[2022-09-26 19:50] ChrisEdS opened #4670 "[Spaces] Positioning of Spaces "breadcrumb" text differs from other views"
## Describe the bug

Positioning of Spaces "breadcrumb" text differs from other views.

## Expected behavior
<img width="644" alt="image" src="https://user-images.githubusercontent.com/33026403/192366943-b14c5411-26c3-47ce-b3b4-917d2f991920.png">

## Actual behavior
<img width="696" alt="image" src="https://user-images.githubusercontent.com/33026403/192366895-eeda7610-7ab1-4f46-a020-4b7e0ee15a34.p

[2022-09-26 21:56] willmackay opened #4671 "User in multiple groups only sees shares of one of the groups"
## Describe the bug

A user who belongs to multiple groups only has the permissions of a single one of these groups.

## Steps to reproduce

Steps to reproduce the behavior:

1. I created two groups (KFQwWJSl and xZjCGDhi).

2. As the admin user, I created a new folder (AmUZWyXITXUqwBzQ) and shared it with the first group (KFQwWJSl ).

3. I created a new user (ePxUovIhybXazegI) and added them to b

[2022-09-26 21:56] willmackay commented on #4671
Here's some screenshots of the bug
![1 - groups](https://user-images.githubusercontent.com/24301649/192387928-a4bdbd86-c228-452f-a3e5-075877f94a71.png)
![2 - share](https://user-images.githubusercontent.com/24301649/192387932-31220408-9008-4221-bcba-5dea79ff70b2.png)
![3 - user](https://user-images.githubusercontent.com/24301649/192387934-b61e5e2e-41b7-4e00-9745-fa87d7de4b7d.png)
![4 - no shares](

[2022-09-27 03:20] phil-davis commented on #4671
@saw-jan @amrita-shrestha please get someone to try and find a test scenario that checks access to shares for a user who is a member of multiple groups. If there is no automated test scenario, then create one - it should go in the core test suites, because we want to also verify that this works properly in oC10 core.

And then report if this is a problem with the oCIS back-end or with web.

[2022-09-27 06:17] SwikritiT commented on #4421
Note this issue is only for spaces endpoint works as expected in old and new `dav`

[code]

[2022-09-27 06:34] phil-davis commented on #1799
The differences seem to be:
a) "status" text is "failure" in oCIS and "error" in oC10.
b) "message" text is "Not found" in oCIS and "Wrong path, file/folder doesn't exist" in oC10

Maybe the "status" text will be important for a client - there might be a client that is doing some logic based on the text being "error" ?

But maybe the "message" text is not so important - clients are likely to just

[2022-09-27 06:52] micbar commented on #4668
This is already implemented from the very beginning of the project.

The challenge is that we have around 30 services and a lot of settings. We need more hand-crafted and manual documentation about the config options. The list alone, as we have it today is somehow overwhelming.

There are existing tickets for that #3917 #4178

Closing this here. Please check the other tickets for progress.

[2022-09-27 06:52] #4668 closed

[2022-09-27 06:57] micbar commented on #4616
That is the issue here. The autoprovisioning of the user happens later in the ocis proxy after successful login.

@rhafer any ideas?

[2022-09-27 08:04] SwikritiT opened #4674 "Identical shares have different naming convention in `oc10` and `ocis`"
## Describe the bug

When a user receives the identical share from different user the naming convention of the file/folder is different to that of oc10. Let's say a user has accepted the share `foo` from two different users,   in the case of oc10 the name will be `foo`, `foo (2)` while for ocis it's  `foo`, `foo (1)`

## Steps to reproduce

Steps to reproduce the behavior:

1. As `einstein` create

[2022-09-27 08:05] SwikritiT opened #4675 "the number of the identical share isn't now shown until reload"
## Describe the bug

A clear and concise description of what the bug is.

## Steps to reproduce

Steps to reproduce the behavior:

1. As user `einstein` make a folder `foo` and share it to `moss`
2. As user `moss` accept the share
3. As user `marie` make a folder `foo` and share it to `moss`
4. As user `moss` accept the share

## Expected behavior
The UI should the update with the resource name `f

[2022-09-27 08:12] SwikritiT opened #4676 "different encoding used in oc10 and ocis"
## Describe the bug

A clear and concise description of what the bug is.

## Steps to reproduce

Steps to reproduce the behavior:

1 .As einstein create a folder foo/ and share it to user moss
2. As user moss accept the share
3. As user marie create a folder foo and share it to user moss
4. As moss accept the share
5. As user moss `PROPFIND` the shares folder
[code]

## Expected behavior

In case

[2022-09-27 08:36] #4628 closed

[2022-09-27 08:37] #4657 closed

[2022-09-27 08:38] #4034 closed

[2022-09-27 08:39] #4489 closed

[2022-09-27 08:40] ScharfViktor commented on #3936
Couldn't reproduce it. no log in collabora

[2022-09-27 08:40] #3936 closed

[2022-09-27 08:44] rhafer commented on #4616
As the `ocs/v2.php/cloud/user` endpoint requires an authenticated user, the autoprovisioning should have happened before request hits the ocs service. I am stlll trying to figure out what's going wrong here.

[2022-09-27 09:12] felix-schwarz commented on #4667
Learnings from https://github.com/owncloud/ios-app/pull/1142 that might help with this feature:

## Parsing
When a user enters a search term, it is processed in several steps. By example, based on `:today cupola` (search files with "cupola" in the name, last modified today):

- Segmentation, segments the string, respecting quotation marks: turns `:today cupola` into `[":today", "cupola"]`
- Tokeni

[2022-09-27 09:53] SagarGi commented on #4671
@phil-davis  i treid the above mentioned issue in latest docker image, building locally latest master `ocis`, and also tried checking out to `ocis 2.0.0-beta8`.

Latest Docker : Could not reproduce (may be fixed)
Latest master ocis : Could not reproduce (may be fixed)
ocis 2.0.0-beta8: Yes reproducable.

I will be adding up acceptance tests for this on core.

[2022-09-27 10:04] C0rby commented on #4568
Ah, I see! Now whose behavior needs to change? Collabora or Wopi?

[2022-09-27 10:11] SwikritiT commented on #4674
Similar issue here: https://github.com/owncloud/ocis/issues/4289

[2022-09-27 10:19] C0rby commented on #4406
After a short discussion we found that the headers are actually correct.
I'll have another look at the backend behavior.

[2022-09-27 11:08] micbar commented on #4630
My solution would be

The reshare from marie back to the owner or anybody else which already has the share should be forbidden with a clear error message.

[2022-09-27 11:11] butonic commented on #4343
The upload process will become async in the near future. So copying from the blobstore to s3 is ok for now.

That being said, it would makes sense to improve the S3NG implementation to use the native object versioning to implement file versions. File objects should use the fille id as the object name and versions should be written to that object. For that the tus upload should directly stream to S

[2022-09-27 11:20] amrita-shrestha opened #4678 "Check closed issue `No share indicators inside share jail` still exist in expected-to-failure"
[No share indicators inside share jail ](https://github.com/owncloud/web/issues/6894) issue has been closed but still their are some scenario under this issue.Check why there are scenario under [No share indicators inside share jail ](https://github.com/owncloud/web/issues/6894) closed issue

https://github.com/owncloud/ocis/blob/a67e354eb48b8bafccb07be9eb8b04be909d56c3/tests/acceptance/expected-f

[2022-09-27 11:24] micbar commented on #4343
ok, @wkloucek @pmaier1 @hodyroff

From my POV the requirement, that the file is uploaded to the upload area before we move it to the final storage has more weight. It is important for preprocessing steps like virus scanning. Especially if we have WORM storage.

Closing this ticket.

[2022-09-27 11:24] #4343 closed

[2022-09-27 11:25] amrita-shrestha opened #4679 "Check closed issue `No command equivalent to occ` still exist in expected-to-failure"
[No command equivalent to occ ](https://github.com/owncloud/ocis/issues/1317) issue has been closed but still their are some scenario under this issue.Check why there are scenario under [No command equivalent to occ ](https://github.com/owncloud/ocis/issues/1317) closed issue

https://github.com/owncloud/ocis/blob/a67e354eb48b8bafccb07be9eb8b04be909d56c3/tests/acceptance/expected-failures-webUI-on

[2022-09-27 11:29] hodyroff commented on #4343
Yes, lateron we might want to have a storage driver in addition to this one who takes the direct route and where we delete again or just call the file lost if we want to get rid of it later ...

[2022-09-27 11:35] amrita-shrestha opened #4680 "Check closed issue `Share jail: how to rename shares?` still exist in expected-to-failure"
[Share jail: how to rename shares? ](https://github.com/owncloud/ocis/issues/3721) issue has been closed but still their are some scenario under this issue.Check why there are scenario under [Share jail: how to rename shares? ](https://github.com/owncloud/ocis/issues/3721) closed issue

https://github.com/owncloud/ocis/blob/a67e354eb48b8bafccb07be9eb8b04be909d56c3/tests/acceptance/expected-failure

[2022-09-27 11:37] micbar commented on #4303
removing from GA milestone, requirements reached.

[2022-09-27 11:38] pmaier1 commented on #4630
Agreed, that would also be my expectation.

[2022-09-27 11:40] butonic commented on #1799
https://github.com/cs3org/reva/pull/3279 should fix this particular case ... lets see ...

[2022-09-27 11:42] amrita-shrestha opened #4681 "Closed issue `impossible to navigate into a folder in the trashbin` still exist in expected-to-failure"
[impossible to navigate into a folder in the trashbin](https://github.com/owncloud/web/issues/1725) issue has been closed but still their are some scenario under this issue.Check why there are scenario under [impossible to navigate into a folder in the trashbin ](https://github.com/owncloud/web/issues/1725) closed issue

https://github.com/owncloud/ocis/blob/a67e354eb48b8bafccb07be9eb8b04be909d56c

[2022-09-27 11:44] amrita-shrestha opened #4682 "Check closed issue `Upload of folder with same name shows error` still exist in expected-to-failure"
[Upload of folder with same name shows error  ](https://github.com/owncloud/web/issues/6996) issue has been closed but still their are some scenario under this issue.Check why there are scenario under [Upload of folder with same name shows error  ](https://github.com/owncloud/web/issues/6996) closed issue

https://github.com/owncloud/ocis/blob/a67e354eb48b8bafccb07be9eb8b04be909d56c3/tests/accepta

[2022-09-27 11:46] amrita-shrestha opened #4683 "Check closed issue `[oCIS] Received share cannot be deleted/unshared if not shared with full permissions ` still exist in expected-to-failure"
[[oCIS] Received share cannot be deleted/unshared if not shared with full permissions ](https://github.com/owncloud/web/issues/5531) issue has been closed but still their are some scenario under this issue.Check why there are scenario under [[oCIS] Received share cannot be deleted/unshared if not shared with full permissions  ](https://github.com/owncloud/web/issues/5531) closed issue

https://git

[2022-09-27 12:00] amrita-shrestha opened #4684 "Check closed issue `Searching sharee with displayname` still exist in expected-to-failure"
[Searching sharee with displayname](https://github.com/owncloud/ocis/issues/547) issue has been closed but still their are some scenario under this issue.Check why there are scenario under [Searching sharee with displayname](https://github.com/owncloud/ocis/issues/547) closed issue

https://github.com/owncloud/ocis/blob/a67e354eb48b8bafccb07be9eb8b04be909d56c3/tests/acceptance/expected-failures-AP

[2022-09-27 12:04] amrita-shrestha opened #4685 "Closed issue `No robots.txt available` still exist in expected-to-failure"
[No robots.txt available](https://github.com/owncloud/ocis/issues/1314) issue has been closed but still, there are some scenarios under this issue. Check why there are scenarios under [No robots.txt available](https://github.com/owncloud/ocis/issues/1314) closed issue

https://github.com/owncloud/ocis/blob/a67e354eb48b8bafccb07be9eb8b04be909d56c3/tests/acceptance/expected-failures-API-on-OCIS-stor

[2022-09-27 12:07] ScharfViktor commented on #4630
why we prohibit maria to reshare with editor permission? She has rights do it and previosly she could do it. and even if we forbid her to do so, she can re-share to "sailing-lovers"  group (einstein is member) and up einsteins permissions

[2022-09-27 12:09] amrita-shrestha opened #4686 "Closed issue `spaces endpoint does not allow REPORT requests` still exist in expected-to-failure"
[spaces endpoint does not allow REPORT requests](https://github.com/owncloud/ocis/issues/4034) issue has been closed but still, there are some scenarios under this issue. Check why there are scenarios under [spaces endpoint does not allow REPORT requests](https://github.com/owncloud/ocis/issues/4034) closed issue

https://github.com/owncloud/ocis/blob/a67e354eb48b8bafccb07be9eb8b04be909d56c3/tests

[2022-09-27 12:16] amrita-shrestha opened #4687 "Closed issue `can't access public link resources with spaces webdav API ` still exist in expected-to-failure"
[can't access public link resources with spaces webdav API](https://github.com/owncloud/ocis/issues/3085) issue has been closed but still, there are some scenarios under this issue. Check why there are scenarios under [can't access public link resources with spaces webdav API](https://github.com/owncloud/ocis/issues/3085) closed issue

https://github.com/owncloud/ocis/blob/a67e354eb48b8bafccb07be9

[2022-09-27 12:21] dragonchaser opened #4688 "Wrong link generation for space & share link"
When inviting people to a space there is a bug in the share link that is generated for the email:

https://github.com/owncloud/ocis/blob/a5521161f8c5ec60186db3d6d0b06cd420b2915e/services/notifications/pkg/service/service.go#L159

same for shares:

https://github.com/owncloud/ocis/blob/a5521161f8c5ec60186db3d6d0b06cd420b2915e/services/notifications/pkg/service/service.go#L272

It uses the `.Idp` ur

[2022-09-27 14:02] phil-davis commented on #4630
Sharing with individual users can be restricted like this - we can detect if a particular user is the original "owner" of the share (the share comes from that user's personal space) or if that particular user already has the proposed access anyway. But groups are more of a challenge for trying to stop "circular resharing". The group to be shared with can have many members, some of which may alread

[2022-09-27 14:05] phil-davis commented on #4630
Sharing with individual users can be restricted like this - we can detect if a particular user is the original "owner" of the share (the share comes from that user's personal space) or if that particular user already has the proposed access anyway. But groups are more of a challenge for trying to stop "circular resharing". The group to be shared with can have many members, some of which may alread

[2022-09-27 14:45] rhafer commented on #4616
After autoprovisioning a user, we did not properly request a reva token for that user. Which made the ocs service (auth interceptro in frontend) try to get a token via the `auth-bearer` service. That service however is currently not able to map the token correctly to a reva user (at least not in a way compatible with how the proxy is doing it). It will throw the  401  you're seeing above.

Fix is

[2022-09-27 15:43] rhafer opened #4692 "Do not deploy auth-bearer service by default"
## Describe the bug

Currently the auth-bearer reva-service  is not used by ocis (see #4616 for details). All verification for oidc tokens is done by a separate middleware in ocis. Be should not start it by default and remove it from the example deployments.

In the longer might be a good idea to rework the ocis middleware in the proxy to use the auth-bearer service. This would get us rid of quite

[2022-09-27 17:30] #3921 closed

[2022-09-27 17:30] #4119 closed

[2022-09-27 17:52] micbar commented on #4632
Fixed by #4689

[2022-09-27 17:52] #4632 closed

[2022-09-27 19:51] #4616 closed

[2022-09-27 20:15] micbar commented on #4568
I can confirm that the file gets unlocked before saving the file.

Onlyoffice does that differently.

[2022-09-27 21:04] micbar commented on #4568
How could this ever work?

[2022-09-27 21:15] micbar commented on #4568
@pmaier1 Who can help us talk with the collabora people?

IMO this is ugly. Nothing meaningful we could do IMO.

We could allow to write to an unlocked file, but .... well that opens soo many ugly possibilities.

[2022-09-27 21:20] micbar commented on #4637
@butonic Does path based archiver requests work at all?

[2022-09-27 21:26] micbar commented on #4674
Cosmetic, but could save support times 😄

[2022-09-27 21:45] kulmann commented on #4674
Whatever we decide here also might have effect on the current implementation of file/folder conflict handling in web. More specifically, whenever we find a file or folder name that already exists (e.g. upload, copy, move, create new folder, create new file) we propose new file/folder names starting with `(1)`.

E.g. if you have a folder `test`, try to upload a folder test and choose `Keep both` in

[2022-09-27 21:46] kulmann commented on #4674
@SwikritiT could you please fill out the bug description text? 😇

[2022-09-28 02:35] phil-davis commented on #4674
My Ubuntu 20.04 UI does this:

![Screenshot from 2022-09-28 08-17-12](https://user-images.githubusercontent.com/1535615/192674451-99612f69-dc9c-4dee-9e8f-e62998972b34.png)

If I don't want to Replace (overwrite) an existing file, then I have to enter a new name myself. There is no auto-generating of a new file name.

[2022-09-28 03:33] SwikritiT commented on #4674
Done!

[2022-09-28 04:08] amrita-shrestha opened #4695 "Closed issue `downloading an archive with invalid path returns HTTP/500` still exist in expected-to-failure"
[downloading an archive with an invalid path returns HTTP/500](https://github.com/owncloud/ocis/issues/2768) issue has been closed but still, there are some scenarios under this issue. Check why there are scenarios under [downloading an archive with invalid path returns HTTP/500](https://github.com/owncloud/ocis/issues/2768) closed issue

https://github.com/owncloud/ocis/blob/080feb672fb12bb5820b6

[2022-09-28 04:25] amrita-shrestha commented on #4635
Reported closed issue in ocis expected failure file:
- [ ] https://github.com/owncloud/ocis/issues/4678
- [ ] https://github.com/owncloud/ocis/issues/4679
- [ ] https://github.com/owncloud/ocis/issues/4680
- [ ] https://github.com/owncloud/ocis/issues/4681
- [ ] https://github.com/owncloud/ocis/issues/4682
- [ ]  https://github.com/owncloud/ocis/issues/4695

[2022-09-28 07:50] pmaier1 commented on #4568
I can do that. Maybe it works directly here. Otherwise I'll start an email thread.

Who can help us with this? @timar @kendy @merttumer @mihai-varga @Ashod

[2022-09-28 07:56] micbar commented on #4674
@pmaier1 Please let us decide that quickly.

I am fine with starting with (1) for the first duplicate.

[2022-09-28 08:06] pmaier1 commented on #4674
I'm fine with that, too.

[2022-09-28 08:08] phil-davis commented on #4674
@SwikritiT please sort out the tests so that they understand what is the numbering for oCIS (from 1) and oC10 (from 2).
Have a think about the best way to do it - do we put it in the test code, or explicitly in feature files or?

[2022-09-28 09:45] kobergj commented on #4630
I did mix up things a little (too many master branches).
So: We have done a quick fix, but not on experimental it was going directly to edge. Here is the corresponding PR: https://github.com/cs3org/reva/pull/3176

The solution was to simply forbid creating shares to users that already have a share on this resource. That is the current behavior of ocis.

Group shares were not considered.

[2022-09-28 09:47] xoxys opened #4700 "Wrong responsive behavior on idp login screen"
## Describe the bug

https://user-images.githubusercontent.com/3391958/192746954-f1f616a4-8637-4b23-ba58-8359b9f04716.mp4

## Expected behavior
Keep vertical order of items.

[2022-09-28 09:59] rhafer opened #4701 "Proxy: oidc-auth middleware should use auth-bearer service to get reva token"
This is a followup ticket to #4692.

Instead of implementing all the oidc authentication related bits inside the proxy's oidc-auth middleware. I think we shoud make that middleware just use reva's auth-bearer service. That may we would get away from (miss)-using the machine-auth service for minting reva tokes.

[2022-09-28 10:50] SwikritiT commented on #4674
Okay!

[2022-09-28 10:58] tbsbdr commented on #4516
If `df` shows 100% usage of ocisdata:

*   ❌ Delete file via Web UI -> not possible (see above [https://github.com/owncloud/ocis/issues/4516#issuecomment-1258053676)](https://github.com/owncloud/ocis/issues/4516#issuecomment-1258053676))
*   ✅ Delete smalish file via cli, then: delete file via Web UI -> OK
*   ✅ Empty trashbin, then: delete file via Web UI -> OK
*   ✅ `ocis storage-users uploads l

[2022-09-28 10:59] rhafer opened #4703 "Share notifications broken for "group-only" shares"
## Describe the bug

When creating sharing a resource with only groups in the sharees list. Multiple things go wrong in the notification service:

- [ ] ocis panics because the notification service calls GetUser() with a `nil` UserId in the `GetUserRequest` -> This needs to be fixed in the reva user provider
- [ ] even without the above panic the notification service would not send out a proper no

[2022-09-28 11:21] butonic commented on #4630
Some technical background: when navigating through the tree and selecting a single resource the share manager will only return the shares on that resource that you created or received. When you are a manager of the space the resource is contained in yo can see all shares in that space.

So far, so clean.

So, as a share receiver you will not see shares of other users, leading to this resharing pro

[2022-09-28 11:31] butonic commented on #4630
After lunch,  I'll go with preventing the reshare in the share manager if a share already exists ... less sucky approach for now

[2022-09-28 11:33] SagarGi commented on #4509
@SwikritiT can you remove this method:
[code]

and make a direct request in the method:
[code]

[2022-09-28 11:36] kobergj commented on #4630
@butonic We previously blocked it in `ocs` service. The idea was that share manager shouldn't care about such logic. It is also a valid option to aggregate shares (as you already stated). Therefore blocking it in `ocs` service is imo cleaner.

[2022-09-28 11:43] jesmrec opened #4704 "User not selectable after entering credentials in browser"
Please, feel free to move this issue if it is not the correct place.

I was able to reproduce by using desktop and iOS clients,

Server: `oCIS 2.0.0 beta8` , deployed via docker

Steps for desktop:

1. Enter URL -> redirected to browser (using incognito mode to avoid existing sessions)
2. Enter credentials in browser

Then:

![Screenshot 2022-09-28 at 13 31 56](https://user-images.githubuserconten

[2022-09-28 12:09] butonic commented on #4630
hm that makes sense...

[2022-09-28 13:04] micbar commented on #4275
@mmattel @C0rby let us tackle that before GA

[2022-09-29 03:01] amrita-shrestha commented on #4684
assigned to wrong issue, For detail information please visit :https://github.com/owncloud/ocis/issues/547#issuecomment-1193562087

[2022-09-29 03:41] saw-jan opened #4706 "Nightly failure: apiWebdavEtagPropagation1/moveFileFolder.feature:184"
Build: https://drone.owncloud.com/owncloud/ocis/15819/53/6
Scenario: `apiWebdavEtagPropagation1/moveFileFolder.feature:184`
log:
[code]
#### Related issues
https://github.com/owncloud/ocis/issues/4251, https://github.com/owncloud/ocis/issues/3988, https://github.com/owncloud/ocis/issues/4091

[2022-09-29 04:53] #4695 closed

[2022-09-29 06:33] kiranparajuli589 commented on #4595
### different identity managers
##### LDAP (https://owncloud.dev/ocis/deployment/ocis_ldap/)
oCIS gets stuck in the log-in loop.

**Steps:**
- Server: `Ubuntu 22.04.1 LTS`
- 4 Domains were set up as mentioned in the docs
[code]
- cloned oCIS & cd to `ocis/deployment/examples/ocis_ldap`
- `.env` file updated as [content of `.env` file](https://gist.github.com/kiranparajuli589/ae4846cf7c55df29a7b31a

[2022-09-29 06:52] SwikritiT commented on #4595
Facing a similar problem while trying to test this documentation https://owncloud.dev/ocis/deployment/ocis_s3/

[2022-09-29 07:03] amrita-shrestha commented on #4567
done

[2022-09-29 07:03] #4567 closed

[2022-09-29 07:46] rhafer commented on #4688
I'll look into this. As I am working on the other notifications issue already.

[2022-09-29 08:43] micbar commented on #1340
@SwikritiT This should be configurable. I can see the values in the ocis config file examples.

I fear that the ENV variables have been lost in the config refactoring.

[2022-09-29 08:44] SwikritiT commented on #4509
Done in #4710

[2022-09-29 08:46] butonic commented on #4275
I really don't like the swagger ui. I don't see a way to customize queries to play with the API. Can we move it to a seperate repo so that developers can use it? maybe as an example similar to ocis-hello? The we can add it to a developer environment...

[2022-09-29 09:00] SagarGi commented on #4509
@SwikritiT I have scanned as much possible. I think we have reused lots of code from core. Can't really find out possible code to be reused. So may be this issue can be closed. @saw-jan @amrita-shrestha

[2022-09-29 09:09] phil-davis commented on #4509
I merged #4710 so this issue is done.

[2022-09-29 09:09] #4509 closed

[2022-09-29 09:09] ScharfViktor commented on #4595
container setup:
env: mac m1, macOs Monterey v.12.3.1.

`docker run --rm -it \
    --mount type=bind,source=$PWD/ocis/ocis-config,target=/etc/ocis \
    owncloud/ocis init` doesn't work if you run `sudo chown -Rfv 1000:1000 $PWD/ocis/`

after starting ocis
[code]

Logging in is not possible:
`{\"id\":\"com.owncloud.api.settings\",\"code\":502,\"detail\":\"circuit breaker is open\",\"status\":\"Bad

[2022-09-29 09:29] butonic commented on #4630
@kobergj following the steps above on edge ocs does not even see the share in the ListShares call. When the GranteeEqual comparison iterates over the shares in https://github.com/cs3org/reva/blob/7e300c41608401c96515cd317a371941c688ff58/internal/http/services/owncloud/ocs/handlers/apps/sharing/shares/shares.go#L1482-L1486 it does not get a chance to stop the request.

That is by design of the json

[2022-09-29 09:33] amrita-shrestha opened #4712 "[old/new/spaces] In ocis and oc10, `REPORT` request response differently"
## Describe the bug

While searching for files | folder with REPORT method, different response comes in oc10 and ocis
- **d:getlastmodified** date format is different in ocis and oc10
- **d:getetag** is empty in ocis
-  **oc:size , oc:owner-id, oc:owner-display-name** absent in ocis
-  **oc:name, d:resourcetype , d:getcontentlength, oc:score** absent in oc10

## Steps to reproduce

Steps to reprod

[2022-09-29 09:35] amrita-shrestha commented on #4686
Related issue: https://github.com/owncloud/ocis/issues/4712

[2022-09-29 09:47] amrita-shrestha commented on #4009
Currently, `permissions` property in ocis exists and same as oc10 . But there are other differences present in `REPORT` request
For detail visit this issue: [In ocis and oc10, REPORT request response differently](https://github.com/owncloud/ocis/issues/4712)

[2022-09-29 09:48] kobergj commented on #4630
I see. Looks like we were working in different directions. Before we were trying to keep share manager free from business logic, hence it would return all shares on `ocs` service filters them by need.
If we switch direction we need to replicate the logic in all share managers.

[2022-09-29 10:34] amrita-shrestha commented on #4687
the related feature will not be implemented in spaces. Reference https://github.com/owncloud/ocis/issues/3085#issuecomment-1183442020 . So not running tests in spaces

[2022-09-29 11:29] butonic commented on #4630
@micbar I cannot reproduce the last step in

In https://github.com/cs3org/reva/pull/3287 I made OCS return a forbidden error, but the logic in the gateway already prevents the creation of a storage grant. And the jsoncs3 driver already returns an already exists error ...

Are you using cs3 or jsoncs3?

[2022-09-29 11:46] C0rby commented on #4406
I can't really reproduce this issue. I think [the initial error](https://github.com/owncloud/ocis/issues/4406#issue-1341768564) was correlating with an expired token or something like that. That would explain the `POST 0` status code because that is also what we see in cases when the token expires and the requests get canceled.

@michaelstingl, can we close this issue for now and work on [the toke

[2022-09-29 12:11] mmattel commented on #4275
Shall I remove the `graph-explorer` service from the ocis admin docs now?

[2022-09-29 12:17] micbar commented on #4275
yes, please.

[2022-09-29 12:28] micbar commented on #1340
The config from this PR https://github.com/owncloud/ocis/pull/2666/files has somehow been "refactured out" 😄

[2022-09-29 12:30] micbar commented on #4568
@pmaier1 Seems that we need the email thread.

Can I remove it from the GA Blocker list?

[2022-09-29 12:33] butonic commented on #4676
@C0rby wanted to use the default path encoding for href in https://github.com/cs3org/reva/blob/7e300c41608401c96515cd317a371941c688ff58/internal/http/services/owncloud/ocdav/net/net.go#L75-L77

now, href is defined as [`<!ELEMENT href (#PCDATA)>`](http://www.webdav.org/specs/rfc4918.html#ELEMENT_href) and PCDATA aka as parsed chartacter data in the context of an XML document means we only have to

[2022-09-29 12:36] pmaier1 commented on #4568
Ok.

Agreed.

[2022-09-29 12:46] #4406 closed

[2022-09-29 14:24] rhafer commented on #4595
@kiranparajuli589

You have `INSECURE=false` but are using traefik's default self-sign certificate. This can't work. That is basically what the error log is trying to say:

The proxy is trying to open an TLS connection to the idp, but can't verify the certificate because the hostname is not matching. The solution is to either get proper certificates, or run with insecure enabled.

[2022-09-29 14:26] #4703 closed

[2022-09-29 14:26] #4688 closed

[2022-09-29 14:46] micbar commented on #4516
@tbsbdr @dragotin
All possible options here were discussed with the team.

### Outcome

- The uploads in the upload folder are valid and could be resumed by the client any time
- We should not "just" delete incomplete uploads
- We should not "reserve" disk space at the beginning of each upload because
  - This makes denial-of service attacks easier
  - We cannot optimize for the worst case, in man

[2022-09-29 14:46] #4516 closed

[2022-09-29 14:49] #4692 closed

[2022-09-29 15:36] ScharfViktor opened #4717 "idm health get error"
ocis version: 2.0.0-beta.8

- run ocis locally
- try logging in as administrator (idm works)
- check health idm `ocis/bin/ocis idm health`

Actual:
`ocis/bin/ocis idm health
{"level":"fatal","service":"idm","error":"Get \"http://127.0.0.1:9239/healthz\": dial tcp 127.0.0.1:9239: connect: connection refused","time":"2022-09-29T17:28:50.094746+02:00","message":"Failed to request health check"}`

[2022-09-29 16:14] michaelstingl commented on #4516
oC10 cleans unfinished uploads/chunks after 24h

[2022-09-30 03:54] saw-jan commented on #1799
until reva is bumped: https://github.com/owncloud/ocis/pull/4716

[2022-09-30 03:56] SwikritiT commented on #2133
Any update on this issue?

[2022-09-30 05:43] kiranparajuli589 commented on #4595
@rhafer, thx. now I understand the error message.

But, According to the [documentation],

For this, do you suggest we test with `INSECURE=true`?
Also, If we want to get proper certificates, can you please suggest to us how to find/build one?

[2022-09-30 05:51] grgprarup commented on #4706
This issue is similar to the issue https://github.com/owncloud/ocis/issues/4091. The tests are skipped for OCIS https://github.com/owncloud/core/pull/40225. @individual-it @kiranparajuli589 Can we skip these tests as discussed in the comment https://github.com/owncloud/ocis/issues/4091#issuecomment-1191217498?

[2022-09-30 06:14] micbar commented on #4595
@kiranparajuli589 Traefik can obtain proper certificates, but only if you run ocis on a publicly reachable domain.

Traefik can generate LetsEncrypt Certs. LetsEncrypt does an ACME Challenge via a `.well-known` path on the public domain. That doesn't work if you run the docker-compose example locally.

[2022-09-30 07:02] individual-it commented on #4674
I think there is still a bug with how the names are generated, the code does not seem to look into the current situation, but remembers the counter:
1. as user1 create a folder
2. as user2 create a folder with the same name
3. as user1 and user2 share the folder with user3
4. as user3 accept both shares
5. as user1 and user2 delete the shared folders
6. as user1 and user2 forget everything about w

[2022-09-30 07:14] pmaier1 commented on #2133
If that's not needed for anything else, I agree. I've called it 'obsolete' earlier https://github.com/owncloud/ocis/issues/2133#issuecomment-897011414. Unless I got something wrong, of course.

[2022-09-30 07:38] butonic commented on #1340
@mmattel I'll take A look and ping you in the PR

[2022-09-30 08:44] SagarGi commented on #4671
The above following acceptance has been added so moving this to Done.

[2022-09-30 09:48] mmattel opened #4725 "Environment variable for the data path possibly inconsitent"
## Describe the bug

Just discussed with @micbar the env variable defining the location of the ocis data folder:
* We describe in our admin docs the env variable `OCIS_BASE_DATA_PATH` in [Define the Infinite Scale Data Path](https://doc.owncloud.com/ocis/next/deployment/general/general-info.html#define-the-infinite-scale-data-path). This is the only variable known to me so far defining the data pa

[2022-09-30 09:58] JammingBen opened #4726 "Add `shareId` and `shareRoot` in OCS response"
Web needs the `shareId` and `shareRoot` of an outgoing share in the OCS response (similar to how it's done in the `PROPFIND` and `REPORT` requests). This is important for the following scenario:

* `userA` has `folder/file.txt`
* `userA` shares `folder` with `userB`
* `userB` re-shares `folder` with and `file.txt` with `userC`
* Now user `userB` requests his outgoing shares via the OCS endpoint: t

[2022-09-30 09:59] JammingBen commented on #4726
@micbar fyi as briefly mentioned, this currently is a GA-blocker for Web.

[2022-09-30 09:59] kulmann commented on #4726
`shareRoot` is needed as well :-)

[2022-09-30 10:08] phil-davis commented on #4726
* `userA` shares `folder/file.txt` with `userB`
* `userB` re-shares `folder` with and `file.txt` with `userC`

I do not understand this. If `userA`  has shared `folder/file.txt` with `userB` then `userB` receives just `file.txt`.

So how does `userB` re-share `folder` ?

[2022-09-30 10:10] JammingBen commented on #4726
@phil-davis Sorry, I adjusted the scenario to make it clear: `userA` has `folder/file.txt`, but only shares `folder`.

[2022-09-30 10:12] kulmann opened #4727 "Add ParentId in OCS and webdav REPORT responses"
Web offers a navigation into parent folders in various pages / situations:
- for file listings on search result page or in the search preview items (each file can and likely has a different parent)
- share listings on shared with others / shared via link pages (each shared file could have a different parent)
- in personal/project spaces when looking at the `Shares` section in the right sidebar of

[2022-09-30 10:31] SagarGi commented on #4682
This is the debug Build:
https://drone.owncloud.com/owncloud/ocis/15865/42/13

[code]

[2022-09-30 10:39] kiranparajuli589 commented on #4595
@rhafer @micbar thx for the clarifications.
tried with `INSECURE: true` and everything works fine (since we were testing locally).

p.s. testing using some server and public domain is not yet tested.

[2022-09-30 11:01] butonic commented on #4446
ah, it uses today as in 00:00 today, which already passed

[2022-09-30 11:15] #4630 closed

[2022-09-30 12:51] ScharfViktor commented on #4725
base path by default:
- `$HOME/.ocis/` - binary setup
- `/var/lib/ocis` - container setup

after starting ocis init and ocis server without extra vars we have following structure:
PWD/.ocis/
- config
- idp
- idm
- storage
- ....

envs:
`OCIS_BASE_DATA_PATH`
`OCIS_CONFIG_DIR`
`STORAGE_USERS_OCIS_ROOT`

1. to change config dir `PWD/.ocis/config` we use env `OCIS_CONFIG_DIR=newConfigDir`
2. to change

[2022-09-30 13:00] mmattel commented on #4725
Update, post a discussion with @kobergj we can bring in some light, hopefully I got it correct.

We have two data types that are covered by the variables above. User data and system relevant data. and we have config data

* If only using/defining `OCIS_BASE_DATA_PATH`, user data, system relevant data and config are on the same path. This is because `STORAGE_USERS_OCIS_ROOT` and `OCIS_CONFIG_DIR` d

[2022-09-30 13:16] ScharfViktor commented on #4725
here is bug:
- clean .ocis dir `rm -rf /.ocis`
- run init: `OCIS_BASE_DATA_PATH=/Users/scharfviktor/.ocisNew ocis/bin/ocis init`

Actual: config created in default dir `.ocis`
![Screenshot 2022-09-30 at 15 14 14](https://user-images.githubusercontent.com/84779829/193277936-033a04ed-6fab-4c9c-baad-7c020763b291.png)

[2022-09-30 13:39] dragonchaser commented on #4725
Looks like `ocis init` does not evaluate `OCIS_BASE_DATA_BATH`.
It gets the path from https://github.com/owncloud/ocis/blob/f91a0b45a50fa9110d559dcbeeee8e5bab8c93f4/ocis-pkg/config/defaults/paths.go#L48 which does not evaluate the env var and only defaults to the home dir or whatever is hardcoded in `BaseConfigPathValue`

[2022-09-30 13:41] kobergj commented on #4725
Sorry, I think there is still some confusion here.

`OCIS_CONFIG_DIR` does not default to `$OCIS_BASE_DATA_PATH/config` it is an independent config value.
`STORAGE_USERS_OCIS_ROOT` however does to default to `$OCIS_BASE_DATA_PATH/config` if not set.

[2022-09-30 14:43] mmattel commented on #4725
@kobergj you are right, my fault.
Accodring to the documentation `OCIS_CONFIG_FILE`
[code]
The default data path again seems to be dependent on if you use binary or container install, see: [container mount option](https://doc.owncloud.com/ocis/next/deployment/container/container-setup.html#recurring-start-of-infinite-scale)
[code]
and looking into the default of `STORAGE_USERS_OCIS_ROOT` it is `~/

[2022-09-30 15:08] butonic commented on #3561
started implmentation in https://github.com/cs3org/reva/pull/3300

[2022-10-04 07:28] rhafer commented on #3063
Seems the exalate bot is acting strange here. Moving back to done ..

[2022-10-04 07:28] #3063 closed

[2022-10-04 08:38] mmattel commented on #4725
I think we have the solution now, with many thanks to @rhafer.

1. The admin docs need to be updated describing the usecase and the defaults.
Yes, there is more than one default, the dependency is based on the build (binary/container)
`OCIS_CONFIG_DIR`
`OCIS_BASE_DATA_PATH`
`STORAGE_USERS_OCIS_ROOT`

2. The description of `STORAGE_USERS_OCIS_ROOT` needs to be updated.
-- Make the usecase clear
--

[2022-10-04 12:05] kulmann commented on #4727
And another use case: after deleting the current folder the web ui navigates up to the parent folder. That led me to the thought: Would be really helpful if we'd have the parentId in all propfinds as well. Saves us from doing a propfind on the parent path just for navigating there... from what you showed me last week this should be easy to achieve, right?

[2022-10-04 14:57] butonic commented on #4275
removed by https://github.com/owncloud/ocis/pull/4733, closing

[2022-10-04 14:57] #4275 closed

[2022-10-04 15:02] butonic opened #4739 "recreate graph-explorer extension in dedicated repo"
after [removing the graph-explorer](https://github.com/owncloud/ocis/pull/4733) we should
- [ ] introduce an owncloud/graph-explorer repo
- [ ] import the deleted code from https://github.com/owncloud/ocis/pull/4733
- [ ] add a deployment scenario/documentation that shows how to include it, maybe only for certain users (the proxy can do that already)

it would serve as an example for a more intere

[2022-10-04 15:03] butonic commented on #4275
bringing it back as a standalone service is tracked in https://github.com/owncloud/ocis/issues/4739

[2022-10-04 15:44] C0rby commented on #4739
I don't think the `graph-explorer` is a tool that one would want it production. I see it more as a tool for developers.
If we want to showcase the "extension system" then we could implement something simple like a very simple pastebin/gist clone.

[2022-10-05 14:54] ScharfViktor opened #4744 "Searching for the ":" character gives 500"
ownCloud Web UI 5.7.0
 Infinite Scale 2.0.0-beta.8+e053f7095 Community

Steps:

- create folder with simbol "new:folder"
- try to find folder by "new:folder" or ":"

Actual: 500 server error
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/84779829/194091942-06a281d0-3927-4fd0-a73b-f5fe254321b5.png">

[code]

[2022-10-05 15:06] ScharfViktor opened #4745 ""Precondition Failed" when uploading a file into a folder with the "?" character"
ownCloud Web UI 5.7.0
Infinite Scale 2.0.0-beta.8+e053f7095 Community

Steps:

- create folder with simbol "?" `new?folder`
- try to upload the file to the folder

Actual: 412 Precondition failed
<img width="1436" alt="image" src="https://user-images.githubusercontent.com/84779829/194094077-cc5782f8-64c0-48d6-8551-59b7d6d50a4a.png">

log:
`ocis_1             | 2022-10-05T15:02:31Z ERR failed to in

[2022-10-05 18:57] micbar opened #4746 "Scenario for a single space restore from backup"
## Is your feature request related to a problem? Please describe.

In the lifetime of an ownCloud instance, it can happen that users delete data which should not be deleted. Even despite the "two
-step" process through the trashbin, it has happened and will happen again. In these cases, a sysadmin team is often ask to restore only a part of  the storage snapshot without a full "overwrite from back

[2022-10-05 18:58] micbar commented on #4746
@butonic Any ideas?

@C0rby I remember a CLI tool which you was using to work with the decomposedFS?

[2022-10-05 18:59] micbar commented on #4746
@xoxys FYI, thanks for the reminder.

[2022-10-06 08:31] ScharfViktor commented on #4517
re-tested on fresh master. I couldn't reproduce this.
![Screenshot 2022-10-06 at 10 26 12](https://user-images.githubusercontent.com/84779829/194262779-086a0369-a707-4444-bd90-43bd69943326.png)

[2022-10-06 09:49] C0rby commented on #4746
It is https://github.com/c0rby/dcfs but this tool needs to be updated to support the current layout of the dcfs.

[2022-10-06 13:23] butonic commented on #4726
Do I understand correctly that you would like to see a new property `share_id` and `share_root` in every share entry of the outgoing shares list?

### `share_id` is a confusing name and a bad concept
`share_id` is not very descriptive, especially since we have `id`, which is the id of the share itself. There is `parent` but that is used for group shares, which are the parent of user individual acc

[2022-10-06 21:47] micbar commented on #4727
REPORT requests are still pending.

[2022-10-07 06:42] JammingBen commented on #4726
@butonic `parent_share_id` would be a more fitting name, yes.

We need this ID to properly build URLs in the share jail. These URLs look like: `https://host.docker.internal:9200/files/spaces/share/from-jannik?shareId=1284d238-aa92-42ce-bdc4-0b0000009157%3Adf05dd65-6787-460c-a83f-90d4fe05318e%3A4214c7b3-ac6e-4a45-a099-9b241c3592b0`. Without the `shareId`, the URL would not resolve correctly.

This

[2022-10-07 06:59] wkloucek opened #4754 "Login issue with clients"
## Describe the bug
I'm running into an issue when logging in for the first time: the user name is grayed out and can't be selected. Only when I open the OIDC login a second time can I select the account

## Steps to reproduce

Steps to reproduce the behavior:

1. have an oCIS with the builtin IDP
1. use iOS / Desktop Client
2. set up the client to sync

## Expected behavior
Login is possible on t

[2022-10-07 07:02] micbar commented on #4754
duplicate of #4704

[2022-10-07 07:05] #4754 closed, assigned to nobody

[2022-10-07 08:32] butonic commented on #4726
You could glue together the sharejail space id `a0ca6a90-a365-4782-871e-d44447bbc668$a0ca6a90-a365-4782-871e-d44447bbc668` with a shares `path` property and navigate using that, e.g.:
`https://{{HOST}}/dav/spaces/a0ca6a90-a365-4782-871e-d44447bbc668$a0ca6a90-a365-4782-871e-d44447bbc668/folder/subfolder` when a share has the `path` `/folder/subfolder`.

The `a0ca6a90-a365-4782-871e-d44447bbc668$a0c

[2022-10-07 10:26] dschmidt opened #4758 "PROPFINDs on single file public link files return incorrect href and downloadURL"
## Describe the bug

PROPFINDs to a filename in a single file (!) public link share return invalid `href` and `downloadURL`. The filename seems to be appended to whatever was requested instead of the root of the public link share.

## Steps to reproduce

1. Create a single file public link (user shares don't seem to be affected)
2. Do a `PROPFIND` on the file itself
3. See the filename duplicated

[2022-10-07 11:25] micbar commented on #4568
@pmaier1 @timar pinging

[2022-10-07 11:25] #4727 closed

[2022-10-07 11:28] micbar commented on #4726
@JammingBen @butonic Fine for now? Then please close with a  comment.

[2022-10-07 11:29] kulmann commented on #4726
We need to check that in web before we can close here.

[2022-10-07 12:43] micbar commented on #4727
All done so far.

The search index stores the parentID from now on. Existing items from the index will not have a `file-parent` but will get one when they are re-indexed.

`./ocis/bin/ocis search index --space <space> --user <user` can be used to recreate the index

[2022-10-07 13:19] butonic commented on #4727
recreating the index only works when a non memory registry is used. Otherwise `ocis search index ----space 1284d238-aa92-42ce-bdc4-0b0000009157$some-admin-user-id-0000-000000000000 --user admin` cannot look up the search service and will error.

Try setting `MICRO_REGISTRY=mdns` to use the mdns registry. But this needs to happen for both: running `ocis server` and `ocis search index ...`.

@rhafer

[2022-10-08 05:21] #4293 closed

[2022-10-09 18:59] nikslor opened #4762 "Error "Update mkParentDir failed" when using rclone with ocis"
## Describe the bug

I run into an issue when trying to sync my home dir to ocis (2.0.0) using rclone (1.61.1). On the client side I see messages like the following:

[code]

## Steps to reproduce

* Let's assume your working dir is ```/tmp/blackhole/ocis```
* create ```test.txt```: ```echo "Hello ocis" > test.txt```
* create a simple folder structure ```mkdir -p foo/bar/baz```
* copy ```text.txt`

[2022-10-10 03:18] SagarGi commented on #4682
@amrita-shrestha and @saw-jan this issue can be closed.

[2022-10-10 03:33] SwikritiT commented on #4517
I'll try again and close this if I can't reproduce it either

[2022-10-10 03:48] SwikritiT commented on #4517
Not reproducible in the current master. I am closing this as fixed.

[2022-10-10 03:48] #4517 closed

[2022-10-10 04:14] SwikritiT commented on #2133
@phil-davis @individual-it so we adjust our tests to current ocis behaviour which is

files_target: /Shares/<something>
Confirmed actions: create share, list share and others as sharee see https://github.com/owncloud/ocis/issues/2540

[2022-10-10 04:22] SwikritiT commented on #4595
Same for S3 storage

[2022-10-10 07:08] SwikritiT commented on #4682
The related tests in this closed issue will be removed once the web commit id id bumped so I'll be closing this issue now.

[2022-10-10 07:08] #4682 closed

[2022-10-10 10:15] saw-jan commented on #4595
While trying oCIS deployment in Kubernetes with helm chart, there were some commands and config changes required which are proposed in PR https://github.com/owncloud/docs-ocis/pull/245

[2022-10-10 10:21] individual-it commented on #2133
If I understand @butonic correctly that whole field `file_target` should disappear in ocis, so the expectation for ocis would be
[code]
Is that correct @butonic ?

@SwikritiT could you find out (git bisect) when `Shares` was added to the file-target?

[2022-10-10 10:26] SwikritiT commented on #2133
Okay I can do that

[2022-10-10 10:42] amrita-shrestha commented on #4681
The related test scenario has been removed for web in this PR https://github.com/owncloud/web/pull/7642/files#diff-84ec605d1f843cd4bca514136ee4c4c70f7ef5dfda0aaa2efff02ed45a92a50c. After web commit is bumped to ocis, we have to remove this scenario from expected failure.

[2022-10-10 10:52] saw-jan opened #4770 "GET request to non-existing file doesn't have response body"
## Describe the bug
A GET request to non-existing file doesn't have response body and Content-Type header

## Steps to reproduce

1. Try to GET non-existing file
[code]

## Expected behavior
To have response body like in oC10:
[code]

## Actual behavior
Has no response body and no `Content-Type`:
[code]

## Setup

Please describe how you started the server and provide a list of relevant environmen

[2022-10-10 11:14] SwikritiT opened #4771 "Preview action is listed twice for images/videos/mp3"
## Describe the bug

Preview option is listed twice for image/videos/mp3 files

## Steps to reproduce

Steps to reproduce the behavior:

1. As user `Einstein` upload an image file
2. Open the `Actions` in sidebar panel or open the details panel of the file

## Expected behavior
The `Preview` action should be listed only once

## Actual behavior
The `Preview` option is displayed twice
![Screenshot

[2022-10-10 12:13] kulmann commented on #4771
Please remove `preview` from your `apps` array. Has recently been moved to `apps_external` in ocis config defaults. Since you don't provide the `apps_external` key in your config.json the default from oCIS is added as well.

[2022-10-10 12:33] wkloucek opened #4772 "Stat cache doesn't get invalidated when using redis"
## Describe the bug

I'm using redis for the gateway cache:

[code]

When I upload a file into my home space, the etag of the homespace does not change. When I delete the file, the etag of the homespace does not change.

When I delete all keys in redis, the etag of my homespace changes.

## Steps to reproduce

Steps to reproduce the behavior:

1. run oCIS with redis gateway cache
2. upload / delet

[2022-10-10 15:49] ScharfViktor opened #4775 "Test-plan preparation"
https://cloud.owncloud.com/index.php/s/DkdsqXu8ZWY1BmF
feel free to make changes

<img width="694" alt="image" src="https://user-images.githubusercontent.com/84779829/198027085-c4ac603a-4a2b-42ff-ae33-2fd279e38cc8.png">

## Release Preparation
- [ ] headsup for clients release preparation
- [ ] Bump web 6.0.0 to ocis
- [ ] Bump reva to ocis
- [ ] Identify latest hash for upgrade test
  - Github

[2022-10-10 18:13] butonic commented on #4772
You need to configure the same redis database for the data provider that is started as part of the storage-users service.

[2022-10-11 04:30] kiranparajuli589 commented on #1285
response updated with respect to the current latest versions of oC10 and oCIS.

[2022-10-11 04:52] SwikritiT commented on #4771
Thanks, it's woking now.

[2022-10-11 04:52] #4771 closed

[2022-10-11 05:12] saw-jan commented on #1799
Related tests have been fixed.
Closing here!

[2022-10-11 05:12] #1799 closed

[2022-10-11 05:32] martadinata666 commented on #3808
In my case, im using ldap to login, and prefer uid instead uuid.
Then my `OCIS_ADMIN_USER_ID` will  be `OCIS_ADMIN_USER_ID=dedyms`. OCIS login fine, with admin but the storage spitting error.
[code]
In this case how long the uid name needed to prevent errprs? 9 chars? Thanks.

[2022-10-11 06:09] SwikritiT commented on #4595
@ScharfViktor Every checklist in this issue have been checked, maybe we can close this now?

[2022-10-11 07:23] #4595 closed

[2022-10-11 09:11] SagarGi commented on #4678
### Findings:
For features:
[code]
These tests tries to open `Shares` that is in root in `oc10` web but in `ocis` no shares folder is there since there is a separate `Shares` jail for it which is why the tests is failing.

Also for features:
[code]
These tests fails because when a user shares a folder to other in `oc10`(if Shares is not created by default) then the shared resources exist in the Al

[2022-10-11 09:19] SwikritiT commented on #4678
Yes skip them as there's never going to be `Shares` folder in Ocis in UI level but do add a comment n why the tests are skipped in ocis so that it's easier in future if someones happens to go through the tests again

[2022-10-11 13:05] dragotin opened #4783 "Upload File to Directory that was moved by other client (TUS)"
## Describe the bug

For this experiment, wo clients sync the same personal space with two desktop clients, one Linux client (A) and one Windows (B).

Both are in sync.

Client B puts a new file into the directory `Moon`. The client B detects that and starts to investigate (which takes long for some unknown reason) and upload.

Before that finishes, client A renames directory `Moon` to `Sun` on hi

[2022-10-11 13:59] dragotin commented on #4783
Tested the same with ownCloud 10 (Upload via propate upload NG):

Here the final move to the old dir fails, which makes the client abort the sync. Result: An error message in the client.

However, later the client B seems to detect the move of the directory and also moves the new file into the moved one, and repeats the upload of the new file.

So, in opposite to the oCIS case, the final result is

[2022-10-11 14:02] dragotin commented on #4783
Result/resolution: In the ownCloud 10 case, the final move that fails (upload NG) is coming back with status code `409 Conflict`. Maybe oCIS should reply the same status code, and the client (upload TUS) can react on that properly, how ever that is.

[2022-10-11 15:32] wkloucek opened #4785 "S3NG: EOF if blob is not accessible"
## Describe the bug

When using S3NG and a file's blob is not accessible, we get no real error code but an EOF on downloading the file.

## Steps to reproduce

Steps to reproduce the behavior:

1. run the [oCIS S3](https://github.com/owncloud/ocis/tree/master/deployments/examples/ocis_s3) example
2. upload a file
3. delete the blob via the minio GUI
4. download the file inside ownCloud Web

## Exp

[2022-10-11 16:02] kobergj commented on #4785
Mmh. We do return the error from minio-go client correctly: https://github.com/cs3org/reva/blob/experimental/pkg/storage/fs/s3ng/blobstore/blobstore.go#L130-L133

So somehow minio-go is just logging the error, but not returning it.

[2022-10-12 03:31] SagarGi commented on #4009
Since a detailed issue is related to `REPORT` method with various property. I am closing this issue. And @amrita-shrestha Please also update the expected to failure related to this issue.

[2022-10-12 03:32] #4009 closed

[2022-10-12 04:30] SagarGi commented on #4678
Can be closed since this PR is merged https://github.com/owncloud/web/pull/7766

[2022-10-12 04:30] #4678 closed

[2022-10-12 07:56] markv9401 opened #4787 "Auto-assigning the default 'User' role fails"
## Describe the bug

Auto-assigning the default 'User' role fails.
Also see the discussion about it: https://talk.owncloud.com/channel/infinitescale/thread/CXgxnAobTDrk5kmqx?jump=pphqPBZQmnn459wJT

## Steps to reproduce

Steps to reproduce the behavior:

1. Run the server with an LDAP backend, for example:
2. Try logging in with any user that's not specified as the admin in the aforementioned conf

[2022-10-12 08:07] JammingBen commented on #4726
We've found a solution by resolving reshares via the private link component in Web, which handles redirects via fileId only. This is okay for now, though not ideal. In the future, Web will be capable of resolving link via fileId regularly.

Anyway, the `shareId` is not needed in the OCS API then.

[2022-10-12 08:07] #4726 closed

[2022-10-12 08:25] SwikritiT commented on #2133
@individual-it `f2d36f663815e9a7cc41c5bbb0cfa827aef9f1e2` is the first bad commit. After this the `shares` got added to `file_target`

[2022-10-12 08:37] SwikritiT commented on #4339
As this issue has not been reproduced for a while now, @grgprarup is going to do a final check and maybe we can close this if it is not reproducible.

[2022-10-12 09:00] rhafer commented on #4787
Thanks. for the report. Looking at the debug logs,  I think you found a bug introduced by a recent change in our setttings service (likely this one: https://github.com/owncloud/ocis/pull/4615/commits/87eaf72020a71f9714ec2c1b396023f32a5d8523). :sob:

@micbar I think this deserves some priority as it is breaking external LDAP server setups.

[2022-10-12 09:16] grgprarup commented on #4339
Tried to reproduce this issue and is not reproducible locally and passing on recent nightly builds. So closing this issue.

[2022-10-12 09:16] #4339 closed

[2022-10-12 09:20] felix-schwarz opened #4788 "Capabilities indicate (currently) non-existing federation support"
## Describe the bug

Capabilities currently return `true` for
[code]

even though the server does not support federated sharing. The endpoint `/ocs/v2.php/apps/files_sharing/api/v1/remote_shares` only returns a 404 status.

## Steps to reproduce

Steps to reproduce the behavior:

1. Log into ocis instance
2. Retrieve capabilities
3. Retrieve remote_shares for an item

## Expected behavior
The capa

[2022-10-12 09:24] butonic opened #4789 "audit logs owner instead of executant for file uploads"
## Describe the bug

The FileUploadEvent has an owner property which is used is by the audit log to extract a uid. AFAICT the intention is to log who wrote a file. But in this case the owner is logged. The event also carries an Executant property, but it is ignored by the audit log.

## Steps to reproduce

Steps to reproduce the behavior:

1. upload a file into a received share
2. check the audit

[2022-10-12 09:59] amrita-shrestha commented on #4681
removed  in latest bump so closing this issue

[2022-10-12 09:59] #4681 closed

[2022-10-12 10:01] butonic commented on #4758
needs a reva update in ocis that pulls in https://github.com/cs3org/reva/pull/3324

[2022-10-12 10:08] butonic commented on #4788
currently hardcoded as true: https://github.com/owncloud/ocis/blob/24807bbac81dcd60a37fce1957c76a28c703d397/services/frontend/pkg/revaconfig/config.go#L236-L239

[2022-10-12 10:25] grgprarup commented on #4213
Tried to reproduce this issue, is not reproducible locally, and also passing on builds. So closing this issue.

[2022-10-12 10:25] #4213 closed

[2022-10-12 11:06] C0rby commented on #3843
The filter has been added to the CS3API.

[2022-10-12 11:06] #3843 closed

[2022-10-12 12:30] dragonchaser opened #4794 "[Trackingissue] Fix go-micro redis interface"
Tracker for fix in https://github.com/cs3org/reva/pull/3338

[2022-10-12 12:53] ScharfViktor opened #4795 "Failed to list storage spaces for members of the space"
ownCloud Web UI 6.0.0-rc.2
Infinite Scale 2.0.0-beta.8+24807bbac Community

Steps:

- Admin shares project space to einstein as editor
- Einstein opens space

Actual:
no errors on web. einstein can open space and edit
but there is server log:
`2022-10-12T14:43:34+02:00 ERR failed to list storage spaces error="error: permission denied: user 4c510ada-c86b-4815-8820-42cdf82c3d51 is not allowed to lis

[2022-10-12 13:10] JammingBen opened #4796 "Received shares exposed with share owner path instead of mount point"
## Steps to reproduce

1. Log in as admin and create the following resources:
   * `test.txt`
   * `folder/test.txt`
2. Shares both `test.txt` files with user `einstein`
3. As `einstein`, accept both shares
4. One of them will be mounted as `test (1).txt`
5. Look at this this share in the OCS shares response

## Expected behavior
The path of the share is `/Shares/test (1).txt`

## Actual behavior

[2022-10-12 13:25] JammingBen opened #4797 "Copy or move on an existing resource doesn't create a new version but deletes instead"
## Steps to reproduce

1. Via WebUI: As admin, create the following resources:
   * `folder/test.txt`
   * `test.txt`
2. Now copy `test.txt` into `folder/test.txt` and select "Replace" as option (the WebUI sets `Overwrite: T` as header)

## Expected behavior
`folder/test.txt` should have two versions.

## Actual behavior
`folder/test.txt` only has one version. The overwritten version has been dele

[2022-10-12 13:49] butonic commented on #4758
already pulled in as part of https://github.com/owncloud/ocis/pull/4781

[2022-10-12 13:49] #4758 closed

[2022-10-12 14:54] martadinata666 commented on #4787
placing myself here, as i got same issue.

[2022-10-12 17:19] dragotin opened #4803 "oCIS Single binary: Console cluttered with tusd logs"
## Describe the bug

Even if the single binary is started without Debug output enabled, there is a lot of logging from tusd, such as:
[code]
Should not appear.

[2022-10-13 05:10] individual-it commented on #2133
That is very old and its an update of reva, who knows what really happened in reva
I think we can take off the QA-team assignment for now, we need first to find out what is really the requirement.

[2022-10-13 06:38] grgprarup opened #4804 "Nightly failed on webUITests"
Test scenarios are passing:
Build: https://drone.owncloud.com/owncloud/ocis/16077/66/13
[code]

Build: https://drone.owncloud.com/owncloud/ocis/16077/69/13
[code]

Build: https://drone.owncloud.com/owncloud/ocis/16077/72/13
[code]
The tests are passing because they are skipped for OCIS with this PR https://github.com/owncloud/web/pull/7766, need to refactor the expected failures file.

[2022-10-13 07:33] wkloucek opened #4807 "webdav GET and InitiateDownload behavior on folders"
https://github.com/cs3org/reva/pull/3341 turned out that the testsuite performs webdav GET requests against folders and expects a status code 200.

We introduced a additional stat request in https://github.com/cs3org/reva/pull/3341 to skip a InitiateDownload of containers. Probably InitiateDownload should not allow initiating a download on containers at all!?

# Additional context
oC10 response on

[2022-10-13 08:51] #4804 closed

[2022-10-13 11:55] ScharfViktor commented on #4797
Ooh, this happens during copying. Uploading or moving a file with the "Replace" option works correctly. We have an api test for uploading with "Replace", but no tests for copying with "Replace". I will create tests for this case.

[2022-10-13 22:22] #4686 closed

[2022-10-14 07:01] kiranparajuli589 commented on #4460
https://community.harness.io/t/can-we-add-complex-logic-in-the-pipeline-trigger/12641

[2022-10-14 07:13] michaelstingl opened #4818 "Login loop on ocis.ocis-keycloak.latest.owncloud.works"
https://user-images.githubusercontent.com/214010/195785059-26afa855-10b0-4c78-b8a2-ff0fc0a7050a.mp4

Console + Network errors:

- [Console.txt](https://github.com/owncloud/web/files/9783335/Console.txt)
- [ocis.ocis-keycloak.latest.owncloud.works.har.zip](https://github.com/owncloud/web/files/9783341/ocis.ocis-keycloak.latest.owncloud.works.har.zip)

`Safari Version 16.0 (17614.1.25.9.10, 17614)`

[2022-10-14 07:44] wkloucek opened #4819 "ocdav service is exposing internal information"
## Describe the bug
the ocdav service is exposing internal information

## Steps to reproduce

Steps to reproduce the behavior:
1. have a broken storage-users service!?

## Expected behavior
ocdav gives some hint that it can't do anything / internal server error

## Actual behavior
ocdav says internal server error and exposes internal information

[code]

[2022-10-14 07:55] butonic opened #4820 "Cannot test trashbin of non existing user via spaces"
## Describe the bug

The testsuite cannot look up the space of a non existing user:
[code]

Which all makes sense, because it is impossible to look up the space for a user.

AFAICT the only way to test this is by using a non existing spaceid and sending a propfind to its (non existing) trashbin endpoint.

[2022-10-14 08:24] butonic opened #4823 "Further distinguish single host deployments from docker compose deployments"
We already inject a different base path in release builds of ocis. See release.mk:
[code]

There was a question about enabling TLS or disabling it for single host deployments, as certificate rotation is not yet covered.

The goal for ocis releases is to be secure by default. We use `ocis init` to roll random keys and an admin password. While I think that makes sense I also see the use case for sin

[2022-10-14 08:53] butonic opened #4824 "A test requires provisioning API but is not annotated as such"
During https://github.com/cs3org/reva/pull/3300 and https://github.com/owncloud/core/pull/40406 I ran into this:
[code]

The test tries to use the provisioning API in reva but is not annotated as such. I'll add a new section in the expected failures file in https://github.com/cs3org/reva/pull/3300 and reference this issue.

[2022-10-14 14:11] felix-schwarz opened #4827 "Richer status for items processing on the server"
## Is your feature request related to a problem? Please describe.
Currently, items that are processing on the server can only be identified via their status `425` response, so clients can only show a generic message (i.e. "Processing on the server…"), but can't offer any real feedback or insight as to what's happening to the item - or its status in processing.

Scenarios where communicating status

[2022-10-14 15:00] butonic opened #4828 "add fileexporter for tracing"
if jaeger is not available we should at least be able to write traces to a file
There is https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/fileexporter

[2022-10-14 15:03] #4410 closed

[2022-10-14 16:16] georglauterbach commented on #4818
Similar issue here:

[code]

[2022-10-14 16:38] georglauterbach commented on #4423
Have seen this as well.

[2022-10-17 07:44] #4785 closed, assigned to wkloucek

[2022-10-17 09:38] kulmann opened #4834 "[ocis] Auto-accept shares"
## Value

Satisfy CERN requirements

## Acceptance Criteria
- The user can decide how the auto-accept behavior (user setting like "Get Mail Notifications")
- The admin can configure the default value for auto-accepting (default: auto-accept is enabled)
- Communicate auto-accept via capability (according to oc 10 behaviour)

[2022-10-17 09:38] kulmann commented on #4834
cc @micbar please prioritize as you see fit

[2022-10-17 11:36] kulmann commented on #4834
More context: what we will implement in web to mitigate the described scenario is the following: https://github.com/owncloud/web/issues/7803#issuecomment-1280679439

This is all we can do without having the shareId. As you can see, the user experience is not ideal. If shares would be auto-accepted users would see that error state in web only for declined shares.

[2022-10-17 12:27] tbsbdr commented on #4834
Confirmed.

Note: With VFS as default for the Desktop client, the default for shares should be to see them and in case if you dont want to see them, hide them. (discussed here: owncloud/web#7551 )

[2022-10-18 11:45] #3561 closed

[2022-10-18 12:31] mmattel opened #4842 "Give the language permission a proper PermissionID"
Referencing: https://github.com/owncloud/ocis/blob/master/services/settings/pkg/store/defaults/defaults.go

This came up because I am writing the docs about roles and permissions.

When reading the code regarding roles and permissions, I saw (example starting at line 110) that you have PermissionID's which are defined before.

It is interesting that one PermissionID has not been defined like the o

[2022-10-18 13:19] #4772 closed

[2022-10-18 13:24] butonic commented on #3808
9 chars, yes. you can use uid to login, but please add a uuid like property for you users. I recommend a custom ownclouduuid attribute that you can fill with a uuid.

names change or may be reused. you need a uuid to prevent collisions in those corner cases.

[2022-10-18 13:39] C0rby commented on #4796
@JammingBen, can you try this again with the current oCIS master?
I could not reproduce this, the response in my case looks fine.
[code]

[2022-10-18 13:40] C0rby commented on #4796
If you can still reproduce this issue, could you show me the request you sent?

[2022-10-18 14:04] JammingBen commented on #4796
@C0rby Seems to be working with the OCS endpoint now, yes 👍  However, `shareRoot` in `REPORT` and `oc:meta-path-for-user` in meta requests still reveal the wrong path.

[2022-10-18 14:11] C0rby commented on #4796
Thanks, I'll have a look at the `REPORT` response. :+1:

[2022-10-18 14:31] martadinata666 commented on #4787
Still fail if LDAP_USER_FILTER from some group existed.
So here is the condition, this is the working but im using UID instead UUID.
[code]

But when changing uid to uuid, i got access denied, another weird issue is when LDAP filter is empty or just checking uid like `(|(uid=user1)(uid=user2))` it will login fine.
[code]

[2022-10-18 14:45] martadinata666 commented on #3808
yes, thanks for the advice and confirming 9chr limits, im leaning to uid because there is ldap role issue with pre-exis ldap system.

[2022-10-18 15:35] michaelstingl opened #4843 "[Spaces] New Spaces type for "Share Jail""
Currently the "Share Jail" has the type "virtual". According to @butonic , there might be more "virtual" Spaces in the future. That's why clients will rely on the UUID (https://github.com/owncloud/client/issues/10196 to identify the Share Jail, https://github.com/owncloud/ios-app/issues/1164), but this feels fragile too. Desktop and iOS app will use the virtual Share Jail for quite some while, bec

[2022-10-18 15:55] michaelstingl opened #4844 "[Spaces] Change Space names in /graph/v1.0/me/drives to be more useful for clients"
"Personal" Space and "Shares" Space have very strange names in the API response from `/graph/v1.0/me/drives`

[code]

[code]

In the desktop and mobile clients, it should look like this:

![CleanShot 2022-10-18 at 17 51 19@2x](https://user-images.githubusercontent.com/214010/196480683-53a098cc-0e67-4ed5-8e6b-9bd4d92f62ce.png)

Currently, desktop and mobile clients have "Personal" and "Shares" hard

[2022-10-18 16:04] michaelstingl opened #4845 "[Spaces] Grace period before disabling / deleting Spaces"
Disabling or deleting a Space could cause serious problems for the clients, for example with currently running uploads. (dataloss!!)

I want to propose a grace period. Whenever an admin disables or deletes a Space in the web UI, a dialogue should open with a date picker, at which date the Space will be really disabled or deleted.

During the grace period, clients should tell their users, that the

[2022-10-18 16:15] ScharfViktor opened #4846 "Restoring from trash is not possible after changing the path of the parent folder"
ownCloud Web UI 6.0.0-rc.2
Infinite Scale 2.0.0-beta.8+f442970f1 Community

Steps:
- create folder `f1`
- create file `file.txt` into folder `f1`
- deletes file `file.txt`
- rename folder `f1` or move folder in another place or delete
- try to restore `file.txt`

Actual: PROPFIND request of the trash bin `https://localhost:9200/remote.php/dav/spaces/trash-bin/uuid` contains original parent path in

[2022-10-18 16:24] michaelstingl opened #4847 "[Sharing] Announce new, roles-based sharing with a new capability for better client support"
oCIS sharing based on roles, is very different from the oC10 sharing. To let clients support the new, roles-based oCIS sharing, a new capability is needed. The hack from ownCloud we, to always send the new oCIS roles AND the old oC10 bitmask, isn't a nice approach (oC10 ignores the roles, oCIS ignores the bitmask)

@micbar is this something quick?

/cc @TheOneRing @felix-schwarz @kulmann

[2022-10-18 16:57] michaelstingl opened #4848 "[Shares] New endpoint that announces (sharing) roles for clients"
oCIS comes with a new, roles-based sharing concept. It would be beneficial, if clients wouldn't need to hardcode the different roles and permissions, but instead could request them from the backend, to also support future changes. (new, dynamic roles?)

Hardcoded example from ownCloud web:
https://github.com/owncloud/web/blob/master/packages/web-client/src/helpers/share/role.ts

For inspiration, m

[2022-10-18 19:45] markv9401 commented on #4787
Managed to trace the bug:
[code]
And printing the `err` variable at  [services/graph/pkg/identity/ldap.go # 375](https://github.com/owncloud/ocis/blob/master/services/graph/pkg/identity/ldap.go#L375) holds:
```LDAP Result Code 80 "Other": Error while searching user "ou=people,dc=rowra,dc=org": Database error: `error returned from database: ambiguous column name: uuid````

(OCIS later throws the ac

[2022-10-19 03:50] SwikritiT opened #4849 "e2e test integrations/searchProjectSpace.ocis.feature:3 failed in nightly"
Build: https://drone.owncloud.com/owncloud/ocis/16226/78/9
Following scenario failed on nightly and needs further investigation
[code]

[2022-10-19 04:18] SwikritiT commented on #4685
@amrita-shrestha maybe we can close this issue now and other issues related to PR https://github.com/owncloud/core/pull/40392 ?

[2022-10-19 04:24] SwikritiT commented on #4849
failed here too: https://drone.owncloud.com/owncloud/ocis/16227/78/9

[2022-10-19 05:24] saw-jan commented on #4849
The description has a different build link :cry:

[2022-10-19 05:35] SwikritiT commented on #4849
Sorry for my mistake. I copy pasted the wrong link. It's updated now

[2022-10-19 05:57] saw-jan commented on #4849
As per the initial investigation, the test failure is due to the race condition. Search shows `No results` on normal test run speed but passes with some slow-mo set.
![ss](https://user-images.githubusercontent.com/52366632/196608659-e96e8273-5a00-4172-b796-02b54d8e4a29.jpeg)

[2022-10-19 08:50] michaelstingl commented on #4847
@micbar you propose something?

[2022-10-19 08:56] JammingBen commented on #4796
Another few cases I noticed, although I'm not quite sure if they are legit. When doing the following:

* as `user1` share a text file with `user2`
* as `user2` accept the file
* as `user1` rename the file

Now as `user2`, I request my incoming shares via the OCS API. I get:

[code]

`path` is correct, but `storage_id` shows the renamed path?

Then, when opening the file with the text editor in Web

[2022-10-19 09:17] #4685 closed

[2022-10-19 09:18] amrita-shrestha commented on #4685
This issue related PR has been merged so closing

[2022-10-19 09:19] #4687 closed

[2022-10-19 09:19] amrita-shrestha commented on #4684
This issue related PR has been merged so closing this issue

[2022-10-19 09:19] #4684 closed

[2022-10-19 09:41] micbar commented on #4848
@michaelstingl @felix-schwarz Thanks for the writeup.

The sharing roles and permissions should be maintained by the backend and are different per space. That is already the case today. A `Viewer` (sharing in personal spaces) already has different permissions than a `SpaceViewer`.

IMO we need unique identifiers per sharing role. The bitmask will completely disappear because we do not have a 1:1 r

[2022-10-19 09:49] micbar commented on #4848
@pmaier1 @tbsbdr For me this is a post GA topic.

[2022-10-19 09:53] ScharfViktor commented on #4849
test ran locally for me at the default speed. I think it isn't due to the race condition, perhaps the re-creation of the search index was slower than the test.

A file has been created, but not found. The test waits for the upload and after the upload clicks `#close-upload-info-btn`. `npx playwright show-trace https://cache.owncloud.com/public/16226/tracing/search-in-the-project-spaces-alice-2022-

[2022-10-19 10:00] saw-jan commented on #4849
Yeah true, file upload is successful everytime. Search index might have taken some more time to be updated.
This very exact problem was also with acceptance tests a while ago and there the explicit wait was added as a means to reduce the flackyness (see https://github.com/owncloud/web/pull/7675/commits/f77d04015c66770718637f4668ce293166cb6874)

Without using waits I couldn't find other solution fo

[2022-10-19 10:02] saw-jan commented on #4849
For me, test fails locally everytime. Only works if wait is added (`> ~500ms`)

[2022-10-19 10:14] ScharfViktor commented on #4849
let me think about it. It's hard to do anything when it's not reproduce. Maybe before normal searching send first REPORT request as check health? To eliminate the strick waiting

[2022-10-19 10:33] tbsbdr commented on #4848
already on the (still raw) list 

<table><tbody><tr><td colspan="1">Roles and Permissions: allow customizations</td></tr></tbody></table>

[2022-10-19 11:17] saw-jan commented on #4849
PR has been created but to take that into effect, web commit id needs to be bumped here in oCIS.

[2022-10-19 12:37] C0rby commented on #4796
@micbar, what is the `shareRoot` used for?

[2022-10-19 13:20] JammingBen commented on #4796
Web uses the `shareRoot` on the search result page to properly resolve links into the share jail.

[2022-10-19 13:22] felix-schwarz commented on #4848
I just added `identifier` to the table in the proposal above.

Yeah, I noticed the bitmask values are different depending on file/folder/space.

Ok. Until then, is there documentation available describing the current API?

[2022-10-19 14:11] C0rby commented on #4796
@JammingBen, what would you expect in that field?
`/test.txt` or `/Shares/test.txt`?

[2022-10-19 14:16] JammingBen commented on #4796
The way it's currently built in Web, we don't expect it to be prefixed by `/Shares`.

[2022-10-19 14:28] michaelstingl opened #4858 "502 Bad Gateway on /ocs/v2.php/cloud/user?format=json"
## Describe the bug

Desktop client can't login, because the user endpoint (` /ocs/v2.php/cloud/user?format=json`) responds with `502 Bad Gateway`

## Steps to reproduce

Steps to reproduce the behavior:

1. Install 3.0 pre-release client (https://github.com/owncloud/client/releases?q=v3.&expanded=true)
2. Connect with `ocis.ocis-keycloak.latest.owncloud.works` or `ocis.ocis-keycloak.released.ownc

[2022-10-19 15:09] pmaier1 commented on #4848
This is a different topic. The point here is to allow the clients to retrieve the available roles in **sharing** from the server in order to avoid hardcoding them in every client.

Agree that it is a post-GA topic. It should be tackled together with enabling sharing on the native clients.

[2022-10-19 23:23] #4820 closed

[2022-10-20 07:58] micbar commented on #4844
@michaelstingl @pmaier1

I see no problem in renaming `Shares Jail` into `Shares`

But for the personal Space i don't like the idea of naming them all the same. On the graph api we can sort spaces by

1) Name
2) type
3) Date Last modified

Not being able to sort spaces by name in a meaningful way could bite us in the future. You could argument, that this is not a problem because we currently have

[2022-10-20 08:31] micbar commented on #4847
[code]

[2022-10-20 08:32] micbar commented on #4847
@michaelstingl see the example `"sharing_roles": true,`

[2022-10-20 08:36] michaelstingl commented on #4847
@TheOneRing would this help you to open the web UI for sharing when connected to oCIS servers?

[2022-10-20 08:40] TheOneRing commented on #4847
The issue for the client are not only the roles.
The share widget is at an ownCloud ~10.1 state and in a bad shape.

[2022-10-20 09:56] TheOneRing commented on #4847
Sounds good.

[2022-10-20 11:56] #4796 closed

[2022-10-20 12:03] micbar commented on #4847
Implemented in https://github.com/cs3org/reva/pull/3381

needs reva update.

[2022-10-20 12:04] micbar commented on #4704
@JanAckermann @C0rby Can you post any findings already?

[2022-10-20 12:08] C0rby commented on #4704
So what I found was that `loading` here doesn't become `false`

[2022-10-20 13:00] pmaier1 commented on #4844
I think that every user should see their personal Space as 'Personal', not by their display name or similar. 'Shares' should be shares and other (project) Spaces should be called by their name. This is of course for client UIs and those would be happy to get this information from the server in order to not require hardcoding. The API could maybe still offer different information additionally?

[2022-10-20 13:18] kulmann commented on #4844
FYI in web we rewrite the name of the own personal space to `Personal` for further display usage. That matches with @pmaier1 opinion.

[2022-10-20 13:21] micbar commented on #4844
@kulmann @pmaier1 Yes you are both right, i see it the same. My only point is, to move the "Personal" Space name to the clients. They need to translate it anyway.

[2022-10-20 14:27] ScharfViktor opened #4866 "Search by renamed incoming resource does not work"
ownCloud Web UI 5.7.0
 Infinite Scale 2.0.0-beta.8+07475407d Community

Steps:
1. Log in as admin and create the following resources:
   * `foo.txt`
   * `folder/foo.txt`
2. Shares both `test.txt` files with user `einstein`
3. As `einstein`, accept both shares
4. One of them will be mounted as `foo (1).txt` (need refresh page)
5. Rename the other received file to  `foo renamed.txt`
6. Try to find

[2022-10-21 10:23] #4788 closed

[2022-10-21 10:23] #4847 closed

[2022-10-21 10:23] #4844 closed

[2022-10-21 11:27] JammingBen commented on #4866
Some more context can be found here: https://github.com/owncloud/ocis/issues/4796#issuecomment-1283662871 and https://github.com/owncloud/ocis/issues/4796#issuecomment-1283694534. It basically affects the OCS as well as the webdav API.

[2022-10-21 11:38] micbar commented on #4818
should be fixed by #4867

Waiting for the automated deployment.

[2022-10-21 11:39] micbar commented on #4858
should be fixed by #4867

Waiting for CI to finish the deployment

[2022-10-21 13:35] mmattel opened #4877 "New permission SpaceManagement"
References the [roles and permissions]( https://github.com/owncloud/ocis/blob/master/services/settings/pkg/store/defaults/defaults.go) code

For completeness, we imho need a new permission like `SpaceManagement` that defines the ability to manage a space.

Example: a space admin creates a space (allowed) and then transfers the right to manage the space to a user (undefined).

@micbar @kulmann fyi

[2022-10-21 13:39] kulmann commented on #4877
Your example is actually covered by the `Manager` space member role. As the space admin created the space, they automatically receive the `Manager` space member role. That role can be transferred to another user then.

What's not covered (at least to my knowledge) is, that a space admin adds a new `manager` member to a space where the space admin is not a `manager` member themselves.

Looking at t

[2022-10-21 14:22] mmattel commented on #4877
First of all, I wanted to initiate a discussion about this to have properly fix in the future.

Then, when reading the text, I see that there is an implicit permission type named "Manager", as part of the space - which you cant see, but is present. If we would turn that implicit permission type to an explicit one, we could then grant permissions (PermissionValue) which would immediately make this

[2022-10-21 20:24] micbar commented on #4877
Space Member == Access to space content

You can only become a space member through access roles (!!! These are not User Roles !!!). Currently we only have 3 access Roles: Manager, Editor, Viewer

Maybe I don't get your point, but that is exactly what we have. We have Global User Roles where we grant permissions to the handling and Lifecycle of a space (Create, Delete, Disable, Restore, Change Quo

[2022-10-21 20:31] micbar opened #4879 "Locking issue is back"
## Describe the bug

A clear and concise description of what the bug is.

## Run CI decomposedFS concurrency test

[code]

## Expected behavior
A clear and concise description of what you expected to happen.

## Actual behavior
A clear and concise description of what happened.

## Setup

Please describe how you started the server and provide a list of relevant environment variables or configuratio

[2022-10-21 22:51] kulmann commented on #4877
To be clear, the web ui is very far away from offering space management functionality **without** content access. Never heard of that requirement before (if I have space management privileges and can add myself to a space as a member, it doesn't make sense to try to hide the content of the space in the first place). Managing space access is fundamental part of the content-view of a space. Not givi

[2022-10-23 10:02] micbar commented on #4877
Closing as the product is working as designed.

[2022-10-23 10:02] #4877 closed

[2022-10-23 12:57] jostreff opened #4880 "FreeBSD 13/stable build problem - looks like freebsd is unsupported totally."
## Describe the bug
Can't be build from source still on FreeBSD stable/13-n252824-84b4709f38f with "gmake generate ; gmake build" as described.

## Steps to reproduce
# gmake generate
gmake[1]: влизане в директория „/usr/home/jostreff/ocis/services/app-provider“
gmake[1]: Няма нищо за правене за „generate“.
gmake[1]: излизане от директория „/usr/home/jostreff/ocis/services/app-provider“
gmake[1]:

[2022-10-24 06:32] #4858 closed

[2022-10-24 06:33] micbar commented on #4818
fix confirmed.

[2022-10-24 06:33] #4818 closed

[2022-10-24 06:49] wkloucek opened #4882 "WOPI / app provider panics if /hosting/discovery endpoint returns 404"
## Describe the bug

If the /hosting/discovery endpoint of a WOPI app returns a 404 (eg. if WOPI is not enabled for OnlyOffice), the app provider panics.

## Expected behavior
Print a clear and concise error message, eg:

`WOPI discovery failed. The endpoint returned status code 404. Do you have WOPI enabled on your office server?`

## Actual behavior
Stacktrace:
[code]

[2022-10-24 08:03] wkloucek opened #4884 "Frontend goroutine leak"
## Describe the bug

On oCIS **experimental** we saw a goroutine leak in the frontend service on uploads:

[code]

## Steps to reproduce

TODO: verify if it also happens on master

## Expected behavior
Goroutines are closed after work is done / timeout it exceeded

## Actual behavior
Uploads lead to a increase goroutines in the frontend service

![image](https://user-images.githubusercontent.com/3

[2022-10-24 08:11] dragonchaser commented on #4884
Will try to reproduce on master

[2022-10-24 12:40] dragotin commented on #4879
This is a typical log sequence from my Raspberry Pi where I get the error message often:
[code]
This seem to fail at the `xattr.List()` call in https://github.com/cs3org/reva/blob/master/pkg/storage/utils/decomposedfs/node/node.go#L636
I have no theory why, but I see this fail again and again (but not on every call).

`xattr.List()` uses a time loop to wait for being able to lock which goes up to

[2022-10-24 12:44] micbar commented on #4880
seems like a yarn issue. @kulmann any ideas?

[2022-10-24 13:01] dj4oC opened #4888 "oCIS Log out with open WOPI Document allows saving after log out"
If a document is open via WOPI (MS Office Online Edit Mode) and user logs out from oCIS / owncloud Web, document can still be edit and saved.
In my opinion this is a bug.
Please consider
Thank you

[2022-10-24 14:01] kulmann commented on #4880
If I remember correctly the idp web frontend needed node v14 for building successfully. For the current master / the upcoming ocis v2.0.0-rc.1 node v16 should work.

[2022-10-24 17:39] melbruki opened #4891 "Unexpected HTTP response: 500. Please check your connection and try again."
Hello I am a casual user just testing out OCIS I think its great I like how there are no dependencies this makes running on k8s nice, but I noticed problems I will list them out below. I have this running inside of microk8s I noticed these problems when I added another replica, I have a total of 2 replicas and 3 nodes. I am using metallb and a LB IP to access OCIS. I dont have a certificate instal

[2022-10-24 20:06] micbar commented on #4891
hi @melbruki

I don't know the details of your setup. The ocis container starts an ocis process inside the container if not configured different, in an "all-in-one" process. To scale ocis, you cannot just duplicate the whole ocis container and do a loadbalancing  in front of it if you do not share a "read-write-many" storage.

We are using our ocis helm chart to deploy ocis on k8s where we start t

[2022-10-25 01:37] melbruki commented on #4891
I am using read write many (rook-ceph), both pods start and run and even when one node goes down I'm still able to access the login page as expected from the remaining pod just how you would imagine And on occasion I am able to even login and it functions normally

The purpose is high availability, it's setup using your docker image where all of the services/ extension are running in one pod.  I p

[2022-10-25 03:57] saw-jan commented on #4849
Web commit bump has been made in PR https://github.com/owncloud/ocis/pull/4878 so now the new web test codes have been applied in oCIS.
Closing here!

[2022-10-25 03:57] #4849 closed

[2022-10-25 08:36] wkloucek opened #4894 "Every service starts bleve goroutines"
## Describe the bug

Start a service (except search). Have a look at the goroutines.

## Steps to reproduce

Steps to reproduce the behavior:

1. run a single oCIS service with pprof enabled
2. open the /debug/pprof endpoint and look at the goroutines

## Expected behavior
See no bleve goroutines

## Actual behavior
See bleve goroutines

[code]

## Additional context
Bleve analyzer use an init() f

[2022-10-25 09:30] NexZhu opened #4895 "OIDC login with Authelia failed with "token contains an invalid number of segments""
## Describe the bug

I deployed the latest version `owncloud/ocis:2.0.0-beta.8` with the official Helm chart and configured it to authenticate users with an OIDC provider [Authelia](https://github.com/authelia/authelia) instance, here's what happens:

1. Open owncloud URL, redirected to Authelia.
2. Login and click`Accept` in the OAuth2 consent page.
3. Redirected to `https://owncloud.example.com/

[2022-10-25 12:33] micbar commented on #4884
OK, removing from GA blockers list.

[2022-10-25 13:55] kobergj opened #4900 "Graph /users endpoint leaks personal spaces"
When getting users via the `graph/users` endpoint (like web does) the server attaches sensitive information (the users personal drive in particular).

#### Steps to reproduce
- create a project space with multiple members, let's say einstein and katherine
- as einstein navigate to the project space, web will `GET` the users via the `graph/v1.0/users/{userid}?$select=&$expand=drive` endpoint. (Alte

[2022-10-25 18:13] #4704 closed

[2022-10-25 20:05] Horstexplorer opened #4904 "Uploading large files fails when using the desktop client"
Hi! I am unable to upload larger files to my ocis instance using the desktop client.

It works perfectly fine for files <~100mb but for larger ones, it seems to upload about 100-150MB and then skip the file. After a second of wait it usually retries and fails with a "File is currently in use" type of error.
Uploading those files via the web ui works without any issues. An oc10 instance also will p

[2022-10-25 21:07] micbar commented on #4904
@TheOneRing @michaelstingl Does that error sound familiar?

I could not reproduce it with my 2.11.1 on the ocis team instance.

![Bildschirmfoto 2022-10-25 um 23 02 14](https://user-images.githubusercontent.com/4378513/197882057-3d2d4125-2d44-4bd6-8c7e-870bf16dab08.png)

![Bildschirmfoto 2022-10-25 um 23 04 15](https://user-images.githubusercontent.com/4378513/197882080-ca2b54a4-efde-4ee0-8b73-42f

[2022-10-26 06:56] michaelstingl commented on #4904
Does it also happen with the public demo instances?
https://owncloud.dev/ocis/deployment/continuous_deployment/

Can't find the `POST` requests in the logs you provided. Please enable HTTP logging.

You can "File Drop" more log files here:
https://cloud.owncloud.com/index.php/s/fkfX79RbYxEWzdV

[2022-10-26 07:13] michaelstingl commented on #4904
@micbar @TheOneRing I uploaded the previous log files here:
https://cloud.owncloud.com/index.php/f/5915568

[2022-10-26 07:17] TheOneRing commented on #4904
2.11 does not support ocis.

[2022-10-26 07:31] TheOneRing commented on #4904
https://github.com/owncloud/client/pull/9472

[2022-10-26 07:39] michaelstingl commented on #4904
@Horstexplorer you could also try with the 3.0 pre-release builds:
https://owncloud.com/beta-testing/#desktop-daily

Use the Testpilot build to not mess up with your production ownCloud client.

[2022-10-26 09:12] kobergj commented on #4882
fix here: https://github.com/cs3org/reva/pull/3394

[2022-10-26 09:53] Horstexplorer commented on #4904
The pre-release build seems to be working properly!
I have tried the macOS version of 2.11 as well and this also appears to work with no problems.
So it may be that Windows is acting up again. Either way it seems to be fixed in the upcoming release.

Thank you for your help!

[2022-10-26 10:57] TheOneRing commented on #4904
We had a file locking issue, those only exist on WIndows.

[2022-10-26 10:57] JammingBen commented on #4712
We also noticed this in Web: https://github.com/owncloud/web/issues/7780

Not only oCIS and oC10 seems to differ, but also the `REPORT` and `PROPFIND` requests in oCIS. Web expects responses from `REPORT` to be identical to `PROPFIND` (e.g. same date format for `d:getlastmodified`, `oc:size` , `oc:owner-id`, `oc:owner-display-name` present).

[2022-10-26 12:36] #4904 closed

[2022-10-26 19:11] melbruki commented on #4891
@micbar can you please answer this when you have time or at least tell me if it is a bug so I dont waste my time trying to get it to work.
I would like to offer this to some of my clients.

thank you

[2022-10-27 07:15] mmattel opened #4916 "Process for auto-documenting OCIS_ (global scope) env vars"
Similar to have a documention process for env vars for services, we need a process documenting ALL OCIS_env vars as they have by design a global scope. One of the challenging issues is, that there are OCIS_ env vars which are not mentioned in any service and therefore not visible in any documentation. This documentation is necessary as else the purpose of those global envs gets lost and no overvie

[2022-10-27 07:19] dragonchaser commented on #4916
**Proposal workflow:**

Scan code => Generate a yaml with the variables and its type but leave the description empty => Descriptions are manually filled by the docs team => generate adoc template for consumption

With every subsequent run the generated yaml from the previous run is consumed beforehand, existing variables in that yaml are not updates, because they have already been edited by the do

[2022-10-27 07:46] micbar commented on #4891
@wkloucek can you do a quick review of this problem? From my POV it should work. TLS problems are always deployment specific problems.

[2022-10-27 07:56] rhafer commented on #4895
@NexZhu Do you happen do know whether Authelia issues JWT based access tokens? (It doesn't seem so) If it doesn't, I think you need to set: PROXY_OIDC_ACCESS_TOKEN_VERIFY_METHOD=none to tell ocis not to interpret the access token as JWT.

[2022-10-27 08:27] #4879 closed

[2022-10-27 08:28] kobergj commented on #4882
Fixed in current master

[2022-10-27 08:28] #4882 closed

[2022-10-27 09:17] mmattel commented on #4916
https://github.com/owncloud/ocis/issues/3917 (Harmonize env variable naming for those which are not bound to a particular service)

[2022-10-27 09:46] dragonchaser commented on #4916
IMHO It would make sense to tackle #3917 first.

[2022-10-27 11:23] wkloucek opened #4921 "Update Web service configuration"
## Is your feature request related to a problem? Please describe.
Update the Web configuration in the oCIS Web service so that it reflects the current Web configuration.

## Describe the solution you'd like
Have it all here: https://github.com/owncloud/ocis/blob/6c4b54015a2bbc94eb9600c5d90c2b9f7134883e/services/web/pkg/config/config.go#L33-L88

cc @kulmann

[2022-10-27 11:31] mmattel opened #4922 "OCIS_GRPC_TLS_ENABLED has no description in Auth Basic"
See: https://github.com/owncloud/ocis/blob/master/services/auth-basic/pkg/config/config.go#L55

Needs proper description text.

@kobergj can you help?

[2022-10-27 11:33] mmattel commented on #4916
Found a env var by chance where the description is missing,
see issue: https://github.com/owncloud/ocis/issues/4922 (OCIS_GRPC_TLS_ENABLED has no description in Auth Basic)

[2022-10-27 12:56] JammingBen opened #4924 "Search for space resources doesn't reveal permissions"
## Describe the bug

When searching for a resource that's inside a space, the `REPORT` endpoint does not reveal the permissions for the current user.

## Steps to reproduce

1. Create a space and create `someFolder` inside
2. Search for `someFolder`
3. Check the response

## Expected behavior
The response should include permissions.

## Actual behavior
Permissions are missing: `<oc:permissions/>`

[2022-10-27 13:02] kobergj opened #4925 "Spacenames should be validated/sanitized"
Right now spacenames are not validated in any way. However having certain characters in a space name can break or heavily influence clients. Proposed sanitization includes:

- sane length, doesn't need to be 255. I was able to enter 2k characters, at some point the web ui silently failed.
- I don't think we should support leading or trailing spaces.
- Path elements.
- Evil characters.

Still to be

[2022-10-27 13:05] kobergj commented on #4925
@TheOneRing
- I consider path elements `"/"`, `"\"` and `"."`. Anything I forgot?
- Could you specify `evil` characters?

[2022-10-27 13:11] TheOneRing commented on #4925
For windows we also have:
` QLatin1Char('\\'), QLatin1Char(':'), QLatin1Char('?'), QLatin1Char('*'), QLatin1Char('"'), QLatin1Char('>'), QLatin1Char('<'), QLatin1Char('|')`
But we already replace them by a `_`

[2022-10-27 13:12] TheOneRing commented on #4925
Trailing spaces as often provided by mac for filenames are another unrelated huge toppic.

[2022-10-27 13:52] kobergj commented on #4925
Ok great. Will do so. Any suggestion for the max length?

[2022-10-27 14:06] mmattel opened #4926 "webdav readme possible update"
We just have written a [nice readme](https://github.com/owncloud/ocis/pull/4912) for webdav.

Now, when looking into the admin docs where we this description needs to be transported to, I found an [interesting sentence](https://doc.owncloud.com/ocis/next/deployment/services/webdav.html#introduction) that already existed:

`The Infinite Scale WebDAV service provides preview (thumbnails) endpoints o

[2022-10-27 22:50] melbruki commented on #4891
@wkloucek @micbar  thank you I will be on the look out for this simpler setup in the future.
Also I didn't see any documentation as to what each service does just on how to modify it and what services are in general,I think including something like that would be helpful. For example what exactly is the idm service and what does it do.  Maybe you already have something like that but I didn't find i

[2022-10-28 05:41] NexZhu commented on #4895
@rhafer I think that was the problem, after setting that, now I'm getting:
[code]
Won't OCIS auto create user linked to the OIDC account?

[2022-10-28 07:05] micbar opened #4929 "[qa] different webdav permissions in ocis"
## Description

I needed to add https://github.com/owncloud/core/blob/master/tests/acceptance/features/apiShareManagementToShares/mergeShare.feature#L93 to the expected failures.

[code]

## Solution

Change the expectation for oCIS and add the `Z` permission.

[2022-10-28 07:15] micbar commented on #4925
@kulmann please see the full thread. We have the question if ownCloud web could do some client side validation before submitting the Create Space Request. We would prefer not to introduce "automatic" sanitation of the posted data and prefer validation of the space name.

[2022-10-28 07:26] #4891 closed

[2022-10-28 07:55] NexZhu commented on #4895
That was the problem, but after setting that, now I'm getting:
[code]

[2022-10-28 09:11] TheOneRing commented on #4925
Can you have a look at https://github.com/owncloud/KoKo22/issues/57 as it was clearly possible to create spaces like '../foo' the web just din't display them.

[2022-10-28 09:18] kulmann commented on #4925
for the record, clarified in chat that the linked validation is only for folder names, not for space names. Space name validation is coming in https://github.com/owncloud/web/pull/7890

[2022-10-28 11:12] kiranparajuli589 commented on #4929
can be closed after the core commit ID bumps in the oCIS|reva repos.

[2022-10-28 11:21] mmattel opened #4932 "Env vars in webdav service start with REVA_ and not with OCIS_"
Found by chance, the following **global** env vars in webdav do not start with OCIS_

* REVA_GATEWAY_TLS_MODE
* REVA_GATEWAY_TLS_CACERT

These envs are found in `thumbnails`, `notifications` and `webdav`.

Refrences:
https://github.com/owncloud/ocis/issues/3917 (Harmonize env variable naming for those which are not bound to a particular service)
https://github.com/owncloud/ocis/issues/4916 (Proces

[2022-10-28 11:28] dragonchaser opened #4933 "Add minimal service description to each `main.go`"
I would expect to have each services `main.go` to have a minimal description of the purpose what said service purpose is.

**Example files:**
https://github.com/owncloud/ocis/blob/master/services/storage-system/cmd/storage-system/main.go
https://github.com/owncloud/ocis/blob/master/services/ocdav/cmd/ocdav/main.go

/cc @mmattel

[2022-10-28 14:24] mmattel opened #4936 "Description missing for OCIS_GRPC_TLS_ENABLED in multiple locations (services)"
Running: `grep -rn "yaml:" | grep "env:" | grep -v "desc:"`

Checking if the descriptions are definitely missing by looking into the ocis admin docs into the services

**Services list** where `OCIS_GRPC_TLS_ENABLED` has no description:

* auth-machine
* storage-users
* groups
* storage-shares
* storage-publiclink
* storage-system
* auth-basic
* sharing
* gateway
* app-provider
* app-registry
* aut

[2022-10-28 14:27] ScharfViktor opened #4937 "apiTests implementation"
list of missing api test:
TODO: find the missing tests. compare with https://cloud.owncloud.com/index.php/s/GrNcjPrHw3s4oGq

Graph api
- [x] info about user /graph/v1.0/me?%24expand=memberOf @SagarGi https://github.com/owncloud/ocis/pull/5084
- [x] create user https://github.com/owncloud/ocis/pull/4902
- [x] get user. check also `https://localhost:9200/graph/v1.0/users/uuid?%24select=&%24expand=dr

[2022-10-28 23:06] phil-davis commented on #4929
done - core commit id bumps have been merged

[2022-10-28 23:06] #4929 closed

[2022-10-31 04:04] grgprarup commented on #1340
I have started `oCIS` server with the env variable `OCIS_CORS_ALLOW_ORIGINS="https://aphno.badal"`, but `curl https://localhost:9200/ocs/v2.php/config -u admin:admin -H "Origin: https://aphno.badal" -vk` gives `Access-Control-Allow-Origin: *`
[code]

@butonic Is there anything I missed on the setup for ocis?
CC @individual-it @mmattel @micbar @C0rby

[2022-11-01 05:00] amrita-shrestha opened #4945 "[Space webdav]Can't delete `Shares` named folder in Personal space"
## Describe the bug

Can't delete Shares folder on the Personal spaces

## Steps to reproduce

Steps to reproduce the behavior:

1. `einstein` creates a folder `FOLDER`
2. `einstein` shares the folder with the role `editor` to `admin`
3. `admin` accepts the shares
4. `admin ` create `Shares` folder on the Personal space
5. `admin` tries to delete the `Shares` folder on the Personal space

[code]

[2022-11-01 06:40] #4683 closed

[2022-11-01 06:40] #4679 closed

[2022-11-01 08:55] rhafer commented on #4922
Duplicate: #4936

[2022-11-01 08:55] #4922 closed

[2022-11-01 11:38] #4824 closed

[2022-11-01 12:33] #1340 closed

[2022-11-01 12:34] butonic commented on #1340
@grgprarup please reopen if this is not fixed on master.

[2022-11-02 08:02] wkloucek opened #4954 "G-Data / BitDefender doesn't like oCIS"
## Describe the bug

On a Windows 10 computer with G-Data installed, I could not browse https://ocis.ocis-traefik.latest.owncloud.works/ because G-DATA blocked it because of "virus".

You can also reproduce this with virustotal.com:

![image](https://user-images.githubusercontent.com/34452982/199432503-cf974ea2-c93a-4fa6-896c-5fb828c66cce.png)
(https://www.virustotal.com/gui/url/0ca693562689f8f56e

[2022-11-02 08:42] rhafer commented on #4936
Will be fixed with #4910

[2022-11-02 11:08] kobergj commented on #4925
comes with this: https://github.com/owncloud/ocis/pull/4955

[2022-11-02 14:01] d7oc opened #4957 "Allow configuration of upload concurrency level"
## Is your feature request related to a problem? Please describe.
Some S3 implementation need a certain level of concurrency during MultiPartUploads to offer the maximum bandwidth. Currently the concurrency is fixed 4 parallel threads in oCIS.

## Describe the solution you'd like
To be able to tweak the level of concurrency to the amount needed for a certain s3 implementation the fixed value of 4

[2022-11-02 14:09] d7oc commented on #4957
Additional note: We should also double check with tcpdump or alike that it's actually using this value. In oC10 there was also a default of 3 before the changes in the linked issue. Unfortunately this value wasn't used which lead to a concurrency level of 1.

[2022-11-02 15:00] mmattel opened #4959 "env descriptions need an update when PR is transported to master"
See comments in: https://github.com/owncloud/ocis/pull/4958 (configure max_acquire_lock_cycles & reva bump) merged to experimental

@kobergj @fschade

[2022-11-03 04:10] NexZhu opened #4961 "settings & storage-system: runtime error: invalid memory address or nil pointer dereference"
## Describe the bug

I deployed the latest version `owncloud/ocis:2.0.0-beta.8` with the official Helm chart and configured it to authenticate users with an OIDC provider [Authelia](https://github.com/authelia/authelia) instance, here's what happens:

1. Open owncloud URL, redirected to Authelia.
2. Login and click`Accept` in the OAuth2 consent page.
3. Redirected to `https://owncloud.example.com/

[2022-11-03 04:56] #4680 closed

[2022-11-03 04:56] amrita-shrestha commented on #4635
all closed issue in expected failure file has been removed so closing this issue

[2022-11-03 04:56] #4635 closed

[2022-11-03 07:17] micbar commented on #4945
@dragonchaser @amrita-shrestha Why should we delete the `Shares` folder? It only appears on the legacy webDAV endpoints. From my POV the behavior is fine.

[2022-11-03 08:36] dragonchaser commented on #4945
Shared jail can not be deleted, works as intended (and functionality might differ from oc10 behaviour => may need adaption in the testsuite) /cc @individual-it

[2022-11-03 08:41] rhafer commented on #4895
I just saw you opened #4961, will close this one in favor of the new issue.

[2022-11-03 08:41] #4895 closed

[2022-11-03 09:03] dragonchaser commented on #4945
Misunderstanding on my behalf, this seems to be an issue with the hard-coded string for the shares jail, will investigate.

[2022-11-03 10:39] kobergj commented on #4925
fixed

[2022-11-03 10:39] #4925 closed

[2022-11-03 11:58] butonic commented on #4961
@NexZhu I added an error check to prevent the panic in https://github.com/cs3org/reva/pull/3430. It seems we get an error from the os when trying to read the node. It might be a different ERRNO from the internal stat or getxatr call. Maybe the filesystem does not support xattrs? we will know more when trying with that PR.

[2022-11-03 13:50] kobergj commented on #4959
Here: https://github.com/owncloud/ocis/pull/4965

[2022-11-03 13:52] NexZhu commented on #4961
Yeah, I think you guessed right. I'm using Alibaba Cloud OSS and I think it doesn't support xattrs.

[2022-11-03 13:52] kobergj commented on #4933
How would this "minimal service description` defer from the `README.md` files?

[2022-11-03 14:07] wkloucek opened #4968 "S3ng clean up unfinished multipart-uploads"
## Describe the bug

When you use S3ng as storage driver and things go bad, you may have a lot of unfinished multipart-uploads, that can cost money

## Steps to reproduce

Steps to reproduce the behavior:

1. upload files
2. kill the storage-users service while it uploads the file to s3
3. look at the pending multipart-uploads in your s3 server

## Expected behavior
have a command / mechanism that

[2022-11-03 14:16] micbar commented on #4961
Unfortunately with the current ocis storage interface we need xattrs to store file metadata and access permissions.

[2022-11-03 15:06] #4936 closed

[2022-11-03 16:33] dragonchaser commented on #4945
https://github.com/cs3org/reva/pull/3432

[2022-11-03 16:45] mmattel opened #4972 "AUTH_BASIC_AUTH_PROVIDER is misnamed and should be AUTH_BASIC_AUTH_MANAGER"
Referencing: https://github.com/owncloud/ocis/pull/4919#issuecomment-1298606238

See the above discussion with @butonic

The `AUTH_BASIC_AUTH_PROVIDER` env is misnamed and should be `AUTH_BASIC_AUTH_MANAGER`

[2022-11-03 16:49] NexZhu commented on #4961
I tested with volumes witch support `xattrs`, now `storage-system` and `store` pods are pending forever and I'm getting these errors, could you please take a look?

`storage-system` pod failed to start:
[code]

The only log is:
[code]

`store` pod, the same:
[code]

[2022-11-04 06:00] amrita-shrestha opened #6050 "Created file show different version number in ocis and oc10"
### Describe the bug
When we create the file with some content then **`the version doesn't exist in oc10`** but **`in ocis one version exist`** .

#### Question
- Is this actual behavior?

### Steps to reproduce
1. `admin ` create file `abc.txt` with content `sample text`

### Expected behaviour
Both backend should behave same

### Actual behaviour
#### In oc10
No version exists for the file creat

[2022-11-04 06:39] amrita-shrestha opened #5010 "[oc10|ocis] No version exist after restoring file version of same file uploaded"
### Description
**`In ocis and oc10,`**
when the user uploads the same file twice then one file version exists but when we upload the same file a third time then no file version is added. If we restore the version then the version list gets empty.

#### Question
- Is this actual behaviour?

### Steps to reproduce
1. `admin` upload a file `file.txt`
2. `admin ` again upload the same file `file.txt`

[2022-11-04 09:00] saw-jan opened #4977 "[QA] Nightly build has a passing webUI acceptance test"
Build: https://drone.owncloud.com/owncloud/ocis/16664/76/13

[code]

Passing test:
[code]

[2022-11-04 09:38] #4977 closed

[2022-11-04 09:58] ScharfViktor opened #4979 "Changing the link role to "internal" gives 404"
Infinite Scale 2.0.0-beta.8+1f53ec525 Community
ownCloud Web UI 6.0.0-rc.4

Steps:
- create file or folder
- create public link
- change the role of the link to `internal`

Actual result:
request:
[code]
response:
code 200. error in body response: `<ocs><meta><status>error</status><statuscode>404</statuscode><message>no share permission</message></meta></ocs>`

[2022-11-04 09:59] dj4oC opened #4980 "No error message if no permission to open space link"
When a space link is open but user does not have permission to access space, user is redirected to personal space without any error message. May I ask to add the same error message to OCIS as we have in oC10?

[2022-11-04 10:47] jostreff commented on #4880
I see that moving to `pnpm` solved `make generate` problems on FreeBSD with node.js 16.17.1 for sure.

Now it breaks on next step with
[code]

[2022-11-04 11:15] rhafer commented on #4961
To me this look like an error of your underlying infrastructure. Kubernetes fails to schedule the pod because of some issue with the volumes. I don't think there is much we can do about that. You might be able to find some more detail about what failed by taking a look at the volumes and pvc (using kubectl), or by looking at the lower level kubernetes logs (if you have access to that).

[2022-11-04 12:19] #4972 closed

[2022-11-04 12:32] dragonchaser commented on #4945
Will be fixed with next reva version bump in ocis.

[2022-11-04 15:49] #4961 closed

[2022-11-04 16:28] michaelstingl opened #4983 "Let desktop and mobile clients know about web features"
## Is your feature request related to a problem? Please describe.

ownCloud desktop and mobile apps have a limited feature set, but users could open the web UI for all the remaining features. For this, it would need capabilities or a new endpoint where clients could get information, which file actions are available for a resource (file/folder/space) in the web UI:

Related:
- https://github.com/ow

[2022-11-04 16:57] ScharfViktor opened #4984 "e2e test failed in ocis CI"
see here npx playwright show-trace https://cache.owncloud.com/public/16698/tracing/public-link-for-space-carol-2022-11-4-03-29-58.zip
https://drone.owncloud.com/owncloud/ocis/16699/79/9

error: Tests finds two items close sidebar, but it's only one
[code]

[2022-11-05 08:32] NexZhu commented on #4150
@rhafer I'm using an external OIDC provder backed by an external LDAP server.
I've set `PROXY_AUTOPROVISION_ACCOUNTS` to `true`.
But after logging in with my account with OIDC and disable `externalUserManagement` and logging in with the OCIS admin account, I can't see my account in user management, there's only one admin account.
Does this mean something's wrong with my setup?
So how do I set my a

[2022-11-05 09:55] #4465 closed

[2022-11-05 09:58] micbar opened #4986 "Release 2.0.0 General Availability"
# Tasks

## Pre QA Phase
- [x] QA Kickoff meeting
- [x] Create branch `release-2.0.0-rc.1` -> CODEFREEZE
  - [x]  bump ocis version in necessary files
    - [x] `changelog/CHANGELOG.tmpl`
    - [x] `ocis-pkg/version/version.go`
    - [x] `sonar-project.properties`
  - [x] prepare changelog folder in `changelog/2.0.0_2022-11-05`
- [x] Check successful CI run on release branch https://github.com/own

[2022-11-05 20:01] micbar commented on #4980
This is a request for the web Client.

[2022-11-05 20:01] micbar commented on #4980
@tbsbdr FYI

[2022-11-07 03:24] lengyefenghan commented on #4520
I also encountered this bug in the 2.0.0-rc.1 version of the arm64 architecture.

[code]

[2022-11-07 04:16] grgprarup opened #4989 "[E2E] Nightly failure"
E2E tests seems flaky for OCIS.

Build link: https://drone.owncloud.com/owncloud/ocis/16714/58/9, https://drone.owncloud.com/owncloud/ocis/16713/78/9
<details>
<summary>And "Alice" adds following users to the project space</summary>

[code]
</details>

<details>
<summary>And "Alice" updates the space "team.2" name to "management team</summary>

[code]
</details>

<details>
<summary>And public link

[2022-11-07 04:23] saw-jan commented on #4989
The fix is in this PR https://github.com/owncloud/web/pull/7910 (or I can create a separate PR for that)
But we only bump web commit-id when there is a new web release

[2022-11-07 04:25] saw-jan commented on #4989
Closing in favor of https://github.com/owncloud/ocis/issues/4984

[2022-11-07 04:25] #4989 closed

[2022-11-07 06:49] amrita-shrestha commented on #1266
On Nov7, 2022
New changes in **`new endpoint`**, locks. Others are the same.
<details>
<summary>Locks</summary>

[code]
</details>

[2022-11-07 07:37] micbar commented on #1266
oh! Nice catch. Needs to be investigated.

[2022-11-07 08:18] #4945 closed

[2022-11-07 08:19] micbar commented on #4945
Currently this is not in the 2.0.0-rc.1

[2022-11-07 08:40] rhafer commented on #4988
That's right. And I think we communicated lots of times that renames (using the internal user management) don't work currently. So I am mildly surprised to see this becoming a GA Blocker now. It will require some bigger changes to libregraph/idm, it currently lacks support for the MODRDN (rename) Operation.

BTW, when using an external user management renames shouldn't be an issue.

[2022-11-07 08:42] micbar commented on #4988
That would be enough IMO
@pmaier1 Do you agree?

[2022-11-07 09:04] amrita-shrestha commented on #1266
<details>
<summary>Shares old-webdav, Locks</summary>

[code]
</details>

<details>
<summary>shares new endpoint</summary>

[code]
</details>

[2022-11-07 09:48] kobergj commented on #4959
@mmattel could you double check my description in the PR? Then we can close this ticket.

[2022-11-07 11:47] micbar opened #4993 "Operating Systems Cleanup"

[2022-11-07 12:25] butonic commented on #1252
Closin: the `jsoncs3` share manager introduced a spaceid prefix for the shareid. But that id is internal. In URLs users will only see references to resources. As per https://owncloud.dev/ocis/adr/0011-global-url-format/ all Browser visible URLs are built in the form of
[code]
short forms eg for public links
[code]
will be 'unpacked' by the web ui into eg
[code]
which fits the mixed URL scheme.